<!-- Persistent banner for Opportunity Creators -->
<div class="banner banner-important">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>By posting an opportunity on the BCDevExchange, you are agreeing to follow the <a href="/api/proposals/download/terms/cwu1"
            target="_blank"><i class="fas fa-download"></i> terms</a> of our lightweight procurement model, Code With
          Us. Make sure you're familiar with the process and understand your responsibilities for managing an
          opportunity. <a href="https://github.com/BCDevExchange/code-with-us/wiki/2.-For-Public-Sector-Employees:-How-to-Manage-a-Code-With-Us-Opportunity"
            target="_blank">Read the guide</a></p>
      </div>
    </div>
  </div>
</div>


<section class="main-section bg-secondary">
  <div class="container">
    <form id=" opportunityForm" warn-on-exit name="vm.opportunityForm" class="form bg-white rounded" ng-submit="vm.save(vm.opportunityForm.$valid)"
      novalidate>

      <div class="bg-light border rounded">

        <div class="bg-light px-4 py-3">
          <span class="text-muted"><i class="fas fa-tag"></i> Code With Us Opportunity:</span> &nbsp;
          <span ng-if="vm.editing">{{vm.opportunity.name}}</span>
          <span ng-if="!vm.editing">New Opportunity {{vm.opportunity.name}}</span>
          <button class="close float-right" ui-sref="opportunities.viewcwu({opportunityId:vm.opportunity.code})" ng-if="vm.opportunity._id" aria-label="Close"><span aria-hidden="true">&times;</span>
            
          </button>
          <a ui-sref="opportunities.list()" ng-if="!vm.opportunity._id" class="btn btn-text-only float-right">
            <i class="fas fa-lg fa-times" title="Close"></i>
          </a>
        </div>

        <uib-tabset>
          <uib-tab index="0">
            <uib-tab-heading data-automation-id="tab-cwu-header">
              Header
            </uib-tab-heading>
            <div ng-include="'/modules/opportunities/client/views/cwu-opportunity-edit-title.html'"></div>
          </uib-tab>
          <uib-tab index="2">
            <uib-tab-heading data-automation-id="tab-cwu-background">
              Background
            </uib-tab-heading>
            <div ng-include="'/modules/opportunities/client/views/cwu-opportunity-edit-description.html'"></div>
          </uib-tab>
          <uib-tab index="4" data-automation-id="tab-cwu-details">
            <uib-tab-heading>
              Details
            </uib-tab-heading>
            <div ng-include="'/modules/opportunities/client/views/cwu-opportunity-edit-details.html'"></div>
          </uib-tab>
          <uib-tab index="5" data-automation-id="tab-cwu-acceptance">
            <uib-tab-heading>
              Acceptance and Evaluation
            </uib-tab-heading>
            <div ng-include="'/modules/opportunities/client/views/cwu-opportunity-edit-acceptance.html'"></div>
          </uib-tab>
        </uib-tabset>

        <div class="bg-light px-4 py-3 form-footer">
          <div class="row">
            <div class="col">
              <button data-automation-id="button-cwu-save" type="submit" class="btn btn-primary"><i class="fas fa-save"></i>
                Save and Close</button>
              <a data-automation-id="button-cwu-delete" ng-if="vm.editing" class="btn btn-text-only" ng-click="vm.remove()"
                title="Remove"><i class="fas fa-trash"></i> Delete this Opportunity</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
