<div class="back-nav">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/opportunities"><i class="fa fa-chevron-left"></i> All Opportunities</a>
      </div>
    </div>
  </div>
</div>

<section>

  <!-- // If user is not signed in // -->
  <div class="container" ng-if="!vm.loggedIn && vm.closing != 'CLOSED'">
    <div class="alert alert-warning">
      <i class="fa fa-lg fa-exclamation-triangle"></i> &nbsp;To apply on this opportunity you need to
      <a ui-sref="authentication.signin">
        Sign In
      </a>
    </div>
  </div>

  <!-- // If user doesn't have an email address in their profile // -->
  <div class="container" ng-if="vm.notifyMe && !vm.hasEmail">
    <div class="alert alert-warning">
      <p>Want <span class="hidden-sm hidden-xs">to get </span>updates about this opportunity? <a href id="settings.profile"
          ui-sref="settings.profile"> Add your email address.</a></p>
    </div>
  </div>

  <!-- // Admin View for Proposal Evaluation // -->
  <div class="container" ng-if="vm.opportunity.isPublished && vm.canEdit">

    <div class="row">
      <div class="col border p-4">
        <proposal-list ng-if="vm.opportunity.status === 'Pending' && vm.canEdit && vm.opportunity.isPublished" isclosed="vm.closing === 'CLOSED'"
          context="opportunity" opportunity="vm.opportunity"></proposal-list>
      </div>
    </div>


    <div class="row" ng-if="vm.opportunity.status !== 'Pending' && vm.opportunity.proposal">
      <div class="col text-center">
        <span class="text-black-50">Opportunity assigned to:</span>
        &nbsp;
        <img class="img-avatar-flat img-avatar-sm" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}">
        &nbsp;
        {{vm.opportunity.proposal.user.displayName}}
        &nbsp;&nbsp;&nbsp;
        <a id="proposals.view" ng-if="vm.canEdit || vm.isMember" ui-sref="proposals.viewcwu({ proposalId: vm.opportunity.proposal._id })">View
          Proposal</a>&nbsp;&nbsp;
        <button class="btn btn-sm btn-text-only" ng-if="vm.canEdit" ng-click="vm.unassign()"><i class="fa fa-ban"></i>
          Unassign</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col text-center" ng-if="vm.canEdit && vm.closing === 'CLOSED'">
        <a href="/api/proposals/archive/opportunity/{{vm.opportunity._id}}" target="_blank"><i class="fa fa-file-zip-o"></i>
          Download Proposals Archive</a>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <!-- // Admin View / if opportunity is in DRAFT and INCOMPLETE // -->
    <div class="row" ng-if="!vm.canPublish && !vm.opportunity.isPublished && vm.canEdit && vm.closing !== 'CLOSED'">
      <div class="alert alert-warning">
        <span class="strong"><i class="fa fa-exclamation-triangle"></i> Your opportunity is missing stuff!</span>
        Before you can publish, you'll need to define these things:
        <ul style="text-align: left;">
          <li ng-repeat="fname in vm.errorFields">{{fname}}</li>
        </ul>
      </div>
    </div>

    <!-- // Proposal Application Directive // -->
    <div class="row" ng-if="vm.closing !== 'CLOSED'">
      <div class="col">
        <proposal-apply opportunity="vm.opportunity" proposal="vm.myproposal"></proposal-apply>
      </div>

    </div>

  </div>

  <div class="container border p-4">

    <div class="opp-detail-header">
      Published on <span ng-bind="vm.opportunity.lastPublished | date:'mediumDate'"></span> by <span ng-if="vm.opportunity.createdBy"
        ng-bind="vm.opportunity.createdBy.displayName"></span><span ng-if="!vm.opportunity.createdBy">Deleted User</span>
      &nbsp; &nbsp;
      Last updated on <span ng-bind="vm.opportunity.updated | date:'mediumDate'"></span> by <span ng-if="vm.opportunity.updatedBy"
        ng-bind="vm.opportunity.updatedBy.displayName"></span><span ng-if="!vm.opportunity.updatedBy">Deleted User</span>

      <!-- // Opportunity Admin control buttons // -->

      <!-- PUBLISH (if opportunity is in DRAFT and COMPLETE) -->
      <button data-automation-id="button-opportunity-publish" ng-if="vm.canPublish && vm.canEdit && !vm.opportunity.isPublished"
        class="btn btn-primary float-right" ng-click="vm.publish(vm.opportunity, true)" title="Publish this Opportunity"><i
          class="fa fa-bullhorn"></i> Publish</button>

      <!-- EDIT -->
      <a data-automation-id="button-opportunity-edit" class="btn btn-text-only float-right" ng-if="vm.canEdit" ui-sref="opportunityadmin.editcwu({opportunityId:vm.opportunity.code})"
        uib-tooltip="Edit this Opportunity">
        <i class="fa fa-pencil"></i>
      </a>

      <!-- WATCH -->
      <a class="btn btn-text-only float-right" ng-if="vm.hasEmail" ng-class="{'text-primary': vm.isWatching, 'text-secondary': !vm.isWatching }"
        uib-tooltip="Youll get an email if this opportunity changes" ng-click="vm.toggleWatch()">
        <i class="fa fa-eye"></i>
      </a>

      <!-- UNPUBLISH (if opportunity is PUBLISHED) -->
      <a data-automation-id="button-opportunity-unpublish" href="javascript:void(0);" ng-if="vm.canEdit && vm.opportunity.isPublished"
        class="btn btn-text-only float-right" ng-click="vm.publish(vm.opportunity, false)" uib-tooltip="Unpublish Opportunity">
        <i class="fa fa-ban"></i>
      </a>




    </div>

    <!-- // Status // -->
    <div>
      <!-- // Closing deadline while opportunity is still open // -->
      <div class="row" ng-if="vm.opportunity.isPublished">
        <div class="col text-center">
          <div ng-if="vm.closing !== 'CLOSED'">
            <p><label class="label label-lg label-success">OPEN</label> &nbsp; <i class="fa fa-lg fa-clock-o"></i>
              &nbsp;Proposals must be received through this website before <strong>{{vm.deadline}}</strong>.</p>
          </div>
          <div ng-if="vm.closing === 'CLOSED'">
            <p><label class="label label-lg label-danger">CLOSED</label> &nbsp; This opportunity closed on <strong>{{vm.deadline}}</strong>.</p>
          </div>

          <!-- // Non-admin view of assignee AFTER the opportunity is assigned // -->
          <div class="col text-center" ng-if="vm.opportunity.status !== 'Pending' && !vm.canEdit && vm.opportunity.proposal">
            <span class="text-black-50">Opportunity assigned to:</span>
            &nbsp;
            <img class="img-avatar-flat img-avatar-sm" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}">
            &nbsp;
            {{vm.opportunity.proposal.user.displayName}}
          </div>
        </div>
      </div>
    </div>

    <!-- // Title and Teaser // -->
    <div class="row">
      <div class="col text-center">
        <h1 data-automation-id="text-opportunity-name" class="opp-detail">{{vm.opportunity.name}}</h1>
        <p ng-bind="vm.opportunity.short"></p>
        <br>
      </div>
    </div>
    <hr>
    <br>

    <div class="row">

      <div class="container col opp-dl-description">
        <dl class="row">
          <dt class="col-6 text-right">Value:</dt>
          <dd class="col-6 text-left">{{ vm.opportunity.earn|currency }}</span></dd>
          <dt class="col-6 text-right">Work Location:</dt>
          <dd class="col-6 text-left"><i class="fa fa-map-marker"></i>&nbsp;{{ vm.opportunity.location }}</dd>
          <dt class="col-6 text-right">On-site requirements:</dt>
          <dd class="col-6 text-left">
            <span ng-if="vm.opportunity.onsite == 'offsite'">In-person work NOT required</span>
            <span ng-if="vm.opportunity.onsite == 'onsite'">In-person work required</span>
            <span ng-if="vm.opportunity.onsite == 'mixed'">Some in-person work required</span>
          </dd>
          <dt class="col-6 text-right">Required skills:</dt>
          <dd class="col-6 text-left">
            <div class="label-list">
              <label class="label label-skill" ng-repeat="code in vm.opportunity.skills">{{code}}</label>
            </div>
          </dd>
        </dl>
      </div>
      <div class="container col opp-dl-description">
        <dl class="row">
          <dt class="col-6 text-right">Government Contact:</dt>
          <dd class="col-6 text-left">
            <i class="fa fa-user-circle-o"></i>
            <span ng-if="vm.opportunity.createdBy" ng-bind="vm.opportunity.createdBy.displayName"></span>
            <span ng-if="!vm.opportunity.createdBy">Deleted User</span>
          </dd>
          <dt class="col-6 text-right">Program:</dt>
          <dd class="col-6 text-left">
            <a ng-if="vm.opportunity.program" id="programs.view" ui-sref="programs.view({programId:vm.opportunity.program.code})"><i
                class="fa fa-university"></i> {{vm.opportunity.program.title}}</a>
            <span ng-if="!vm.opportunity.program" class="text-muted">No program</span>
          </dd>
          <dt class="col-6 text-right">Project:</dt>
          <dd class="col-6 text-left">
            <a ng-if="vm.opportunity.project" id="projects.view" ui-sref="projects.view({projectId:vm.opportunity.project.code})"><i
                class="fa fa-pie-chart"></i> {{vm.opportunity.project.name}}</a>
            <span ng-if="!vm.opportunity.project" class="text-muted">No project</span>
          </dd>

          <dt class="col-6 text-right">Code:</dt>
          <dd class="col-6 text-left">
            <a ng-if="vm.opportunity.github && vm.opportunity.github.length > 0" href="{{vm.opportunity.github}}" rel="nofollow"
              target="_blank"><i class="fa fa-github"></i> GitHub Repository</a>
          </dd>
        </dl>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">

        <h3 class="opp-detail">Background</h3>
        <p ng-bind-html="vm.display.description"></p>

        <hr>

        <h3 class="opp-detail">Acceptance Criteria</h3>
        <p>This is a <span class="strong">fixed-price</span> opportunity governed by the <a href="/api/proposals/download/terms/cwu1"
            target="_blank"><i class="fa fa-download"></i> terms</a> of our lightweight procurement model, <a href="/codewithus"
            target="_blank">Code With Us</a>.</p> To be paid the fixed price for this opportunity, you need to meet
        all
        of the following criteria:</p>
        <p ng-bind-html="vm.display.criteria"></p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        <h3 class="opp-detail">How to Apply</h3>
        <p>Submit your Proposal before <span class="strong">{{vm.deadline}}</span>.</p>
        <p>We plan to assign this opportunity by <span class="strong">{{vm.assignment}}</span> with work to start on
          <span class="strong">{{vm.start}}</span>.</p>
      </div>
      <div class="col">
        <div class="well well-warning">
          <h4>Got Questions?</h4>
          <a href="{{vm.opportunity.issueUrl}}" rel="nofollow" target="_blank">Visit the GitHub issue for this
            opportunity</a> and post a comment.<br><br>
          <i class="fa fa-comments fa-2x"></i>
        </div>
      </div>

    </div>

    <div ng-if="!vm.loggedIn && vm.closing != 'CLOSED'" class="alert alert-warning">
      To apply on this opportunity you need to <a ui-sref="authentication.signin"> Sign In</a>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        <h3 class="opp-detail">Proposal Evaluation Criteria</h3>
        <p>Your Proposal will be scored by this criteria:</p>
        <p ng-bind-html="vm.display.evaluation"></p>

        <!-- // Proposal Application Directive // -->
        <div class="row" ng-if="true && vm.closing !== 'CLOSED'">
          <div class="col">
            <proposal-apply opportunity="vm.opportunity" proposal="vm.myproposal"></proposal-apply>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
