<div class="edit-form-tab-content">
	<fieldset>
		<form-display
			class="col-sm-12"
			x-options='{
				"title":"Background",
				"name":"description",
				"help":"Here is where you can fully describe any useful background, and what you are trying to accomplish by offering this paid opportunity."
			}'>
			<textarea
				name="description"
				id="description"
        data-automation-id="text-cwu-description"
				class="form-control input-sm"
				ui-tinymce="vm.tinymceOptions"
				placeholder="A full description of the opportunity"
				ng-model="vm.opportunity.description">
			</textarea>
		</form-display>
		<br/>
		<p>
			Number of Chanracters = {{vm.opportunity.description.length}}
		</p>

<!--
		<form-display
			class="col-sm-12"
			x-options='{
				"title":"Background",
				"name":"background",
				"help":"Here is where you can fully describe any useful background"
			}'>
			<textarea
				name="background"
				id="background"
				class="form-control input-sm"
				ui-tinymce="vm.tinymceOptions"
				placeholder="A full background of the opportunity"
				ng-model="vm.opportunity.background">
			</textarea>
		</form-display>
 -->
	</fieldset>
</div>

