<div class="m-5">
  <fieldset>
    <div class="row">
      <form-display class="col" x-options='{
          "title":"On Site Requirements",
          "name":"onsite",
          "help":"<p>State whether you are OK NOT to work with the developer in-person, or if you need them to work with you in-person some, or most of the time.</p>"
        }'>
        <label class="radio-inline pr-2">
          <input type="radio" name="onsite" ng-model="vm.opportunity.onsite" value="offsite">&nbsp;&nbsp;In-person work
          NOT required
        </label>
        <label class="radio-inline pr-2">
          <input type="radio" name="onsite" ng-model="vm.opportunity.onsite" value="mixed">&nbsp;&nbsp;Some in-person
          work required
        </label>
        <label class="radio-inline pr-2">
          <input type="radio" name="onsite" ng-model="vm.opportunity.onsite" value="onsite">&nbsp;&nbsp;In-person work
          required
        </label>
      </form-display>

    </div>

    <div class="row">
      <form-display class="col" x-options='{
          "title":"Location",
          "name":"location",
          "help":"Where is your office?"
        }'>
        <select name="location" ng-model="vm.opportunity.location" id="location" class="form-control" ng-options="v as v for v in vm.cities">
          <option value="">Select Location</option>
        </select>
      </form-display>
      <form-display class="col" x-options='{
          "title":"Fixed-Price Reward",
          "name":"reward",
          "help":"<p>To the best of your ability, estimate a fair price for the amount of work you think it should take a qualified developer to meet the acceptance criteria. It is best to over-estimate.</p> <p>Right now, Code With Us opportunities may be offered to a maximum of $70,000.</p>"
        }'>
        <select name="earn" ng-model="vm.opportunity.earn" id="earn" class="form-control" ng-options="v as (v|currency) for v in vm.amounts">
          <option value="">Select reward amount</option>
        </select>
      </form-display>
    </div>

    <div class="row">
      <form-input class="col" ng-model="vm.opportunity.deadline" x-form="vm.opportunityForm" x-options='{
          "title":"Proposal Deadline",
          "help":"<p>Choose a <b>cutoff date</b> for receiving Proposals. (Time of day is fixed at 16:00 Pacific Time.)</p> <p>The longer lead time you give, the more Proposals you are likely to get. A deadline at least <b>5 days</b> from when you publish is a good aim.</p> <p>Make sure you have your <b>opportunity contact</b> lined up to respond to questions on the GitHub Issue in a timely manner, from the time you publish the opportunity right up to the cutoff time.</p>",
          "id":"deadline",
          "name":"deadline",
          "format":"MMMM dd, yyyy",
          "type":"date"
        }'>
      </form-input>
      <form-input class="col" ng-model="vm.opportunity.assignment" x-form="vm.opportunityForm" x-options='{
          "title":"Assignment Date",
          "help":"Choose a date that you will commit to assigning someone to this opportunity (dependent, of course, on at least one of the Proposals meeting your minimum requirements). (Time of day is fixed at 16:00 Pacific Time.)",
          "id":"assignment",
          "name":"assignment",
          "format":"MMMM dd, yyyy",
          "type":"date"
        }'>
      </form-input>
      <form-input class="col" ng-model="vm.opportunity.start" x-form="vm.opportunityForm" x-options='{
        "title":"Proposed Start Date",
        "help":"When do you want the person to begin working?",
        "id":"start",
        "name":"start",
        "format":"MMMM dd, yyyy",
        "type":"date"
      }'>
      </form-input>
    </div>

  </fieldset>
</div>
