<div class="sub-nav">
	<div class="container">
		<div class="breadcrumb-nav">
			<a href="/opportunities" class="breadcrumb-nav"><i class="fa fa-chevron-left"></i> All Opportunities</a>
		</div>
	</div>
</div>

<section class="detail-page-background">

	<!-- // If user is not signed in // -->
	<div class="container" ng-if="!vm.loggedIn && vm.closing != 'CLOSED'">
		<div class="alert alert-warning">
			<i class="fa fa-lg fa-exclamation-triangle"></i> &nbsp;To apply on this opportunity you need to <a href ui-sref="authentication.signin"> Sign In</a>
		</div>
	</div>

	<!-- // If user doesn't have an email address in their profile // -->
	<div class="container" ng-if="vm.notifyMe && !vm.hasEmail">
		<div class="alert alert-warning">
			<p>Want <span class="hidden-sm hidden-xs">to get </span>updates about this opportunity? <a href  id="settings.profile" ui-sref="settings.profile">  Add your email address.</a></p>
		</div>
	</div>

	<!-- // Admin View for Proposal Evaluation // -->
	<div class="container cwu-evaluation" ng-if="vm.opportunity.isPublished && vm.canEdit">

		<proposal-list ng-if="vm.opportunity.status === 'Pending' && vm.canEdit && vm.opportunity.isPublished" isclosed="vm.closing === 'CLOSED'" context="opportunity" opportunity="vm.opportunity"></proposal-list>

		<div class="row" ng-if="vm.opportunity.status !== 'Pending' && vm.opportunity.proposal">
			<div class="col-xs-12 text-center">
				<span class="light">Opportunity assigned to:</span>
				&nbsp;
				<img class="img-avatar-flat img-avatar-sm" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}">
				&nbsp;
				{{vm.opportunity.proposal.user.displayName}}
				&nbsp;&nbsp;&nbsp;
				<a  id="proposals.view" ng-if="vm.canEdit || vm.isMember" ui-sref="proposals.viewcwu({ proposalId: vm.opportunity.proposal._id })">View Proposal</a>&nbsp;&nbsp;
				<button class="btn btn-sm btn-text-only" ng-if="vm.canEdit" ng-click="vm.unassign()"><i class="fa fa-ban"></i> Unassign</button>

				<!--
				<div class="card card-block">
					<div class="card-img">
						<img class="card-img-left" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}"/>
					</div>

					<div class="col-md-5">
						<h4 class="opp-detail" class="card-title" style="font-size: 17px; padding-top: 6px; margin-bottom: 4px;">{{vm.opportunity.proposal.user.firstName}} {{vm.opportunity.proposal.user.lastName}}</h4>
						<p>Attachments: {{vm.opportunity.proposal.attachments.length}}</p>
					</div>

					<div class="col-md-2">
						<button class="btn btn-warning" ng-if="vm.canEdit" ng-click="vm.unassign()">UNASSIGN</button>
					</div>
					<div class="col-md-2" ng-if="vm.canEdit || vm.isMember">
						<a  id="proposals.viewcwu" ui-sref="proposals.viewcwu({ proposalId: vm.opportunity.proposal._id })">View Proposal</a><br/>
					</div>
				</div>
				-->
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 text-center" ng-if="vm.canEdit && vm.closing === 'CLOSED'">
				<a class="btn btn-sm btn-secondary" href="/api/proposals/archive/opportunity/{{vm.opportunity._id}}" target="_blank"><i class="fa fa-download"></i> Download Proposals Archive</a>
			</div>
		</div>
	</div>

	<br>

	<div class="container">
		<!-- // Admin View / if opportunity is in DRAFT and INCOMPLETE // -->
		<div class="row" ng-if="!vm.canPublish && !vm.opportunity.isPublished && vm.canEdit && vm.closing !== 'CLOSED'">
			<div class="alert alert-warning">
				<span class="strong"><i class="fa fa-exclamation-triangle"></i> Your opportunity is missing stuff!</span> Before you can publish, you'll need to define these things:
				<ul style="text-align: left;"><li ng-repeat="fname in vm.errorFields">{{fname}}</li></ul>
			</div>
		</div>

		<!-- // Proposal Application Directive // -->
		<div class="row" ng-if="vm.closing !== 'CLOSED'">
			<proposal-apply opportunity="vm.opportunity" proposal="vm.myproposal"></proposal-apply>
		</div>

	</div>

	<div class="container detail-view">

		<div class="opp-detail-header">
			Published on <span ng-bind="vm.opportunity.lastPublished | date:'mediumDate'"></span> by <span ng-if="vm.opportunity.createdBy" ng-bind="vm.opportunity.createdBy.displayName"></span><span ng-if="!vm.opportunity.createdBy">Deleted User</span>
			&nbsp; &nbsp;
			Last updated on <span ng-bind="vm.opportunity.updated | date:'mediumDate'"></span> by <span ng-if="vm.opportunity.updatedBy" ng-bind="vm.opportunity.updatedBy.displayName"></span><span ng-if="!vm.opportunity.updatedBy">Deleted User</span>

		<!-- // Opportunity Admin control buttons // -->

			<!-- PUBLISH (if opportunity is in DRAFT and COMPLETE) -->
			<a data-automation-id="button-opportunity-publish" href="javascript:void(0);" ng-if="vm.canPublish && vm.canEdit && !vm.opportunity.isPublished" class="btn btn-sm btn-primary pull-right" ng-click="vm.publish(vm.opportunity, true)" title="Publish this Opportunity"><i class="fa fa-lg fa-bullhorn"></i> Publish</a>

			<!-- EDIT -->
			<button data-automation-id="button-opportunity-edit"  type="button" class="btn btn-sm btn-text-only pull-right" ng-if="vm.canEdit" ui-sref="opportunityadmin.editcwu({opportunityId:vm.opportunity.code})" title="Edit this Opportunity"><i class="fa fa-lg fa-pencil"></i></button>

			<!-- UNPUBLISH (if opportunity is PUBLISHED) -->
			<a data-automation-id="button-opportunity-unpublish"  href="javascript:void(0);" ng-if="vm.canEdit && vm.opportunity.isPublished" class="btn btn-sm btn-text-only pull-right" ng-click="vm.publish(vm.opportunity, false)" title="Unpublish Opportunity"><i class="fa fa-lg fa-ban"></i></a>

		<!-- // Follow and Unfollow buttons for users who aren't Opportunity Admin // -->

			<!-- // User is NOT following the opportunity // -->
			<button ng-if="false && !vm.canEdit && !vm.notifyMe && vm.hasEmail" type="button" class="btn btn-sm btn-primary pull-right" uib-tooltip="Get email notifications if this opportunity changes." ng-click="vm.subscribe(true)"><i class="fa fa-bullhorn"></i> Follow</button>
			<!-- // User IS following the opportunity // -->
			<button ng-if="false && vm.notifyMe" type="button" class="btn btn-sm btn-secondary pull-right" uib-tooltip="You’ll get an email if this opportunity changes" ng-click="vm.subscribe(false)""><i class="fa fa-bullhorn"></i> Following</button>

			<!-- // User is NOT following the opportunity // -->
			<button ng-if="!vm.canEdit && !vm.isWatching && vm.hasEmail" type="button" class="btn btn-sm btn-primary pull-right" uib-tooltip="Get email notifications if this opportunity changes." ng-click="vm.addWatch()"><i class="fa fa-eye"></i> Watch</button>
			<!-- // User IS following the opportunity // -->
			<button ng-if="vm.isWatching" type="button" class="btn btn-sm btn-secondary pull-right" uib-tooltip="You’ll get an email if this opportunity changes" ng-click="vm.removeWatch()"><i class="fa fa-eye"></i> Un-Watch</button>

		</div>

		<!-- // Status // -->
		<div class="row">
			<!-- // Closing deadline while opportunity is still open // -->
			<div class="col-xs-12 text-center" ng-if="vm.opportunity.isPublished && vm.opportunity.status === 'Pending'">
				<label class="label label-lg label-deadline"><i class="fa fa-hourglass-half"></i>&nbsp;<span style="font-weight:300;">Closing in:</span><span class="strong"> {{vm.closing}}</span></label>
			</div>

			<!-- // Non-admin view of assignee AFTER the opportunity is assigned // -->
			<div class="col-xs-12 text-center" ng-if="vm.opportunity.status !== 'Pending' && !vm.canEdit && vm.opportunity.proposal">
				<span class="light">Opportunity assigned to:</span>
				&nbsp;
				<img class="img-avatar-flat img-avatar-sm" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}">
				&nbsp;
				{{vm.opportunity.proposal.user.displayName}}
			</div>

		</div>

		<!-- // Title and Teaser // -->
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 data-automation-id="text-opportunity-name" class="opp-detail">{{vm.opportunity.name}}</h1>
				<p ng-bind="vm.opportunity.short"></p>
				<br>
			</div>
		</div>
		<hr>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<dl class="dl-horizontal">
					<dt>Value:</dt>
					<dd>{{vm.opportunity.earn|currency}}</span></dd>
					<dt>Work Location:</dt>
					<dd><i class="fa fa-map-marker"></i>&nbsp;{{vm.opportunity.location}}</dd>
					<dt>On-site requirements:</dt>
					<dd>
						<span ng-if="vm.opportunity.onsite == 'offsite'">In-person work NOT required</span>
						<span ng-if="vm.opportunity.onsite == 'onsite'">In-person work required</span>
						<span ng-if="vm.opportunity.onsite == 'mixed'">Some in-person work required</span>
						<span class="label label-warning" ng-repeat="code in vm.opportunity.skills">{{code}}</span>
					</dd>
				</dl>

				<!--
				<div class="label-list" style="padding-top: 4px; padding-bottom: 10px;">
					<span class="label label-lg label-price"><i class="fa fa-tag"></i>&nbsp;{{vm.opportunity.earn|currency}}</span>
					<span class="label label-location"><i class="fa fa-map-marker"></i>&nbsp;{{vm.opportunity.location}}</span>
					<span class="label label-location" ng-if="vm.opportunity.onsite == 'offsite'"><i class="fa fa-user"></i>&nbsp;In-person work NOT required</span>
					<span class="label label-location" ng-if="vm.opportunity.onsite == 'onsite'"><i class="fa fa-user"></i>&nbsp;In-person work required</span>
					<span class="label label-location" ng-if="vm.opportunity.onsite == 'mixed'"><i class="fa fa-user"></i>&nbsp;Some in-person work required</span>
					<span class="label label-skill" ng-repeat="code in vm.opportunity.skills">{{code}}</span>
				</div>
				-->
			</div>

			<div class="col-xs-12 col-sm-6">
				<dl class="dl-horizontal">
					<dt>Government Contact:</dt>
					<dd>
						<i class="fa fa-user-circle-o"></i>
						<span ng-if="vm.opportunity.createdBy" ng-bind="vm.opportunity.createdBy.displayName"></span>
						<span ng-if="!vm.opportunity.createdBy">Deleted User</span>
					</dd>
					<dt>Program:</dt>
					<dd>
						<a ng-if="vm.opportunity.program"  id="programs.view" ui-sref="programs.view({programId:vm.opportunity.program.code})"><i class="fa fa-university"></i> {{vm.opportunity.program.title}}</a>
						<span ng-if="!vm.opportunity.program" class="text-muted">No program</span>
					</dd>
					<dt>Project:</dt>
					<dd>
						<a ng-if="vm.opportunity.project"  id="projects.view" ui-sref="projects.view({projectId:vm.opportunity.project.code})"><i class="fa fa-pie-chart"></i> {{vm.opportunity.project.name}}</a>
						<span ng-if="!vm.opportunity.project" class="text-muted">No project</span>
					</dd>
					<!-- github link -->
					<dt>Code:</dt>
					<dd>
					<a ng-if="vm.opportunity.github && vm.opportunity.github.length > 0" href="{{vm.opportunity.github}}" rel="nofollow" target="_blank"><i class="fa fa-github"></i> GitHub Repository</a>
					</dd>
				</dl>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">

				<h3 class="opp-detail">Background</h3>
				<p ng-bind-html="vm.display.description"></p>

				<hr>

				<h3 class="opp-detail">Acceptance Criteria</h3>
				<p>This is a <span class="strong">fixed-price</span> opportunity governed by the <a href="/api/proposals/download/terms/cwu1" target="_blank"><i class="fa fa-download"></i>terms</a> of our lightweight procurement model, <a href="/codewithus" target="_blank">Code With Us</a>.</p> To be paid the fixed price for this opportunity, you need to meet all of the following criteria:</p>
				<p ng-bind-html="vm.display.criteria"></p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">How to Apply</h3>
				<p>Submit your Proposal before <span class="strong">{{vm.deadline}}</span>.</p>
				<p>We plan to assign this opportunity by <span class="strong">{{vm.assignment}}</span> with work to start on <span class="strong">{{vm.start}}</span>.</p>
			</div>
			<!-- Hiding this until we fix the linking issue... -->
            <!--
            <div class="col-xs-12 col-sm-4">
				<div class="well well-warning">
					<h4>Got Questions?</h4>
					<a href="{{vm.opportunity.issueUrl}}" rel="nofollow" target="_blank">Visit the GitHub issue for this opportunity</a> and post a comment.<br><br>
					<i class="fa fa-comments fa-2x"></i>
				</div>
			</div>
            -->
		</div>

		<div ng-if="!vm.loggedIn && vm.closing != 'CLOSED'" class="alert alert-warning">
			To apply on this opportunity you need to <a href ui-sref="authentication.signin"> Sign In</a>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">Proposal Evaluation Criteria</h3>
				<p>Your Proposal will be scored by this criteria:</p>
				<p ng-bind-html="vm.display.evaluation"></p>

				<!-- // Proposal Application Directive // -->
				<div class="row" ng-if="true && vm.closing !== 'CLOSED'">
					<proposal-apply opportunity="vm.opportunity" proposal="vm.myproposal"></proposal-apply>
				</div>
			</div>
		</div>
	</div>

</section>

	<!--
	<uib-tabset active>
		<uib-tab index="0">
			<uib-tab-heading>
				Background
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p ng-bind-html="vm.display.description"></p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1">
			<uib-tab-heading>
				Acceptance Criteria
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p>To be paid the fixed price for this opportunity, you need to meet all of the following criteria:</p>
					<p ng-bind-html="vm.display.criteria"></p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading>
				Evaluation Criteria
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p>Your Proposal will be scored by this criteria:</p>
					<p ng-bind-html="vm.display.evaluation"></p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="3">
			<uib-tab-heading>
				How to Apply
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p>Submit your Proposal before <span class="strong">{{vm.deadline}}</span>.</p>
					<p>We plan to assign this opportunity by <span class="strong">{{vm.assignment}}</span> with work to start on <span class="strong">{{vm.start}}</span>.</p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="4" ng-if="vm.canEdit && vm.opportunity.isPublished">
			<uib-tab-heading>
				Proposals
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<proposal-list ng-if="vm.opportunity.status === 'Pending' && vm.canEdit && vm.opportunity.isPublished" isclosed="vm.closing === 'CLOSED'" context="opportunity" opportunity="vm.opportunity" title="Proposals received"></proposal-list>
				</div>
				<div class="col-xs-12" ng-if="vm.canEdit && vm.closing === 'CLOSED'">
					<a class="btn btn-default" href="/api/proposals/archive/opportunity/{{vm.opportunity._id}}" target="_blank"><i class="fa fa-download"></i> Download Proposals Archive</a>
				</div>
				<br/>
				<div ng-if="vm.opportunity.status !== 'Pending' && vm.opportunity.proposal">
					<h4 class="opp-detail">Opportunity Assigned to</h4>
					<div class="card card-block">
						<div class="card-img">
							<img class="card-img-left" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}"/>
						</div>

						<div class="col-md-5">
							<h4 class="opp-detail" class="card-title" style="font-size: 17px; padding-top: 6px; margin-bottom: 4px;">{{vm.opportunity.proposal.user.firstName}} {{vm.opportunity.proposal.user.lastName}}</h4>
							<p>Attachments: {{vm.opportunity.proposal.attachments.length}}</p>
						</div>

						<div class="col-md-2">
							<button class="btn btn-warning" ng-if="vm.canEdit" ng-click="vm.unassign()">UNASSIGN</button>
						</div>
						<div class="col-md-2" ng-if="vm.canEdit || vm.isMember">
							<a  id="proposals.viewcwu" ui-sref="proposals.view({ proposalId: vm.opportunity.proposal._id })">View Proposal</a><br/>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
	-->
