<section class="edit-form-background" role="main">

    <form id="opportunityForm" warn-on-exit name="vm.opportunityForm" class="form" ng-submit="vm.submit(data)" novalidate>
      <div class="container edit-form">
  
        <div class="edit-form-header">
          <span ng-if="vm.editing">
            <span class="light small">Submit:</span> 
            {{vm.opportunity.name}}
          </span>
          <span ng-if="!vm.editing">
            New Opportunity {{vm.opportunity.name}}
          </span>
          <a ui-sref="opportunities.viewcwu({opportunityId:vm.opportunity.code})" ng-if="vm.opportunity._id" class="btn btn-text-only pull-right" title="Close"><i class="fa fa-2x fa-times"></i></a>
          <a ui-sref="opportunities.list()" ng-if="!vm.opportunity._id" class="btn btn-text-only pull-right"><i class="fa fa-2x fa-times" title="Close"></i></a>
        </div>
        <div class="edit-form-tab-content">
          <fieldset>
              <form-input
              class="col-sm-3"
              ng-model="data.admEmail"
              x-options='{
                "title": "Assistant Deputy Minister&#39;s email address",
                "id":"email-ADM",
                "name":"email-ADM",
                "placeholder":"Email"
              }'>
            </form-input>

            <form-input
              class="col-sm-3"
              ng-model="data.dfsEmail"
              x-options='{
                "title":"Divisional Financial Staff&#39;s email address",
                "id":"email-DFS",
                "name":"email-DFS",
                "placeholder":"Email"
              }'>
            </form-input>
            <form-input
              class="col-sm-3"
              ng-model="data.bfsEmail"
              x-options='{
                "title":" Branch Financial Staff&#39;s email address",
                "id":"email-BFS",
                "name":"email-BFS",
                "placeholder":"Email"
              }'>
            </form-input>
          </fieldset>
        </div>
        <div class="edit-form-footer">
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" href="javascript:void(0);" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
</section>