<section class="static-page">
<div class="container" role="main">
  <form id="opportunityform" name="vm.form.opportunityForm" class="form" ng-submit="vm.save(vm.form.opportunityForm.$valid)" novalidate>
	<div class="row">
	  <div class="col-sm-7">
  	  <h2 ng-if="vm.editing">Editing {{vm.opportunity.title}}</h2>
	    <h2 ng-if="!vm.editing">New Opportunity</h2>
    </div>
    <div class="col-sm-5 col-form-buttons">
      <div class="pull-right">
			<div class="btn-group">
				<button type="submit" href="javascript:void(0);" title="Save" class="btn btn-primary">
					<i class="glyphicon glyphicon-save"></i> Save
				&nbsp;
				</button>
				<a ng-if="vm.editing" class="btn btn-default" ui-sref="opportunities.view({opportunityId:vm.opportunity._id})" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a ng-if="!vm.editing && !vm.projectId" class="btn btn-default" ui-sref="opportunities.list" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a ng-if="!vm.editing && vm.projectId" class="btn btn-default" ui-sref="projects.view({projectId:vm.projectId})" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				&nbsp;
				<a href="javascript:void(0);" ng-if="vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
					<i class="glyphicon glyphicon-trash"></i> Remove
				</a>
			</div>
      </div>
    </div>
	</div>
	<div class="row">
	<div class="col-sm-12">
			<fieldset>
				<div class="form-group" show-errors>
					<label class="control-label" for="title">Title</label>
					<input name="title" type="text" ng-model="vm.opportunity.name" id="title" class="form-control" placeholder="Name" required>
					<div ng-messages="vm.form.opportunityForm.name.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Opportunity name is required.</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="short">Short Description</label>
					<textarea name="short" data-ng-model="vm.opportunity.short" id="short" class="form-control" cols="30" rows="10" placeholder="A short description of the opportunity"></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<textarea name="description" data-ng-model="vm.opportunity.description" id="description" class="form-control" cols="30" rows="10" placeholder="A full description of the opportunity"></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="github">Github</label>
					<input name="github" type="text" ng-model="vm.opportunity.github" id="github" class="form-control" placeholder="Opportunity github repo" readonly>
				</div>
				<div class="form-group">
					<label class="control-label" for="taglist">Tags (comma delimited list)</label>
					<input type="text" name="taglist" ng-model="vm.opportunity.taglist" id="taglist" class="form-control" placeholder="Tag List"></input>
				</div>
				<div class="form-group">
					<label class="control-label" for="skilllist">Skills (comma delimited list)</label>
					<input type="text" name="skilllist" ng-model="vm.opportunity.skilllist" id="skilllist" class="form-control" placeholder="Skill List"></input>
				</div>
				<div class="form-group">
					<label class="control-label" for="earn">Earn</label>
					<input type="text" name="earn" ng-model="vm.opportunity.earn" id="earn" class="form-control" placeholder="Earn"></input>
				</div>
			</fieldset>
  </div>
	</div>
	<div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
			<div class="btn-group">
				<a href="javascript:void(0);" title="Save" class="btn btn-primary" ng-click="vm.saveme()">
					<i class="glyphicon glyphicon-save"></i> Save
				&nbsp;
				</button>
				<a ng-if="vm.editing" class="btn btn-default" ui-sref="opportunities.view({opportunityId:vm.opportunity._id})" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a ng-if="!vm.editing && !vm.projectId" class="btn btn-default" ui-sref="opportunities.list" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a ng-if="!vm.editing && vm.projectId" class="btn btn-default" ui-sref="projects.view({projectId:vm.projectId})" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				&nbsp;
				<a href="javascript:void(0);" ng-if="vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
					<i class="glyphicon glyphicon-trash"></i> Remove
				</a>
			</div>
      </div>
    </div>
  </div>
</section>

