<div class="col-sm-12">
	<fieldset>

		<form-display
			class="col-sm-12"
			x-options='{
				"title":"Opportunity Phases",
				"name":"phases",
				"help":"<ul> <li><b>Inception</b> blah blah ...</li> <li><b>Prototype</b> impsum lorem ...</li> <li><b>Implementation</b> build me something ...</li></ul>"
			}'>
			<label class="checkbox-inline">
				<input type="checkbox" name="isInception" ng-model="vm.opportunity.isInception"> Inception
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" name="isPrototype" ng-model="vm.opportunity.isPrototype"> Prototype
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" name="isImplementation" ng-model="vm.opportunity.isImplementation"> Implementation
			</label>
		</form-display>

		<form-display
			ng-if="vm.opportunity.isPrototype || vm.opportunity.isImplementation || vm.opportunity.isInception"
			class="col-sm-12"
			x-options='{
				"title":"Contract Models",
				"name":"models",
				"help":"<ul> <li><b>Milestone</b> Pricing attached ...</li> <li><b>Time and Materials</b> A price time quantity ...</li> <li><b>Fixed / Lump Sum</b> Price is fixed ...</li> <li><b>Hybrid Targeted Cost</b> This model ...</li> </ul>"
			}'>
			<form-display
				ng-if="vm.opportunity.isInception"
				class="col-sm-4"
				x-options='{
					"title":"Inception",
					"name":"inceptionContract"
				}'>
				<select name="inceptionContract" ng-model="vm.opportunity.inceptionContract" id="inceptionContract" class="form-control">
					<option value="1">Milestone</option>
					<option value="2">Time and Materials</option>
					<option value="3">Fixed / Lump Sum</option>
				</select>
			</form-display>
			<form-display
				ng-if="vm.opportunity.isPrototype"
				class="col-sm-4"
				x-options='{
					"title":"Prototype",
					"name":"prototypeContract"
				}'>
				<select name="prototypeContract" ng-model="vm.opportunity.prototypeContract" id="prototypeContract" class="form-control">
					<option value="1">Milestone</option>
					<option value="2">Time and Materials</option>
					<option value="3">Fixed / Lump Sum</option>
				</select>
			</form-display>
			<form-display
				ng-if="vm.opportunity.isImplementation"
				class="col-sm-4"
				x-options='{
					"title":"Implementation",
					"name":"implementationContract"
				}'>
				<select name="implementationContract" ng-model="vm.opportunity.implementationContract" id="implementationContract" class="form-control">
					<option value="1">Milestone</option>
					<option value="2">Time and Materials</option>
					<option value="3">Fixed / Lump Sum</option>
					<option value="4">Hybrid Targeted Cost</option>
				</select>
			</form-display>
		</form-display>

		<form-display
			ng-if="vm.opportunity.isPrototype || vm.opportunity.isImplementation || vm.opportunity.isInception"
			class="col-sm-12"
			x-options='{
				"title":"Dates and Costs",
				"name":"models",
				"help":"some help about dates and costs"
			}'>
			<table class="table table-striped">
				<thead>
					<td></td>
					<td>Phase Start Date</td>
					<td>Phase End Date</td>
					<td>Target Cost</td>
				</thead>
				<tr ng-if="vm.opportunity.isInception">
					<td>Inception</td>
					<td>
						<form-input
							ng-model="vm.opportunity.inceptionStartDate"
							x-form="vm.opportunityForm"
							x-options='{
								"id":"inceptionStartDate",
								"name":"inceptionStartDate",
								"format":"MMMM dd, yyyy",
								"type":"date"
							}'>
						</form-input>
					</td><td>
						<form-input
							ng-model="vm.opportunity.inceptionEndDate"
							x-form="vm.opportunityForm"
							x-options='{
								"id":"inceptionEndDate",
								"name":"inceptionEndDate",
								"format":"MMMM dd, yyyy",
								"type":"date"
							}'>
						</form-input>
					</td><td>
						<form-input
							ng-model="vm.opportunity.inceptionTarget"
							x-form="vm.opportunityForm"
							x-onchange="vm.changeTargets"
							x-options='{
								"id":"inceptionTarget",
								"onchange":"vm.changeTargets",
								"number":true,
								"type":"number",
								"name":"inceptionTarget"
							}'>
						</form-input>
					</td>
				</tr>
				<tr ng-if="vm.opportunity.isPrototype">
					<td>Prototype</td>
					<td>
						<form-input
							ng-model="vm.opportunity.prototypeStartDate"
							x-form="vm.opportunityForm"
							x-options='{
								"id":"prototypeStartDate",
								"name":"prototypeStartDate",
								"format":"MMMM dd, yyyy",
								"type":"date"
							}'>
						</form-input>
					</td><td>
						<form-input
							ng-model="vm.opportunity.prototypeEndDate"
							x-form="vm.opportunityForm"
							x-options='{
								"id":"prototypeEndDate",
								"name":"prototypeEndDate",
								"format":"MMMM dd, yyyy",
								"type":"date"
							}'>
						</form-input>
					</td><td>
						<form-input
							ng-model="vm.opportunity.prototypeTarget"
							x-form="vm.opportunityForm"
							x-onchange="vm.changeTargets"
							x-options='{
								"id":"prototypeTarget",
								"onchange":"vm.changeTargets",
								"number":true,
								"type":"number",
								"name":"prototypeTarget"
							}'>
						</form-input>
					</td>
				</tr>
				<tr ng-if="vm.opportunity.isImplementation">
					<td>Implementation</td>
					<td>
						<form-input
							ng-model="vm.opportunity.implementationStartDate"
							x-form="vm.opportunityForm"
							x-options='{
								"id":"implementationStartDate",
								"name":"implementationStartDate",
								"format":"MMMM dd, yyyy",
								"type":"date"
							}'>
						</form-input>
					</td><td>
						<form-input
							ng-model="vm.opportunity.implementationEndDate"
							x-form="vm.opportunityForm"
							x-options='{
								"id":"implementationEndDate",
								"name":"implementationEndDate",
								"format":"MMMM dd, yyyy",
								"type":"date"
							}'>
						</form-input>
					</td><td>
						<form-input
							ng-model="vm.opportunity.implementationTarget"
							x-form="vm.opportunityForm"
							x-onchange="vm.changeTargets"
							x-options='{
								"id":"implementationTarget",
								"onchange":"vm.changeTargets",
								"number":true,
								"type":"number",
								"name":"implementationTarget"
							}'>
						</form-input>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Total Costs:</td>
					<td>
						<!--
						<form-input
							ng-model="vm.opportunity.totalTarget"
							x-form="vm.opportunityForm"
							x-options='{
								"id":"totalTarget",
								"name":"totalTarget",
								"number":true,
								"disabled":true
							}'>
						</form-input>
						-->
						<form-display
							x-form="vm.opportunityForm"
							x-options='{
								"id":"totalTarget",
								"name":"totalTarget"
							}'>
								<input type="text" class="form-control format-as-number text-right col-sm-12" disabled
							value="{{vm.opportunity.implementationTarget + vm.opportunity.prototypeTarget + vm.opportunity.inceptionTarget}}"
								>
								<span >
									{{vm.totalTargets()}}
							{{vm.opportunity.implementationTarget + vm.opportunity.prototypeTarget + vm.opportunity.inceptionTarget}}
								</span>
						</form-display>
					</td>
				</tr>
			</table>
		</form-display>
	</fieldset>
</div>
