<div class="banner banner-important" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12" ng-if="vm.opportunity.opportunityTypeCd !== 'sprint-with-us'">
				<h4>Managing a Code With Us opportunity</h4>
				<p>By posting an opportunity on the BCDevExchange, you are agreeing to follow the <a href="/api/proposals/download/terms/cwu1" target="_blank"><i class="fa fa-download"></i> terms</a> of our lightweight procurement model, Code With Us. Make sure you're familiar with the process and understand your responsibilities for managing an opportunity. <a href="https://github.com/BCDevExchange/code-with-us/wiki/2.-For-Public-Sector-Employees:-How-to-Manage-a-Code-With-Us-Opportunity" target="_blank">Read the guide</a></p>
			</div>
			<div class="col-xs-12" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
				<h4>Managing a Sprint With Us opportunity</h4>
				<p>By posting an opportunity on the BCDevExchange, you are agreeing to follow the <a href="/api/proposals/download/terms/cwu1" target="_blank"><i class="fa fa-download"></i> terms</a> of our streamlined procurement model, Sprint With Us. Make sure you're familiar with the process and understand your responsibilities for managing an opportunity. <a href="https://github.com/BCDevExchange/code-with-us/wiki/2.-For-Public-Sector-Employees:-How-to-Manage-a-Code-With-Us-Opportunity" target="_blank">Read the guide</a></p>
			</div>
		</div>
	</div>	
</div>

<section class="form-page">

<div class="container" role="main">

	<div class="row"  ng-if="false && !vm.canPublish">
		<div class="col-xs-12 well well-sm well-warning"">
			<div class="text-center">
				<span>
					<label class="label label-lg label-danger-o"><i class="fa fa-exclamation-triangle"></i> &nbsp; You may not publish this opportunity until the following fields have been filled out.</label>
				</span>
			</div>
			<br/>
			<div class="col-sm-4 col-sm-offset-4">
				<ul><li ng-repeat="fname in vm.errorFields">{{fname}}</li></ul>
			</div>
		</div>
	</div>

	<form id="opportunityForm" warn-on-exit name="vm.opportunityForm" class="form" ng-submit="vm.save(vm.opportunityForm.$valid)" novalidate>

		<div class="row form-head">
			<div class="col-md-6">
				<h2 ng-if="vm.editing">Editing: {{::vm.opportunity.name}}</h2>
				<h2 ng-if="!vm.editing">New Opportunity</h2>
			</div>
			<div class="col-md-6 col-form-buttons text-right">
				<button type="submit" href="javascript:void(0);" class="btn btn-success" title="Save changes">Save changes</button>
				<a href="javascript:void(0);" ng-if="vm.editing" class="btn btn-danger" ng-click="vm.remove()" title="Delete opportunity">Delete opportunity</a>
				<a class="btn btn-default" href="{{vm.previousState.url}}" title="Cancel">Cancel</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<fieldset>
					<div class="form-group text-center" ng-if="vm.features.swu">
								<div class="btn-group">
									<label class="btn btn-success" ng-model="vm.opportunity.opportunityTypeCd" uib-btn-radio="'code-with-us'">I am looking for an <em>Individual</em></label>
									<label class="btn btn-success" ng-model="vm.opportunity.opportunityTypeCd" uib-btn-radio="'sprint-with-us'">I am looking for a <em>Team</em></label>
								</div>
						<div class="radio" ng-if="0">
							<label>
								<input type="radio" name="opportunityTypeCd" ng-model="vm.opportunity.opportunityTypeCd" value="code-with-us"/>
								I am looking for an <em>Individual</em>
								&nbsp; &nbsp; &nbsp;
								<input type="radio" name="opportunityTypeCd" ng-model="vm.opportunity.opportunityTypeCd" value="sprint-with-us"/>
								I am looking for a <em>Team</em>
							</label>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<uib-tabset active>
				<uib-tab index="0">
					<uib-tab-heading>
						Header
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.title.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="2">
					<uib-tab-heading>
						Background
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.description.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="4" ng-if="vm.opportunity.opportunityTypeCd !== 'sprint-with-us'">
					<uib-tab-heading>
						Details
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.cwu.details.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="5" ng-if="vm.opportunity.opportunityTypeCd !== 'sprint-with-us'">
					<uib-tab-heading>
						Acceptance and Evaluation
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.cwu.acceptance.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="6" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
					<uib-tab-heading>
						Details
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.details.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="7" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
					<uib-tab-heading>
						Phases
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.phases.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="8" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us' && vm.opportunity.isInception">
					<uib-tab-heading>
						Inception &nbsp; <i class="fa fa-check-circle ctc-green" ng-if="vm.opportunity.isInception"></i>
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.inception.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="10" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us' && vm.opportunity.isPrototype">
					<uib-tab-heading>
						Prototype &nbsp; <i class="fa fa-check-circle ctc-green" ng-if="vm.opportunity.isPrototype"></i>
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.prototype.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="12" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us' && vm.opportunity.isImplementation">
					<uib-tab-heading>
						Implementation &nbsp; <i class="fa fa-check-circle ctc-green" ng-if="vm.opportunity.isImplementation"></i>
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.implementation.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="14" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
					<uib-tab-heading>
						Terms and Conditions
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.terms.view.html'"></ng-include>
				</uib-tab>
			</uib-tabset>
		</div>
		<br/>

		<div class="row form-foot">
			<div class="col-sm-12 col-form-buttons foot text-right">
				<button type="submit" href="javascript:void(0);" class="btn btn-success">Save changes</button>
				<a href="javascript:void(0);" ng-if="vm.editing" class="btn btn-danger" ng-click="vm.remove()" title="Remove">Delete opportunity</a>
				<a class="btn btn-default" href="{{vm.previousState.url}}" title="Cancel">Cancel</a>
			</div>
		</div>

	</form>

</div>
</section>

