<section>
	<div class="container">
		<div class="col-md-12">
		  <form name="vm.form.opportunityForm" class="form-horizontal" ng-submit="vm.save(vm.form.opportunityForm.$valid)" novalidate>
			<fieldset>
			  <div class="form-group" show-errors>
				<label class="control-label" for="name">Name</label>
				<input name="name" type="text" ng-model="vm.opportunity.name" id="name" class="form-control" placeholder="Name" required>
				<div ng-messages="vm.form.opportunityForm.name.$error" role="alert">
				  <p class="help-block error-text" ng-message="required">Opportunity name is required.</p>
				</div>
			  </div>
			  <div class="form-group" show-errors>
				<label class="control-label" for="description">Description</label>
				<textarea name="description" ng-model="vm.opportunity.description" id="description" class="form-control" placeholder="Description" required></textarea>
				<div ng-messages="vm.form.opportunityForm.description.$error" role="alert">
				  <p class="help-block error-text" ng-message="required">Opportunity description is required.</p>
				</div>
			  </div>
			  <div class="form-group" show-errors>
				<label class="control-label" for="github">Github</label>
				<input name="github" type="text" ng-model="vm.opportunity.github" id="github" class="form-control" placeholder="Github" readonly>
				<div ng-messages="vm.form.opportunityForm.github.$error" role="alert">
				  <p class="help-block error-text" ng-message="required">Opportunity github is required.</p>
				</div>
			  </div>
			  <div class="form-group">
				<button type="submit" class="btn btn-default">{{vm.opportunity._id ? 'Update' : 'Create'}}</button>
			  </div>
			  <div ng-show="vm.error" class="text-danger">
				<strong ng-bind="vm.error"></strong>
			  </div>
			</fieldset>
		  </form>
		</div>
	</div>
</section>