
<!-- // To match the new alerts on Opportunity detail pages // -->
<!--<div class="row" style="padding-top: 15px; margin-top: -22px;">-->

<div class="banner banner-important" ng-if="!vm.isUser">
	<div class="row">
		<div class="col-xs-12">
			<p><i class="fa fa-lg fa-envelope-o"></i>&nbsp;&nbsp;To get notified when new opportunities are posted, or post an opportunity yourself, <a href ui-sref="authentication.signin">Sign In</a> or <a href  id="authentication.gov" ui-sref="authentication.gov">Sign Up</a>
		</div>
	</div>
</div>

<section>
	<div class="container" role="main">
		<opportunity-list context="allopportunities"></opportunity-list>
	</div>
</section>
