<div class="list-group">
	<ul>
		<li ng-repeat="opportunity in vm.opportunities">
			<h2><a ui-sref="opportunities.view({ opportunityId: opportunity._id })" ng-bind="opportunity.title"></a></h2>
			<p ng-bind="opportunity.short"></p>
			<div class="row">
				<div class="col-xs-6">
					<span class="label label-info">code</span>
				</div>
				<div class="col-xs-6">
					<button ui-sref="opportunities.view({ opportunityId: opportunity._id })" type="button" class="btn btn-link pull-right">View &rarr;</button>
				</div>
			</div>
			</a>
		</li>
	</ul>
</div>
