
<div class="row list-head">
  <div class="col-sm-7">
    <h3 ng-bind="vm.title" class="list-page-hide"></h3>
  </div>
  <div class="col-sm-5 col-form-buttons text-right">
    <button ng-if="vm.userCanAdd" class="btn" ng-class="{'btn-default': !vm.project && !vm.program, 'btn-link': vm.project || vm.program}" ui-sref="opportunityadmin.create({programId:vm.programId, projectId:vm.projectId, programTitle:vm.programTitle, projectTitle:vm.projectTitle, context:vm.context})" title="New">
    <i class="glyphicon glyphicon-plus"></i> Post an Opportunity
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-6" ng-if="! vm.opportunities.length">
    <div class="panel panel-default panel-body">
      <span class="text-muted">No open opportunities right now. Check back soon!</span>
    </div>
  </div>
</div>

<div class="col-md-{{12/vm.columnCount}}" ng-repeat="column in vm.opportunities | columnRanges:vm.columnCount">
  <!-- <div class="card card-flat card-rise" role="button" ui-sref="opportunities.view({ opportunityId: opportunity.code, projectId: vm.projectId })" ng-repeat="opportunity in vm.opportunities | slice:column.start:column.end"> -->
  <div class="card card-flat" ng-class="{'card-greyed': !opportunity.isPublished}" ng-repeat="opportunity in vm.opportunities | slice:column.start:column.end">
    <div class="card-header" ng-if="vm.isAdmin || opportunity.userIs.admin" style="text-align: right">
        <span class="label label-primary">Admin</span>
        &nbsp;
        <span class="label-danger" ng-if="!opportunity.isPublished"><i class="fa fa-exclamation-triangle" ></i> UNPUBLISHED</span>
        &nbsp;
        <a ng-if="opportunity.project.isPublished && (vm.isAdmin || opportunity.userIs.admin) && opportunity.isPublished" href="javascript:void(0);" ng-click="vm.publish(opportunity, false); $event.stopPropagation()" uib-tooltip="Unpublish"><i class="glyphicon glyphicon-ban-circle"></i></a>
        &nbsp;
        <a ng-if="opportunity.project.isPublished && (vm.isAdmin || opportunity.userIs.admin) && !opportunity.isPublished" href="javascript:void(0);" ng-click="vm.publish(opportunity, true); $event.stopPropagation()" uib-tooltip="Publish"><i class="glyphicon glyphicon-check"></i>
        </a>
        &nbsp;
        <a ng-if="vm.isAdmin || opportunity.userIs.admin" href="javascript:void(0);" ui-sref="opportunityadmin.edit({ opportunityId: opportunity.code, projectId: vm.projectId })" ng-click="$event.stopPropagation()" uib-tooltip="Edit"><i class="glyphicon glyphicon-edit"></i></a>
       <button ng-if="vm.canApplyGeneral && !opportunity.userIs.member && !opportunity.userIs.request" class="btn btn-default btn-sm">Apply</button>
    </div>

    <!--
    <div class="card-header" style="padding-top: 0; padding-bottom: 0;">
      <h4 style="margin-top: 10px; margin-bottom: 5px;">Closing in:  <span style="color: black; font-size: 18px; font-weight: 800;">{{vm.closing(opportunity)}}</span></h4>
      <div class="label-list" style="padding-top: 4px;">
        <span class="label label-warning" ng-repeat="code in opportunity.skills">{{code}}</span>
      </div>
      <h5 class="card-title" style="font-family: sans-serif; color: black; font-size: 20px; padding-top: 15px;"><b>{{opportunity.earn|currency}}</b></h5>
    </div>
    -->

    <div class="card-header" style="padding-top: 0; padding-bottom: 0;">
        <div class="col-xs-12 col-sm-2" style="padding: 0px; margin: 0px;">
          <h4><span style="font-family: sans-serif; font-size: 18px; font-weight: 600;">{{opportunity.earn|currency}}</span>
        </div></h4>
        <div class="col-xs-12 col-sm-3" style="padding: 0px; margin: 0px;">
          <h4>Closing in:  <span style="font-weight: 800;">{{vm.closing(opportunity)}}</span></h4>
        </div>
        <div class="col-xs-12 col-sm-2" style="padding: 0px; margin: 0px;">
          <h4><i class="fa fa-map-marker"></i>&nbsp;{{opportunity.location}}</h4>
        </div>
        <div class="col-xs-12 col-sm-5" style="padding: 0px; margin: 0px;">
          <h4 ng-if="opportunity.onsite == 'offsite'"><i class="fa fa-user">&nbsp;</i><i class="fa fa-cloud">&nbsp;</i>In-person work NOT required &nbsp; &nbsp;</h4>
          <h4 ng-if="opportunity.onsite == 'onsite'" ><i class="fa fa-user">&nbsp;</i><i class="fa fa-building">&nbsp;</i>In-person work required &nbsp; &nbsp;</h4>
          <h4 ng-if="opportunity.onsite == 'mixed'"  ><i class="fa fa-user"></i>&nbsp;<i class="fa fa-cloud">&nbsp;</i><i class="fa fa-building">&nbsp;</i>Some in-person work required</h4>
        </div>

        <div class="label-list" style="padding-top: 4px; padding-bottom: 10px;">
          <span class="label label-warning" ng-repeat="code in opportunity.skills">{{code}}</span>
        </div>
    </div>

    <div class="card-block" style="padding-bottom: 0px;">
      <h3 style="font-size: 18px; margin-top: 0px; font-family: Lato;"><a ui-sref="opportunities.view({ opportunityId: opportunity.code, projectId: vm.projectId })" ng-bind="opportunity.name"></a>
      </h3>
      <p ng-bind="opportunity.short" style="font-size: 14px;"></p>
      <p style="padding: 20px 0px 0px 0px; font-weight: 300; color: #595959;"><i class="fa fa-pie-chart">&nbsp;</i>{{opportunity.project.name}}</a></p>
    </div>

  </div>

</div>

