<div class="row list-head">
<div class="col-sm-7">
  <h3 ng-bind="vm.title" class="list-page-hide"></h3>
</div>
<div class="col-sm-5 col-form-buttons text-right">
  <button ng-if="(1 || vm.userCanAdd)" class="btn btn-default btn-lg" ui-sref="opportunityadmin.create({programId:vm.programId, projectId:vm.projectId})" title="New">
    <i class="glyphicon glyphicon-plus"></i> New Opportunity
  </button>
</div>
</div>

<div class="row">
<div class="col-md-6" ng-if="! vm.opportunities.length">
  <div class="panel panel-default panel-body">
    <span class="text-muted">No opportunities found.</span>
  </div>
</div>
<div class="col-md-6" ng-repeat="column in vm.opportunities | columnRanges:2">
  <!-- <div class="card card-flat card-rise" role="button" ui-sref="opportunities.view({ opportunityId: opportunity._id, projectId: vm.projectId })" ng-repeat="opportunity in vm.opportunities | slice:column.start:column.end"> -->
  <div class="card card-flat card-rise" ng-repeat="opportunity in vm.opportunities | slice:column.start:column.end">
    <div class="card-header">
      <div class="pull-right">Closing in <b>5 hours</b></div>
      <h4 class="card-title">
        <i class="fa fa-tag"></i> {{opportunity.earn|currency}}
      </h4>
      <div class="card-tags label-list">
        <div class="card-tools" ng-if="opportunity.userIs.admin">
          <a href="javascript:void(0);" ui-sref="opportunityadmin.edit({ opportunityId: opportunity._id, projectId: vm.projectId })" ng-click="$event.stopPropagation()" title="Edit" uib-tooltip="Edit">
            <i class="glyphicon glyphicon-pencil"></i>
          &nbsp;
        </a>
        <a ng-cloak ng-if="opportunity.isPublished" href="javascript:void(0);" ng-click="vm.publish(opportunity, false)" ng-click="$event.stopPropagation()" title="UnPublish" uib-tooltip="UnPublish">
          <i class="glyphicon glyphicon-ban-circle"></i>
        </a>
        <a ng-cloak ng-if="!opportunity.isPublished" href="javascript:void(0);" ng-click="vm.publish(opportunity, true)" ng-click="$event.stopPropagation()" title="Publish" uib-tooltip="Publish">
          <i class="glyphicon glyphicon-ok-circle"></i>
        </a>
        </div>
        <span class="label label-warning" ng-repeat="code in opportunity.skills">{{code}}</span>
      </div>
  </div>
  <div class="card-block">
    <div class="card-img" ng-if="!vm.project">
      <img class="card-img-left" src="/modules/core/client/img/logo/avatar-2.png"/>
    </div>
    <div>
      <p ng-if="!vm.project && opportunity.project"><a ui-sref="projects.view({projectId: opportunity.project._id})" ng-click="$event.stopPropagation()" title="Project"><i class="fa fa-pie-chart"></i> {{opportunity.project.name}}</a></p>
      <h4 class="card-title">
        <a ui-sref="opportunities.view({ opportunityId: opportunity._id, projectId: vm.projectId })" ng-bind="opportunity.name"></a>
      </h4>
      <p ng-if="!opportunity.isPublished"><span class="label label-warning">Not Published</span></p>
      <p class="card-subtitle" ng-bind="opportunity.short"></p>
    </div>
  </div>
</div>
</div>

