<div class="row list-head">
	<div class="col-xs-8">
		<h3 class="list-page-title list-page-hide" ng-bind="vm.title"></h3>
	</div>
	<div class="col-xs-4">
		<button ng-if="vm.userCanAdd && vm.features.swu" class="btn btn-primary pull-right" ng-class="{'btn-default': !vm.project && !vm.program, 'btn-link': vm.project || vm.program}" ui-sref="opportunityadmin.createlanding({programId:vm.programId, projectId:vm.projectId, programTitle:vm.programTitle, projectTitle:vm.projectTitle, context:vm.context})" title="New"><i class="fa fa-plus"></i> Post an Opportunity</button>
		<button ng-if="vm.userCanAdd && !vm.features.swu" class="btn btn-primary pull-right" ng-class="{'btn-default': !vm.project && !vm.program, 'btn-link': vm.project || vm.program}" ui-sref="opportunityadmin.createcwu({programId:vm.programId, projectId:vm.projectId, programTitle:vm.programTitle, projectTitle:vm.projectTitle, context:vm.context})" title="New"><i class="fa fa-plus"></i> Post an Opportunity</button>

	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		Showing: &nbsp;
		<button class="btn btn-sm btn-filter-unselected" ng-if="!vm.filter.sprint" ng-model="vm.filter.sprint" uib-btn-checkbox><i class="fa fa-group"></i> Sprint With Us</button>
		<button class="btn btn-sm btn-filter-selected" ng-if="vm.filter.sprint" ng-model="vm.filter.sprint" uib-btn-checkbox><i class="fa fa-group"></i> Sprint With Us</button>

		<button class="btn btn-sm btn-filter-unselected" ng-if="!vm.filter.code" ng-model="vm.filter.code" uib-btn-checkbox><i class="fa fa-tag"></i> Code With Us</button>
		<button class="btn btn-sm btn-filter-selected"  ng-if="vm.filter.code" ng-model="vm.filter.code" uib-btn-checkbox><i class="fa fa-tag"></i> Code With Us</button>
		&nbsp;
		<button class="btn btn-sm btn-filter-unselected" ng-if="!vm.filter.open" ng-model="vm.filter.open" uib-btn-checkbox>Open</button>
		<button class="btn btn-sm btn-filter-selected" ng-if="vm.filter.open" ng-model="vm.filter.open" uib-btn-checkbox>Open</button>

		<button class="btn btn-sm btn-filter-unselected" ng-if="!vm.filter.closed" ng-model="vm.filter.closed" uib-btn-checkbox>Closed</button>
		<button class="btn btn-sm btn-filter-selected" ng-if="vm.filter.closed" ng-model="vm.filter.closed" uib-btn-checkbox>Closed</button>
	</div>
</div>

<div class="card" ng-class="{'card-greyed': !opportunity.isPublished}" ng-repeat="opportunity in vm.opportunities | orderBy:'deadline':false | filter:vm.filterRecords as results">

	<div class="card-header text-right" ng-if="vm.isAdmin || opportunity.userIs.admin">
			<label class="label label-default" ng-if="!opportunity.isPublished"><i class="fa fa-exclamation-triangle" ></i> Unpublished</label>
			<a class="btn btn-text-only" ng-if="(vm.isAdmin || opportunity.userIs.admin) && opportunity.isPublished" href="javascript:void(0);" ng-click="vm.publish(opportunity, false); $event.stopPropagation()" title="Unpublish"><i class="fa fa-ban"></i></a>
			<a class="btn btn-text-only" ng-if="(vm.isAdmin || opportunity.userIs.admin) && !opportunity.isPublished" href="javascript:void(0);" ng-click="vm.publish(opportunity, true); $event.stopPropagation()" title="Publish"><i class="fa fa-bullhorn"></i>
			</a>
			<a class="btn btn-text-only" ng-if="(vm.isAdmin || opportunity.userIs.admin) && opportunity.opportunityTypeCd==='code-with-us'" href="javascript:void(0);"  id="opportunityadmin.edit" ui-sref="opportunityadmin.editcwu({ opportunityId: opportunity.code, projectId: vm.projectId })" ng-click="$event.stopPropagation()" title="Edit"><i class="fa fa-gear"></i></a>
			<a class="btn btn-text-only" ng-if="(vm.isAdmin || opportunity.userIs.admin) && opportunity.opportunityTypeCd==='sprint-with-us'" href="javascript:void(0);"  id="opportunityadmin.edit" ui-sref="opportunityadmin.editswu({ opportunityId: opportunity.code, projectId: vm.projectId })" ng-click="$event.stopPropagation()" title="Edit"><i class="fa fa-gear"></i></a>
		 <button ng-if="vm.canApplyGeneral && !opportunity.userIs.member && !opportunity.userIs.request" class="btn btn-default btn-sm">Apply</button>
	</div>

	<div class="card-body" ng-if="opportunity.opportunityTypeCd==='sprint-with-us'" id="opportunities.view" ui-sref="opportunities.viewswu({ opportunityId: opportunity.code, projectId: vm.projectId })">
		<div class="label-list">
			<label class="label label-swu" ng-if="opportunity.opportunityTypeCd==='sprint-with-us'"><i class="fa fa-users"></i> Sprint With Us</label>
			<label class="label label-price" ng-if="opportunity.opportunityTypeCd==='code-with-us'"><i class="fa fa-tag"></i>&nbsp;{{opportunity.earn|currency}}</label>
			<label class="label label-deadline"><i class="fa fa-hourglass-half"></i>&nbsp;<span class="light">Closing in:</span><span class="danger"> {{vm.closing(opportunity)}}</span></label>
			<label class="label label-location"><i class="fa fa-map-marker fa-lg"></i>&nbsp;{{opportunity.location}} /
				<span ng-if="opportunity.onsite == 'offsite'">In-person work NOT required</span>
				<span ng-if="opportunity.onsite == 'onsite'">In-person work required</span>
				<span ng-if="opportunity.onsite == 'mixed'">Some in-person work required</span>
			</label>
			<label class="label label-skill" ng-repeat="code in opportunity.skills">{{code}}</label>
		</div>
		<div class="card-title" ng-bind="opportunity.name"></div>
		<div class="card-teaser" ng-bind="opportunity.short"></div>
	</div>

	<div class="card-body" ng-if="opportunity.opportunityTypeCd==='code-with-us'" id="opportunities.view" ui-sref="opportunities.viewcwu({ opportunityId: opportunity.code, projectId: vm.projectId })">
		<div class="label-list">
			<label class="label label-price"><i class="fa fa-tag"></i>&nbsp;{{opportunity.earn|currency}}</label>
			<label class="label label-deadline"><i class="fa fa-hourglass-half"></i>&nbsp;<span class="light">Closing in:</span><span class="danger"> {{vm.closing(opportunity)}}</span></label>
			<label class="label label-danger" ng-if="opportunity.opportunityTypeCd==='sprint-with-us'"><i class="fa fa-users"></i> Team Required </label>
			<label class="label label-location"><i class="fa fa-map-marker fa-lg"></i>&nbsp;{{opportunity.location}} /
				<span ng-if="opportunity.onsite == 'offsite'">In-person work NOT required</span>
				<span ng-if="opportunity.onsite == 'onsite'">In-person work required</span>
				<span ng-if="opportunity.onsite == 'mixed'">Some in-person work required</span>
			</label>
			<label class="label label-skill" ng-repeat="code in opportunity.skills">{{code}}</label>
		</div>
		<div class="card-title" ng-bind="opportunity.name"></div>
		<div class="card-teaser" ng-bind="opportunity.short"></div>
	</div>

	<div class="row" ng-if="! vm.opportunities.length">
		<div class="col-xs-12">
			<div class="well well-transparent">No open opportunities right now. Check back soon!</div>
		</div>
	</div>

</div>

<div class="alert alert-danger" ng-if="results.length==0">
	<i class="fa fa-lg fa-frown-o"></i> &nbsp;No opportunities that match your filter right now...
</div>

