<section class="pb-0">
  <div class="container">

    <div class="row py-5">
      <div class="col-sm-9">
        <h3>
          <i class="fas fa-dollar-sign"></i>&nbsp;
          Opportunities
        </h3>
      </div>
      <div class="col-sm-3 d-none d-sm-block">
        <button ng-if="vm.userCanAdd" class="btn btn-text-only float-right" ng-class="{'btn-default': !vm.project && !vm.program, 'btn-link': vm.project || vm.program}"
          ui-sref="opportunityadmin.createlanding({programId:vm.programId, projectId:vm.projectId, programTitle:vm.programTitle, projectTitle:vm.projectTitle, context:vm.context})">
          <i class="fas fa-lg fa-plus-circle"></i> Post an Opportunity
        </button>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-sm">
        <div class="alert alert-light">
          <i class="fas fa-tag"></i> <strong>Code With Us</strong> opportunities pay a <strong>fixed-price</strong> for
          meeting acceptance criteria. &nbsp;<a href="/codewithus">Learn more</a>
        </div>
      </div>
      <div class="col-sm">
        <div class="alert alert-light">
          <i class="fas fa-users"></i> <strong>Sprint With Us</strong> opportunities are for registered companies who can
          supply <strong>teams</strong>. &nbsp;<a href="/sprintwithus">Learn more</a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="py-5 bg-dark">

  <!-- Loading opportunities placeholder -->
  <div class="container" ng-if="vm.isLoading">
    <div class="row">
      <div class="col">
        <h6 class="text-light"><i class="fas fa-lg fa-spinner fa-spin"></i> Loading Opportunities...</h6>
      </div>
    </div>
  </div>

  <div class="container" ng-if="!vm.isLoading">
    
    <!-- Open Opportunities List -->
    <div ng-cloak class="row py-3">
      <div class="col-sm-9">
        <h4 class="text-light">Open Opportunities</h4>
      </div>
      <div class="col-sm-3 d-none d-sm-block" ng-if="vm.isUser">
        <button class="btn btn-warning float-right" ng-if="!vm.user.notifyOpportunities" ng-click="vm.toggleSubscription()" title="Get email notifications when new opportunities are posted">
          <i class="fas fa-bell"></i> Get Notifications
        </button>
        <button class="btn btn-text-only-inverse float-right" ng-if="vm.user.notifyOpportunities" ng-click="vm.toggleSubscription()" title="You're receiving email notifications when new opportunities are posted">
          <i class="fas fa-bell"></i> Subscribed
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="text-light" ng-if="vm.countOpenOpportunities() === 0">
          <emoji>🌵</emoji> No open opportunities right now
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <opportunity-card ng-cloak class="card my-3" ng-repeat="opportunity in vm.opportunities | filter: vm.filterOpen | orderBy: 'created': true track by $index"
          opportunity="opportunity" />
      </div>
    </div>
  
  </div>
</section>


<section class="py-5 bg-light">
  <div class="container">
    <!-- Close Opportunities List -->
    <div class="row py-3">
      <div class="col">
        <h4 class="float-left">Closed Opportunities</h4>
        <h4 class="text-muted float-right">Total value: {{vm.getTotalClosedAmount() | currency}}</h4>

      </div>
    </div>

    <div ng-cloak class="row">
      <div class="col">
        <opportunity-card ng-cloak class="card my-3" ng-repeat="opportunity in vm.opportunities | filter: vm.filterClosed | orderBy: 'created' : true track by $index"
          opportunity="opportunity" />
      </div>
    </div>
  </div>



</section>
