<!-- Open Opportunity Card Body -->
<div class="card-body" ng-class="{'unpublished': !opportunity.isPublished}" id="opportunities.view" ng-click="vm.goToView(opportunity)">
  
  <div class="row text-right">
    <div class="col">
      <label ng-if="vm.isAdmin || opportunity.userIs.admin" class="label label-admin"><i class="fas fa-user-shield"></i> Admin</label>
    </div>
  </div>

  <div class="label-list">
    <label ng-if="opportunity.opportunityTypeCd === 'code-with-us'" class="label label-price">{{ opportunity.earn |
      currency }}</label>
    <label ng-if="opportunity.opportunityTypeCd === 'sprint-with-us'" class="label label-price">{{ opportunity.budget |
      currency }}</label>
    <label ng-if="opportunity.opportunityTypeCd === 'sprint-with-us'" class="label label-swu"><i class="fas fa-users"></i>
      Sprint With Us</label>
    <label ng-if="opportunity.opportunityTypeCd === 'code-with-us'" class="label label-swu"><i class="fas fa-tag"></i>
      Code With Us</label>
    <label class="label label-location"><i class="fas fa-map-marker fa-lg"></i> {{opportunity.location}}</label>
    <label class="label label-location">
      <span ng-if="opportunity.onsite == 'offsite'">In-person work NOT required</span>
      <span ng-if="opportunity.onsite == 'onsite'">In-person work required</span>
      <span ng-if="opportunity.onsite == 'mixed'">Some in-person work required</span>
    </label>
    <label class="label label-unpublished" ng-if="!opportunity.isPublished">
      <i class="fas fa-exclamation-triangle"></i> Unpublished</label>
  </div>

  <div ng-if="opportunity.skills.length > 0" class="label-list">
    <label class="label label-skill" ng-repeat="code in opportunity.skills">{{code}}</label>
  </div>
  <h5 class="card-title font-weight-bold my-4 text-truncate" ng-bind="opportunity.name"></h5>
  <p class="card-text" ng-bind="opportunity.short"></p>

</div>
</div>
