<div class="banner banner-important" ng-if="!vm.isUser">
  <i class="fas fa-lg fa-envelope"></i>&nbsp;&nbsp;Get notified as soon as new opportunities are posted! 
  <a href="/authentication">Sign in</a> and manage notifications in Settings.
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col">
      <div class="alert alert-info">
        <i class="fas fa-tag"></i> <strong>Code With Us</strong> opportunities pay a <strong>fixed-price</strong> for
        meeting acceptance criteria. &nbsp;<a data-automation-id="cwu-LearnMore" href="/codewithus">Learn more</a>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-info">
        <i class="fas fa-users"></i> <strong>Sprint With Us</strong> opportunities are for registered companies who can
        supply <strong>teams</strong>. &nbsp;<a data-automation-id="swu-LearnMore" href="/sprintwithus">Learn more</a>
      </div>
    </div>
  </div>
</div>

<opportunity-list context="allopportunities"></opportunity-list>
