<div class="modal-header">
	<h3>Questions</h3>
	<p>
		Organize the responses to the question from best to worst using the arrow buttons provided.
	</p>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12 text-center">
			<ul uib-pagination items-per-page="1" total-items="data.totalQuestions" ng-model="data.currentPage" ng-change="pageChanged()"></ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary" ng-if="data.currentPage===1">
				<div class="panel-heading text-center">
					<strong>
						Question: How rapid is rapid?
					</strong>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm-9">
								How quick is quick?
							</div>
							<div class="col-sm-3">
								<button ng-if="1" class="btn btn-sm pull-right" title="move down"><i class="fa fa-angle-down"></i></button>
								<button ng-if="0" class="btn btn-sm pull-right" title="move up"><i class="fa fa-angle-up"></i></button>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm-9">
						What sort of stupid question is that?
							</div>
							<div class="col-sm-3">
								<button ng-if="1" class="btn btn-sm pull-right" title="move down"><i class="fa fa-angle-down"></i></button>
								<button ng-if="1" class="btn btn-sm pull-right" title="move up"><i class="fa fa-angle-up"></i></button>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm-9">
						Huh?
							</div>
							<div class="col-sm-3">
								<button ng-if="0" class="btn btn-sm pull-right" title="move down"><i class="fa fa-angle-down"></i></button>
								<button ng-if="1" class="btn btn-sm pull-right" title="move up"><i class="fa fa-angle-up"></i></button>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="panel panel-primary" ng-if="data.currentPage===2">
				<div class="panel-heading text-center">
					<strong>
						Question: How much wood could a wood chuck chuck if a wood chuck could chuck wood?
					</strong>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm-9">
								Do you not have anything better to do?
							</div>
							<div class="col-sm-3">
								<button ng-if="1" class="btn btn-sm pull-right" title="move down"><i class="fa fa-angle-down"></i></button>
								<button ng-if="0" class="btn btn-sm pull-right" title="move up"><i class="fa fa-angle-up"></i></button>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm-9">
						Honestly.
							</div>
							<div class="col-sm-3">
								<button ng-if="1" class="btn btn-sm pull-right" title="move down"><i class="fa fa-angle-down"></i></button>
								<button ng-if="1" class="btn btn-sm pull-right" title="move up"><i class="fa fa-angle-up"></i></button>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm-9">
						A wood chuck could chuck lots of wood if a wood chuck could chuck wood.
							</div>
							<div class="col-sm-3">
								<button ng-if="0" class="btn btn-sm pull-right" title="move down"><i class="fa fa-angle-down"></i></button>
								<button ng-if="1" class="btn btn-sm pull-right" title="move up"><i class="fa fa-angle-up"></i></button>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
<div class="modal-footer text-right">
	<button class="btn btn-default" data-ng-click="close()">Cancel</button>
	<button class="btn btn-default" data-ng-click="ok()">Save</button>
	<button class="btn btn-primary" data-ng-click="commit()"><i class="fa fa-thumbs-o-up"></i> Commit</button>
</div>
