<div class="modal-header">
	<div class="modal-title">Interview Scores</div>
</div>
<div class="modal-body">
	<div class="text-center">Enter interview scores for each company listed below.</div>
	<div class="score-form">
		<div class="row">
			<form name="scoreForm">
				<table>
					<tr class="spaceUnder" ng-repeat="proposal in data.proposalScores">
						<td><input class="scoreBox" name="input" type="number" min="0" max="25" ng-model="proposal.score"/></td>
						<td>&nbsp;&nbsp;{{proposal.businessName}}</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<span ng-show="scoreForm.$error.number || !scoreForm.$valid">Scores must be a number between 0 and 25</span>
	<button ng-disabled="!scoreForm.$valid || scoreForm.$error.number" class="btn btn-primary" data-ng-click="save()"><i class="fa fa-lock"></i> Lock in Scores</button>
	<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
