<div class="sub-nav">
	<div class="container">
		<div class="breadcrumb-nav">
			<a href="/opportunities" class="breadcrumb-nav"><i class="fa fa-chevron-left"></i> All Opportunities</a>
		</div>
	</div>
</div>
<!--
<div class="banner banner-important">
	<i class="fa fa-envelope"></i> &nbsp;<a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>Give us feedback</a> on Sprint With Us.
</div>
-->

<section class="detail-page-background">
	<!-- SWU Proposal section for Admins to view and enter evaluation -->
	<div ng-if="vm.canEdit && vm.opportunity.isPublished" class="container swu-evaluation">
		<div class="swu-evaluation-header">
			<!-- If opportunity is still open, show proposal stats -->
			<div class="row" ng-if="vm.closing !== 'CLOSED'">
				<div class="col-xs-12">
					<proposal-list ng-if="vm.opportunity.status === 'Pending' && vm.canEdit && vm.opportunity.isPublished" isclosed="vm.closing === 'CLOSED'" context="opportunity" opportunity="vm.opportunity"></proposal-list>
				</div>
			</div>
			<!-- Once opportunity is closed, show evaluation progress bar -->
			<div class="swu-evaluation-progress text-center" ng-if="vm.closing === 'CLOSED' && vm.beforeStage('assigned')">
				<step ng-class="{active: vm.opportunity.evaluationStage === 2 || vm.opportunity.evaluationStage === 3, complete: vm.opportunity.evaluationStage > 3}">
					 <icon>1</icon>
					 <step-name>Team Questions</step-name>
				</step>
				<step ng-class="{disabled: vm.opportunity.evaluationStage < 4, active: vm.opportunity.evaluationStage === 4, complete: vm.opportunity.evaluationStage > 4}">
					<icon>2</icon>
					<step-name>Code Challenge</step-name>
				</step>
				<step ng-class="{disabled: vm.opportunity.evaluationStage < 5, active: vm.opportunity.evaluationStage === 5, complete: vm.opportunity.evaluationStage > 5}">
					<icon>3</icon>
					<step-name>Team Scenario</step-name>
				</step>
				<step ng-class="{disabled: vm.opportunity.evaluationStage < 6, active: vm.opportunity.evaluationStage === 6, complete: vm.opportunity.evaluationStage > 6}">
					<icon>4</icon>
					<step-name>Assign</step-name>
				</step>
			</div>
		</div>
		<!-- Once opportunity is closed, show evaluation steps -->
		<div class="swu-evaluation-body" ng-if="vm.closing === 'CLOSED'">
			<!-- Stage 1a: Questions: Questions are pending review by someone with the 'vetter' role -->
			<div class="text-center" ng-if="vm.stageIs('pending_review')">
				<div class="swu-evaluation-message" ng-if="vm.proposals.length > 1"><i class="fa fa-lg fa-smile-o"></i> &nbsp;Sweet! You got responses from {{vm.proposals.length}} companies.</div>
				<div class="swu-evaluation-message" ng-if="vm.proposals.length === 1"><i class="fa fa-lg fa-smile-o"></i> &nbsp;Well, you got one response!</div>
				<div class="swu-evaluation-message" ng-if="vm.proposals.length === 0"><i class="fa fa-lg fa-frown-o"></i> &nbsp;Sorry, no companies submitted proposals on your opportunity!</div>
				<div class="swu-evaluation-cta">
					<p><i class="fa fa-lg fa-hourglass-1"></i> &nbsp; Review in progress .... Check back soon!</p>
					<p>A procurement specialist is reviewing the responses to the Team Questions to make sure they don't contain any self-identifying information. Once this is done, you'll be able to start the evaluation.</p>
				</div>
			</div>
			<!-- Stage 1b: Questions: Questionnaire response ranking (modal) has not been saved yet -->
			<div class="text-center" ng-if="vm.stageIs('questions')">
				<div class="swu-evaluation-message" ng-if="vm.proposals.length > 1"><i class="fa fa-lg fa-smile-o"></i> &nbsp;Sweet! You got responses from {{vm.proposals.length}} companies.</div>
				<div class="swu-evaluation-message" ng-if="vm.proposals.length === 1"><i class="fa fa-lg fa-smile-o"></i> &nbsp;Well, you got one response!</div>
				<div class="swu-evaluation-message" ng-if="vm.proposals.length === 0"><i class="fa fa-lg fa-frown-o"></i> &nbsp;Sorry, no companies submitted proposals on your opportunity!</div>
				<div class="swu-evaluation-cta">
					<p>Your first step is to comparatively rank the responses that teams submitted to the Team Questions.</p>
					<button class="btn btn-lg btn-primary" ng-if="vm.proposals.length >= 1" ng-click="vm.questions()">Rank responses &nbsp;<i class="fa fa-lg fa-chevron-circle-right"></i></button>
				</div>				
			</div>

			<!-- Stage 1c: Questions: Questionnaire response ranking (modal) has been saved, but not committed -->
			<div class="text-center" ng-if="vm.stageIs('questions_saved')">
				<div class="swu-evaluation-message" ng-if="vm.proposals.length >= 1">You still need to finish ranking the responses to the Team Questions.</div>
				<div class="swu-evaluation-cta">
					<p>When you have all the rankings the way you want them, click the Commit button to lock in your decisions.</p>
					<button class="btn btn-lg btn-primary" ng-if="vm.proposals.length > 0" ng-click="vm.questions()">Finish and commit rankings &nbsp;<i class="fa fa-lg fa-chevron-circle-right"></i></button>
				</div>
			</div>

			<!-- Stage 2: Enter Code Challenge Scores -->
			<div class="text-center" ng-if="vm.stageIs('code_scores')">
				<div class="swu-evaluation-message">Great! Next step: the Code Challenge.</div>
				<div class="swu-evaluation-cta">
					<p>In the table below, you should see which companies screen in for the Code Challenge.</p>
					<p>Right now, you need to: <strong>(1) Notify all the companies who did not screen in</strong> and <strong>(2) Send the Code Challenge to all companies who did screen in.</strong></p>	
					<p>Once the Code Challenge submissions have been evaluated, come back here to enter the scores for each company. </p>
					<button class="btn btn-lg btn-primary" ng-click="vm.codeChallenge()">Enter Code Challenge scores &nbsp;<i class="fa fa-lg fa-chevron-circle-right"></i></button>
				</div>
			</div>

			<!-- Stage 3: Enter Interview Scores -->
			<div class="text-center" ng-if="vm.stageIs('interview')">
				<div class="swu-evaluation-message">Alright, we're getting there! Next up: the Team Scenario.</div>
				<div class="swu-evaluation-cta">
					<p>Now you should see how teams are stacking up in the evaluation so far.</p>
					<p>If any teams did not pass the Code Challenge, inform them right away.</p>
					<p>For teams that passed the Code Challenge, now you need to send them information about the Team Scenario and get those scheduled.</p>
					<p>Once all of the Team Scenarios have taken place and your evaluation panel has come to consensus on the overall scores for each company, come back here to enter the total scores.</p>
					<button class="btn btn-lg btn-primary" ng-click="vm.interview()">Enter Team Scenario scores &nbsp;<i class="fa fa-lg fa-chevron-circle-right"></i></button>
				</div>
			</div>

			<!-- Stage 4: Assignment -->
			<div class="text-center" ng-if="vm.stageIs('price')">
				<div class="swu-evaluation-message">Congrats, you did it!</div>
				<div class="swu-evaluation-cta">
					<p>The evaluation is complete. The score for pricing has been automatically calculated by the system and the top scoring team is listed in the table below.</p> 
					<p>After you have contacted the winning company and confirmed that they will be taking on the contract, you can click the Assign button below to show all viewers of the opportunity page which company won the competition.</p>
				</div>
			</div>

			<!-- Edge case: All proponents failed the code challenge -->
			<div class="text-center" ng-if="vm.stageIs('all_fail')">
				<div class="alert alert-danger">
					<i class="fa fa-lg fa-exclamation-triangle"></i> <strong>Uh oh!</strong> This evaluation can't continue because no proponents passed the Code Challenge!
				</div>
			</div>

			<!-- Opportunity has been assigned. -->
			<div class="swu-evaluation-cta text-center" ng-if="vm.stageIs('assigned')">
				<h4>This opportunity has been assigned to {{vm.opportunity.proposal.businessName}}</h4>
			</div>

			<div class="swu-evaluation-summary" ng-if="vm.closing === 'CLOSED'">
				<div class="table-title">Evaluation Scoring Summary</div>
				<div class="alert alert-warning hidden-md hidden-lg">
					<i class="fa fa-lg fa-laptop"></i> &nbsp; To view the evaluation summary table, you need to be on a device with a wider screen. (Sorry, we're working on it!)
				</div>
				<table class="table table-condensed table-striped hidden-xs hidden-sm">
					<thead>
						<tr>
							<!-- I'd like to link the column headings, so that each one opens a popover that explains what each score is and how it's calculated -->
							<td class="text-left">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Company" data-content="You don't get to see the name of the companies until you rank anonymized and randomized repsonses to the questionnaire, then select how many you're going to interview! Cool, eh?!">
									Company
								</button>
							</td>								
							<td class="text-center">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Skills (/20)" data-content="All the companies claim to have all the capabilites you need. The score in this column is for the amount of the preferred technical skills you selected that the team members possess.">
									Skills
								</button>
							</td>
							<td class="text-center">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Team Questions (/20)" data-content="This score is out of 20. You blindly rank the responses to questions from best to worse. We do the rest.">
									Team Questions
								</button>
							</td>
							<td class="text-center">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Mid Score" data-context="This is the score used to determine the top 4 companies will continue on to the next evaluation phase.">
									Mid Score
								</button>
							</td>
							<td class="text-center">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Screen Rank" data-context="TThis is the ranking of the screened teams.">
								Screen Rank
								</button>
							</td>
							<td class="text-center">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Code Challenge (/25)" data-content="This score is out of 25. You enter each team's Code Challenge score and we record it.">
									Code Challenge
								</button>
							</td>
							<td class="text-center">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Interview (/25)" data-content="Once you've conducted interviews, you'll enter one aggregated score for each company.">
									Team Scenario
								</button>
							</td>
							<td class="text-center">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Price (/10)" data-content="You'll get to see a score for the pricing the company submitted after you enter an interview score. Score for pricing is based on an algorithm that looks at the minimum and maximum prices submitted. It's not heavily weighted because we don't want this to be the determining factor for you.">
									Price
								</button>
							</td>
							<td class="text-right">
								<button type="button" class="btn btn-table-heading" data-container="body" data-toggle="popover" data-placement="top" title="Total (/100)" data-content="This is the total score out of 100%.">
									Total Score
								</button>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="proposal in vm.proposals | orderBy:'-scores.total'">
							<td class="text-left">
								<span ng-show="vm.beforeStage('code_scores')">Company {{$index + 1}}</span>
								<a href="" ng-show="vm.stageIs('code_scores') || vm.pastStage('questions_saved')" ng-click="vm.showCompanyInfo(proposal)">{{proposal.businessName}}</a>
							</td>
							<td class="text-center">{{proposal.scores.skill}}</td>
							<td class="text-center"><span ng-show="vm.pastStage('questions_saved')">{{proposal.scores.question}}</span></td>
							<td class="text-center"><span ng-show="vm.pastStage('questions_saved')">{{proposal.scores.skill + proposal.scores.question}}</span></td>
							<td class="text-center">
								<span class="screened-in" ng-show="vm.pastStage('questions_saved') && proposal.screenedIn">{{proposal.ranking}}</span>
								<span class="screened-out" ng-show="vm.pastStage('questions_saved') && !proposal.screenedIn">Screened Out</span>
							</td>
							<td class="text-center">
								<span ng-show="vm.pastStage('code_scores') && proposal.screenedIn && proposal.passedCodeChallenge">{{proposal.scores.codechallenge}}</span>
								<span class="screened-out" ng-show="vm.pastStage('code_scores') && proposal.screenedIn && !proposal.passedCodeChallenge">Failed</span>
							</td>
							<td class="text-center"><span ng-show="vm.pastStage('interview') && proposal.screenedIn && proposal.passedCodeChallenge">{{proposal.scores.interview}}</span></td>
							<td class="text-center"><span ng-show="vm.pastStage('interview') && proposal.screenedIn && proposal.passedCodeChallenge">{{proposal.scores.price}}</span></td>
							<td class="text-right"><span>{{proposal.scores.total}}</span></td>
						</tr>
						<tr>
							<td align="right" class="text-right" colspan="9">
								<b><span ng-if="vm.stageIs('price')" ng-bind="vm.getTopProposal().businessName"></span></b><span ng-if="vm.stageIs('price')"> has the highest score for this evaluation: </span>
								<button ng-if="vm.stageIs('price')" class="btn btn-sm btn-primary" type="button" ng-click="vm.assign(vm.getTopProposal())">Assign</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Temporary - for development purposes only-->
			<div align="center" ng-if="vm.closing === 'CLOSED'">
				<button ng-if="vm.isAdmin" class="btn btn-sm btn-primary" ng-click="vm.resetEvaluation()">Reset Evaluation</button>
				<button ng-if="vm.isAdmin" ng-disabled="vm.pastStage('pending_review')" class="btn btn-sm btn-primary" ng-click="vm.openQuestionVetting()">Review Questions</button>
			</div>

		</div>	
	</div>

	<br>

	<div class="container">

		<!-- // Admin View / if opportunity is in DRAFT and INCOMPLETE // -->
		<div class="alert alert-warning" ng-if="!vm.canPublish && vm.canEdit">
			<span class="strong"><i class="fa fa-exclamation-triangle"></i> Your opportunity is missing stuff!</span> Before you can publish, you'll need to define these things:
			<ul><li ng-repeat="fname in vm.errorFields">{{fname}}</li></ul>
		</div>

		<!-- // Proposal Application Directive // -->
		<div class="row" ng-if="true && vm.closing !== 'CLOSED'" >
			<proposal-apply opportunity="vm.opportunity" proposal="vm.myproposal"></proposal-apply>
			<br/>
		</div>

		<!-- Export button for downloading proposal submitted - visible to proposal submitters only -->
		<div class="row">
			<div class="alert alert-info" ng-if="vm.myproposal._id">
				You started or submitted a proposal on this opportunity.&nbsp; <a href="/api/proposals/export/opportunity/{{vm.opportunity._id}}" target="_blank"><i class="fa fa-download"></i> Download My Proposal</a>
			</div>
		</div>

		<br/>

	</div>

	<div class="container detail-view">

		<div class="opp-detail-header">
			Published on <span class="strong" ng-bind="vm.opportunity.lastPublished | date:'mediumDate'"></span> by <span ng-if="vm.opportunity.createdBy" ng-bind="vm.opportunity.createdBy.displayName"></span><span ng-if="!vm.opportunity.createdBy">Deleted User</span>&nbsp; &nbsp;Last updated on <span class="strong" ng-bind="vm.opportunity.updated | date:'mediumDate'"></span> by <span ng-if="vm.opportunity.updatedBy" ng-bind=" vm.opportunity.updatedBy.displayName"></span><span ng-if="!vm.opportunity.updatedBy">Deleted User</span>
			<br>This RFP is a Competition Notice under RFQ No. ON‌-003166 and is restricted to Proponents that have become Qualified Suppliers pursuant to that RFQ.
			<!-- // Opportunity Admin control buttons // -->
			<!-- // Admin Controls / if opportunity is in DRAFT and COMPLETE // -->
			<!-- PUBLISH -->
			<a href="javascript:void(0);" ng-if="vm.canPublish && vm.canEdit && !vm.opportunity.isPublished" class="btn btn-sm btn-primary pull-right" ng-click="vm.publish(vm.opportunity, true)" title="Publish this Opportunity"><i class="fa fa-bullhorn"></i> Publish</a>

			<!-- EDIT -->
			<button type="button" class="btn btn-sm btn-text-only pull-right" ng-if="vm.canEdit" ui-sref="opportunityadmin.editswu({opportunityId:vm.opportunity.code})" title="Edit Opportunity"><i class="fa fa-lg fa-pencil"></i></button>

			<!-- UNPUBLISH -->
			<a href="javascript:void(0);" ng-if="vm.canEdit && vm.opportunity.isPublished" class="btn btn-sm btn-text-only pull-right" ng-click="vm.publish(vm.opportunity, false)" title="Unpublish this Opportunity"><i class="fa fa-lg fa-ban"></i></a>

			<!-- // Follow and Unfollow buttons for users who aren't Opportunity Admin // -->

			<!-- // If user is NOT following the opportunity // -->
			<button ng-if="false && !vm.canEdit && !vm.notifyMe && vm.hasEmail" type="button" class="btn btn-sm btn-primary pull-right" uib-tooltip="Get email notifications if this opportunity changes." ng-click="vm.subscribe(true)"><i class="fa fa-bullhorn"></i> Follow</button>

			<!-- // If user IS following the opportunity // -->
			<button ng-if="false && vm.notifyMe" type="button" class="btn btn-sm btn-secondary pull-right" uib-tooltip="Stop receiving emails about this opportunity" ng-click="vm.subscribe(false)"><i class="fa fa-bullhorn"></i> Following</button>

			<!-- // User is NOT following the opportunity // -->
			<button ng-if="!vm.canEdit && !vm.isWatching && vm.hasEmail" type="button" class="btn btn-sm btn-primary pull-right" uib-tooltip="Get email notifications if this opportunity changes." ng-click="vm.addWatch()"><i class="fa fa-eye"></i> Watch</button>
			<!-- // User IS following the opportunity // -->
			<button ng-if="vm.isWatching" type="button" class="btn btn-sm btn-secondary pull-right" uib-tooltip="You’ll get an email if this opportunity changes" ng-click="vm.removeWatch()"><i class="fa fa-eye"></i> Un-Watch</button>
		</div>

		<!-- // Sprint With Us Terms // -->
		<!--
		<div class="row" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
			<div class="col-xs-12 text-center">
				<div class="alert alert-info">
					<p>This is a <b>Sprint With Us</b> opportunity governed by the <a href="/api/proposals/download/terms/swu1" target="_blank"><i class="fa fa-download"></i> terms</a> of our lightweight procurement model, <a href="/sprintwithus" target="_blank">Sprint With Us</a>.
					</p>
				</div>
			</div>
		</div>
		-->

		<!-- // Code With Us Terms // -->
		<!--
		<div class="row" ng-if="vm.opportunity.opportunityTypeCd === 'code-with-us'">
			<div class="col-xs-12 text-center">
				<div class="alert alert-info">
					<p>&nbsp;&nbsp; This is a <span class="strong">fixed-price</span> opportunity governed by the <a href="/api/proposals/download/terms/cwu1" target="_blank"><i class="fa fa-download"></i>terms</a>
						of our lightweight procurement model, <a href="/codewithus" target="_blank">Code With Us</a>.</p>
				</div>
			</div>
		</div>
		-->

		<div class="row" ng-if="vm.opportunity.isPublished">
			<div class="col-xs-12 text-center">
				<div ng-if="vm.closing !== 'CLOSED'">
					<p><label class="label label-lg label-success">OPEN</label> &nbsp; <i class="fa fa-lg fa-clock-o"></i> &nbsp;Proposals must be received through this website before <strong>{{vm.deadline}}</strong>.</p>
				</div>
				<div ng-if="vm.closing === 'CLOSED'">
					<p><label class="label label-lg label-danger">CLOSED</label> &nbsp; This opportunity closed on <strong>{{vm.deadline}}</strong>.</p>
				</div>
				
				<!-- Opportunity has been assigned. -->
				<div class="text-center" ng-if="vm.stageIs('assigned')">
					<span class="light">This opportunity has been awarded to:</span>
					&nbsp;
					<img class="img-avatar-flat img-avatar-sm" src="{{((vm.opportunity.proposal.org.orgImageURL.substr(0,1) == '/') ? '' : '/') + vm.opportunity.proposal.org.orgImageURL}}">
					&nbsp;
					<strong>{{vm.opportunity.proposal.businessName}}</strong>
				</div>

			</div>
		</div>

		<!-- // Title and Teaser // -->
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 class="opp-detail">{{vm.opportunity.name}}</h1>
				<p ng-bind="vm.opportunity.short"></p>
				<hr>
				<br>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<dl class="dl-horizontal">
					<dt>Work Location:</dt>
					<dd><i class="fa fa-map-marker"></i>&nbsp;{{vm.opportunity.location}}</dd>
					<dt>On-site requirements:</dt>
					<dd>
						<span ng-if="vm.opportunity.onsite == 'offsite'">In-person work NOT required</span>
						<span ng-if="vm.opportunity.onsite == 'onsite'">In-person work required</span>
						<span ng-if="vm.opportunity.onsite == 'mixed'">Some in-person work required</span>
						<span class="label label-warning" ng-repeat="code in vm.opportunity.skills">{{code}}</span>
					</dd>
				</dl>

				<!--
				<div class="label-list" style="padding-top: 4px; padding-bottom: 10px;">
					<span class="label label-location"><i class="fa fa-map-marker"></i>&nbsp;{{vm.opportunity.location}}</span>
					<span class="label label-location" ng-if="vm.opportunity.onsite == 'offsite'"><i class="fa fa-user"></i>&nbsp;In-person work NOT required</span>
					<span class="label label-location" ng-if="vm.opportunity.onsite == 'onsite'"><i class="fa fa-user"></i>&nbsp;In-person work required</span>
					<span class="label label-location" ng-if="vm.opportunity.onsite == 'mixed'"><i class="fa fa-user"></i>&nbsp;Some in-person work required</span>
					<span class="label label-warning" ng-repeat="code in vm.opportunity.skills">{{code}}</span>
				</div>
			-->
			</div>

			<div class="col-xs-12 col-sm-6">
				<dl class="dl-horizontal">
					<dt ng-if="vm.canApply">Government Contact:</dt>
					<dd ng-if="vm.canApply">
						<a ng-if="vm.opportunity.createdBy" href="mailto:bcdevexchange.empr@gov.bc.ca" analytics-on><i class="fa fa-user-circle-o"></i> {{vm.opportunity.createdBy.displayName}}</a>
						<span ng-if="!vm.opportunity.createdBy"><i class="fa fa-user-circle-o"></i> Deleted User</span>
					</dd>
					<dt>Program:</dt>
					<dd>
						<a ng-if="vm.opportunity.program"  id="programs.view" ui-sref="programs.view({programId:vm.opportunity.program.code})"><i class="fa fa-university"></i> {{vm.opportunity.program.title}}</a>
						<span ng-if="!vm.opportunity.program" class="text-muted">No program</span>
					</dd>
					<dt>Project:</dt>
					<dd>
						<a ng-if="vm.opportunity.project"  id="projects.view" ui-sref="projects.view({projectId:vm.opportunity.project.code})"><i class="fa fa-pie-chart"></i> {{vm.opportunity.project.name}}</a>
						<span ng-if="!vm.opportunity.project" class="text-muted">No project</span>
					</dd>
					<!-- github link -->
					<dt>Code:</dt>
					<dd>
					<a ng-if="vm.opportunity.github && vm.opportunity.github.length > 0" href="{{vm.opportunity.github}}" rel="nofollow" target="_blank"><i class="fa fa-github"></i> GitHub Repository</a>
					</dd>
				</dl>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">Enquiries</h3>
				<p ng-if="vm.canApply">Direct enquiries regarding this RFP to the Government Contact and see also section 1.4 of the terms and conditions located on the Terms tab.</p>
				<p ng-if="!vm.canApply">To enquire regarding this RFP, your company must first respond to the Sprint With Us Request for Qualifications. <a href="/sprintwithus-howtoapply">Follow these instructions</a>.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">Proponents' Meeting</h3>
				<p>A Proponents' meeting will not be held.</p>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">Background</h3>
				<p ng-bind-html="vm.display.description"></p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-12">
				<uib-accordion>
					<div uib-accordion-group is-open="!accordian1" ng-click="accordian1=!accordian1">
						<uib-accordion-heading>
							Scope &amp; Contract <i>(<span ng-if="!accordian1">click to hide details</span><span ng-if="accordian1">click to show details</span>)</i>
						</uib-accordion-heading>
						<p><strong>Scope</strong></p>
						<p>Proponents should be sure to review all the defined terms set out in the terms and conditions on the Terms tab.</p>
						<p>The purpose of this RFP is to invite Qualified Suppliers to submit a Proposal, that in addition to satisfying the other requirements of the RFP, nominates a Team comprised of Resources possessing the Capabilities, skills and other requirements described in the RFP for use in the development of the software Product described in the Background section above.</p>
						<p>On the Select Team tab of the Proposal, Proponents are asked to propose the exact number of Resources they wish to allocate to their Team, based on their analysis of the Opportunity.</p>
						<p>Proponents should note that this RFP is not intended to create an exclusive service deal in favour of the Contractor and that the use of the Contractor’s services for any one or more Phases of the Opportunity is not guaranteed.  This RFP is not intended to fetter the right of the Province to procure the same or similar services described in connection with the Opportunity by whatever means its deems necessary or desirable; and the Province reserves the right to source any Teams, Resources or related services by other means, or do nothing.</p>
						<p><strong>Contract</strong></p>
						<p><strong>1.	Form of Contract</strong></p>
						<p>Proponents should review carefully all of the terms and conditions of the <a href="/api/proposals/download/terms/serviceagreement" target="_blank"> Contract </a>.</p>
						<p>Proponents should also refer to section 1.13 of the terms and conditions set out on the Terms tab.</p>
						<p>Without overshadowing any of the Contract content, Proponents should note the following service requirements and select contract terms.  Proponents should also note that certain terminology appearing as defined in this section on the Contract may be defined in Schedule A to the Contract.</p>
						<p><strong>2.	Service Requirements</strong></p>
						<p>If the Proponent becomes the Contractor pursuant to the RFP, the Contractor’s Team will work collaboratively with the Province by delivering services to develop the Product using the Agile scrum process as set out in the Contract.  An Opportunity may include one or more of the following Phases during which the Team will help develop the Product iteratively.  If included in the Opportunity, during the Inception Phase, the Team will work from an initial Product Roadmap, and create an initial Product Backlog for the ensuing second Proof of Concept Phase. The outcomes for the Proof of Concept Phase will be a working alpha release of the Product, an updated Product Roadmap and a resourcing plan for the Implementation Phase.  During the Implementation Phase, the Contractor will work with the Province to accomplish the business goals described in the Product Roadmap.</p>
						<p><strong>3.	Select Contract Terms</strong></p>
						<p>The Province may terminate the Contract for any reason by giving 14 Business Days’ written notice of termination to the Contractor at any time after the completion of at least three Sprints in any of the Inception, Proof of Concept or Implementation Phases.</p>
						<p>Proponents should note that the Province will issue payment of 90% the Total Phase Cost for each Phase in monthly payments over the number of months identified on the pricing tab in the RFP, which will be distributed with a 10% holdback to be released upon completion of deliverables, all according to the terms set out in the Contract.</p>
						<p>Early completion of the Inception or Proof of Concept Phases (if applicable): Should the Province issue either the Inception Completion Notice or the Proof of Concept Completion Notice, as applicable, prior to the end of the applicable Phase, as identified in the Contract, the Province will pay the Contractor both the holdback for that Phase as well as the total remaining monthly fees that would have been paid had the deliverables been completed over the number of months for that Phase set out below .</p>
						<p>Early completion of the Implementation Phase only (if applicable):  Should the Province issue the Final Acceptance Notice for the Product prior to the end of the timeframe for the Implementation Phase, as identified in the Contract, the Province will pay the Contractor both the Implementation Phase Holdback as well as an additional fee equal to twenty (20) percent of the total remaining monthly fees that would have been paid had the deliverables been completed over the number of months for that Phase set out below.</p>
					</div>
				</uib-accordion>
			</div>
		</div>

		<hr>

		<!-- // Budget // -->
		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">Budget</h3>
				<p>The Total Proponent Cost set out in the Proponent’s Proposal must not exceed <strong>{{vm.opportunity.budget|currency}} Cdn</strong> (inclusive of all expenses but exclusive of applicable taxes). This RFP system will not permit a Proponent to submit a Proposal unless this mandatory requirement is satisfied.</p>
			</div>
		</div>

		<hr>

		<!-- // Phases // -->
		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">Phases of Work</h3>
				<p>We need to carry out the following phases of work:</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-4" ng-if="vm.opportunity.phases.inception.isInception">
				<!--
				<uib-accordion class="panel-default">
					<div uib-accordion-group class="panel-default">
						<uib-accordion-heading>
							<i class="fa fa-map"></i> Inception
						</uib-accordion-heading>
						<div>During Inception, you'll take our business goals and discovery research and help us explore the potential value that a new digital product can bring. Then we'll work together to create the initial backlog for a Proof of Concept or Minimum Viable Product.</div>
						<hr>
						<div>
			    			<i class="fa fa-cubes"></i>
			    			<span class="strong">Deliverables</span><br>
			    			At the end of Inception, we should have happy stakeholders with a shared vision and a product backlog for a Proof of Concept, and maybe some updates to our Product Roadmap.
				    		</ul>
			    		</div>
					</div>
				</uib-accordion>
			-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title"><i class="fa fa-map"></i> Inception</div>
					</div>
					<div class="panel-body">
						Schedule:
						<div>
							<i class="fa fa-calendar"></i> &nbsp;
							<span class="strong">{{vm.opportunity.phases.inception.fstartDate}}</span>
							to
							<span class="strong">{{vm.opportunity.phases.inception.fendDate}}</span>
						</div>
						<hr>
						<h5>Required Capabilities&#42;</h5>
						<table class="table capabilities-list">
							<tbody>
								<tr ng-repeat="capability in vm.capabilities" ng-if="vm.inp.iOppCapabilities[capability.code]">
									<td><label class="label label-lg label-cap-default {{capability.labelClass}}"><i class="fa fa-circle"></i> {{capability.name}}</label><label class="label label-fulltime-selected" ng-if="vm.inp.iOppCapabilitiesCore[capability.code]">full time</label></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4" ng-if="vm.opportunity.phases.proto.isPrototype">
				<!--
				<uib-accordion>
					<div uib-accordion-group class="panel-default">
						<uib-accordion-heading>
							<i class="fa fa-rocket"></i> Proof of Concept
						</uib-accordion-heading>
						<div>In the Proof of Concept phase, we'll make our value propositions tangible and validate them. You'll code the core features we scoped out in Inception, working towards our Alpha release. By the end of this phase, we should have a plan for what it will take to fully implement and maintain the product long-term.</div>
						<hr>
						<div>
				    		<i class="fa fa-cubes"></i>
				    		<span class="strong">Deliverables</span><br>
				    		At the end of Proof of Concept, we should have:
				    		<ul>
				    			<li>Alpha release of the product</li>
				    			<li>A product roadmap</li>
				    			<li>A resourcing plan for Implementation</li>
				    		</ul>
			    		</div>
					</div>
				</uib-accordion>
			-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title"><i class="fa fa-rocket"></i> Proof of Concept</div>
					</div>
					<div class="panel-body">
						Schedule:
						<div>
							<i class="fa fa-calendar"></i> &nbsp;
							<span class="strong">{{vm.opportunity.phases.proto.fstartDate}}</span>
							to
							<span class="strong">{{vm.opportunity.phases.proto.fendDate}}</span>
						</div>
						<hr>
						<h5>Required Capabilities&#42;</h5>
						<table class="table capabilities-list">
							<tbody>
								<tr ng-repeat="capability in vm.capabilities" ng-if="vm.prp.iOppCapabilities[capability.code]">
									<td><label class="label label-lg label-cap-default {{capability.labelClass}}"><i class="fa fa-circle"></i> {{capability.name}}</label><label class="label label-fulltime-selected" ng-if="vm.prp.iOppCapabilitiesCore[capability.code]">full time</label></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-xs-12 col-sm-4" ng-if="vm.opportunity.phases.implementation.isImplementation">
				<!--
				<uib-accordion>
					<div uib-accordion-group class="panel-default">
						<uib-accordion-heading>
							<i class="fa fa-gears"></i> Implementation
						</uib-accordion-heading>
						<div>If we proceed with your team into Implementation, we'll be fully invested in our new product and have a clear intention to continuously improve it. Now we'll need your expertise to carefully architect and automate the delivery pipeline for stability and continuous deployment.</div>
						<hr>
						<div>
				    		<i class="fa fa-cubes"></i>
				    		<span class="strong">Deliverables</span><br>
				    		<ul>
				    			<li>Business goals in the product roadmap</li>
				    		</ul>
			    		</div>
					</div>
				</uib-accordion>
			-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title"><i class="fa fa-gears"></i> Implementation</div>
					</div>
					<div class="panel-body">
						Schedule:
						<div>
							<i class="fa fa-calendar"></i> &nbsp;
							<span class="strong">{{vm.opportunity.phases.implementation.fstartDate}}</span>
							to
							<span class="strong">{{vm.opportunity.phases.implementation.fendDate}}</span>
						</div>
						<hr>
						<h5>Required Capabilities&#42;</h5>
						<table class="table capabilities-list">
							<tbody>
								<tr ng-repeat="capability in vm.capabilities" ng-if="vm.imp.iOppCapabilities[capability.code]">
									<td><label class="label label-lg label-cap-default {{capability.labelClass}}"><i class="fa fa-circle"></i> {{capability.name}}</label><label class="label label-fulltime-selected" ng-if="vm.imp.iOppCapabilitiesCore[capability.code]">full time</label></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div>
			<p>&#42;Capabilities are claimed by individuals in their personal profile. View all our capability definitions <a href="/capabilities" target="_blank">here</a>.</p>
		</div>

		<hr>

		<!-- // Terms & Conditions // -->
		<!--
		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">Terms &amp; Conditions</h3>
				<p>This is a <i>Sprint With Us</i> opportunity governed by <a href="">these terms</a>.</p>
				<p><span class="small">Additional terms:</span><br>
				<span ng-bind-html="vm.trust(vm.opportunity.terms)"></span></p>
			</div>
		</div>

		<hr>
		-->

		<!-- // How to Apply // -->
		<div class="row" ng-if="true && vm.closing !== 'CLOSED'">
			<div class="col-xs-12">
				<h3 class="opp-detail">Request for Proposals</h3>
				<p>Submit your proposal before <span class="strong">{{vm.deadline}}</span>.</p>
				<p>We will let you know after the Closing Time whether or not your Team has been shortlisted.</p>
				<p>Thanks for your interest!</p>
				<proposal-apply opportunity="vm.opportunity" proposal="vm.myproposal"></proposal-apply>
			</div>	
			<hr>	
		</div>		
		


		<!-- // Proposal Evaluation Criteria // -->
		<!--
		<div class="row">
			<div class="col-xs-12">
				<h3 class="opp-detail">Proposal Evaluation Criteria</h3>
				<p>Here's how your proposal will be scored:</p>

				<uib-accordion>
					<div uib-accordion-group class="panel-default">
						<uib-accordion-heading>
							<i class="fa fa-group"></i> &nbsp;
							Team's Capabilities &amp; Skills <span class="pull-right">20 points</span>
						</uib-accordion-heading>
						<div class="row">
							<p>In order for your company to submit a proposal, first you must qualify by building an interdisciplinary team of 2 or more people with all of the capabilities.</p>
							<p>When applying for this opportunity, the team members you put forward must collectively possess all the <span class="strong">required capabilities</span> and be available for the time periods stated for each phase.</p>
							<p>Your proposed team will be evaluated based upon their capabilities.</p>
							<p>You may also see a list of <span class="strong">preferred technical skills</span>. The more of these your team has, the higher they'll score.</p>
						</div>
					</div>
				</uib-accordion>

				<uib-accordion>
					<div uib-accordion-group class="panel-default">
						<uib-accordion-heading>
							<i class="fa fa-pencil"></i> &nbsp;
							Team Questions <span class="pull-right">20 points</span>
						</uib-accordion-heading>
						<div class="row">
							<p>In your proposal, you will be asked to answer 5 or more questions about your team (we suggest that each answer should be about <u>300 words</u>).</p>
							<p>The evaluation committee will rank companies' responses to the team questions from strongest to weakest, <strong>without being able to see the identity of the company</strong>.</p>
						</div>
					</div>
				</uib-accordion>

				<uib-accordion>
					<div uib-accordion-group class="panel-default">
						<uib-accordion-heading>
							<i class="fa fa-code"></i> &nbsp;
							Code Challenge<span class="pull-right">25 points</span>
						</uib-accordion-heading>
						<div class="row">
							<p>Depending upon your proposal score, your team may be screened in for a Code Challenge.</p>
							<p>Either way, you'll be notified promptly whether your team is in the running.</p>
							<p>A maximum of 4 teams will be invited to complete the Code Challenge. Teams will be given 5 (five) business days to complete the Code Challenge in GitHub.</p>
							<p>The challenge will be evaluated by two independent evaluators and a static code evaluator. Those who complete the Code Challenge and meet the evaluation requirements will then proceed to the Team Scenario.</p>
						</div>
					</div>
				</uib-accordion>

				<uib-accordion>
					<div uib-accordion-group class="panel-default">
						<uib-accordion-heading>
							<i class="fa fa-comments"></i> &nbsp;
							Team Scenario<span class="pull-right">25 points</span>
						</uib-accordion-heading>
						<div class="row">
							<p>Teams that successfully complete the Code Challenge will be invited to participate in a 3-hour Team Scenario.</p>
							<p>At the start of the meeting, your team will be presented with a scenario where they can demonstrate their capabilities and how they work as a team under pressure.</p>
							<p>This will be followed by questions of your team from the evaluation panel, including follow up questions on both the Scenario and Code Challenge.</p>
							<p>Your entire team should participate in the Team Scenario. This can be arranged either in person or by video conference.</p>
						</div>
					</div>
				</uib-accordion>

				<uib-accordion>
					<div uib-accordion-group class="panel-default">
						<uib-accordion-heading>
							<i class="fa fa-usd"></i> &nbsp;
							Pricing<span class="pull-right">10 points</span>
						</uib-accordion-heading>
						<div class="row">
							<p>These are not time and materials contracts.</p>
							<p>In your proposal, for each phase submit a fixed price for your team to meet the deliverables in the time period. Depending upon the capabilities and phase, some of your team members will be needed full-time. </p>
							<p>There are incentives in the contract to deliver early for a phase.</p>
							<p>Your pricing will be evaluated based on a formula that compares your bid in relation to the lowest and highest bids.</p>
						</div>
					</div>
				</uib-accordion>

				<div class="panel-default panel-body">
					<h5 style="margin-top: 0">Total<span class="pull-right">/100 points</span></h5>
				</div>
			</div>
		</div>
		-->
	</div>


</section>
