<!-- Persistent banners for Opportunity Creators -->
<!-- // Code With Us // -->
<div class="banner banner-important" ng-if="vm.opportunity.opportunityTypeCd !== 'sprint-with-us'">
	<div class="container">
		By posting an opportunity on the BCDevExchange, you are agreeing to follow the <a href="/api/proposals/download/terms/cwu1" target="_blank"><i class="fa fa-download"></i> terms</a> of our lightweight procurement model, Code With Us. Make sure you're familiar with the process and understand your responsibilities for managing an opportunity. <a href="https://github.com/BCDevExchange/code-with-us/wiki/2.-For-Public-Sector-Employees:-How-to-Manage-a-Code-With-Us-Opportunity" target="_blank">Read the guide</a><
	</div>
</div>

<!-- // Sprint With Us // Hide this until we have content for it -->
<!--
<div class="banner banner-important" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
	<div class="container">
		By posting an opportunity on the BCDevExchange, you are agreeing to follow the <a href="/api/proposals/download/terms/cwu1" target="_blank"><i class="fa fa-download"></i> terms</a> of our streamlined procurement model, Sprint With Us. Make sure you're familiar with the process and understand your responsibilities for managing an opportunity. <a href="https://github.com/BCDevExchange/code-with-us/wiki/2.-For-Public-Sector-Employees:-How-to-Manage-a-Code-With-Us-Opportunity" target="_blank">Read the guide</a>
	</div>
</div>
-->

<section class="edit-form-background" role="main">

	<form id="opportunityForm" warn-on-exit name="vm.opportunityForm" class="form" ng-submit="vm.save(vm.opportunityForm.$valid)" novalidate>


		<div class="edit-form">

			<div class="edit-form-header">
				<span class="gray"><i class="fa fa-group"></i> Sprint With Us Opportunity:</span> &nbsp;
				<span ng-if="vm.editing">{{vm.opportunity.name}}</span>
				<span ng-if="!vm.editing">New Opportunity {{vm.opportunity.name}}</span>
				<a ui-sref="opportunities.viewswu({opportunityId:vm.opportunity.code})" ng-if="vm.opportunity._id" class="btn btn-text-only pull-right" title="Close"><i class="fa fa-lg fa-times"></i></a>
				<a ui-sref="opportunities.list()" ng-if="!vm.opportunity._id" class="btn btn-text-only pull-right" title="Close"><i class="fa fa-lg fa-times"></i></a>
			</div>

			
			<uib-tabset active class="edit-form-tabs">
				<uib-tab index="0">
					<uib-tab-heading>
						Header
					</uib-tab-heading>
					<div ng-include="'/modules/opportunities/client/views/swu-opportunity-edit-title.html'"></div>
				</uib-tab>
				<uib-tab index="2">
					<uib-tab-heading>
						Background
					</uib-tab-heading>
					<div ng-include="'/modules/opportunities/client/views/swu-opportunity-edit-description.html'"></div>
				</uib-tab>
				<uib-tab index="6">
					<uib-tab-heading>
						Details
					</uib-tab-heading>
					<div ng-include="'/modules/opportunities/client/views/swu-opportunity-edit-details.html'"></div>
				</uib-tab>
				<uib-tab index="7">
					<uib-tab-heading>
						Phases
					</uib-tab-heading>
					<div ng-include="'/modules/opportunities/client/views/swu-opportunity-edit-phases.html'"></div>
				</uib-tab>
				<uib-tab index="12" select="vm.selectSkills()">
					<uib-tab-heading>
						Preferred Technical Skills
					</uib-tab-heading>
					<div ng-include="'/modules/opportunities/client/views/swu-opportunity-edit-skills.html'"></div>
				</uib-tab>
				<uib-tab index="13">
					<uib-tab-heading>
						Budget
					</uib-tab-heading>
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="well">
								<label for="budget">What's your total max budget for this team?</label>
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" ng-model="vm.opportunity.budget" id="budget" model-format="currency" class="form-control text-right" aria-label="Amount (to the nearest dollar)">
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="well">This is your signal to companies about the total amount of money they could potentially earn by working with you. This is the budget you are planning to use up if everything goes right....getting as far as you can with the team into the Implementation phase....
							</div>
						</div>
					</div>
				</uib-tab>
				<uib-tab index="14">
					<uib-tab-heading>
						Terms and Conditions
					</uib-tab-heading>
					<div ng-include="'/modules/opportunities/client/views/swu-opportunity-edit-terms.html'"></div>
				</uib-tab>
			</uib-tabset>

			<div class="edit-form-footer">
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" href="javascript:void(0);" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save Changes</button>
						<a href="javascript:void(0);" ng-if="vm.editing && vm.closing == 'OPEN'" class="btn btn-text-only" ng-click="vm.remove()" title="Remove"><i class="fa fa-trash"></i> Delete this Opportunity</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>



