<div class="back-nav">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/opportunities"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;All Opportunities</a>
      </div>
    </div>
  </div>
</div>

<section class="detail-page-background">

  <div class="container">
<!-- If opportunity is still open, show proposal stats -->
    <div class="row" ng-if="vm.opportunity.isPublished && vm.canEdit && !vm.isClosed()">
      <div class="col border p-4">
        <proposal-list ng-if="vm.canEdit && vm.opportunity.isPublished" isclosed="vm.isClosed()" context="opportunity"
          opportunity="vm.opportunity"></proposal-list>
      </div>
    </div>

    <!-- SWU Proposal section for Admins to view and enter evaluation -->
    <opportunity-evaluation ng-if="vm.canEdit && vm.isClosed()" opportunity="vm.opportunity"></opportunity-evaluation>
  </div>


  <br>

  <div class="container">

    <!-- // Admin View / if opportunity is in DRAFT and INCOMPLETE // -->
    <div class="alert alert-warning" ng-if="!vm.canPublish && vm.canEdit">
      <span class="strong"><i class="fas fa-exclamation-triangle"></i> Your opportunity is missing stuff!</span> Before
      you can publish, you'll need to define these things:
      <ul>
        <li ng-repeat="fname in vm.errorFields">{{fname}}</li>
      </ul>
    </div>

    <!-- // Proposal Application Directive // -->
    <div class="row" ng-if="!vm.isClosed()">
      <div class="col px-0">
        <proposal-apply opportunity="vm.opportunity" proposal="vm.myproposal" org="vm.org"></proposal-apply>
      </div>

    </div>

    <!-- Export button for downloading proposal submitted - visible to proposal submitters only -->
    <div class="row">
      <div class="alert alert-info" ng-if="vm.myproposal._id">
        You started or submitted a proposal on this opportunity.&nbsp; <a href="/api/opportunities/{{vm.opportunity._id}}/myProposalArchive"
          target="_blank"><i class="fas fa-download"></i> Download My Proposal</a>
      </div>
    </div>

    <br />

  </div>

  <div class="container border p-4">
    <div class="opp-detail-header">
      <div class="row">
        <div class="col-sm-8">
          Published on <span class="strong" ng-bind="vm.formatDate(vm.opportunity.lastPublished)"></span>
          <br>
          Last updated on <span class="strong" ng-bind="vm.formatDate(vm.opportunity.updated)"></span>
          by <span ng-if="vm.opportunity.updatedBy" ng-bind=" vm.opportunity.updatedBy.displayName"></span>
          <span ng-if="!vm.opportunity.updatedBy">Deleted User</span>
          <br>
          This RFP is a Competition Notice under RFQ No. ON‌-003166 and is restricted to Proponents that have become
          Qualified Suppliers pursuant to that RFQ.
        </div>

        <!-- PUBLISH -->
        <div class="col-sm-4">
          <a data-automation-id="button-opportunity-publish" ng-if="vm.canPublish && vm.canEdit && !vm.opportunity.isPublished" class="btn btn-primary text-white float-right"
            ng-click="vm.publish(true)" title="Publish this Opportunity">
            <i class="fa fa-bullhorn text-white"></i>
            Publish

          </a>

          <!-- EDIT -->
          <a class="btn btn-text-only float-right" ng-if="vm.canEdit" ui-sref="opportunityadmin.editswu({opportunityId:vm.opportunity.code})"
            uib-tooltip="Edit Opportunity" data-automation-id="btnEditOpportunity">
            <i class="fas fa-pencil-alt"></i>
          </a>

          <!-- WATCH -->
          <a class="btn btn-text-only float-right" ng-if="vm.hasEmail && !vm.isClosed()" ng-class="{'text-primary': vm.isWatching, 'text-secondary': !vm.isWatching }"
            uib-tooltip="Youll get an email if this opportunity changes" ng-click="vm.toggleWatch()">
            <i class="fas fa-eye"></i>
          </a>

          <!-- UNPUBLISH -->
          <a ng-if="vm.canEdit && vm.opportunity.isPublished" class="btn btn-text-only float-right" ng-click="vm.publish(false)"
            uib-tooltip="Unpublish this Opportunity">
            <i class="fas fa-ban"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="row" ng-if="vm.opportunity.isPublished">
      <div class="col text-center">
        <div ng-if="!vm.isClosed()">
          <p><label class="label label-lg label-success">OPEN</label> &nbsp; <i class="far fa-lg fa-clock"></i>
            &nbsp;Proposals must be received through this website before <strong>{{ vm.formatDate(vm.opportunity.deadline, true) }}</strong>.</p>
        </div>
        <div ng-if="vm.isClosed()">
          <p><label class="label label-lg label-danger">CLOSED</label> &nbsp; This opportunity closed on <strong>{{ vm.formatDate(vm.opportunity.deadline, true) }}</strong>.</p>
        </div>

        <!-- Opportunity has been assigned. -->
        <div class="text-center" ng-if="vm.opportunity.proposal">
          <span class="text-black-50">This opportunity has been awarded to:</span>
          &nbsp;
          <img class="img-avatar-flat img-avatar-sm" src="{{((vm.opportunity.proposal.imageUrl.substr(0,1) == '/') ? '' : '/') + vm.opportunity.proposal.imageUrl}}">
          &nbsp;
          <strong>{{vm.opportunity.proposal.proponentName}}</strong>
        </div>

      </div>
    </div>

    <!-- // Title and Teaser // -->
    <div class="row">
      <div class="col text-center">
        <h1 class="opp-detail">{{vm.opportunity.name}}</h1>
        <p ng-bind="vm.opportunity.short"></p>
        <hr>
        <br>
      </div>
    </div>

    <!-- Opportunity details -->
    <div class="row">
      <div class="col-md-6">
        <dl class="row mb-2">
          <dt class="col-5 text-right text-muted pr-0">Location:</dt>
          <dd class="col-7 text-left"><i class="fas fa-map-marker"></i>&nbsp;{{ vm.opportunity.location }}</dd>
        </dl>
        <dl class="row mb-2">
          <dt class="col-5 text-right text-muted pr-0">On-site requirements:</dt>
          <dd class="col-7 text-left">
            <span ng-if="vm.opportunity.onsite == 'offsite'">In-person work NOT required</span>
            <span ng-if="vm.opportunity.onsite == 'onsite'">In-person work required</span>
            <span ng-if="vm.opportunity.onsite == 'mixed'">Some in-person work required</span>
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-5 text-right text-muted pr-0">Required skills:</dt>
          <dd class="col-7 text-left">
            <div class="label-list">
              <label class="label label-skill" ng-repeat="skill in vm.capabilitySkills">{{skill.name}}</label>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="row mb-2">
          <dt class="col-5 text-right text-muted pr-0" ng-if="vm.canApply">Government Contact:</dt>
          <dd class="col-7 text-left" ng-if="vm.canApply">
            <a ng-if="vm.opportunity.createdBy" id="creator.view" href="mailto:bcdevexchange.empr@gov.bc.ca"><i
              class="far fa-user-circle"></i> {{vm.opportunity.createdBy.displayName}}</a>
            <span ng-if="!vm.opportunity.createdBy">Deleted User</span>
          </dd>
        </dl>
        <dl class="row mb-2">
          <dt class="col-5 text-right text-muted pr-0">Program:</dt>
          <dd class="col-7 text-left">
            <a ng-if="vm.opportunity.program" id="programs.view" ui-sref="programs.view({programId:vm.opportunity.program.code})"><i
                class="fas fa-university"></i> {{vm.opportunity.program.title}}</a>
            <span ng-if="!vm.opportunity.program" class="text-muted">No program</span>
          </dd>
        </dl>
        <dl class="row mb-2">
          <dt class="col-5 text-right text-muted pr-0">Project:</dt>
          <dd class="col-7 text-left">
            <a ng-if="vm.opportunity.project" id="projects.view" ui-sref="projects.view({projectId:vm.opportunity.project.code})"><i
                class="fas fa-chart-pie"></i> {{vm.opportunity.project.name}}</a>
            <span ng-if="!vm.opportunity.project" class="text-muted">No project</span>
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-5 text-right text-muted pr-0">Code:</dt>
          <dd class="col-7 text-left">
            <a ng-if="vm.opportunity.github && vm.opportunity.github.length > 0" href="{{vm.opportunity.github}}" rel="nofollow"
              target="_blank"><i class="fab fa-github"></i> GitHub Repository</a>
          </dd>
        </dl>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">
        <h3 class="opp-detail">Enquiries</h3>
        <p ng-if="vm.canApply">Direct enquiries regarding this RFP to the Government Contact and see also section 1.4
          of the terms and conditions located on the Terms tab.</p>
        <p ng-if="!vm.canApply">To enquire regarding this RFP, your company must first respond to the Sprint With Us
          Request for Qualifications. <a href="/sprintwithus-howtoapply">Follow these instructions</a>.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h3 class="opp-detail">Proponents' Meeting</h3>
        <p>A Proponents' meeting will not be held.</p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        <h3 class="opp-detail">Background</h3>
        <p ng-bind-html="vm.opportunity.description"></p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        <uib-accordion>
          <div uib-accordion-group is-open="!accordian1" ng-click="accordian1=!accordian1">
            <uib-accordion-heading>
              Scope &amp; Contract <i>(<span ng-if="!accordian1">click to hide details</span><span ng-if="accordian1">click
                  to show details</span>)</i>
            </uib-accordion-heading>
            <p><strong>Scope</strong></p>
            <p>Proponents should be sure to review all the defined terms set out in the terms and conditions on the
              Terms tab.</p>
            <p>The purpose of this RFP is to invite Qualified Suppliers to submit a Proposal, that in addition to
              satisfying the other requirements of the RFP, nominates a Team comprised of Resources possessing the
              Capabilities, skills and other requirements described in the RFP for use in the development of the
              software Product described in the Background section above.</p>
            <p>On the Select Team tab of the Proposal, Proponents are asked to propose the exact number of Resources
              they wish to allocate to their Team, based on their analysis of the Opportunity.</p>
            <p>Proponents should note that this RFP is not intended to create an exclusive service deal in favour of
              the Contractor and that the use of the Contractor’s services for any one or more Phases of the
              Opportunity is not guaranteed.  This RFP is not intended to fetter the right of the Province to procure
              the same or similar services described in connection with the Opportunity by whatever means its deems
              necessary or desirable; and the Province reserves the right to source any Teams, Resources or related
              services by other means, or do nothing.</p>
            <p><strong>Contract</strong></p>
            <p><strong>1. Form of Contract</strong></p>
            <p>Proponents should review carefully all of the terms and conditions of the <a href="/terms/serviceagreement"
                target="_blank"> Contract </a>.</p>
            <p>Proponents should also refer to section 1.13 of the terms and conditions set out on the Terms tab.</p>
            <p>Without overshadowing any of the Contract content, Proponents should note the following service
              requirements and select contract terms.  Proponents should also note that certain terminology appearing
              as defined in this section on the Contract may be defined in Schedule A to the Contract.</p>
            <p><strong>2. Service Requirements</strong></p>
            <p>If the Proponent becomes the Contractor pursuant to the RFP, the Contractor’s Team will work
              collaboratively with the Province by delivering services to develop the Product using the Agile scrum
              process as set out in the Contract.  An Opportunity may include one or more of the following Phases
              during which the Team will help develop the Product iteratively.  If included in the Opportunity, during
              the Inception Phase, the Team will work from an initial Product Roadmap, and create an initial Product
              Backlog for the ensuing second Proof of Concept Phase. The outcomes for the Proof of Concept Phase will
              be a working alpha release of the Product, an updated Product Roadmap and a resourcing plan for the
              Implementation Phase.  During the Implementation Phase, the Contractor will work with the Province to
              accomplish the business goals described in the Product Roadmap.</p>
            <p><strong>3. Select Contract Terms</strong></p>
            <p>The Province may terminate the Contract for any reason by giving 14 Business Days’ written notice of
              termination to the Contractor at any time after the completion of at least three Sprints in any of the
              Inception, Proof of Concept or Implementation Phases.</p>
            <p>Proponents should note that the Province will issue payment of 90% the Total Phase Cost for each Phase
              in monthly payments over the number of months identified on the pricing tab in the RFP, which will be
              distributed with a 10% holdback to be released upon completion of deliverables, all according to the
              terms set out in the Contract.</p>
            <p>Early completion of the Inception or Proof of Concept Phases (if applicable): Should the Province issue
              either the Inception Completion Notice or the Proof of Concept Completion Notice, as applicable, prior to
              the end of the applicable Phase, as identified in the Contract, the Province will pay the Contractor both
              the holdback for that Phase as well as the total remaining monthly fees that would have been paid had the
              deliverables been completed over the number of months for that Phase set out below .</p>
            <p>Early completion of the Implementation Phase only (if applicable):  Should the Province issue the Final
              Acceptance Notice for the Product prior to the end of the timeframe for the Implementation Phase, as
              identified in the Contract, the Province will pay the Contractor both the Implementation Phase Holdback
              as well as an additional fee equal to twenty (20) percent of the total remaining monthly fees that would
              have been paid had the deliverables been completed over the number of months for that Phase set out
              below.</p>
          </div>
        </uib-accordion>
      </div>
    </div>

    <hr>

    <!-- // Budget // -->
    <div class="row">
      <div class="col">
        <h3 class="opp-detail">Budget</h3>
        <p>The Total Proponent Cost set out in the Proponent’s Proposal must not exceed <strong>{{vm.opportunity.budget|currency}}
            Cdn</strong> (inclusive of all expenses but exclusive of applicable taxes). This RFP system will not permit
          a Proponent to submit a Proposal unless this mandatory requirement is satisfied.</p>
      </div>
    </div>

    <hr>

    <!-- // Phases // -->
    <div class="row">
      <div class="col">
        <h3 class="opp-detail">Phases of Work</h3>
        <p>We need to carry out the following phases of work:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 mb-2" ng-if="vm.opportunity.phases.inception.isInception">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-map"></i> Inception
          </div>
          <div class="card-body">
            Schedule:
            <div>
              <i class="fas fa-calendar"></i> &nbsp;
              <span class="small">{{vm.formatDate(vm.opportunity.phases.inception.startDate)}}</span>
              to
              <span class="small">{{vm.formatDate(vm.opportunity.phases.inception.endDate)}}</span>
            </div>
            <hr>
            <h5>Required Capabilities*</h5>
            <table class="table capabilities-list">
              <tbody>
                <tr ng-repeat="capability in vm.opportunity.phases.inception.capabilities">
                  <td>
                    <label class="label label-sm label-cap-default {{capability.labelClass}}">
                      <i class="fas fa-circle"></i>
                      {{capability.name}}
                    </label>
                    <label class="label label-fulltime-selected" ng-if="vm.isFullTime(capability, vm.opportunity.phases.inception.capabilitiesCore)">
                      F/T
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 mb-2" ng-if="vm.opportunity.phases.proto.isPrototype">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-rocket"></i> Proof of Concept
          </div>
          <div class="card-body">
            Schedule:
            <div>
              <i class="fas fa-calendar"></i> &nbsp;
              <span class="small">{{vm.formatDate(vm.opportunity.phases.proto.startDate)}}</span>
              to
              <span class="small">{{vm.formatDate(vm.opportunity.phases.proto.endDate)}}</span>
            </div>
            <hr>
            <h5>Required Capabilities&#42;</h5>
            <table class="table capabilities-list">
              <tbody>
                <tr ng-repeat="capability in vm.opportunity.phases.proto.capabilities">
                  <td>
                    <label class="label label-sm label-cap-default {{capability.labelClass}}">
                      <i class="fas fa-circle"></i>
                      {{capability.name}}
                    </label>
                    <label class="label label-fulltime-selected" ng-if="vm.isFullTime(capability, vm.opportunity.phases.proto.capabilitiesCore)">
                      F/T
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 mb-2" ng-if="vm.opportunity.phases.implementation.isImplementation">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-cogs"></i> Implementation
          </div>
          <div class="card-body">
            Schedule:
            <div>
              <i class="fas fa-calendar"></i> &nbsp;
              <span class="small">{{vm.formatDate(vm.opportunity.phases.implementation.startDate)}}</span>
              to
              <span class="small">{{vm.formatDate(vm.opportunity.phases.implementation.endDate)}}</span>
            </div>
            <hr>
            <h5>Required Capabilities&#42;</h5>
            <table class="table capabilities-list">
              <tbody>
                <tr ng-repeat="capability in vm.opportunity.phases.implementation.capabilities">
                  <td>
                    <label class="label label-sm label-cap-default {{capability.labelClass}}">
                      <i class="fas fa-circle"></i>
                      {{capability.name}}
                    </label>
                    <label class="label label-fulltime-selected" ng-if="vm.isFullTime(capability, vm.opportunity.phases.implementation.capabilitiesCore)">
                      F/T
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <p>&#42;Capabilities are claimed by individuals in their personal profile. View all our capability
          definitions <a href="/capabilities" target="_blank">here</a>.</p>
      </div>
    </div>

    <hr>

    <!-- // How to Apply // -->
    <div class="row" ng-if="!vm.isClosed()">
      <div class="col">
        <h3 class="opp-detail">Request for Proposals</h3>
        <p>Submit your proposal before <span class="strong">{{vm.formatDate(vm.opportunity.deadline, true)}}</span>.</p>
        <p>We will let you know after the Closing Time whether or not your Team has been shortlisted.</p>
        <p>Thanks for your interest!</p>
        <proposal-apply opportunity="vm.opportunity" proposal="vm.myproposal" org="vm.org"></proposal-apply>
      </div>
      <hr>
    </div>

  </div>


</section>
