<div class="mx-5 my-4">
  <fieldset>

    <form-display class="col-sm-12" x-options='{
				"title":"Additional Terms and Conditions",
				"name":"terms",
				"help":"Terms and Conditions for the proponents"
			}'>
      <textarea name="terms" id="terms" class="form-control input-sm" ui-tinymce="vm.TinyMceConfiguration" placeholder="Additional terms and conditions of the opportunity"
        ng-model="vm.opportunity.terms">
			</textarea>
    </form-display>

    <form-display class="col-sm-8" x-options='{
				"title":"Additional Documents",
				"name":"onsite",
				"help":"Additional Documents to Include"
			}'>
      <label class="checkbox-inline">
        <input type="checkbox" name="isInception" ng-model="vm.opportunity.isDocConflictOfInterest"> Conflict of
        Interest Document
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="isPrototype" ng-model="vm.opportunity.isDocNonDisclosure"> Non-Disclosure
        Agreement
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="isImplementation" ng-model="vm.opportunity.isDocRequestForReferences"> Request For
        References
      </label>
    </form-display>

  </fieldset>
</div>
