<div class="edit-form-tab-content">

  <!-- List of team questions -->
  <ol>
    <li ng-repeat="question in vm.teamQuestions" class="addendum-list-item">

      <!-- non-editing view -->
      <div ng-if="!vm.editingTeamQuestion || !(vm.teamQuestionEditIndex === $index)" class="addendum-item">
        <span class="addendum-created">Question: </span><div class="input-help alert alert-info" ng-bind-html="question.cleanQuestion"></div>
        <span class="addendum-created">Response Guideline: </span><div class="input-help alert alert-info" ng-bind-html="question.cleanGuideline"></div>
        <div class="addendum-created">Word Limit: {{question.wordLimit}}</div>
        <div class="addendum-created">Question Points: {{question.questionScore}}</div>
        <div>
          <button type="button" ng-click="vm.deleteTeamQuestion($index)">Delete</button>
          <button type="button" ng-click="vm.editTeamQuestion($index)">Edit</button>
        </div>
      </div>

      <!-- editing view -->
      <div ng-if="vm.editingTeamQuestion && vm.teamQuestionEditIndex === $index" class="addendum-item-editing">
          <div>&nbsp;</div>
          <fieldset>
              <form-display
                class="col-sm-12"
                x-options='{
                  "name":"teamQuestion"
                }'>
                Question:
                <textarea
                  name="teamQuestion"
                  id="teamQuestion"
                  class="form-control input-sm"
                  ui-tinymce="vm.tinymceOptions"
                  placeholder="Team Question"
                  ng-model="vm.currentTeamQuestionText">
                </textarea>
                <br>
                Response Guideline:
                <textarea
                  name="responseGuideline"
                  id="responseGuideline"
                  class="form-control input-sm"
                  ui-tinymce="vm.tinymceOptions"
                  placeholder="Response Guideline"
                  ng-model="vm.currentGuidelineText">
                </textarea>
                <table>
                  <tr>
                    <td align="right">Response Word Limit:&nbsp;&nbsp;</td>
                    <td><input type="number" ng-model="vm.currentQuestionWordLimit"></td>
                  </tr>
                  <tr>
                    <td align="right">Question Score:&nbsp;&nbsp;</td>
                    <td><input type="number" ng-model="vm.currentQuestionScore"></td>
                  </tr>
                </table>

              </form-display>

            </fieldset>
            <div>
              <button type="button" ng-click="vm.cancelEditTeamQuestion()">Cancel</button>
              <button type="button" ng-click="vm.saveEditTeamQuestion()">Save</button>
            </div>
      </div>

    </li>
  </ol>

  <!-- Add new team question button -->
  <div class="add-button-wrapper">
      <button ng-show="!vm.editingTeamQuestion" type="button" ng-click="vm.addNewTeamQuestion()">Add New</button>
  </div>
</div>

