<div class="col-sm-12">
	<fieldset>

		<form-display
			class="col-sm-12"
			x-options='{
				"title":"Prototype Phase Requirements",
				"name":"prototypephaserequirements",
				"help":"Prototype Phase Requirements"
			}'>

			<uib-accordion close-others="true">

				<div uib-accordion-group class="panel-default" ng-repeat="capability in vm.prototypeCapabilities" >
				<!-- <div uib-accordion-group class="panel-default" ng-repeat="idnum in ['c01','c02','c03','c04','c05','c06','c07','c08','c09','c10','c11','c12','c13']" > -->
					{{idnum=capability.key;""}}
					{{minimumYearsField=idnum+'_minimumYears';""}}
					{{desiredYearsField=idnum+'_desiredYears';""}}
					{{tagField=idnum+'_tags';""}}
					{{experienceField=idnum+'_experience';""}}
					{{ratingField=idnum+'_years';""}}
					{{newskillfield=idnum+'_newskill';""}}
					<uib-accordion-heading>
						<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.opportunity[minimumYearsField]>0, 'glyphicon-unchecked':vm.opportunity[minimumYearsField]===0}"></i>
							&nbsp; &nbsp;
							{{capability.text}}
							&nbsp; &nbsp;
							<span class="pull-right" ng-if="vm.opportunity[minimumYearsField]>0">
								<b>{{vm.opportunity[minimumYearsField]}}</b>{{vm.opportunity[minimumYearsField]>4?'+ years':' years'}} minimum
								<span ng-if="0"><b> &nbsp; | &nbsp; {{vm.opportunity[desiredYearsField]}}</b>{{vm.opportunity[desiredYearsField]>19?'+ years':' years'}} combined</span>
							</span>
						</small>
					</uib-accordion-heading>
					<form-display
						class="col-sm-12"
						x-options='{
							"title":"Capability Description"
						}'>
						{{capability.description}}
					</form-display>
					<br/>
					<div class="row">
						<div class="col-sm-12 form-group">
							<form-display
								class="col-sm-12"
								x-options='{
									"title":"Mimum Years of Experience Required for at least one team member (1 to 5+) ",
									"name":"{{minimumYearsField}}"
								}'>
								<div class="btn-group">
									<label class="btn btn-success" ng-click="vm.smin(minimumYearsField, desiredYearsField, 0)" ng-model="vm.opportunity[minimumYearsField]" title="Not required"          uib-btn-radio="0">Not Required</label>
									<label class="btn btn-success" ng-click="vm.smin(minimumYearsField, desiredYearsField, 1)" ng-model="vm.opportunity[minimumYearsField]" title="Junior"                uib-btn-radio="1">1</label>
									<label class="btn btn-success" ng-click="vm.smin(minimumYearsField, desiredYearsField, 2)" ng-model="vm.opportunity[minimumYearsField]" title="Junior / Intermediate" uib-btn-radio="2">2</label>
									<label class="btn btn-success" ng-click="vm.smin(minimumYearsField, desiredYearsField, 3)" ng-model="vm.opportunity[minimumYearsField]" title="Intermediate"          uib-btn-radio="3">3</label>
									<label class="btn btn-success" ng-click="vm.smin(minimumYearsField, desiredYearsField, 4)" ng-model="vm.opportunity[minimumYearsField]" title="Intermediate / Senior" uib-btn-radio="4">4</label>
									<label class="btn btn-success" ng-click="vm.smin(minimumYearsField, desiredYearsField, 5)" ng-model="vm.opportunity[minimumYearsField]" title="Senior"                uib-btn-radio="5">5 or More</label>
								</div>
							</form-display>
							<form-display
								ng-if="0"
								class="col-sm-12"
								x-options='{
									"title":"Desired Sum Years of Experience of combined team members (up to 20+)",
									"name":"{{desiredYearsField}}"
								}'>
								<div class="btn-group">
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 0)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="0">Not Required</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 1)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="1">1</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 2)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="2">2</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 3)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="3">3</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 4)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="4">4</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 5)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="5">5</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 6)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="6">6</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 7)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="7">7</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 8)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="8">8</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 9)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="9">9</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 10)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="10">10</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 11)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="11">11</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 12)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="12">12</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 13)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="13">13</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 14)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="14">14</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 15)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="15">15</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 16)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="16">16</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 17)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="17">17</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 18)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="18">18</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 19)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="19">19</label>
									<label class="btn btn-success" ng-click="vm.sdes(desiredYearsField, minimumYearsField, 20)" ng-model="vm.opportunity[desiredYearsField]" uib-btn-radio="20">20 or more</label>
								</div>
							</form-display>
							<select-list
								ng-model="vm.opportunity[tagField]"
								class="col-sm-12"
								x-type="arrayOfStrings"
								x-values="capability.tags"
								x-form="vm.opportunityForm"
								x-options='{
									"title":"Specific Skills",
									"id":"lkjasd",
									"name":"lkjasd",
									"single":false,
									"listStyle":"list-inline"
								}'>
							</select-list>
							<div class="col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Add new specific skill..." ng-model="vm[newskillfield]"\>
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="vm.addSkill(capability, tagField, vm[newskillfield], newskillfield)">Add</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</uib-accordion>
		</form-display>

	</fieldset>
</div>
