<div class="m-4">
  <div class="alert alert-primary" role="alert">
    Here are the capabilities you selected for your opportunity. If there are any preferred technical skills you
    would like the team to have, select them here.<br>
    <span class="strong">Note:</span> If teams don't have the preferred technical skills, they won't be disqualified
    from applying on your opportunity as long as they have the required capabilities.
  </div>
  <table>
    <tbody>
      <tr ng-repeat="capability in vm.allCapabilities" ng-if="vm.isCapabilitySelected(capability)">
        <th scope="row" >
          <label class="label label-lg label-cap-default {{capability.labelClass}}">
            <i class="fas fa-circle"></i>
            {{capability.name}}
          </label>
        </th>
        <td>
          <label-list>
            <label ng-repeat="skill in capability.skills" class="label mx-1" data-automation-id="lstSkills"
                   ng-class="{'label-preferred-skill': !vm.isSkillSelected(skill), 'label-preferred-skill-selected': vm.isSkillSelected(skill)}"
                   ng-click="vm.toggleSelectedSkill(skill)">
                    {{skill.name}}
            </label>
          </label-list>
        </td>
      </tr>
    </tbody>
  </table>
</div>
