<div class="modal-header">
	<button class="close" data-ng-click="close()"><i class="fa fa-times-thin"></i></button>
	<div class="modal-title">Rank Questionnaire Responses</div>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12 text-center">
			<p>For each question we have randomized the responses that teams submitted.</p>
			<h4>Using the arrow buttons, rank the responses from best (top) to worst (bottom) for all five questions.</h4>
			<ul uib-pagination items-per-page="1" total-items="data.totalQuestions" ng-model="data.currentPage" ng-change="pageChanged()"></ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table width="100%">
				<tr>
					<td width="65%">
						<div class="panel panel-primary" ng-repeat="question in data.model.questions" ng-if="data.currentPage===($index+1)">
							<div class="panel-heading text-center">
								<strong>
								Question: {{question[0].question}}
								</strong>
							</div>
							<table width="100%">
								<tr>
									<td width="15%">
										<ul dnd-list="question">
											<li ng-repeat="response in question" style="text-align:center;">
												Rank {{$index + 1}}
											</li>
										</ul>
									</td>
									<td width="100%">
										<ul dnd-list="question"
											dnd-inserted="inserted(item, index)">
											<li ng-repeat="response in question"
												dnd-draggable="response"
												dnd-moved="question.splice($index, 1)"
												dnd-effect-allowed="move"
												dnd-selected="data.model.selected = response"
												ng-class="{'selected': data.model.selected === response}">
												{{truncate(response.response)}}
											</li>
										</ul>
									</td>
								</tr>
							</table>
						</div>
					</td>
					<td width="35%">
						<div>
							<textarea ng-model="data.model.selected.response" type="text" name="txtarea" class="long-question" disabled></textarea>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer text-right">
	<button class="btn btn-primary" data-ng-click="ok()">Save my work & Close</button>
	<button class="btn btn-success" data-ng-click="commit()"><i class="fa fa-lock"></i> Lock in all rankings</button>
	<button class="btn btn-default" data-ng-click="close()">Cancel</button>
</div>
