<div class="container">
	<uib-tabset active>
		<uib-tab index="0">
			<uib-tab-heading>
				Background
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p ng-bind-html="vm.display.description"></p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1">
			<uib-tab-heading>
				Acceptance Criteria
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p>To be paid the fixed price for this opportunity, you need to meet all of the following criteria:</p>
					<p ng-bind-html="vm.display.criteria"></p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading>
				Evaluation Criteria
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p>Your proposal will be scored by this criteria:</p>
					<p ng-bind-html="vm.display.evaluation"></p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="3">
			<uib-tab-heading>
				How to Apply
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p>Submit your proposal before <span class="strong">{{vm.deadline}}</span>.</p>
					<p>We plan to assign this opportunity by <span class="strong">{{vm.assignment}}</span> with work to start on <span class="strong">{{vm.start}}</span>.</p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="4" ng-if="vm.canEdit && vm.opportunity.isPublished">
			<uib-tab-heading>
				Proposals
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<proposal-list ng-if="vm.opportunity.status === 'Pending' && vm.canEdit && vm.opportunity.isPublished" isclosed="vm.closing === 'CLOSED'" context="opportunity" opportunity="vm.opportunity" title="Proposals received"></proposal-list>
				</div>
				<div class="col-xs-12" ng-if="vm.canEdit && vm.closing === 'CLOSED'">
					<a class="btn btn-default" href="/api/proposals/archive/opportunity/{{vm.opportunity._id}}" target="_blank"><i class="fa fa-download"></i> Download Proposals Archive</a>
				</div>
				<br/>
				<div ng-if="vm.opportunity.status !== 'Pending' && vm.opportunity.proposal">
					<h4>Opportunity Assigned to</h4>
					<div class="card card-block">
						<div class="card-img">
							<img class="card-img-left" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}"/>
						</div>

						<div class="col-md-5">
							<h4 class="card-title" style="font-size: 17px; padding-top: 6px; margin-bottom: 4px;">{{vm.opportunity.proposal.user.firstName}} {{vm.opportunity.proposal.user.lastName}}</h4>
							<p>Attachments: {{vm.opportunity.proposal.attachments.length}}</p>
						</div>

						<div class="col-md-2">
							<button class="btn btn-warning" ng-if="vm.canEdit" ng-click="vm.unassign()">UNASSIGN</button>
						</div>
						<div class="col-md-2" ng-if="vm.canEdit || vm.isMember">
							<a  id="proposals.view" ui-sref="proposals.view({ proposalId: vm.opportunity.proposal._id })">View Proposal</a><br/>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
</div>
