<div class="container">
	<uib-tabset active>
		<uib-tab index="0">
			<uib-tab-heading>
				Background
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p ng-bind-html="vm.display.description"></p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1">
			<uib-tab-heading>
				Required Phases and Team Capabilities
			</uib-tab-heading>
			<div class="row">
				<table class="table table-striped">
					<thead>
						<td></td>
						<td>Phase Start Date</td>
						<td>Phase End Date</td>
					</thead>
					<tr ng-if="vm.opportunity.isInception">
						<td>Inception</td>
						<td>
							<form-input
								ng-model="vm.opportunity.inceptionStartDate"
								x-form="vm.opportunityForm"
								x-options='{
									"disabled":"true",
									"id":"inceptionStartDate",
									"name":"inceptionStartDate",
									"format":"MMMM dd, yyyy",
									"type":"date"
								}'>
							</form-input>
						</td><td>
							<form-input
								ng-model="vm.opportunity.inceptionEndDate"
								x-form="vm.opportunityForm"
								x-options='{
									"disabled":"true",
									"id":"inceptionEndDate",
									"name":"inceptionEndDate",
									"format":"MMMM dd, yyyy",
									"type":"date"
								}'>
							</form-input>
						</td>
					</tr>
					<tr ng-if="vm.opportunity.isPrototype">
						<td>Prototype</td>
						<td>
							<form-input
								ng-model="vm.opportunity.prototypeStartDate"
								x-form="vm.opportunityForm"
								x-options='{
									"disabled":"true",
									"id":"prototypeStartDate",
									"name":"prototypeStartDate",
									"format":"MMMM dd, yyyy",
									"type":"date"
								}'>
							</form-input>
						</td><td>
							<form-input
								ng-model="vm.opportunity.prototypeEndDate"
								x-form="vm.opportunityForm"
								x-options='{
									"disabled":"true",
									"id":"prototypeEndDate",
									"name":"prototypeEndDate",
									"format":"MMMM dd, yyyy",
									"type":"date"
								}'>
							</form-input>
						</td>
					</tr>
					<tr ng-if="vm.opportunity.isImplementation">
						<td>Implementation</td>
						<td>
							<form-input
								ng-model="vm.opportunity.implementationStartDate"
								x-form="vm.opportunityForm"
								x-options='{
									"disabled":"true",
									"id":"implementationStartDate",
									"name":"implementationStartDate",
									"format":"MMMM dd, yyyy",
									"type":"date"
								}'>
							</form-input>
						</td><td>
							<form-input
								ng-model="vm.opportunity.implementationEndDate"
								x-form="vm.opportunityForm"
								x-options='{
									"disabled":"true",
									"id":"implementationEndDate",
									"name":"implementationEndDate",
									"format":"MMMM dd, yyyy",
									"type":"date"
								}'>
							</form-input>
						</td>
					</tr>
				</table>
			</div>
			<div class="row">
				<div class="panel panel-default" ng-repeat="capability in vm.capabilities" ng-if="vm.iOppCapabilities[capability.code]">
					<div class="panel-heading text-right" >
						<h3 class="panel-title pull-left" ng-bind="capability.name"></h3>
						<span class="label label-success" ng-if="capability.isInception">Inception</span>
						<span class="label label-success" ng-if="capability.isPrototype">Prototype</span>
						<span class="label label-success" ng-if="capability.isImplementation">Implementation</span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-8">
								<p ng-bind-html="vm.trust(capability.description)"></p>
							</div>
							<div class="col-sm-4" ng-if="capability.skills.length > 0">
								<div class="panel panel-success">
									<div class="panel-heading">
										<strong>Specific Skills</strong>
									</div>
									<ul class="list-group">
										<li class="list-group-item" ng-repeat="skill in capability.skills" ng-if="vm.iOppCapabilitySkills[skill.code]">{{skill.name}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading>
				Terms and Conditions
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p ng-bind-html="vm.trust(vm.opportunity.terms)"></p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="3">
			<uib-tab-heading>
				How to Apply
			</uib-tab-heading>
			<div class="row">
				<div class="col-xs-12">
					<p>Submit your proposal before <span class="strong">{{vm.deadline}}</span>.</p>
					<p>We plan to assign this opportunity by <span class="strong">{{vm.assignment}}</span> with work to start on <span class="strong">{{vm.start}}</span>.</p>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="5" ng-if="vm.canEdit && vm.opportunity.isPublished">
			<uib-tab-heading>
				Proposals
			</uib-tab-heading>
			<div class="container">
				<br/>
				<div class="row" ng-if="vm.closing !== 'CLOSED'">
					<div class="col-xs-12">
						<proposal-list ng-if="vm.opportunity.status === 'Pending' && vm.canEdit && vm.opportunity.isPublished" isclosed="vm.closing === 'CLOSED'" context="opportunity" opportunity="vm.opportunity" title="Proposals received"></proposal-list>
					</div>
				</div>
				<div class="panel panel-info" ng-if="vm.closing === 'CLOSED'">
					<div class="panel-heading">
						<strong>Evaluation Matrix</strong>
					</div>
					<div class="panel-body">
						<p>
							Complete the evaluation Matrix below.<br/>
							<ol>
								<li>
									How many teams do you wish to interview? <input type="text" class="form-input input-sm" width="1" ng-model="vm.opportunity.numberOfInterviews"/>
								</li>
								<li>
									Complete the <a href ng-click="vm.questions()">Question Ranking</a>
								</li>
								<li>
									Complete the Interview Ranking for each team
								</li>
								<li>
									At this point the price will be unmasked
								</li>
							</ol>
							<br/>
							<p ng-if="vm.stageIs('questions')"><strong>Current Stage:</strong> <a href ng-click="vm.questions()">Click here to perform the Question Ranking</a></p>
							<p ng-if="vm.stageIs('interview')"><strong>Current Stage:</strong> Click on the interview links for each team to enter the Interview Score</p>
							<p ng-if="vm.stageIs('price')"><strong>Current Stage:</strong> Click on the 'Assign' button to Assign the opportunity to the highest scoring team</p>
							<p ng-if="vm.stageIs('assigned')"><strong>Current Stage:</strong> This opportunity has been assigned</p>
						</p>

					</div>
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<td><strong>Team</strong></td>
								<td align="center"><strong>Questions</strong></td>
								<td><strong>Interview</strong></td>
								<td><strong>Price (Target: {{vm.opportunity.totalTarget | currency}})</strong></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="proposal in vm.proposals | orderBy:'scores.total' : true">
								<td ng-if="$index < vm.opportunity.numberOfInterviews && !vm.stage('interview')">(Hidden {{$index+1}})</td>
								<td ng-if="$index < vm.opportunity.numberOfInterviews && vm.stage('interview')"><a ui-sref="proposals.view({ proposalId: proposal._id })">{{proposal.businessName}}</a></td>
								<td ng-if="$index >= vm.opportunity.numberOfInterviews">N/A</td>

								<td ng-if="$index < vm.opportunity.numberOfInterviews && vm.stage('questions')" align="center"><span class="text-success"><i class="fa fa-check-circle"></i></span></td>
								<td ng-if="$index < vm.opportunity.numberOfInterviews && !vm.stage('questions')" align="center">TBD</td>
								<td ng-if="$index >= vm.opportunity.numberOfInterviews" align="center">N/A</td>

								<td ng-if="$index < vm.opportunity.numberOfInterviews && !vm.stage('interview')">Score : ( TBD )</td>
								<td ng-if="$index < vm.opportunity.numberOfInterviews && vm.stageIs('interview') && !proposal.interviewComplete"><a href ng-click="vm.interview(proposal)">Score : ( TBD )</a></td>
								<td ng-if="$index < vm.opportunity.numberOfInterviews && vm.stageIs('interview') && proposal.interviewComplete">Score : XXXX</td>
								<td ng-if="$index < vm.opportunity.numberOfInterviews && vm.stage('price')">Score : {{proposal.scores.interview}}</td>
								<td ng-if="$index >= vm.opportunity.numberOfInterviews">N/A</td>

								<td ng-if="$index < vm.opportunity.numberOfInterviews && !vm.stage('price')">Quote: ( TBD )</td>
								<td ng-if="$index < vm.opportunity.numberOfInterviews && vm.stage('price')">Quote: {{proposal.cost | currency}}</td>
								<td ng-if="$index >= vm.opportunity.numberOfInterviews">N/A</td>
							</tr>
							<tr ng-repeat="proposal in vm.proposals | orderBy:'scores.total' : true">
								<td >{{proposal.scores.skill}} {{proposal.scores.total}}</td>

								<td  align="center">{{proposal.scores.question}}</td>

								<td >{{proposal.scores.interview}}</td>

								<td >{{proposal.scores.price}}</td>
							</tr>

<!--
							<tr>
								<td>Team B</td>
								<td align="center"><span class="text-success"><i class="fa fa-check-circle"></i></span></td>
								<td><a href ng-click="vm.interview(2)">Score : ( TBD )</a></td>
								<td>Quote: ( TBD )</td>
							</tr>
							<tr>
								<td>Team C</td>
								<td align="center"><span class="text-danger"><i class="fa fa-times-circle"></i></span></td>
								<td>N/A</td>
								<td>N/A</td>
							</tr>
 -->
						</tbody>
					</table>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
</div>
