<!-- // If user is NOT signed in // -->
<div class="banner banner-info" ng-if="!vm.loggedIn">
	<div class="row">
		<div class="col-xs-12">
			<p>To apply on this opportunity you need to <a href ui-sref="authentication.signin"> Sign In</a> or	<a href  id="authentication.gov" ui-sref="authentication.gov"> Sign Up</a></p>
		</div>
	</div>
</div>

<!-- // User doesn't have an email address in their profile // -->
<div class="banner banner-info" ng-if="vm.notifyMe && !vm.hasEmail">
	<div class="row">
		<div class="col-xs-12">
			<p>Want <span class="hidden-sm hidden-xs">to get </span>updates about this opportunity? <a href  id="settings.profile" ui-sref="settings.profile">  Add your email address.</a></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<proposal-apply ng-if="true && vm.closing !== 'CLOSED'" opportunity="vm.opportunity" proposal="vm.myproposal"></proposal-apply>
	</div>
</div>

<br>

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" style="padding-top: 0; padding-bottom: 10px;">
			<span ng-if="vm.opportunity.isPublished && vm.opportunity.status === 'Pending'" class="label label-deadline"><i class="fa fa-hourglass-half"></i>&nbsp;<span style="font-weight:300;">Closing in:</span> {{vm.closing}}</span>
			<!-- // User is NOT following the opportunity // -->
			<button ng-if="!vm.canEdit && !vm.notifyMe && vm.hasEmail" type="button" class="btn btn-sm btn-default" uib-tooltip="Get email notifications if this opportunity changes." ng-click="vm.subscribe(true)"><i class="fa fa-bullhorn"></i> Follow</button>

			<!-- // User IS following the opportunity // -->
			<button ng-if="vm.notifyMe" type="button" class="btn btn-sm btn-default" uib-tooltip="You’ll get an email if this opportunity changes" ng-click="vm.subscribe(false)""><i class="fa fa-check-circle-o"></i> Following</button>
		</div>
	</div>


	<!-- // Admin view, draft opportunity is missing stuff // -->
	<div class="row"  ng-if="!vm.canPublish && vm.canEdit">
		<div class="col-xs-12 well well-sm well-danger"">
			<div class="text-center">
				<span>
					<label class="label label-lg label-danger-o"><i class="fa fa-exclamation-triangle"></i> &nbsp; You may not publish this opportunity until the following fields have been filled out.</label>
				</span>
			</div>
			<br/>
			<div class="col-sm-4 col-sm-offset-4">
				<ul><li ng-repeat="fname in vm.errorFields">{{fname}}</li></ul>
			</div>
		</div>
	</div>

	<!-- // Admin view, opportunity is unpublished // -->
	<div class="row" ng-if="vm.canEdit && !vm.opportunity.isPublished">
		<div class="col-xs-12 text-right">
			<span>
				<label class="label label-lg label-danger-o">
				<i class="fa fa-exclamation-triangle"></i> UNPUBLISHED
				</label>No one can see this opportunity until you publish it.
			</span>
			 &nbsp;
			<button type="button" class="btn btn-default" ng-if="vm.canEdit" ui-sref="opportunityadmin.edit({opportunityId:vm.opportunity.code})">Edit</button>
			<a href="javascript:void(0);" ng-if="vm.canPublish && vm.opportunity.project.isPublished && vm.canEdit && !vm.opportunity.isPublished" class="btn btn-success" ng-click="vm.publish(vm.opportunity, true)">Publish</a>
		</div>
	</div>

	<!-- // Admin view, opportunity is published // -->
	<div class="row" ng-if="vm.canEdit && vm.opportunity.isPublished">
		<div class="col-xs-12 text-right">
			<span>
				<label class="label label-lg label-success-o">
				<i class="glyphicon glyphicon-ok-sign"></i> PUBLISHED
				</label>
			</span>
			 &nbsp;
			<button type="button" class="btn btn-default" ng-if="vm.canEdit" ui-sref="opportunityadmin.edit({opportunityId:vm.opportunity.code})">Edit</button>
			<a href="javascript:void(0);" ng-if="vm.opportunity.project.isPublished && vm.canEdit && vm.opportunity.isPublished" class="btn btn-danger" ng-click="vm.publish(vm.opportunity, false)">Unpublish</a>
		</div>
	</div>

<!-- // Title and Teaser // -->
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2 style="margin-top: 0px;">{{vm.opportunity.name}}</h2>
			<p ng-bind="vm.opportunity.short"></p>
		</div>
	</div>
	<!--<div class="panel panel-default panel-flat card-panel">-->
</div>

<div class="banner banner-important" ng-if="vm.opportunity.opportunityTypeCd === 'code-with-us'">
	<div class="row">
		<div class="col-xs-12">
			<p><span class="label label-lg label-price">{{vm.opportunity.earn|currency}}</span>&nbsp;&nbsp; This is a <b>fixed-price</b> opportunity governed by the
				<a href="/code-with-us-terms-2018-01-23.pdf"  target="_blank">
				terms
				</a>
				of our lightweight procurement model, <a href="/codewithus" target="_blank">Code With Us</a>.</p>
		</div>
	</div>
</div>

<div class="container">
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-6">

			<!--<h5 class="card-title" style="font-family: sans-serif; font-size: 20px;"><b>{{vm.opportunity.earn|currency}}</b></h5>
			<h4 ng-if="vm.opportunity.isPublished && vm.opportunity.status === 'Pending'" style="padding-top: 0; margin-top: 0px; margin-bottom: 10px;">Closing in:  <span style="font-size: 18px; font-weight: 800;"> {{vm.closing}}</span></h4>
			<h4 ng-if="vm.opportunity.status === 'Assigned'" style="padding-top: 0; margin-top: 0px; margin-bottom: 10px;"> <span style="font-size: 18px; font-weight: 800; color:#5cb85c"> ASSIGNED</span></h4>
			<h4 style="padding-top: 0; margin-top: 0px; margin-bottom: 10px;"><i class="fa fa-map-marker"></i>&nbsp;{{vm.opportunity.location}}</h4>
          <h4 ng-if="vm.opportunity.onsite == 'offsite'"><i class="fa fa-user">&nbsp;</i><i class="fa fa-cloud">&nbsp;</i>In-person work NOT required &nbsp; &nbsp;</h4>
          <h4 ng-if="vm.opportunity.onsite == 'onsite'" ><i class="fa fa-user">&nbsp;</i><i class="fa fa-building">&nbsp;</i>In-person work required &nbsp; &nbsp;</h4>
          <h4 ng-if="vm.opportunity.onsite == 'mixed'"  ><i class="fa fa-user"></i>&nbsp;<i class="fa fa-cloud">&nbsp;</i><i class="fa fa-building">&nbsp;</i>Some in-person work required</h4>-->

          <div class="label-list" style="padding-top: 4px; padding-bottom: 10px;">


	          <span class="label label-location"><i class="fa fa-map-marker"></i>&nbsp;{{vm.opportunity.location}}</span>
	          <span class="label label-location" ng-if="vm.opportunity.onsite == 'offsite'"><i class="fa fa-user"></i>&nbsp;In-person work NOT required</span>
	          <span class="label label-location" ng-if="vm.opportunity.onsite == 'onsite'"><i class="fa fa-user"></i>&nbsp;In-person work required</span>
	          <span class="label label-location" ng-if="vm.opportunity.onsite == 'mixed'"><i class="fa fa-user"></i>&nbsp;Some in-person work required</span>
	          <span class="label label-warning" ng-repeat="code in vm.opportunity.skills">{{code}}</span>
			  </div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<dl class="dl-horizontal">
			<dt>Posted by:</dt>
			<dd>
				<i class="fa fa-user-circle-o"></i>
				<span ng-if="vm.opportunity.createdBy" ng-bind="vm.opportunity.createdBy.displayName"></span>
				<span ng-if="!vm.opportunity.createdBy">Deleted User</span>
			</dd>
			<dt>Program:</dt>
			<dd>
				<a ng-if="vm.opportunity.program"  id="programs.view" ui-sref="programs.view({programId:vm.opportunity.program.code})"><i class="fa fa-university"></i> {{vm.opportunity.program.title}}</a>
				<span ng-if="!vm.opportunity.program" class="text-muted">No program</span>
			</dd>
			<dt>Project:</dt>
			<dd>
				<a ng-if="vm.opportunity.project"  id="projects.view" ui-sref="projects.view({projectId:vm.opportunity.project.code})"><i class="fa fa-pie-chart"></i> {{vm.opportunity.project.name}}</a>
				<span ng-if="!vm.opportunity.project" class="text-muted">No project</span>
			</dd>
			<!-- github link -->
			<dt>Code:</dt>
			<dd>
			<a ng-if="vm.opportunity.issueUrl && vm.opportunity.issueUrl.length > 0"><a href="{{vm.opportunity.github}}" rel="nofollow" target="_blank"><i class="fa fa-github"></i> GitHub Repository</a>
			<!--<dt>Assigned to:</dt>
			<dd>
				<span ng-if="vm.opportunity.assignedTo" ng-bind="vm.opportunity.assignedTo.displayName"></span>
				<span ng-if="!vm.opportunity.assignedTo" class="text-muted">Not assigned</span>-->
			</dl>
		</div>
	</div>

	<br>

	<div class="row" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
		<div class="col-xs-12 text-center">
			<div class="well well-info">
				<p>This is a <b>Sprint With Us</b> opportunity governed by the <a href="https://github.com/BCDevExchange/devex/raw/master/Code-with-Us%20Terms_BC%20Developers%20Exchange.pdf">terms</a> of our lightweight procurement model, <a href="/sprintwithus" target="_blank">Sprint With Us</a>.
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3>Background</h3>
			<p ng-bind-html="vm.display.description"></p>
			<hr>
			<h3>Acceptance Criteria</h3>
			<p>To be paid the fixed price for this opportunity, you need to meet all of the following criteria:</p>
			<p ng-bind-html="vm.display.criteria"></p>
			<hr>
			<h3>Proposal Evaluation Criteria</h3>
			<p>Your proposal will be scored by this criteria:</p>
			<p ng-bind-html="vm.display.evaluation"></p>
			<hr>
			<h3>How to Apply</h3>
			<p>Submit your proposal before <b>{{vm.deadline}}</b>.</p>
			<!-- <p>With your proposal, you must upload a copy of the <a href="https://github.com/BCDevExchange/devex/raw/master/Code-with-Us%20Terms_BC%20Developers%20Exchange.pdf">Code With Us terms,</a> to indicate your acceptance of the terms.</p> -->
			<p>We plan to assign this opportunity by <b>{{vm.assignment}}</b> with work to start on <b>{{vm.start}}</b>.</p>
			<br>
			<div class="text-center">
				<div class="well well-info">
					<h3 style="margin-top: 0px"><i class="fa fa-comments"></i>&nbsp; Questions?</h3>
					<p><a href="{{vm.opportunity.issueUrl}}" rel="nofollow" target="_blank">Visit the GitHub issue for this opportunity</a> and post a comment.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="qaz.case !== 'nothing'">
		<div class="container">
		<br>
			<div class="row" ng-if="qaz.case === 'canadd'">
				<div class="col-xs-12 text-center">
					<button  id="proposaladmin.create" ui-sref="proposaladmin.create({opportunityId:qaz.opportunity._id})" class="btn btn-lg btn-warning">Submit a proposal</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
		<div class="col-xs-12">
			<h3>Capabilities needed to fulfill this opportunity</h3>
				<div class="form-group col-sm-12">

					<uib-accordion close-others="true">

						<div uib-accordion-group class="panel-default" ng-repeat="idnum in vm.clist" >
							{{minimumYearsField=idnum+'_minimumYears';""}}
							{{desiredYearsField=idnum+'_desiredYears';""}}
							{{experienceField=idnum+'_experience';""}}
							{{ratingField=idnum+'_years';""}}
							<uib-accordion-heading>
								<small>
									<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.opportunity[minimumYearsField]>0, 'glyphicon-unchecked':vm.opportunity[minimumYearsField]===0}"></i>
									&nbsp; &nbsp;
									{{vm.capabilities.bykey[idnum].text}}
									&nbsp; &nbsp;
									<span class="pull-right" ng-if="vm.opportunity[minimumYearsField]>0">
										<b>{{vm.opportunity[minimumYearsField]}}</b>{{vm.opportunity[minimumYearsField]>4?'+ years':' years'}} minimum &nbsp; | &nbsp;
										<b>{{vm.opportunity[desiredYearsField]}}</b>{{vm.opportunity[desiredYearsField]>19?'+ years':' years'}} combined
									</span>
								</small>
							</uib-accordion-heading>
							<form-display
								class="col-sm-12"
								x-options='{
									"title":"Capability Description"
								}'>
								{{vm.capabilities.bykey[idnum].description}}
							</form-display>
						</div>

					</uib-accordion>
				</div>

		</div>
	</div>

	<!--
		<core-member-list     title="Assignees" model="vm.opportunity" idstring="vm.idString" service="vm.OpportunitiesService"></core-member-list>
		<core-member-requests title="Applicants" model="vm.opportunity" idstring="vm.idString" service="vm.OpportunitiesService" ng-if="vm.opportunity.userIs.admin"></core-member-requests>
	-->



	<!-- // Admin view, draft opportunity is missing stuff // -->
	<!--
	<div class="row" ng-if="!vm.canPublish && vm.canEdit">
		<div class="col-xs-12 text-center">
			<div class="well well-sm well-danger">
				<span>
					<label class="label-danger"><i class="fa fa-exclamation-triangle"></i></label>You can't publish this opportunity until all fields have been properly filled out.
				</span>
				<div class="btn-group">
					<button type="button" class="btn btn-default" ng-if="vm.canEdit" ui-sref="opportunityadmin.edit({opportunityId:vm.opportunity.code})">Edit</button>
				</div>
			</div>
		</div>
	</div>
	-->

	<!-- // Admin view, opportunity is unpublished // -->
	<div class="row" ng-if="vm.canEdit && !vm.opportunity.isPublished">
		<div class="col-xs-12 text-right">
			<span>
				<label class="label label-lg label-danger-o">
				<i class="fa fa-exclamation-triangle"></i> UNPUBLISHED
				</label>No one can see this opportunity until you publish it.
			</span>
			 &nbsp;
			<button type="button" class="btn btn-default" ng-if="vm.canEdit" ui-sref="opportunityadmin.edit({opportunityId:vm.opportunity.code})">Edit</button>
			<a href="javascript:void(0);" ng-if="vm.canPublish && vm.opportunity.project.isPublished && vm.canEdit && !vm.opportunity.isPublished" class="btn btn-success" ng-click="vm.publish(vm.opportunity, true)">Publish</a>
		</div>
	</div>

	<!-- // Admin view, opportunity is published // -->
	<div class="row" ng-if="vm.canEdit && vm.opportunity.isPublished">
		<div class="col-xs-12 text-right">
			<span>
				<label class="label label-lg label-success-o">
				<i class="glyphicon glyphicon-ok-sign"></i> PUBLISHED
				</label>
			</span>
			 &nbsp;
			<button type="button" class="btn btn-default" ng-if="vm.canEdit" ui-sref="opportunityadmin.edit({opportunityId:vm.opportunity.code})">Edit</button>
			<a href="javascript:void(0);" ng-if="vm.opportunity.project.isPublished && vm.canEdit && vm.opportunity.isPublished" class="btn btn-danger" ng-click="vm.publish(vm.opportunity, false)">Unpublish</a>
		</div>
	</div>

	<br>

	<!--
			<button ng-if="!vm.loggedIn" class="btn btn-solo btn-success btn-lg" ng-click="vm.signInAndApply()" title="Apply">
				<i class="fa fa-sign-in"></i> Sign up or log in to apply
			</button>
			<button ng-if="vm.canApply" class="btn btn-solo btn-success btn-lg" href="javascript:void(0);" ng-click="vm.request()" title="Apply">
				<i class="fa fa-sign-in"></i> Apply Now
			</button>
	-->

<!-- // Footer showing recent updates // -->
	<div class="row">
		<div class="col-xs-12">
			<p class="small text-muted">Published on <span ng-bind="vm.opportunity.lastPublished | date:'mediumDate'"></span> by <span ng-if="vm.opportunity.createdBy" ng-bind="vm.opportunity.createdBy.displayName"></span>
			<span ng-if="!vm.opportunity.createdBy">Deleted User</span>
		&nbsp; &nbsp; Last updated on
			<span ng-bind="vm.opportunity.updated | date:'mediumDate'"></span>
			by
			<span ng-if="vm.opportunity.updatedBy" ng-bind="vm.opportunity.updatedBy.displayName"></span>
			<span ng-if="!vm.opportunity.updatedBy">Deleted User</span>
		</div>
	</div>

<!-- // Old buttons // -->
<!--
	<div class="row">
		<div class="col-xs-12 text-right">
			<div class="well well-sm well-danger">
				<span>
					<label class="label-danger">
					<i class="fa fa-exclamation-triangle"></i> UNPUBLISHED
					</label>No one will see this opportunity until you publish it.
				</span>
			</div>

			<label class="label-danger" ng-if="vm.opportunity.project.isPublished && vm.canEdit && !vm.opportunity.isPublished" uib-tooltip="No one can see this page until you publish it."><i class="fa fa-exclamation-triangle" ></i> UNPUBLISHED
			</label>
			&nbsp;
			<button type="button" class="btn btn-default" ng-if="vm.canEdit" ui-sref="opportunityadmin.edit({opportunityId:vm.opportunity.code})" uib-tooltip="Edit this page">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</button>
			<a href="javascript:void(0);" ng-if="vm.opportunity.project.isPublished && vm.canEdit && vm.opportunity.isPublished" class="btn btn-default" ng-click="vm.publish(vm.opportunity, false)" uib-tooltip="Right now, this opportunity is live and anyone can view it. You can unpublish it here.">
				<i class="glyphicon glyphicon-ban-circle"></i> Unpublish
			</a>
			<a href="javascript:void(0);" ng-if="vm.canPublish && vm.opportunity.project.isPublished && vm.canEdit && !vm.opportunity.isPublished" class="btn btn-default" ng-click="vm.publish(vm.opportunity, true)" uib-tooltip="Ready to publish this opportunity to the world?">
				<i class="glyphicon glyphicon-check"></i> Publish
			</a>
		</div>
	</div>
-->


<!-- // Proposals section, Admin only view // -->

	<proposal-list ng-if="vm.opportunity.status === 'Pending' && vm.canEdit && vm.opportunity.isPublished" isclosed="vm.closing === 'CLOSED'" context="opportunity" opportunity="vm.opportunity" title="Proposals received"></proposal-list>

	<div class="row" ng-if="vm.canEdit && vm.closing === 'CLOSED'">
		<div class="col-xs-12">
			<a class="btn btn-primary" href="/api/proposals/archive/opportunity/{{vm.opportunity._id}}" target="_blank"><i class="fa fa-download"></i> Download Proposals Archive</a>
		</div>
	</div>

	<br>

	<div  ng-if="vm.opportunity.status !== 'Pending' && vm.opportunity.proposal">
		<h4>Opportunity Assigned to</h4>
		<div class="card card-block">
			<div class="card-img">
				<img class="card-img-left" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}"/>
			</div>
<!-- 					<div class="col-md-3">
			<div >
				<img class="card-img-left" style="margin-right:0; margin-left:20px" src="{{((vm.opportunity.proposal.user.profileImageURL.substr(0,1) == '/' || vm.opportunity.proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + vm.opportunity.proposal.user.profileImageURL}}"/>
			</div>
			</div>
-->
				<div class="col-md-5">
				<h4 class="card-title" style="font-size: 17px; padding-top: 6px; margin-bottom: 4px;">{{vm.opportunity.proposal.user.firstName}} {{vm.opportunity.proposal.user.lastName}}</h4>
				<p>Attachments: {{vm.opportunity.proposal.attachments.length}}</p>
			</div>
			<div class="col-md-2">
				<button class="btn btn-warning" ng-if="vm.canEdit" ng-click="vm.unassign()">UNASSIGN</button>
			</div>
			<div class="col-md-2" ng-if="vm.canEdit || vm.isMember">
				<a  id="proposals.view" ui-sref="proposals.view({ proposalId: vm.opportunity.proposal._id })">View Proposal</a><br/>
			</div>
		</div>
	</div>
	</div>

</div>

</div>

</div>




