<!DOCTYPE html>
<html lang="en" ng-strict-di>

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title page-title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Fav Icon -->
  <link href="/{{favicon}}" rel="shortcut icon" type="image/x-icon">

</head>

<body class="ng-cloak" id="page-top">

  <div ng-include="'/modules/core/client/views/header.client.view.html'"></div>

  {{{block "content"}}}

  <div class="footer-distributed" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>

  <noscript>
    <style>
      [ng\:cloak], [ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: block !important;
      }
    </style>
    <div class="alert alert-warning">
      <strong>This page requires JavaScript.</strong> Please enable it in your browser.
    </div>
  </noscript>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{{ user }}};
    var env = "{{ env }}";
    var sessionTimeout = "{{ sessionTimeout }}";
    var sessionTimeoutWarning = "{{ sessionTimeoutWarning }}";
  </script>

  {{#if livereload}}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {{/if}}
</body>

</html>
