# nodemailer parameters
MAILER_SERVICE_PROVIDER=gmail
MAILER_FROM=your.address@email.com
MAILER_EMAIL_ID=email.id
MAILER_PASSWORD=password

# database seeding - these should normally be set to true for dev
MONGO_SEED=true
MONGO_SEED_LOG_RESULTS=true

# URI for the host of the application
DOMAIN=http://localhost:3000

# whether the app should be running in production mode - this affects whether development accounts are created
# and how the admin password is set
DEVEX_PROD=false

# github client_id and client_secret

=======
GITHUB_ID=abc123
GITHUB_SECRET=supersecret

# access to github API
GITHUB_ACCESS_TOKEN=abcfdefghijklmo12345

# nexmo id and secret for sms 2FA (approval digitiziation)
NEXMO_API_KEY=abc123abc
NEXMO_API_SECRET=abc123abc123
NEXMO_FROM_NUMBER=12505555555

# default credentials for local dev accounts - won’t be used in production
DEV_ADMIN_PWD=adminadmin
DEV_USER_PWD=useruser
DEV_DEV_PWD=devdev
DEV_DEV2_PWD=devdev
DEV_GOV_PWD=govgov




