<section class="static-page">
<div class="container" role="main">
	<!-- <div ncy-breadcrumb></div> -->
	<form id="notificationForm" warn-on-exit name="vm.form.notificationForm" class="form" ng-submit="vm.save(vm.form.notificationForm.$valid)" novalidate>
	<div class="row form-head">
		<div class="col-sm-7">
			<h2 ng-if="vm.editing">Editing: {{::vm.notification.name}}</h2>
			<h2 ng-if="!vm.editing">New Notification</h2>
		</div>
		<div class="col-sm-5 col-form-buttons text-right">
			<div class="btn-group" role="group">
				<button type="submit" class="btn btn-primary" title="Save">
					<i class="glyphicon glyphicon-save"></i> Save
				</button>
				<a class="btn btn-default" href="{{vm.previousState.url}}" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a ng-if="false && vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
					<i class="glyphicon glyphicon-trash"></i> Remove
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<fieldset>
				<div class="form-group" show-errors>
					<label class="control-label" for="title">Name</label>
					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="sname = !sname"></i>
					<div class="input-help alert alert-info" data-field="title" ng-show="sname">
						Enter a name for your notification. It's best if the name matches the name of your GitHub repo.
					</div>
					<input name="title" type="text" ng-model="vm.notification.name" id="title" class="form-control" placeholder="Name" required>
					<div ng-messages="vm.form.notificationForm.title.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Notification name is required.</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<label for="target">Target</label>
					<select id="target" name="target" class="form-control" ng-model="vm.notification.target">
					<option value="None">BC</option>
					<option value="Opportunity">AB</option>
					<option value="Project">MB</option>
					<option value="Program">NB</option>
					<option value="User">NL</option>
					</select>
				</div>
				<div class="form-group" show-errors>
					<label for="event">Event</label>
					<select id="event" name="event" class="form-control" ng-model="vm.notification.event">
					<option value="Add">BC</option>
					<option value="UpdateAny">AB</option>
					<option value="Update">MB</option>
					<option value="Delete">NB</option>
					</select>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<h5>Subscriptions</h5>
		<table>
			<tr ng-repeat="subscription in vm.subscriptions">
				<td>{{subscription.user.displayName}}</td>
				<td>
					<a ng-click="vm.unsubscribe(subscription._id)" title="Unsubscribe">
						<i class="glyphicon glyphicon-trash"></i> Unsubscribe
					</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="row form-foot">
		<div class="col-sm-12 col-form-buttons text-right">
			<div class="btn-group" role="group">
				<button type="submit" class="btn btn-primary" title="Save">
					<i class="glyphicon glyphicon-save"></i> Save
				</button>
				<a class="btn btn-default" href="{{vm.previousState.url}}" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a ng-if="false && vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
					<i class="glyphicon glyphicon-trash"></i> Remove
				</a>
			</div>
		</div>
	</div>
	</form>
</div>
</section>

