.modal-header {
  > button.close {
      padding: 0;
      margin-top: 3px;
      font-size: 1.8em;
      float: right;
  }
  > .modal-title {
  text-align: center;
  font-size: 1.43em;
  font-weight: bold;
  padding: .25em 0; 
  }
}   

.modal-backdrop {
  background-color: @gray-lighter;
}

.modal-backdrop.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal-lg {
  width: 100%;
  margin: 0 auto;
  max-height: 100%;
  > .modal-content {
      border: none;
      border-radius: 0;
      box-shadow: none;
      > .modal-header {
        > button.close {
          font-size: 2.1em;
        }
        > .modal-title {
          font-size: 1.8em;
        }
      }
      > .modal-body {
          max-width: 1400px;
          margin-left: auto;
          margin-right: auto;
          min-height: 640px;
          max-height: 1000px;
          overflow-y: scroll;
      }
  }
}

.modal-md {
  width: 90%;
  @media (min-width: 768px) {
    max-width: 1040px;
  }
  margin: 30px auto;
  > .modal-content {
      border: none;
      > .modal-body {
          max-height: 630px;
          overflow-y: scroll;
      }
  }
}

@media (min-width: 768px) {
  .modal-sm {
    width: 650px;  
  }
}

