<section class="edit-form-background" role="main">

	<form id="projectForm" warn-on-exit name="vm.form.projectForm" class="form" ng-submit="vm.save(vm.form.projectForm.$valid)" novalidate>

		<div class="edit-form">

			<div class="edit-form-header">

				<span ng-if="vm.editing">
					<span class="light small">EDITING:</span>
					{{::vm.project.name}}
				</span>
				<span ng-if="!vm.editing">
					New Project
				</span>
				<a href="{{vm.previousState.url}}" title="Close" class="btn btn-text-only pull-right"><i class="fa fa-lg fa-times"></i></a>
			</div>

			<div class="edit-form-body">
				<div class="row">
					<div class="col-sm-12">
						<fieldset>
							<div class="form-group" ng-if="vm.programLink" >
								<a  id="programs.view" ui-sref="programs.view({programId:vm.programId})"><i class="fa fa-university"></i> {{vm.programTitle}}</a>
							</div>
							<div class="form-group" ng-if="!vm.programLink" >
								<label class="control-label" for="program">Program</label>
								<!-- <i class="glyphicon glyphicon-question-sign field-tt-source" ng-required="true" uib-tooltip="Program offering this opportunity" tooltip-placement="bottom"></i> -->
								<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="sprogram = !sprogram"></i>
								<div class="input-help alert alert-info" data-field="title" ng-show="sprogram">
									Select the program that is the owner/sponsor of this project.
								</div>
								<select data-automation-id="select-project-program" name="program" ng-model="vm.programId" id="program" class="form-control" ng-options="obj._id as obj.title for obj in vm.programs">
								</select>
							</div>
							<div class="form-group" show-errors>
								<label class="control-label" for="title">Name</label>
								<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="sname = !sname"></i>
								<div class="input-help alert alert-info" data-field="title" ng-show="sname">
									Enter a name for your project. It's best if the name matches the name of your GitHub repo.
								</div>
								<input data-automation-id="text-project-name" name="title" type="text" ng-model="vm.project.name" id="title" class="form-control" placeholder="Name" required>
								<div ng-messages="vm.form.projectForm.title.$error" role="alert">
									<p class="help-block error-text" ng-message="required">Project name is required.</p>
								</div>
							</div>
							<div class="form-group" show-errors>
								<label class="control-label" for="short">Short Description</label>
								<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="ssdesc = !ssdesc"></i>
								<div class="input-help alert alert-info" data-field="title" ng-show="ssdesc">
									This is a teaser to interest developers in contributing to your project. Summarize the goals, end-user benefits and value for British Columbians!
								</div>
								<textarea data-automation-id="text-project-short-description" name="short" data-ng-model="vm.project.short" id="short" class="form-control" cols="30" rows="3" placeholder="A short description of the project" ng-required="true"></textarea>
							</div>
							<div class="form-group" show-errors>
								<label class="control-label" for="description">Description</label>
								<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="sdesc = !sdesc"></i>
								<div class="input-help alert alert-info" data-field="title" ng-show="sdesc">
									Here’s where you can go into more detail...
								</div>
								<!-- <textarea name="description" data-ng-model="vm.project.description" id="description" class="form-control" cols="30" rows="10" placeholder="A full description of the project" ng-required="true"></textarea> -->
								<textarea
									name="description"
                  data-automation-id="text-project-description"
									id="description"
									class="form-control input-sm"
									ui-tinymce="vm.tinymceOptions"
									placeholder="A full description of the project"
									ng-model="vm.project.description">
								</textarea>
							</div>
							<div class="form-group">
								<label class="control-label" for="github">GitHub</label>
								<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="sgit = !sgit"></i>
								<div class="input-help alert alert-info" data-field="title" ng-show="sgit">
									Paste the URL of the GitHub repo for this project.
								</div>
								<input data-automation-id="text-project-github" ng-if="vm.isAdmin || vm.isProjectAdmin" name="github" type="text" ng-model="vm.project.github" id="github" class="form-control" placeholder="Project github repo">
								<input ng-if="!vm.isAdmin && !vm.isProjectAdmin" name="github" type="text" ng-model="vm.project.github" id="github" class="form-control" placeholder="Project github repo" readonly>
							</div>
							<div class="form-group">
								<label class="control-label" for="taglist">Tags (comma delimited list)</label>
								<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="stags = !stags"></i>
								<div class="input-help alert alert-info" data-field="title" ng-show="stags">
									Create tags as quick cues for interested developers. For example, the code language, or other keywords that indicate what’s involved in the work.
								</div>
								<input data-automation-id="text-project-tags" type="text" name="taglist" ng-model="vm.project.taglist" id="taglist" class="form-control" placeholder="Tag List"></input>
							</div>
							<div class="form-group" ng-if="vm.isAdmin">
								<label class="control-label" for="activity">Activity Level Indicator</label>
								<input data-automation-id="text-project-activity-level" type="text" name="activity" ng-model="vm.project.activity" id="activity" class="form-control" placeholder="Tag List"></input>
							</div>
						</fieldset>
					</div>
				</div>
	  		</div>

	  		<div class="edit-form-footer">
	  			<div class="row">
	  				<div class="col-xs-12">
				  		<button data-automation-id="button-project-save" type="submit" class="btn btn-primary pull-right" title="Save">
						<i class="fa fa-save"></i> Save &amp; Close</button>
					  	<a data-automation-id="button-project-delete" ng-if="vm.editing" class="btn btn-text-only" ng-click="vm.remove()" title="Delete"><i class="fa fa-trash"></i> Delete this Project</a>
				  	</div>
			  	</div>
		  	</div>

		</div>

	</form>

</section>

