<div class="row mb-4">
  <div class="col-sm-9">
    <h3>Projects</h3>
  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <button data-automation-id="button-list-a-project" ng-if="vm.userCanAdd" class="btn btn-primary float-right"
      ui-sref="projectadmin.create({programId:vm.programId, programTitle:vm.programTitle, context:vm.context})" title="New">
      <i class="fas fa-plus"></i> List a Project
    </button>
    </h3>
  </div>
</div>

<!--<div ng-class="'col-md-'+(12 / vm.columnCount)" ng-repeat="column in vm.projects | columnRanges:vm.columnCount">-->

<div class="card my-3" ng-repeat="project in vm.projects | slice:column.start:column.end">

  <div class="card-header py-1 text-right text-truncate" ng-if="vm.isAdmin || project.userIs.admin || project.userIs.member || project.userIs.request">

    <span ng-if="!project.isPublished" class="label label-unpublished"><i class="fas fa-exclamation-triangle"></i>
      Unpublished</span>
    <span ng-if="project.userIs.member" class="label label-member">Member</span>
    <span ng-if="project.userIs.request" class="label label-member" title="Your membership request is pending">Pending
      Member</span>
    <span ng-if="vm.isAdmin || project.userIs.admin" class="label label-admin">Admin</span>
    <a class="btn btn-sm btn-default" ng-if="project.program.isPublished && (vm.isAdmin || project.userIs.admin) && project.isPublished"
      href="" ng-click="vm.publish(project, false)" ng-click="$event.stopPropagation()" title="UnPublish">Unpublish</a>
    <a class="btn btn-sm btn-primary" ng-if="project.program.isPublished && (vm.isAdmin || project.userIs.admin) && !project.isPublished"
      href="" ng-click="vm.publish(project, true)" ng-click="$event.stopPropagation()" title="Publish">Publish</a>
    <a class="btn btn-sm btn-default" ng-cloak ng-if="vm.isGov && !project.userIs.member && !project.userIs.request"
      href="javascript:void(0);" ng-click="vm.request(project)" ng-click="$event.stopPropagation()" title="Request Membership">Request
      Membership</a>
    <a class="btn btn-sm btn-default" ng-if="vm.isAdmin || project.userIs.admin" href="javascript:void(0);" id="projectadmin.edit"
      ui-sref="projectadmin.edit({ projectId: project.code, programId: project.program.code, context:vm.context})"
      ng-click="$event.stopPropagation()" title="Edit"><i class="fas fa-pencil-alt"></i> Edit</a>
  </div>

  <div class="card-body" ng-class="{'unpublished': !project.isPublished}" ui-sref="projects.view({ projectId: project.code, programId: project.program.code })">
    <div class="label-list text-truncate">
      <span class="label label-project-tags" ng-repeat="code in project.tags">{{code}}</span>
    </div>
    <h5 data-automation-id="listedProject" class="card-title mt-2 text-truncate" ng-bind="project.name"></h5>
    <p class="card-text" ng-bind="project.short"></p>
    <p ng-if="!vm.program && project.program" class="text-muted mb-0 text-truncate"><i class="fas fa-university"></i>
      {{project.program.title}}</p>
  </div>
</div>
