<section class="static-page">
<div class="container" role="main">

	<div class="row">
		<div class="pull-right">
			<div class="list-group list-group-horizontal">
				<a ng-if="!vm.programId" class="list-group-item active" ui-sref="projects.list" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Back
				</a>
				<a ng-if="vm.programId" class="list-group-item active" ui-sref="programs.view({programId:vm.programId})" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Back
				</a>
				<a ng-if="vm.project.userIs.admin" class="list-group-item" ui-sref="projectadmin.edit({projectId:vm.project._id})" title="Edit">
					<i class="glyphicon glyphicon-pencil"></i> Edit
				</a>
				<a ng-if="vm.showMember" class="list-group-item" ng-click="vm.request()" title="Request">
					<i class="glyphicon glyphicon-user"></i> Request Membership
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div>
			<h2 ng-bind="vm.project.name"></h2>
			<h4>Summary</h4>
			<p ng-bind="vm.project.short"></p>
			<h4>Description</h4>
			<p ng-bind="vm.project.description"></p>
		</div>
	</div>
	<div class="row">
		<small>
			<em class="text-muted">
				Created on
				<span ng-bind="vm.project.created | date:'mediumDate'"></span>
				by
				<span ng-if="vm.project.createdBy" ng-bind="vm.project.createdBy.displayName"></span>
				<span ng-if="!vm.project.createdBy">Deleted User</span>
			</em>
			<br/>
			<em class="text-muted">
				Updated on
				<span ng-bind="vm.project.updated | date:'mediumDate'"></span>
				by
				<span ng-if="vm.project.updatedBy" ng-bind="vm.project.updatedBy.displayName"></span>
				<span ng-if="!vm.project.updatedBy">Deleted User</span>
			</em>
		</small>
	</div>
	<div class="row">
		<p class="lead" ng-bind="vm.project.content"></p>
	</div>
	<project-member-list project="vm.project"></project-member-list>
	<project-member-requests project="vm.project" ng-if="vm.project.userIs.admin"></project-member-requests>

	<div>
		<a ng-if="vm.project.userIs.admin" class="list-group-item active pull-right" ui-sref="opportunityadmin.create" title="New">
			<i class="glyphicon glyphicon-plus"></i> Add New Opportunity
		</a>
	</div>
	<div class="row">
		<h1>Opportunities</h1>
		<h3>Opportunities for this Project</h3>
	</div>
	<div>
		<opportunity-list project="vm.project"></opportunity-list>
	</div>
	<div class="row">
		<div class="pull-right">
			<div class="list-group list-group-horizontal">
				<a ng-if="!vm.programId" class="list-group-item active" ui-sref="projects.list" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Back
				</a>
				<a ng-if="vm.programId" class="list-group-item active" ui-sref="programs.view({programId:vm.programId})" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Back
				</a>
				<a ng-if="vm.project.userIs.admin" class="list-group-item" ui-sref="projectadmin.edit({projectId:vm.project._id})" title="Edit">
					<i class="glyphicon glyphicon-pencil"></i> Edit
				</a>
				<a ng-if="vm.showMember" class="list-group-item" ng-click="vm.request()" title="Request">
					<i class="glyphicon glyphicon-user"></i> Request Membership
				</a>
			</div>
		</div>
	</div>
</div>
</section>
<!-- <section>
	<div class="container">
	  <div class="col-xs-12">
		<h1 ng-bind="vm.project.name"></h1>
		<span class="project-description" ng-bind="vm.project.description"></span>
		<span class="project-link">Project: <a href="/projects/{{vm.project.project._id}}" class="">{{vm.project.project.name}}</a></span>
		<span class="project-link">Project Github address: <a href="{{vm.project.github}}" class="">{{vm.project.github}}</a></span>
	  </div>
	  <div class="pull-right"
		   ng-if="vm.project.isCurrentUserOwner">
		<a class="btn btn-primary"
		   ui-sref="projects.edit({ projectId: vm.project._id })">
		  <i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" ng-click="vm.remove()">
		  <i class="glyphicon glyphicon-trash"></i>
		</a>
	  </div>
	  <small>
		<em class="text-muted">
		  Posted on
		  <span ng-bind="vm.project.created | date:'mediumDate'"></span>
		  by
		  <span ng-if="vm.project.user"
				ng-bind="vm.project.user.displayName"></span>
		  <span ng-if="!vm.project.user">Deleted User</span>
		</em>
	  </small>
	  <p class="lead" ng-bind="vm.project.content"></p>
	</div>
</section> -->
