<section class="main-section bg-secondary">
  <form id="opportunityForm" warn-on-exit name="vm.sendRequestForm" class="form bg-white rounded" ng-submit="vm.save(vm.sendRequestForm.$valid)"
    novalidate>

    <div class="rounded p-4 bg-light">

      <div class="rounded px-4 py-3 font-weight-bold">
        <span><i class="fas fa-envelope-open"></i> Send Approval Request:</span> &nbsp;
        <span>{{vm.opportunity.name}}</span>
        <a ui-sref="opportunities.viewswu({opportunityId:vm.opportunity.code})" ng-if="vm.opportunity._id" class="btn btn-text-only float-right"
          title="Close">
          <i class="fas fa-lg fa-times"></i>
        </a>
      </div>

      <p class="alert alert-info px-5">Confirm the contact details for both the intermediate and final approval
        authorities</p>

      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-5 mb-3 mr-2 p-3 border rounded">
          <h4>Intermediate Approval</h4>
          <fieldset>
            <form-input ng-model="vm.opportunity.intermediateApproval.name" x-options='{
                  "title":"Authority Name",
                  "name":"intermediateApprovalName",
                  "help":"<p>This is the full name of the intermediate approval authority.  This person will receive an email and will recommend or not recommend publishing this opportunity.</p>",
                  "id": "intermediateApprovalName",
                  "required": "true"
                }'>
            </form-input>
            <form-input ng-model="vm.opportunity.intermediateApproval.email" x-options='{
              "title": "Authority Email",
              "name": "intermediateApprovalEmail",
              "help": "<p>This is the email address where the intermediate approval authority will receive the request</p>",
              "id": "intermediateApprovalEmail",
              "required": "true"
            }'>
            </form-input>

            <div class="row">
              <div class="col-xs-12 col-md-6">
                <form-display x-options='{
                    "title":"2FA Method",
                    "name":"twoFAMethod",
                    "help":"<p>Choose the two-factor authentication method to be used by the approving authority: SMS message or email.</p>",
                    "required": "true"
                  }'>
                  <select name="twoFAselect" ng-model="vm.opportunity.intermediateApproval.twoFAMethod" id="twoFAselect"
                    class="form-control">
                    <option value="sms">SMS</option>
                    <option value="email">Email</option>
                  </select>
                </form-display>
              </div>
              <div class="col-xs-12 col-md-6">
                <form-input ng-if="vm.opportunity.intermediateApproval.twoFAMethod === 'sms'" ng-model="vm.opportunity.intermediateApproval.mobileNumber"
                  x-options='{
                  "title": "Authority Mobile Number",
                  "name": "intermediateApprovalMobile",
                  "help": "<p>This is the mobile number to be used for SMS 2FA</p>",
                  "id": "intermediateApprovalMobile",
                  "required": "{{vm.opportunity.intermediateApproval.twoFAMethod === \"sms\""
                }'>
                </form-input>
              </div>
            </div>
            <div ng-if="vm.opportunity.intermediateApproval.twoFAMethod === 'email'" class="alert alert-warning"><i class="fas fa-envelope"></i> An authentication code will be sent in a separate email</div>
            <div ng-if="vm.opportunity.intermediateApproval.twoFAMethod === 'sms'" class="alert alert-warning"><i class="fas fa-mobile-alt"></i> An authentication code will be sent via text message</div>

          </fieldset>
        </div>
        <div class="col-xs-12 col-md-5 mb-3 ml-2 p-3 border rounded">
          <h4>Final Approval</h4>
          <fieldset>
            <form-input ng-model="vm.opportunity.finalApproval.name" x-options='{
              "title": "Authority Name",
              "name": "finalApprovalName",
              "help": "<p>This is the full name of the final approval authority.  This person will receive an email and will approve or reject your request to publish this opportunity.</p>",
              "id": "finalApprovalName",
              "required": "true"
            }'>
            </form-input>
            <form-input ng-model="vm.opportunity.finalApproval.email" x-options='{
              "title": "Authority Email",
              "name": "finalApprovalEmail",
              "help": "<p>This is the email the final approval authority will receive the request at.</p>",
              "id": "finalApprovalEmail",
              "required": "true"
            }'>
            </form-input>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <form-display x-options='{
                      "title":"2FA Method",
                      "name":"twoFAMethod",
                      "help":"<p>Choose the two-factor authentication method to be used by the approving authority: SMS message or email.</p>",
                      "required": "true"
                    }'>
                  <select name="twoFAselect" ng-model="vm.opportunity.finalApproval.twoFAMethod" id="twoFAselect" class="form-control"
                    required>
                    <option value="sms">SMS</option>
                    <option value="email">Email</option>
                  </select>
                </form-display>
              </div>
              <div class="col-xs-12 col-md-6">
                <form-input ng-if="vm.opportunity.finalApproval.twoFAMethod === 'sms'" ng-model="vm.opportunity.finalApproval.mobileNumber"
                  x-options='{
                    "title": "Authority Mobile Number",
                    "name": "finalApprovalMobile",
                    "help": "<p>This is the mobile number to be used for SMS 2FA</p>",
                    "id": "finalApprovalMobile",
                    "required": "{{vm.opportunity.finalApproval.twoFAMethod === \"sms\""
                  }'>
                </form-input>
              </div>
            </div>
            <div ng-if="vm.opportunity.finalApproval.twoFAMethod === 'email'" class="alert alert-warning"><i class="fas fa-envelope"></i> An authentication code will be sent in a separate email</div>
            <div ng-if="vm.opportunity.finalApproval.twoFAMethod === 'sms'" class="alert alert-warning"><i class="fas fa-mobile-alt"></i> An authentication code will be sent via text message</div>

          </fieldset>
        </div>
      </div>

      <div class="bg-light rounded py-2">
        <div class="row">
          <div class="col">
            <button data-automation-id="button-swu-approval-send-request" type="button" ng-click="vm.sendRequest()"
              class="btn btn-success float-right">
              <i class="fas fa-envelope"></i>
              Send</button>
            <button data-automation-id="button-swu-approval-save-changes" type="submit" class="btn btn-primary float-right">
              <i class="fas fa-save"></i>
              Save</button>
            <a data-automation-id="button-swu-cancel-request" class="btn btn-text-only float-right" ui-sref="opportunities.viewswu({opportunityId:vm.opportunity.code})"
              title="Cancel">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
