<section class="main-section bg-light">
	<div class="container">
		<div class="row text-center">
			<div class="col">
			  	<h1 class="display-4 my-5">400</h1>
			  	<h3 class="my-5">Oops, something went wrong!</h3>
				<p class="my-5">If you'd be so kind as to <a href="https://github.com/BCDevExchange/devex/issues">open an issue and let us know what happened</a>, that'll help us fix it sooner. Thanks!</p>
				<p class="my-5"><a href="/">Return to the homepage</a></p>
			</div>
		</div>
	</div>
</section>