<div class="container">
  <h1>Bad Request</h1>
	<div class="alert alert-danger" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  <span ng-if="vm.errorMessage" ng-bind="vm.errorMessage"></span>
	  <span ng-if="!vm.errorMessage">You made a bad request - naughty! If you'd be so kind as to <a href="https://github.com/BCDevExchange/devex/issues">open an issue and let us know what happened</a>, that'll help us fix it sooner. Thanks!</span>
	</div>
</div>
