<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h1 class="page-header">Web Accessibility</h1>
        <p>The B.C. government is committed to creating websites, online content, and applications that are accessible to all British Columbians, regardless of their level of ability. This means striving to meet or exceed worldwide standards for developing and maintaining accessible websites—and encouraging others to do the same.</p>
        <p>The B.C. government follows the <a href="http://www.w3.org/TR/WCAG20/" target="_blank">World Wide Web Consortium (W3C) WCAG 2.0 Standard</a> (AA), and is committed to designing, developing, and updating websites to meet or exceed this standard.</p>
        <p>The following tools can help ensure the standard is achieved:</p>
        <ul>
          <li><a href="http://www.w3.org/WAI/GL/2005/06/checklist-proto.html" target="_blank">Web Accessibility Checklist</a></li>
          <li><a href="http://www.w3.org/TR/WCAG20-TECHS/" target="_blank">Techniques for WCAG 2.0</a></li>
          <li><a href="http://www.w3.org/WAI/WCAG20/quickref/Overview.php" target="_blank">How to Meet WCAG 2.0</a></li>
          <li><a href="http://achecker.ca/checker/index.php" target="_blank">Web Accessibility Checker</a></li>
        </ul>

        <h3>Accessibility 2024</h3>
        <p>Accessibility 2024 is a ten year action plan designed around 12 building blocks that represent the themes that emerged through the&nbsp;<a href="#" target="_self">disability consultation process</a>.</p>
        <p>The B.C. government is committed to decreasing barriers and increasing accessibility for British Columbians with disabilities, and is developing a roadmap to make B.C. the most progressive province in Canada for people
          with disabilities by 2024.</p>
        <p><a href="https://bcdevexchange.org/gov/content/governments/about-the-bc-government/accessibility/accessibility-2024" target="_self">Learn about the B.C. government’s Accessibility 2024 commitments</a>
        </p>

        <h3>Connect</h3>
        <ul>
          <li>Web &amp; Online Accessibility:&nbsp;<a href="mailto:WebmanagerOnLineChannelOffice@gov.bc.ca" target="_self">WebmanagerOnLineChannelOffice@gov.bc.ca</a></li>
          <li>Accessibility 2024:&nbsp;<a href="mailto:Accessibility@gov.bc.ca" target="_self">Accessibility@gov.bc.ca</a></li>
          <li>EnquiryBC:&nbsp;<a href="mailto:EnquiryBC@gov.bc.ca" target="_self">EnquiryBC@gov.bc.ca</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
