<section class="main-section">
  <div class="container">

    <div class="row py-3">
      <div class="col">
        <h1>Code With Us</h1>
      </div>
    </div>

    <div class="row py-3">
      <div class="col">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" id="codewithus" ui-sref="codewithus">Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="codewithusps" ui-sref="codewithusps">Public Sector Product Managers</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-sm-8 col-md-9">
        <p class="lead">If you manage an open source digital product in the British Columbia public sector,
          Code With Us can help you <span style="font-weight: 500;">access talented developers and pay for code
            quickly</span>.</p>
        <p class="lead">Post an opportunity, evaluate Proposals, assign a developer, and get to work!</p>
      </div>
      <div class="d-none d-sm-block col-sm-4 col-md-3">
        <img src="/modules/core/client/img/photos/product-manager-225px.png" class="img-fluid">
      </div>
    </div>

    <div class="row py-3">
      <div class="col">
        <a href="https://github.com/BCDevExchange/code-with-us/wiki/2.-For-Public-Sector-Employees:-How-to-Manage-a-Code-With-Us-Opportunity"
          title="Read the guide" class="btn btn-lg btn-primary">Read the Guide</a>
      </div>
    </div>
    
  </div>
</section>
