<section>
  <div class="container">
    
    <div class="row">
        <h1 class="page-header">Code With Us</h1>
    </div>  

    <div class="row">
      <ul class="nav nav-pills">
        <li class="active"><a  id="codewithus" ui-sref="codewithus">Developers</a></li>
        <li><a  id="codewithusps" ui-sref="codewithusps">Public Sector Product Managers</a></li>
      </ul>  
    </div>
        
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <blockquote>
          <p class="subtitle">We know there are tons of brilliant tech professionals like you who never get an opportunity to apply their skills to public service. We want to change that!</p>
          <p class="subtitle">Code With Us makes it easy to get paid for contributing to government's digital services by providing a process that allows you to focus on writing code, not contract paperwork.</p>
          <p class="subtitle">Here's how it works:</p>
        </blockquote>
      </div>
      <div></div>
      <div class="hidden-xs col-sm-3 col-md-2"> 
        <img src="/img/cwu.png" style="width: 225px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <br>
        <div class="well">
          <h4><i class="fa fa-search"></i>&nbsp; Search</h4>
          <p>Find an opportunity that matches your skills and interest. The <b>acceptance criteria</b> describes what you need you to deliver to get paid the fixed price.</p>
          <br>
          <h4><i class="fa fa-comments"></i>&nbsp; Connect</h4>
          <p>Talk directly with the opportunity contact on GitHub to get more clarity. If you have suggestions, or think the price is too low, say so!</p>
          <br>
          <h4><i class="fa fa-paper-plane"></i>&nbsp; Apply</h4>
          <p>Submit a brief Proposal through the app. If you’re assigned, you’ll be offered the exclusive right to work on the issue for a set period of time.</p>
          <br>
          <h4><i class="fa fa-code"></i>&nbsp; Contribute</h4>
          <p>Work collaboratively and iteratively with the opportunity contact. Commit code  early and often to ensure you’re on the right track.</p>
          <br>
          <h4><i class="fa fa-usd"></i>&nbsp; Get Paid</h4>
          <p>Once the acceptance criteria is met and your code is merged, submit your invoice and expect payment within 30 days. Read more about payment options <a href="https://github.com/BCDevExchange/code-with-us/wiki/4.-Payment">here</a>.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <a href="/opportunities" class="btn btn-lg btn-primary">Browse opportunities</a>
        <a href="https://github.com/BCDevExchange/code-with-us/wiki/3.--For-Developers:-How-to-Apply-on-a-Code-With-Us-Opportunity" class="btn btn-lg btn-text-only" target="_blank">Read the guide</a>
      </div>
    </div>
    <br>    
  </div>
</section>  