<section class="main-section">
  <div class="container">

    <div class="row py-3">
      <div class="col">
        <h1 data-automation-id="cwuLearnPageid">Code With Us</h1>
      </div>
    </div>

    <div class="row py-3">
      <div class="col">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" id="codewithus" ui-sref="codewithus">Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="codewithusps" ui-sref="codewithusps">Public Sector Product Managers</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-sm-8 col-md-9">
        <p class="lead">We know there are tons of brilliant tech professionals like you who never get an
          opportunity to apply their skills to public service. We want to change that!</p>
        <p class="lead">Code With Us makes it easy to get paid for contributing to government's digital
          services by providing a process that allows you to focus on writing code, not contract paperwork.</p>
        <p class="lead">Here's how it works:</p>
      </div>
      <div class="d-none d-sm-block col-sm-4 col-md-3">
        <img src="/img/cwu.png" class="img-fluid">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="p-3 my-3 border rounded bg-light">
          <h4><i class="fas fa-search"></i>&nbsp; Search</h4>
          <p>Find an opportunity that matches your skills and interest. The <b>acceptance criteria</b> describes what
            you need you to deliver to get paid the fixed price.</p>
        </div>
        <div class="p-3 my-3 border rounded bg-light">
          <h4><i class="fas fa-comments"></i>&nbsp; Connect</h4>
          <p>Talk directly with the opportunity contact on GitHub to get more clarity. If you have suggestions, or
            think the price is too low, say so!</p>
        </div>
        <div class="p-3 my-3 border rounded bg-light">
          <h4><i class="fas fa-paper-plane"></i>&nbsp; Apply</h4>
          <p>Submit a brief Proposal through the app. If you’re assigned, you’ll be offered the exclusive right to
            work on the issue for a set period of time.</p>
        </div>
        <div class="p-3 my-3 border rounded bg-light">
          <h4><i class="fas fa-code"></i>&nbsp; Contribute</h4>
          <p>Work collaboratively and iteratively with the opportunity contact. Commit code early and often to ensure
            you’re on the right track.</p>
        </div>
        <div class="p-3 my-3 border rounded bg-light">
          <h4><i class="fas fa-dollar-sign"></i>&nbsp; Get Paid</h4>
          <p>Once the acceptance criteria is met and your code is merged, submit your invoice and expect payment
            within 30 days. Read more about payment options <a href="https://github.com/BCDevExchange/code-with-us/wiki/4.-Payment">here</a>.</p>
        </div>
      </div>
    </div>

    <div class="row py-5">
      <div class="col">
        <a href="/opportunities" class="btn btn-lg btn-primary">Browse opportunities</a>
        <a href="https://github.com/BCDevExchange/code-with-us/wiki/3.--For-Developers:-How-to-Apply-on-a-Code-With-Us-Opportunity"
          class="btn btn-lg btn-text-only" target="_blank">Read the guide</a>
      </div>
    </div>
    <br>
  </div>
</section>
