<section>
  <div class="container">
   
    <div class="row">
      <h1 class="page-header">Code With Us</h1>
    </div>

    <div class="row">
      <ul class="nav nav-pills">
        <li><a  id="codewithus" ui-sref="codewithus">Developers</a></li>
        <li class="active"><a  id="codewithusps" ui-sref="codewithusps">Public Sector Product Managers</a></li>
      </ul>  
    </div> 
      
    <div class="row">
       <div class="col-xs-12 col-sm-8 col-md-9">
        <blockquote>
          <p class="subtitle">If you manage an open source digital product in the British Columbia public sector, Code With Us can help you <span style="font-weight: 500;">access talented developers and pay for code quickly</span>.</p>
          <p class="subtitle">Post an opportunity, evaluate Proposals, assign a developer, and get to work!</p>
        </blockquote>  
      </div>
      <div class="hidden-xs col-sm-1 col-md-1"></div>
      <div class="hidden-xs col-sm-3 col-md-2 pull-right"> 
        <img src="/modules/core/client/img/photos/product-manager-225px.png" style="width: 145px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="https://github.com/BCDevExchange/code-with-us/wiki/2.-For-Public-Sector-Employees:-How-to-Manage-a-Code-With-Us-Opportunity" title="Read the guide" class="btn btn-lg btn-primary">Read the Guide</a>
      </div>
    </div>
    <br>
  </div>
</section>
      
  