<br>
<div class="container">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li class="active"><a  id="codewithus" ui-sref="codewithus">Developers</a></li>
      <li><a  id="codewithusps" ui-sref="codewithusps">Public Sector Product Managers</a></li>
    </ul>  
  </div>
      
  <br>
      
  <div class="col-xs-12">
    <h1 class="page-header">Code With Us</h1>
    <div class="row">
      <div class="hidden-xs col-sm-4 col-md-3"> 
        <img src="/modules/core/client/img/photos/agile-team-225px.png" style="width: 225px">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <blockquote>
          <p>We know there are tons of talented tech professionals like you who never get an opportunity to apply their skills to public service. We want to make it easier to <b>contribute to government's digital services and get paid</b> - and do it in a way where you can focus on writing code, not contract paperwork.</p>
          <p>Here's how it works...</p>
        </blockquote>  
      </div>
    </div>  

    <br>

    <div class="col-xs-12 col-md-9">
        
      <h3>Find an opportunity that matches your skills and interest</h3>
      <p>The <b>acceptance criteria</b> describes what you need you to deliver to get paid the fixed price.</p>

      <h3>Connect</h3>
      <p>Talk directly with the opportunity contact on GitHub to get more clarity. If you have suggestions, or think the price is too low, say so!</p>

      <h3>Apply</h3>
      <p>The <b>proposal evaluation criteria</b> shows how your proposal will be scored. Apply through the app. If you’re selected, you’ll be offered the exclusive right to work on the issue for a set period of time.</p>

      <h3>Do the work</h3>
      <p>Work collaboratively and iteratively with the opportunity contact. Commit work as early and often as possible to ensure you’re on the right track.</p>

      <h3>Get paid</h3>
      <p>Once the acceptance criteria is met and your code is merged, submit your invoice and expect payment within 30 days. Read more about payment options <a href="https://github.com/BCDevExchange/code-with-us/wiki/4.-Payment">here</a>.</p>
        
      <br>
      
      <div class="btn-group-lg">
        <a href="/opportunities" class="btn btn-lg btn-warning">Browse opportunities</a>
        <a href="https://github.com/BCDevExchange/code-with-us/wiki/3.--For-Developers:-How-to-Apply-on-a-Code-With-Us-Opportunity" class="btn btn-lg btn-link" target="_blank">Read the guide</a>
      </div>

      <br><br>
    
    </div>  
</div>  