<section class="static">

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Code With Us</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="position: relative; width: 100%; min-height: 255px;
    overflow-y: hidden; background: url(/modules/core/client/img/headers/Developers.jpg) no-repeat center; background-size: cover;">
  </div>

  <div class="container-fluid" style="background-color: #f2f2f2;">
    <div class="container">
      <div class="row" style="text-align: right;">
        <p style="font-weight: 100; font-size: 13px; padding-bottom: 0px; line-height: 1.5em;">Photo adapted from image by <a href="
        http://hackny.org/">hackNY</a>. Used under license <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>.</p>
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p style="font-family: Lato; font-weight: 200; font-size: 18px; padding-top: 0px;"><a ui-sref="codewithus">Developers</a> &nbsp | &nbsp;<b>Public Sector Product Managers</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

  </div>


    <!-- This section for "Public Sector" -->

    <!--<p></p>

    -->

        <!-- FAQ Section -->
            <!--<h1>Frequently Asked Questions</h1>

            <h3>Engaging with developers</h3>
            <p><b>What does the technical contact have to do?</b><br>Your technical contact will need to be ready to respond to comments on the Issue in GitHub in a timely manner. Read the Province of B.C.'s <a href="http://www2.gov.bc.ca/gov/content/about-gov-bc-ca/citizen-centric/ux-toolbox/citizen-engagement-and-social-media">guidelines on Citizen Engagement and Social Media</a> for guidance on how to write comments appropriately.</p>
            <p><b>How quickly should we respond to questions?</b><br>Strive to respond to new comments within the same business day. Questions received after hours should be responded to the next business day. The more responsive you are, the more likely developers will be motivated to work with you.</p>
            <p><b>Other recommendations around communication...</b><br>Around 3 hours before the proposal period ends, post a courtesy comment reminding subscribers to get their proposals in on time.</p>
            <h3>Evaluating proposals</h3>
            <p><b>How should we evaluate proposals?</b><br>Before you look at any of the proposals, create an evaluation criteria matrix for scoring the proposals. Each person who is involved in the evaluation should independently score proposals before discussing as a group and coming to consensus.</p>
            <p><b>What documentation should we keep?</b><br>Save the proposals and evaluations in a secure folder for when respondents ask for feedback, and for FOI purposes.</p>
            <h3>Working with the assigned developer</h3>
        </div>
    </div>-->



  <!-- This section for "Developers" -->

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <br><br>
        <blockquote>
          <p style="font-size: 20px;">Code With Us is a new way for the B.C. public sector to access talented developers and pay for code quickly. We completed a Code With Us in 15 business days from opportunity posted to code accepted. Post an opportunity worth up to $10,000, evaluate proposals, choose a developer and get to work!</p>
        </blockquote>
        <br>
        <h3>What you need to get started.</h3>
        <ol>
          <li>If you don't already have a GitHub account, <a href="https://github.com/">create one.</a></li>
          <li>Sign up on the BCDevExchange.</li>
          <li>Create a profile for your program and project. This helps developers understand what you’re working on, and may entice more people to apply on the opportunity.</li>
          <li>Create a repo on GitHub, the popular online code sharing platform, to collaborate on your code. Talk to us about getting set up.</li>
          <li>Clearance to share your code under an <b>open license</b>. You may need to consult with your intellectual property program. Read the B.C. Government’s <a href="https://github.com/bcgov/guide-for-open-source-projects">Guide for Open-Source Projects.</a></li>
         <li>An <b>opportunity contact</b> - a person on your team who has the expertise and time to respond to questions and give direction to developers publicly on GitHub for the duration of the opportunity.</li>
        </ol>

        <h3>Post an opportunity.</h3>
        <p>Create an opportunity and define what you need. Choose a fixed price for the work, and state the criteria you’ll use to choose a developer. Once you’ve got everything set, publish it to the world!</p>

        <h3>Assign a developer.</h3>
        <p>Evaluate the proposals you get and assign a developer to do the work.</p>
        <p>If the assignment doesn’t work out by the milestone, you can reassign the work to someone else. Or, if unexpected things come up and the developer just needs a bit more time to complete the work, you can extend the date.</p>
        <p>After the work has been completed to your satisfaction, and you’ve merged the code, the developer can send you an invoice to get paid. </p>
        
        <h3>Terms.</h3>
        <p>Read the <a href="https://github.com/BCDevExchange/code-with-us/raw/master/Code%20With%20Us%20Paid%20Terms_Nov_28.pdf">legal terms</a> which govern your interactions while you manage the opportunity.</p>
        
        <h3>Accept the work.</h3>
        <p>Merge the code into your master if it meets the acceptance criteria. In the comments section of the issue, notify the developer you have accepted his or her code. Close the issue in GitHub.</p>
        
        <h3>Pay the developer.</h3>
        <p>Ask the developer to send you an invoice. Provide necessary forms if they have selected payment by cheque or electronic funds transfer. Notify your Expense Authority that you merged the code.</p>
      </div>
    </div>
  </div>

<div class="container" ng-if="!vm.isUser">
  <div class="row">
    <div class="col-md-9" style="text-align: center; line-height: 1.5em;">
      <h2 style="padding-bottom: 30px;">Ready to get started?<br><br><a ui-sref="authentication.gov" class="btn btn-lg btn-solo btn-warning">Sign Up</a></h2>
    </div>
  </div>
</div>

</section>
