<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="page-header">Copyright</h1>
        <p>The following policy governs the operation and management of the government's main website and all websites of ministries, and agencies reporting to ministries.</p>
        <p>Copyright © 2015, Province of British Columbia. All rights reserved.</p>
        <p>This material is owned by the Government of British Columbia and protected by copyright law. It may not be reproduced or redistributed without the prior written permission of the Province of British Columbia.</p>

        <h3>Permission</h3>
        <p>To request permission to reproduce all or part of any other materials on this website, please complete the <a href="https://extranet.gov.bc.ca/forms/gov/copy/index.html" target="_self">Copyright Permission Request Form</a>.</p>
        
        <h3>Exceptions</h3>
        <p>For the reproduction of provincial legislation found on the <a href="http://www.bclaws.ca/" target="_self">BC Laws website</a>, permission is subject to the terms of the <a href="http://www.bclaws.ca/standards/2014/QP-License_1.0.html" target="_self">Queen’s Printer License – British Columbia</a>.</p>
        <p>For the reproduction of materials found in the <a href="https://catalogue.data.gov.bc.ca/" target="_self">BC Data Catalogue</a>, either a license agreement (as specified in the BC Data Catalogue) will apply or the
          materials are “access only” and reproduction is not permitted without written permission. To request permission, please complete the <a href="https://extranet.gov.bc.ca/forms/gov/copy/index.html" target="_self">Copyright
            Permission Request Form</a>. If a license agreement applies, permission is subject to the terms of the specified license.</p>

        <h3>Questions or concerns?</h3>
        <p>For more information, please contact the <a href="http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/intellectual-property/intellectual-property-program"
          target="_self">Intellectual Property Program</a>.</p>  
      </div>
    </div>
  </div>
</section>