<!-- <div>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<a href="https://twitter.com/hashtag/BCDev" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="twitter.com/hashtag/BCDev">
					<i class="fa fa-twitter fa"></i>
				</a>
				&nbsp;&nbsp;
				<a href="https://github.com/BCDevExchange" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="github.com/BCDevExchange">
					<i class="fa fa-github fa"></i>
				</a>
				&nbsp;&nbsp;
				<a href="mailto:Data@gov.bc.ca?subject=Feedback on BCDevExchange" analytics-on>
					<i class="fa fa-envelope fa"></i>
				</a>
				&nbsp;&nbsp;
				<a href="http://blog.data.gov.bc.ca/" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="blog.data.gov.bc.ca">
					<i class="fa fa-comment fa"></i>
				</a>
				<ul class="site-footer-items">
					<li><a href="/disclaimer">Disclaimer</a>
					</li>
					<li><a href="/privacy">Privacy</a>
					</li>
					<li><a href="/accessibility">Accessibility</a>
					</li>
					<li><a href="/copyright">Copyright</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-6">
				<img src="/assets/images/bc-sponsor.jpg" class="pull-right" />
			</div>
		</div>
	</div>
</div>
 -->
<div class="container">
	<div class="row">
 		<div class="col-xs-12 col-sm-3">
			<div class="row" style="padding-bottom: 40px">
				<div class="col-xs-4 col-sm-4" style="text-align: center">
					<a href="https://twitter.com/hashtag/BCDev" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="twitter.com/hashtag/BCDev">
					<i class="fa fa-twitter fa-2x"></i>
					</a>
				</div>
				<div class="col-xs-4 col-sm-4" style="text-align: center">
					<a href="https://github.com/BCDevExchange" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="github.com/BCDevExchange">
					<i class="fa fa-github fa-2x"></i>
					</a>
				</div>
				<div class="col-xs-4 col-sm-4" style="text-align: center;">
					<a href="mailto:bcdevexchange@gov.bc.ca?subject=Feedback on BCDevExchange" analytics-on>
					<i class="fa fa-envelope fa-2x"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-3">
			<div class="row">
				<div class="col-xs-12 col-sm-12" style="text-align: center">
					<p><a id="disclaimer" href="/disclaimer">Disclaimer</a></p>
					<p><a id="privacy" href="/privacy">Privacy</a></p>
					<p><a id="accessibility" href="/accessibility">Accessibility</a></p>
					<p><a id="copyright" href="/copyright">Copyright</a></p>
					<p><a id="roadmap" href="/roadmap">Roadmap</a></p>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-3">
			<div class="row">
				<div class="col-xs-12 col-sm-12" style="text-align: center">
					<p><a id="about" href="/about">About</a></p>
					<p><a id="codewithus" href="/codewithus">Code With Us</a></p>
					<p><a href="http://apilist.pathfinder.gov.bc.ca/">APIs</a>
					<p><a id="authentication.signinadmin" ui-sref="authentication.signinadmin">Admin Login</a>

				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-3" style="display: inline-block;">
			<div class="row">
				<div class="col-xs-12 col-sm-12" style="text-align: center;">
					<a href="http://www2.gov.bc.ca/" id="Supported by the Province of British Columbia"><img src="/modules/core/client/img/logo/BCID-supported-pos.svg" alt="Supported by the Province of British Columbia" style="max-width: 200px"></a>
				</div>
			</div>

	</div>
</div>

<!--
<div class="container">
	<div class="footer-right">
		<object class="footer-logo" data="/modules/core/client/img/logo/BCID-supported-pos.svg" type="image/svg+xml">
			Supported by the Government of British Columbia
		</object>
	</div>
	<div class="footer-left row">
		<div class="col-xs-3">
			<a href="#"><img height="32" src="/modules/core/client/img/logo/avatar-2.png" alt="Home"></a>
		</div>
		<div class="col-xs-9">
		<p class="footer-links">
			<a href="#">About</a>
			·
			<a href="#">Open Opportunities</a>
			·
			<a href="#">Open APIs</a>
			·
			<a href="#">Kick Start Program</a>
			·
			<a href="https://twitter.com/hashtag/BCDev" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="twitter.com/hashtag/BCDev">
				<i class="fa fa-twitter fa"></i> Twitter
			</a>
			·
			<a href="https://github.com/BCDevExchange" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="github.com/BCDevExchange">
				<i class="fa fa-github fa"></i> Github
			</a>
			·
			<a href="mailto:Data@gov.bc.ca?subject=Feedback on BCDevExchange" analytics-on>
				<i class="fa fa-envelope fa"></i> Contact
			</a>
			·
			<a href="http://blog.data.gov.bc.ca/" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="blog.data.gov.bc.ca">
				<i class="fa fa-comment fa"></i> Blog
			</a>
		</p>
		<p>
			<a href="/disclaimer">Disclaimer</a>
			·
			<a href="/privacy">Privacy</a>
			·
			<a href="/accessibility">Accessibility</a>
			·
			<a href="/copyright">Copyright</a>
		</p>
		</div>
	</div>
</div>
-->
