<div class="container">
  <div class="footer-right">
    <object class="footer-logo" data="/modules/core/client/img/logo/BCID-supported-pos.svg" type="image/svg+xml">
      Supported by the Government of British Columbia
    </object>
    <!-- <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a> -->
  </div>
  <div class="footer-left">
    <a href="#"><img height="32px" src="/modules/core/client/img/logo/avatar-blue.png" alt="Home"></a>
    <p class="footer-links">
      <a href="#" class="page-scroll">About</a>
      ·
      <a href="#">Open Opportunities</a>
      ·
      <a href="#">Open APIs</a>
      ·
      <a href="#">Kick Start Program</a>
      ·
      <a href="#">Roadmap</a>
    </p>
    <p>
      <a href="#">Blog</a>
      ·
      <a href="#">Resources</a>
      ·
      <a href="#">Legal</a>
      ·
      <a href="#">Contact</a>
    </p>
    <!-- <p>&copy; 2016 BC Developer's Exchange. All Rights Reserved</p> -->
  </div>
</div>
