<div class="container-fluid footer">
	<div class="row">
 		<div class="col-xs-12 text-center">
 			<p class="footer-distributed"><img id="avatar" alt="BC Developers' Exchange" height="45px;" src="/modules/core/client/img/logo/avatar.svg"> &copy; 2018 BC Developers' Exchange</p>
 		</div>

 		<div class="col-xs-12 text-center">
 			<p class="footer-distributed">  
	 			<a href="https://github.com/BCDevExchange/devex" target="_blank" analytics-on analytics-event="click" analytics-category="outbound" analytics-label="github.com/BCDevExchange"><i class="fa fa-github"></i> Fork this site</a>
	 			&nbsp; &nbsp;
	 			<a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on><i class="fa fa-envelope"></i> Say hi!</a>
	 			&nbsp; &nbsp;
	 			<a id="about" href="/about">About</a>
	 			&nbsp; &nbsp;
	 			<a id="roadmap" href="/roadmap">Roadmap</a>
	 			&nbsp; &nbsp;
	 			<a id="codewithus" href="/codewithus">Code With Us</a>
	 			&nbsp; &nbsp;
	 			<a id="sprintwithus" href="/sprintwithus">Sprint With Us</a>
	 			&nbsp;&nbsp;
	 			<a href="http://apilist.pathfinder.gov.bc.ca/">APIs</a>
	 			&nbsp; &nbsp;
	 			<a id="authentication.signinadmin" ui-sref="authentication.signinadmin">Admin Login</a>
	 			&nbsp; &nbsp;
	 			<a id="disclaimer" href="/disclaimer">Disclaimer</a>
	 			&nbsp; &nbsp;
	 			<a id="privacy" href="/privacy">Privacy</a>
	 			&nbsp; &nbsp;
	 			<a id="accessibility" href="/accessibility">Accessibility</a>
	 			&nbsp; &nbsp;
	 			<!--<a id="copyright" href="/copyright">Copyright</a>
	 			&nbsp; &nbsp;-->
 			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 text-center">
			<a href="http://www2.gov.bc.ca/" id="Supported by the Province of British Columbia"><img src="/modules/core/client/img/logo/BCID-supported-rev.svg" alt="Supported by the Province of British Columbia" style="max-width: 120px"></a>
		</div>
	</div>
</div>