<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container" ng-controller="HeaderController as vm">
    <div class="navbar-header">
      <a href="/" id="home"><img class="navbar-brand" src="/modules/core/client/img/logo/new-logo-white.svg" alt="BCDevExchange"
          ui-sref="home"></a>
      <button type="button" class="navbar-toggler" ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">

      <!-- Menu items -->
      <ul class="nav navbar-nav mr-auto">

        <!-- Navbar items with subitems -->
        <li class="nav-item" ng-repeat="item in vm.menu.items | orderBy: position" ng-if="item.shouldRender(vm.user)"
          ng-switch="item.type" uib-dropdown="item.type === 'dropdown'">
          <a data-automation-id="AdminMenuItem" ng-switch-when="dropdown" class="nav-link" uib-dropdown-toggle role="button">
            <i class="nav-icon" ng-class="item.icon || 'fas fa-puzzle-piece'" aria-hidden="true"></i>
            {{item.title}}
          </a>
          <ul ng-switch-when="dropdown" class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="subItem in item.items | orderBy: position" ng-if="subItem.shouldRender(vm.user)"
              class="dropdown-item">
              <a id="{{subItem.state}}" ui-sref="{{subItem.state}}({{subItem.params}})" ng-bind="subItem.title"></a>
            </li>
          </ul>
          <!-- Navbar items without subitems -->
          <a ng-switch-default ui-sref="{{item.state}}" class="nav-link">
            <i class="nav-icon" ng-class="item.icon || 'fas fa-puzzle-piece'" aria-hidden="true"></i>
            {{item.title}}
          </a>
        </li>
      </ul>

      <!-- Sign-in -->
      <ul class="nav navbar-nav ml-auto" ng-hide="vm.user">
        <li ui-sref-active="active" class="nav-item">
          <a id="authentication.signin" ui-sref="authentication" class="nav-link">
            <i class="fab fa-lg fa-github" aria-hidden="true"></i> Sign In</a>
        </li>
      </ul>

      <!-- Messaging & User widget -->
      <ul class="nav navbar-nav ml-auto" ng-show="vm.user">
        <li class="nav-item">
          <a href="/settings/messages" class="nav-link">
            <i class="far fa-2x fa-envelope"></i>
            <span data-automation-id="unreadMessageIcon" class="unread-badge" ng-if="vm.messageCount > 0" ng-bind="vm.messageCount"></span>
          </a>
        </li>

        <li uib-dropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="single-button" role="button" uib-dropdown-toggle>
            <img ng-src="{{vm.avatarImageUrl}}" data-automation-id="UserAvatarImage" class="navbar-header-user-image">
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-white" role="menu" aria-labelledby="single-button" uib-dropdown-menu>
            <h6 class="dropdown-header">Signed in as {{vm.user.displayName}}</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ng-repeat="item in vm.accountMenu.items" ui-sref="{{item.state}}" ng-bind="item.title"></a>
            <div class="dropdown-divider"></div>
            <a data-automation-id="lnkSignOut" class="dropdown-item" href="/api/auth/signout" target="_self">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
