<!-- // Please save in case we want to use this for the 2020 BCTECHSummit 
<div class="bc-tech-homepage-banner">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="small bg-white text-center p-2">
        <strong>Are you coming to the <a href="https://www.bctechsummit.ca/home" target="_blank">#BCTECHSummit</a>?</strong><br>Come visit us on the conference floor &mdash; we're at <strong>Booth 34/35</strong><br><a href="/bctechsummit">What you can see at our booth <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
-->

<section class="bg-dark py-5">  
  <div class="container">
    <div class="row py-5 text-center text-light">
      <div class="col">
        <h1>Finding better ways for government and developers to work together.</h1>
        <a data-automation-id="lnkBrowseOpportunities" href="/opportunities" class="btn btn-lg btn-primary mt-5">Browse Opportunities</a>
      </div>
    </div>
  </div>
</section>

<!-- CWU / SWU -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6 py-2">
        <div class="card h-100 align-items-center" ui-sref="codewithus">
          <img class="" height="125" width="190" src="/modules/core/client/img/photos/cwu.png" alt="Developer">
          <div class="card-body text-center">
            <h2>Code With Us</h2>
            <p class="subtitle"><strong>Commit code.<br>Get paid.</strong></p>
            <p class="subtitle">Opportunities up to <strong>$70,000</strong></p>
            <a class="btn btn-primary" data-automation-id="button-codewithus" href="/codewithus" title="Learn more about Code With Us">Learn
              More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 py-2">
        <div class="card h-100 align-items-center" ui-sref="sprintwithus">
          <img class="" height="125" width="190" src="/modules/core/client/img/photos/agile-team.png" alt="Agile Team">
          <div class="card-body text-center">
            <h2>Sprint With Us</h2>
            <p class=" subtitle">Supply
              an <span class="strong">Agile team</span> to work with a government
              product manager in a modern DevOps environment.</p>
            <p class="subtitle">Opportunities up to <strong>$2 million</strong></p>
            <a class="btn btn-primary" data-automation-id="button-sprintwithus" href="/sprintwithus" title="Learn more about Sprint With Us">Learn
              More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sign Up CTA -->
<section class="bg-dark py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 text-light text-center">
        <h3 class="py-5">Join a community of developers, entrepreneurs, and public service innovators who are making
          public services better.</h3>

        <div class="pt-3 pb-5"><a href="/authentication" class="btn btn-lg btn-primary">Sign Up</a></div>

        <div class="py-5">
          <h4><i class="fas fa-university"></i> &nbsp; Public Sector Employees</h4>
          <p>Raise your profile with developers and build a community around your open source project. Hire talent fast.</p>
        </div>

        <div class="py-5">
          <h4><i class="far fa-user-circle"></i> &nbsp; Developers</h4>
          <p>Discover paid opportunities to contribute to public sector digital projects.</p>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6 my-3">
        <img src="/modules/core/client/img/photos/andy.jpg" class="rounded-circle img-fluid img-testimonial" style="align-content: center;">
        <blockquote>
          <p>&quot;We quickly found a qualified developer, worked collaboratively in
            the open, and got a great final product!&quot;</p>
          <footer><em>Andy</em> | <span>Environmental Analyst</span>,
            Province of B.C.</footer>
        </blockquote>
      </div>
      <div class="col-md-6 my-3">
        <img src="/modules/core/client/img/photos/wayne.jpg" class="rounded-circle img-fluid img-testimonial">
        <blockquote>
          <p>&quot;I think this platform could be a game changer for matching government
            agencies with the best talent in this province.&quot;</p>
          <footer><em>Wayne</em> | <span>Developer</span>, Vancouver</footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
