<section>
  <div class="jumbotron text-center" style="background-image:url(/modules/core/client/img/headers/header1.jpg);background-size:cover">
    <div class="row">
      <div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo-white.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="color:white">
        Work together, grow B.C.’s economy, make services for British Columbians better
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to the BC Developer's Exchange.</h2>
    <p>
      <strong>The experiment</strong> - a new way for innovators in the tech sector and government to work together, grow B.C.’s economy, and make services for British Columbians better.
    </p>
    <div>
      <uib-tabset active="active" type="pills">
        <uib-tab index="0" heading="Developers">
          <br/>
          <div class="jumbotron text-center" style="background-image:url(/modules/core/client/img/headers/Developers.jpg);background-size:cover">
          <h2 style="color:white">Developers</h2>
          <br/>
          <span>
            <button class="btn btn-primary">Code With Us</button>
            <button class="btn btn-primary">Explore APIs</button>
          </span>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <h3>Make code, get paid.</h3>
              <p>Are you a coder? Government agencies in B.C. want your skills. Find work posted in GitHub labelled with ‘$1000’. Submit the best code, and you can get paid.</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <h3>Code for your community</h3>
              <p>Give back to your community. Work on BCDevExchange projects and help make government services in British Columbia better for everyone.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <h3>More code, less paperwork</h3>
              <p>Instead of a long RFP, we offer work at a fixed price. Using GitHub and PayPal we are testing a faster way to code together with less paperwork.</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <h3>APIs and code you can use</h3>
              <p>Looking to hone your coding skills? Or build the next big app? Explore APIs and code shared by government agencies in B.C.</p>
            </div>
          </div>
        </uib-tab>

        <uib-tab index="1" heading="Entrepreneurs">
          <br/>
          <div class="jumbotron text-center" style="background-image:url(/modules/core/client/img/headers/Entrepreneurs.jpg);background-size:cover">
          <h2 style="color:white">Entrepreneurs</h2>
          <br/>
          <span>
            <button class="btn btn-primary">View Partners</button>
            <button class="btn btn-primary">Explore APIs</button>
          </span>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <h3>Earn a reference customer.</h3>
              <p>On the hunt for new business? Earn a reference from a B.C. government agency. Then sell your solution to the international market.</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <h3>Government Partners</h3>
              <p>Meet government innovators exploring new ways to develop tech. Understand their business, from pain points to tech stack, and start the conversation.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <h3>APIs and code you can use</h3>
              <p>You see the market opportunity, we provide raw ingredients. Explore APIs and code from government that can help seed your business.</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <h3>Leverage open IP</h3>
              <p>Whenever possible, the code and APIs you find on the BCDevExchange use open source licenses, so you can add value and take your solution to market.</p>
            </div>
          </div>
        </uib-tab>

        <uib-tab index="2" heading="Public Sector">
          <br/>
          <div class="jumbotron text-center" style="background-image:url(/modules/core/client/img/headers/partner.jpg);background-size:cover">
          <h2 style="color:white">Public Sector</h2>
          <br/>
          <span>
            <button class="btn btn-primary">Become a Partner</button>
            <button class="btn btn-primary">View Partners</button>
          </span>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <h3>Get the best tech talent and ideas</h3>
              <p>The BCDevExchange is making it easier for government agencies to tap into the B.C. tech sector’s talent and innovative ideas, and grow the economy too.</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <h3>Get Agile.</h3>
              <p>Looking for a better way to do IT? The BCDevExchange is experimenting with more agile, iterative, and collaborative development. Lower your risk, and innovate faster.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <h3>More code, less paperwork</h3>
              <p>Do you have a capacity crunch? The BCDevExchange is piloting a new way to engage skilled developers. Post work for a fixed price ($1000) and pay to get the best code.</p>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</section>

