<section id="intro" class="intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<br><br>
				<p>We’re finding better ways for government and developers to work together. Meaningful work for tech talent lives here. Join us!</p>
				<a ui-sref="signup" class="btn btn-lg btn-solo btn-warning">Sign Up</a>
			</div>
		</div>
	</div>
</section>

<section id="code-with-us" class="audience" style="background-color: #ffffff">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 style="color: #0a4d8d">Code With U<i class="fa fa-usd"></i></h1>
				<h5 style="color: #052748">Work  directly in GitHub and get paid a fixed fee for code that meets the acceptance criteria.</h5>
				<a ui-sref="opportunities" class="btn btn-default">Find Work</a><br><br><br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
					<img src="/modules/core/client/img/photos/andy.jpg" class="img-circle img-responsive">
					<blockquote>
						<p>"We quickly found a qualified developer, worked collaboratively in the open, and got a great final product!"</p>
						<footer style="color: #0a4d8d"><b>Andy</b>, Environmental Analyst<br>Victoria</footer>
					</blockquote>
			</div>
			<div class="col-xs-12 col-sm-4">
					<img src="/modules/core/client/img/photos/wayne.jpg" class="img-circle img-responsive">
					<blockquote>
						<p>"I think this platform could be a game changer for matching government agencies with the best talent in this province."</p>
						<footer style="color: #0a4d8d"><b>Wayne</b>, Developer<br>Vancouver</footer>
					</blockquote>
			</div>
			<div class="col-xs-12 col-sm-4">
						<img src="/modules/core/client/img/photos/steph.jpg" class="img-circle img-responsive">
						<blockquote>
						<p>"Trying the BCDevExchange instead of our usual contracting methods allowed us to get a developer working on our stuff more quickly."</p>
						<footer style="color: #0a4d8d"><b>Stephanie</b>, Environmental Reporting Director<br>Victoria</footer>
						</blockquote>
			</div>
		</div>
	</div>
</section>


<section id="open projects" class="audience" style="background-color: #020d18">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 style="color: #1a9ad6">Open Projects &nbsp; <i class="fa fa-pie-chart fa-lg"></i></h1>
				<h5 style="color: #e8f6fc">Explore open-source public sector projects that are making a difference for British Columbians. Find something that inspires you and get involved.</h5>
				<br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="/modules/core/client/img/photos/mygov.jpg" alt="MyGov Project" style="width:100%;">
					<div class="card-block">
						<h3 class="card-title">MyGov</h3>
						<p class="card-text">Personalized service for British Columbians. The MyGov team is working on a centralized module that will integrate with all service providers across government, providing a seamless experience for citizens.</p>
						<a href="#" class="btn btn-default">See Inside</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="/modules/core/client/img/photos/tfrs.jpg" alt="Transportation Fuels Reporting System Project" style="width:100%;">
					<div class="card-block">
						<h3 class="card-title">Transportation Fuel Reporting System</h3>
						<p class="card-text">We're developing a new system to help us track and report on fuel production and sales in B.C., helping fuel companies comply with emissions targets and avoid fines.</p>
						<a href="#" class="btn btn-default">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="/modules/core/client/img/photos/mmti.jpg" alt="Major Mines Transparency Initiative Project" style="width: 100%;">
					<div class="card-block">
						<h3 class="card-title">Major Mines Transparency Initiative</h3>
						<p class="card-text">We're building a new website to make it easier for the public to see what the Province is doing to monitor, inspect, and enforce compliance of major mines.</p>
						<a href="#" class="btn btn-default">Explore</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="events" class="events" style="background-color: #ffffff">
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="text-align: center;">
				<h1 style="color: #f26925"><i class="fa fa-calendar fa-lg"></i>&nbsp; &nbsp;Events & Community &nbsp; <i class="fa fa-users fa-lg"></i></h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h4>Co-Design Meetup: <em>Sprint With Us!</em></h4>
				<p>Come help us flesh out a model for qualifying and quickly hiring developers onto government sprint teams. Food and beverages provided!</p>
				<p><b>Wed, February 22, 2017 / 7:00 PM</b><br>
				1012 Douglas Street, Victoria</p>
				<a href="mailto:Loren.Mullane@gov.bc.ca?subject=Feb 23 Co-Design Session" class="btn btn-default">RSVP</a>
				<br><br> 

				<h4>#BCTECH Summit</h4>
				<p>See you there! We'll have a booth and will be glad to chat about what we're up to.</p>
				<p><b>Tue-Wed, March 14-15, 2017</b><br>
				Vancouver Convention Centre</p>
				<a href="http://bctechsummit.ca/" class="btn btn-default">LEARN MORE</a>
				<br><br>
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>

				

			

			</div>

			<div class="col-sm-6">
				
			</div>

		</div>
	</div>
</section>