<section class="static">
	<div class="container">
		<div class="row">
		<div class="container">
			<p style="padding: 0px;">Mar 8, 2017</p>
			<br>	
		</div>
			</div>
		<div class="row">
			<div class="col-md-9">
			<h1>Ministry of Transportation and Infrastructure Engages the BC Tech Sector on Next Generation IoT</h1>
			<p>Many tech pundits are calling the Internet of Things (IoT) the tech trend of 2017. The sheer scale of devices coming online will generate a massive pool of data that when mined holds the promise of better decisions and new market opportunities for business.</p>
			<p>The transportation sector stands to realize tremendous benefits from IoT innovation with game changers such as connected vehicles, advanced logistics and real-time traffic routing.</p>
			<p>The Government of B.C.’s Ministry of Transportation and Infrastructure (MOTI) is moving quickly to respond to the IoT trend. They already manage thousands of sensors and webcams that monitor weather, seismic and traffic information to enhance public safety and transportation efficiency. Now they are exploring a next-generation IoT platform that can improve MOTI’s management of the province’s vital transport network, and provide new opportunities for B.C. tech firms.</p>
			<h3>Experimentation and Collaboration - A New Way Forward</h3>
			<p>MOTI’s starting position is that their next generation IoT platform should be highly flexible, interoperable, scalable, and standards-based. They need a nimble platform, responsive to changing business needs and technology advancements.</p>
			<p>With big players in the IoT space such as IBM, Microsoft, Google and others going open source, MOTI sees value in open source hardware and software to make it easier for multiple companies to provide technical solutions that can be plugged into the platform.</p>
			<p>While MOTI sees value in an interoperable system, they also see a need to clarify how to meet enterprise requirements for security and governance for a multi-party, multi-device approach.</p>
			<p>To answer these questions MOTI is taking a ‘learning by doing’ approach; how can different companies assemble tech solutions to trial one open source IoT platform? Can tech companies collaborate to build working prototypes?</p>
			<p>Engaging the tech sector early fits with the BC Tech Strategy and the BCDevExchange goal of finding new ways to work with the tech sector and accelerate the design and development of government’s digital services.</p>
			<h3>Discovery Challenge Day March 13th</h3>
			<p>To test its assumptions, MOTI is partnering with the B.C. Innovation Council and the BCDevExchange to engage the B.C. tech sector. On March 13th in Vancouver, B.C. tech firms are invited to attend an IoT Discovery Day.  where they can engage in a discussion about government’s IoT strategy, and learn about a series of IoT technical innovation challenges. These challenges will help MOTI test the potential for an interoperable, multi-party, IoT platform that leverages open standards, and explore the capabilities and potential partnerships with B.C tech firms.</p>
			<h3>Seed Money for Proof of Concepts</h3>
			<p>In the summer, B.C. tech companies will be invited to submit Proofs of Concept to meet the business challenges, with the top five selected for development to be built out over a 3 to 5 month period.</p>
			<p>Companies whose Proposals are selected as one of five finalists will receive seed money to develop prototypes. Additional benefits for companies to participate include using government as a reference, and the potential to sell final solutions to MOTI and take their innovations to a wider market.</p>
			<br>
			<p style="font-size: 20px;">Does this pique your interest? Learn more about the event and how to participate in the challenges on the <a href="http://bcic.ca/events/iot-discovery-day/">BC Innovation Council website</a>.</p>

		</div>
	</div>

</section>
