<div class="panel panel-info" ng-if="vm.members.length > 0">
<div class="panel-heading">
	<h2 class="panel-title">{{vm.title}}</h2>
</div>
<div class="panel-body">
	<div class="col-sm-4" ng-repeat="column in vm.columns">
		<div class="card card-block" ng-repeat="member in vm.members | slice:column.start:column.end">
			<div class="row">
				<div class="col-xs-8">
					<div class="card-img">
						<img class="card-img-left" src="{{((member.profileImageURL.substr(0,1) == '/' || member.profileImageURL.substr(0,4) == 'http') ? '' : '/') + member.profileImageURL}}"/>
					</div>
					<div>
						<h4 class="card-title">{{member.firstName}} {{member.lastName}}</h4>
						<p class="card-subtitle">{{member.userTitle}}<br/><a ng-if="member.email && member.isDisplayEmail" href="mailto:{{member.email}}">email me</a></p>
						<p class="card-subtitle"><small><em class="text-muted">Member Since: {{member.created | date:'mediumDate'}}</em></small></p>
					</div>
				</div>
				<div class="col-xs-4" ng-if="vm.isAdmin || vm.model.userIs.admin">
					<a href="javascript:void(0);" ng-click="vm.confirm(member._id, member.username)" title="Confirm">
						<i class="fa fa-lg fa-thumbs-o-up"></i> Confirm
					</a><br/>
					<a href="javascript:void(0);" ng-click="vm.deny(member._id, member.username)" title="Deny">
						<i class="fa fa-lg fa-times"></i> Deny
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
