<div class="row">
  <div class="col m-4">
    <div class="text-center">
      <h3>Are you still there?</h3>
    </div>
    <div class="text-center">
      To protect your privacy, we'll log you out in
      <span ng-if="qqq.countdown > 60">{{qqq.getCountdownInMinutes()}} minute(s)</span>
      <span ng-if="qqq.countdown <= 60"> {{qqq.countdown}} second(s).</span>
      <uib-progressbar max="qqq.max" value="qqq.countdown" animate="false" class="progress-striped active"></uib-progressbar>
    </div>
  </div>
</div>
