<div class="modal-header">
  	<div class="modal-title">{{modalOptions.headerText}}</div>
</div>
<div class="modal-body">
  	{{modalOptions.bodyText}}
</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-automation-id="button-modal-yes" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    <button type="button" data-automation-id="button-modal-no" class="btn btn-default" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>
