<div class="p-4">
    <head>
        <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaOnload&render=explicit" async defer></script>
        <script>
            var _captchaTries = 0;
            function recaptchaOnload() {
                _captchaTries++;
                if (_captchaTries > 9) {
                    return;
                }
        
                if ($('.g-recaptcha').length > 0) {
                    grecaptcha.render("recaptcha", {
                        siteKey: '{{$ctrl.siteID}}'
                    });
                    return;
                }
                window.setTimeout(recaptchaOnload, 1000);
            }
        </script>
        <style>
            .text-xs-center {
                text-align: center;
            }
            .g-recaptcha {
                display: inline-block;
            }
        </style>
    </head>
    <div class="row">
        <div class="col">
            <a class="btn btn-text-only float-right" ng-click="$ctrl.quitnow()" title="Close">
                <i class="fas fa-lg fa-times text-secondary"></i>
            </a>
        </div>
    </div>
    
    <form action="?" method="POST" class="text-xs-center">
        <div id="recaptcha" class="g-recaptcha" data-sitekey="{{$ctrl.siteID}}" data-callback="enableSave"></div>
    </form>
    <div class="row">
        <div class="col">
            <form id="emailForm" ng-submit="$ctrl.saveEmail()">
                <div class="input-group my-3 d-flex flex-column">
                    <input id="name" type="text" required ng-model="$ctrl.name" class="mb-2 w-100 form-control" placeholder="Your name" aria-label="Your name" aria-describedby="button-addon2" ng-disabled="!$ctrl.allowSave">
                    <input id="email" type="email" required ng-model="$ctrl.email" class="mb-2 w-100 form-control" placeholder="Your email" aria-label="Your email" aria-describedby="button-addon2" ng-disabled="!$ctrl.allowSave">
                    <div class="input-group-append flex-row-reverse">
                        <button class="btn btn-block btn-primary" type="submit" id="button-addon2" ng-disabled="!$ctrl.allowSave">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
