<div class="banner banner-important">
  <i class="fa fa-lg fa-flask"></i> &nbsp; We're experimenting with a new Agile procurement model. <a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>Give us feedback!</a>
</div>

<section>
  <div class="container">

    <div class="row">
        <h1 class="page-header">Sprint With Us &nbsp; <span><label class="label label-orange" style="font-size: 11px; vertical-align: top; margin: -10px 3px 3px -15px;">Alpha</label></span></h1>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <blockquote>
          <p class="subtitle">The Government of B.C. is ready to work in a new way to deliver software products.</p>
          <p class="subtitle">Sprint With Us is our new procurement model to contract companies like yours to supply <strong>Agile software development teams</strong>.</p>

        </blockquote>
      </div>
      <div class="hidden-xs col-sm-1 col-md-1">
      <div class="hidden-xs col-sm-3 col-md-2">
        <img src="/modules/core/client/img/photos/agile-team-225px.png" style="width: 225px">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p class="subtitle">If your company wins a Sprint With Us opportunity, here's how you can expect to work with us:</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-flat card-info text-center">
        <div class="card-body" style="height: 270px;">
          <img class="card-img-top" style="height: 70px;" src="/img/product-owner.png" alt="Government Product Owners">
          <div class="card-title">Government Product Owners</div>
          <p>You'll work closely with a trained government product owner who has the expertise and the responsibility to run the service.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat card-info text-center">
          <div class="card-body" style="height: 270px;">
            <img class="card-img-top" style="height: 70px;" src="/img/agile.png" alt="Agile">
            <div class="card-title">Agile</div>
            <p>We'll be adaptable to change and follow the Agile Scrum process, building and validating features iteratively with users.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat card-info text-center">
          <div class="card-body" style="height: 270px;">
            <img class="card-img-top" style="height: 70px;" src="/img/interdisciplinary.png" alt="Interdisciplinary teams">
            <div class="card-title">Interdisciplinary Teams</div>
            <p>Our team will be a maximum of nine people and possess all the skills necessary for continuous delivery, such as scrum master, software development, and UI/UX design and research.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="card card-flat card-info text-center">
          <div class="card-body" style="height: 270px;">
            <img class="card-img-top" style="height: 70px;" src="/img/agile-phases.png" alt="Agile Phases">
            <div class="card-title">Agile Phases</div>
            <p>Don’t expect lengthy requirements. This is Agile. We'll start with <span class="strong"><i class="fa fa-map"></i> Inception</span> to understand the business problem. Then we'll build a <span class="strong"><i class="fa fa-rocket"></i> Proof of Concept</span> to demonstrate the feasibility of our solution. Finally, we'll build out the rest of the product in <span class="strong"><i class="fa fa-gears"></i> Implementation</span>.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat card-info text-center">
          <div class="card-body" style="height: 270px;">
            <img class="card-img-top" style="height: 70px;" src="/img/open-source.png" alt="Open Source">
            <div class="card-title">Open Source</div>
            <p>Your team will own the code that's produced, but it will be published in GitHub under an open source license.</p>
          </div>
        </div>
    </div>

<!-- // Nav tabs if we need to add later // -->
<!--
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li class="active"><a  id="sprintwithus" ui-sref="sprintwithus">What's it like to work with Government on a Sprint With Us opportunity</a></li>
          <li><a  id="sprintwithusps" ui-sref="sprintwithusps">How to Apply</a></li>
        </ul>
      </div>
    </div>
-->

    <div class="row">
      <div class="col-xs-12">
         <h2>How to Apply</h2>
         <p class="subtitle">Follow these steps to qualify for and apply on Sprint With Us opportunities:</p>
       </div>
     </div>

     <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-outline-warning">
            <h4>1. Sign In &amp; Claim Capabilities</h4>
            <p>
            <ol>
              <li><a id="authentication.signin" ui-sref="authentication.signin">Sign in</a> to the BCDevExchange with your GitHub account</li>
              <li>Claim the capabilities you possess in the <strong>My Capabilities &amp; Skills</strong> tab in your BCDevExchange Profile</li>
            </ol>
            </p>
        </div>

        <div class="alert alert-outline-success">
          <h4>2. Register &amp; Qualify Your Company</h4>
          <h5>Register</h5>
          <p>To register your company:
          <ol>
            <li>Make sure you're <a href="/authentication/signin">signed in</a></li>
            <li>Go to the <a href="/orgs">Companies page</a> and click on the <strong>+ Register a Company</strong> button</li>
          </ol>
          </p>
          <hr>
          <h5>Qualify</h5>
          <p>To qualify, your company needs a team who combined have all of <a href="/capabilities">these capabilities</a>.  Invite the people you want on your team to join the BCDevExchange and claim their capabilities (see Step 1).</p>
          <p>Make sure they tell you the emails they used in their profiles so you can add them to your team.</p>
          <p>From the <strong>Members &amp; Capabilities</strong> tab in your <strong>company profile</strong>:
            <ol>
              <li>Add members to your company</li>
              <li>Once you can see that all of the capabilities are covered off, read and agree to the <a href="/api/proposals/download/terms/rfq1" target="_blank">qualification terms</a></li>
            </ol>
          </p>
        </div>

        <div class="alert alert-outline-primary">
          <h4>3. Submit a Proposal</h4>
          <p>Once you’ve qualified, find an opportunity you want to bid on and submit a proposal:
            <ul>
              <li>Make sure you're <a href="/authentication/signin">signed in</a> </li>
              <li>Find an opportunity</li>
              <li>Click on the <strong>Submit a Proposal</strong> button to begin</li>
            </ul>
          </p>
          <p>The proposal is a lightweight process where you:
            <ul>
               <li>Agree to the Request for Proposal Terms &amp; Conditions, and any additional terms and conditions if applicable</li>
               <li>Select the members of your company you want to assign to each of the Agile Phases in the opportunity</li>
               <li>Answer 5 questions (1,000 word limit per question) that tells us about your company</li>
               <li>Submit a price for your team for each of the Agile Phases</li>
            </ul>
          </p>
        </div>
        <br>
        <div class="alert alert-info">
          <h3>Help Us Improve</h3>
          This is a new procurement model that we’ve designed and are testing with real opportunities. We want to make procurement easier and the delivery of software continuous. We expect to learn and iterate, so please <a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>share your feedback</a> on the process!
        </div>
      </div>
    </div>
  </div>
</section>
