<section class="main-section">
  <div class="container">

    <div class="row py-3">
      <div class="col">
        <h1>Sprint With Us</h1>
      </div>
    </div>

    <div class="row py-3">
      <div class="col">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" id="sprintwithus" href="/sprintwithus">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="sprintwithus-howtoapply" href="/sprintwithus-howtoapply">How to Apply</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-sm-8 col-md-9">
         <p class="lead">Sprint With Us opportunities are restricted to Proponents that have become Qualified Suppliers pursuant to RFQ No. ON‌-003166.</p>
         <p class="lead">Follow these steps to respond to the Request for Qualifications:</p>
       </div>
       <div class="d-none d-sm-block col-sm-4 col-md-3">
        <img src="/modules/core/client/img/photos/agile-team-225px.png" class="img-fluid">
      </div>
     </div>

     <div class="row">
      <div class="col">
        <div class="p-3 my-3 bg-light border rounded">
          <h4>Step 1. Sign In &amp; Claim Capabilities</h4>
          <p>
          <ol>
            <li><a id="authentication.signin" ui-sref="authentication.signin">Sign in</a> to the BCDevExchange with your GitHub account</li>
            <li>Claim the capabilities you possess in the <strong>My Capabilities &amp; Skills</strong> tab in your BCDevExchange profile</li>
          </ol>
          </p>
        </div>

        <div class="p-3 my-3 bg-light border rounded">
          <h4>Step 2. Register &amp; Qualify Your Company</h4>
          <p>Before you decide to apply to this RFQ No. ON-003166 you should read these <a href="/terms/rfq1" target="_blank">terms</a>.</p>
          <hr>
          <h5>Register</h5>
          <p>To register your company:
          <ol>
            <li>Make sure you're <a href="/authentication/signin">signed in</a></li>
            <li>Go to the <a href="/orgs">Companies page</a> and click on the <strong>+ Register a Company</strong> button</li>
          </ol>
          </p>
          <hr>
          <h5>Qualify</h5>
          <p>To qualify, your company needs to be able to provide a team that has all of <a href="/capabilities">these capabilities</a>. You will need to ensure that you have invited each of the team members to join the BCDevExchange and that they have claimed their capabilities in their BCDevExchange profile (see Step 1 above).</p>
          <p>Make sure they tell you the emails they used in their profiles so you can add them to your team.</p>
          <p>Begin building your Response to the RFQ by creating your team on the Team Members tab in your Company Profile by adding members to your Company.</p>
          <p>Individual profiles will have email addresses associated with them. Make sure that you have collected your team member email addresses, because you will need to input those email addresses when adding team members to your team on your company profile.</p>
        </div>
      </div>
    </div>

    <div class="row py-5">
      <div class="col">
        <h3>How to use this website to respond to a Sprint With Us RFP</h3>
        <p>If you've become a Qualified Supplier under RFQ ON‌-003166, you are eligible to apply for a Sprint With Us Requests For Proposals</p>
        <p>
          <ul>
            <li>Make sure you're <a href="/authentication/signin">signed in</a> </li>
            <li>Find an opportunity</li>
            <li>Click on the <strong>Start a Proposal</strong> button to begin</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col">
        <div class="alert alert-warning">
          <i class="fas fa-comments"></i> <strong>Help Us Improve</strong><br>
            We're trying to make procurement easier. Please <a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>share your feedback</a>!
        </div>
      </div>
    </div>

  </div>
</section>
