<section>
  <div class="container">
    
    <div class="row">
        <h1 class="page-header">Sprint With Us</h1>
    </div>  

    <div class="row">
      <ul class="nav nav-pills">
        <li><a  id="sprintwithus" ui-sref="sprintwithus">Tech Companies</a></li>
        <li class="active"><a  id="sprintwithusps" ui-sref="sprintwithusps">Public Sector Product Managers</a></li>
      </ul>  
    </div>
        
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <p class="subtitle">Content to come....</p>
        
      </div>
      <div class="hidden-xs col-sm-1 col-md-1">
      <div class="hidden-xs col-sm-3 col-md-2 pull-right"> 
        <img src="/modules/core/client/img/photos/agile-team-225px.png" style="width: 225px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
         <h2>Content to come.....</h2>
         
         <div class="alert alert-info">
           This is a new procurement model that we’ve designed and are testing with real opportunities. We want to make procurement easier and the delivery of software continuous. We expect to learn and iterate, so please <a href="">share your feedback</a> on the process!
         </div> 
      </div>
    </div>    
  </div>
</section>  