<!--
<div class="banner banner-important">
  <i class="fa fa-envelope"></i> &nbsp;<a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>Give us feedback</a> on Sprint With Us.
</div>
-->
<section>
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1 class="page-header">Sprint With Us</h1>
      </div>
      <div class="col-xs-12 col-sm-6">
          <a class="btn btn-primary pull-right" style="margin: 5px 0 15px" id="sprintwithus" href="/sprintwithus"><i class="fa fa-lg fa-info-circle"></i> &nbsp;What is Sprint With Us?</a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
         <h3>How to use this website to respond to the Sprint With Us RFQ ON‌-003166</h3>
         <p>Sprint With Us opportunities are restricted to Proponents that have become Qualified Suppliers pursuant to RFQ No. ON‌-003166.</p>
         <p>Follow these steps to respond to the Request for Qualifications:</p>
       </div>
     </div>

     <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-outline-warning">
            <h4>Step 1. Sign In &amp; Claim Capabilities</h4>
            <p>
            <ol>
              <li><a id="authentication.signin" ui-sref="authentication.signin">Sign in</a> to the BCDevExchange with your GitHub account</li>
              <li>Claim the capabilities you possess in the <strong>My Capabilities &amp; Skills</strong> tab in your BCDevExchange profile</li>
            </ol>
            </p>
        </div>

        <div class="alert alert-outline-orange">
          <h4>Step 2. Register &amp; Qualify Your Company</h4>
          <p>Before you decide to apply to this RFQ No. ON-003166 you should read these <a href="/api/proposals/download/terms/rfq1" target="_blank">terms</a>.</p>
          <hr>
          <h5>Register</h5>
          <p>To register your company:
          <ol>
            <li>Make sure you're <a href="/authentication/signin">signed in</a></li>
            <li>Go to the <a href="/orgs">Companies page</a> and click on the <strong>+ Register a Company</strong> button</li>
          </ol>
          </p>
          <hr>
          <h5>Qualify</h5>
          <p>To qualify, your company needs to be able to provide a team that has all of <a href="/capabilities">these capabilities</a>. You will need to ensure that you have invited each of the team members to join the BCDevExchange and that they have claimed their capabilities in their BCDevExchange profile (see Step 1 above).</p>
          <p>Make sure they tell you the emails they used in their profiles so you can add them to your team.</p>
          <p>Begin building your Response to the RFQ by creating your team on the Team Members tab in your Company Profile by adding members to your Company.</p>
          <p>Individual profiles will have email addresses associated with them. Make sure that you have collected your team member email addresses, because you will need to input those email addresses when adding team members to your team on your company profile.</p>
        </div>

        <h3>How to use this website to respond to a Sprint With Us RFP</h3>
        <p>If you've become a Qualified Supplier under RFQ ON‌-003166, you are eligible to apply for a Sprint With Us Requests For Proposals</p>
        <p>
          <ul>
            <li>Make sure you're <a href="/authentication/signin">signed in</a> </li>
            <li>Find an opportunity</li>
            <li>Click on the <strong>Start a Proposal</strong> button to begin</li>
          </ul>
        </p>
        <!-- BA-584 Legal asked us to remove this section -->
        <!--
        <p>Here's what happens after you submit your Proposal through the website.</p>
        <h4>Code Challenge</h4>
        <p>Depending on your Proposal score, your team may be screened in for a Code Challenge. Either way, you'll be notified promptly whether your team is in the running.</p>
        <p>A maximum of 4 teams will move to the Code Challenge.</p>
        <p>Teams will be given 5 (five) business days to complete the Code Challenge in GitHub.
        The challenge will be evaluated by two independent evaluators and a static code evaluator. Those who complete the Code Challenge and meet the evaluation requirements will then proceed to the Team Scenario.</p>

        <h4>Team Scenario</h4>
        <p>Teams that successfully complete the Code Challenge will be invited to participate in a 3-hour Team Scenario.</p>
        <p>At the start of the meeting, your team will be presented with a scenario where they can demonstrate their capabilities and how they work as a team under pressure. This will be followed by questions of your team from the evaluation panel, including follow up questions on both the scenario and coding challenge.</p>
        <p>Your entire team should participate in the Team Scenario. This can be arranged either in person or by video conference.</p>

        <h4>Contract</h4>
        <p>The scores for all phases will be totalled and the highest scoring team will be awarded the contract.</p>
      -->
        <!--
          <p>Please <a href="">read this template version of a Sprint With Us contract</a> so you know what to expect.</p>
        -->

        <br>
      </div>
    </div>
  </div>
</section>

<div class="banner banner-important">
  <div class="container">
    <i class="fa fa-comments"></i> <strong>Help Us Improve</strong><br>
    We are making procurement easier and the delivery of software continuous. Please <a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>share your feedback</a>!
  </div>
</div>