<!--
<div class="banner banner-important">
  <i class="fa fa-envelope"></i> &nbsp;<a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>Give us feedback</a> on Sprint With Us.
</div>
-->

<section class="gray-lighter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1 class="page-header">Sprint With Us</h1>
      </div>
      <div class="col-xs-12 col-sm-6">
          <a class="btn btn-primary pull-right" style="margin: 5px 0 15px" style="display: inline-block; overflow: wrap;" id="sprintwithus-howtoapply" href="/sprintwithus-howtoapply"><i class="fa fa-lg fa-info-circle"></i> &nbsp;How to use this website to respond to the Sprint With Us RFQ</a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <p class="subtitle">The Government of B.C. is procuring Agile software development teams.</p>
      </div>
      <div class="hidden-xs col-sm-1 col-md-1">
      <div class="hidden-xs col-sm-3 col-md-2">
        <img src="/modules/core/client/img/photos/agile-team-225px.png" style="width: 170px">
      </div>   
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p class="subtitle">If your company wins a Sprint With Us opportunity, here's how you can expect to work with us:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat text-center">
          <div class="card-body" style="height: 300px;">
            <img class="card-img-top" style="height: 70px;" src="/img/product-owner.png" alt="Government Product Owners">
            <div class="card-title">Government Product Managers</div>
            <p>You'll work closely with a trained government product manager who has the expertise and the responsibility to run the service.</p>
          </div>
        </div>
      </div>
    
      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat text-center">
          <div class="card-body" style="height: 300px;">
            <img class="card-img-top" style="height: 70px;" src="/img/agile.png" alt="Agile">
            <div class="card-title">Agile</div>
            <p>You'll be adaptable to change and follow the Agile Scrum process, building and validating features iteratively with users.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat text-center">
          <div class="card-body" style="height: 300px;">
            <img class="card-img-top" style="height: 70px;" src="/img/interdisciplinary.png" alt="Interdisciplinary teams">
            <div class="card-title">Interdisciplinary Teams</div>
            <p>Your team will possess all the skills necessary for continuous delivery, such as DevOps engineering, front-end and back-end development, and user experience research and design.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat text-center">
          <div class="card-body" style="height: 300px;">
            <img class="card-img-top" style="height: 70px;" src="/img/agile-phases.png" alt="Agile Phases">
            <div class="card-title">Agile Phases</div>
            <p>Don’t expect lengthy requirements. This is Agile. You'll start with <span class="strong"><i class="fa fa-map"></i> Inception</span> to understand the business problem, then build a <span class="strong"><i class="fa fa-rocket"></i> Proof of Concept</span> to demonstrate the feasibility of the solution. Finally, you'll build out the rest of the product in <span class="strong"><i class="fa fa-gears"></i> Implementation</span>.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat text-center">
          <div class="card-body" style="height: 300px;">
            <img class="card-img-top" style="height: 70px;" src="/img/open-source.png" alt="Open Source">
            <div class="card-title">Open Source</div>
            <p>Your team will own the code that's produced, but it will be published in GitHub under an open source license.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card card-flat text-center">
          <div class="card-body" style="height: 300px;">
            <img class="card-img-top" style="height: 70px;" src="/img/money-sack.png" alt="Open Source">
            <div class="card-title">Pricing &amp; Incentives</div>
            <p>These are not time &amp; materials contracts! For each phase, you'll charge a fixed price for your interdisciplinary team to meet the deliverables for the time period. There's incentives to complete a phase early!</p>
          </div>
        </div>
      </div>
    </div>
    
    <br><br><br>
  </div>
</section>

<div class="banner banner-important">
  <div class="container">
    <i class="fa fa-comments"></i> <strong>Help Us Improve</strong><br>
    We are making procurement easier and the delivery of software continuous. Please <a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>share your feedback</a>!
  </div>
</div>