<div class="banner banner-info">
  <span class="small"><span class="font-italic">Sprint With Us</span> opportunities are restricted to Proponents that have become Qualified Suppliers pursuant to RFQ No. ON‌-003166. <a href="/terms/rfq1" target="_blank">Read the terms</a>.</span>
</div>
<section class="main-section">
  <div class="container">

    <div class="row py-3">
      <div class="col">
        <h1>Sprint With Us</h1>
      </div>
    </div>

    <div class="row py-3">
      <div class="col">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" id="sprintwithus" href="/sprintwithus">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="sprintwithus-howtoapply" href="/sprintwithus-howtoapply">How to Apply</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-sm-8 col-md-9">
         <p class="lead">Follow these steps to qualify and apply on <span class="font-italic">Sprint With Us</span> opportunities.</p>
       </div>
       <div class="d-none d-sm-block col-sm-4 col-md-3">
        <img src="/modules/core/client/img/photos/agile-team-225px.png" class="img-fluid">
      </div>
     </div>

     <div class="row">
      <div class="col">
        <div class="p-3 my-3 bg-light border rounded">
          <h4>Step 1 - Sign in and claim your capabilities</h4>
          <p>
          <ol>
            <li><a id="authentication.signin" href="/authentication">Sign in</a> to the BCDevExchange with your GitHub account</li>
            <li>Claim the capabilities you possess in your personal profile <strong>(Settings > My Capabilities &amp; Skills)</strong></li>
          </ol>
          </p>
        </div>

        <div class="p-3 my-3 bg-light border rounded">
          <h4>Step 2 - Register and qualify your company</h4>
          <h5>Register</h5>
          <p>To register your company:
          <ol>
            <li>Make sure you're <a href="/authentication">signed in</a></li>
            <li>Go to the <a href="/orgs">companies list</a> and click on the <strong>+ Register a Company</strong> button. Complete the form to fill out information about your company.</li>
          </ol>
          </p>
          <hr>
          <h5>Qualify</h5>
          <p>To qualify to apply on <span class="font-italic">Sprint With Us</span> opportunities, your company needs to have at least two members who collectively possess all of <a href="/capabilities">these capabilities</a>.
          </p>
          <h5>Adding members</h5>
          <p>To add members, individuals must sign in and claim their capabilities (see Step 1), then find your company in the <a href="/orgs">companies list</a> and click the join button. Once they've done this, when you navigate to your company profile, you'll see their member request and can add them.</p>
          <p>Once you have met these qualifications and have accepted the <a data-automation-id="lnkSWUTerms" href="/terms/rfq1" target="_blank"><span class="font-italic">Sprint With Us</span>Terms</a>, you'll be able to submit proposals on <span class="font-italic">Sprint With Us</span> opportunities.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="banner banner-important">
  <i class="fas fa-comments"></i> <strong>Help Us Improve</strong><br>
        We're trying to make procurement a better experience for everyone. Please <a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>share your feedback</a>!
</div>
