<!-- Please save this file in case we want to reuse it for 2020 BCTECHSummit-->
<section class="bc-tech-header pt-0">
<div class="container no-pad-xs">
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-xl-10">  
      <!--Booth callout-->
      <div class="team-box">
        <div class="text-right"><span class="text-muted">We're at booth</span> <label class="booth-label">34</label> <label class="booth-label">35</label></div>
        <h2 class="my-4">Visit our "Pop-up Lab" at the <a href="https://www.bctechsummit.ca/home" target="_blank">#BCTECHSummit</a></h2>
        <div>Join us on the conference floor <strong>March 12-13, 2019</strong> and meet some of the teams who are making it better to work with and for the B.C. Government</div>
      </div>      
      <!--CSI Lab section-->
      <div class="team-box bg-light" style="border-color: #BD42AC">
        <div class="row">
          <div class="col-lg-8">
            <img src="/modules/core/client/img/bc-tech-summit/csi-lab.png" class="img-fluid my-3" style="max-height: 100px;">
            <p>The Continuous Service Improvement (CSI) Lab is a space and a community that supports collaboration and the creation of solutions to high impact public challenges. In the Lab, teams typically composed of innovative public servants and leading private sector technologists, come together to use modern approaches and technology to address problems and ship solutions.</p>
            <p>We move fast, connect with users, and use the latest tools to deliver results. Then, teams take their solutions, their learning and their community connections back to their home bases - whether that's in the public or private sector - to contribute to an expanding ecosystem of collaborators committed to using technology in the public interest.</p>
            <p><a href="https://www.linkedin.com/company/bc-gov-csi-lab/" target="_blank"><i class="fab fa-lg fa-linkedin"></i>&nbsp;Join our Linkedin Community page </a></p>
            <p ng-if="!$ctrl.isSubscribed"><a href="" ng-click="$ctrl.openNewsLetterSignup()"><i class="fas fa-lg fa-envelope"></i>&nbsp;Subscribe to our newsletter</a></p>
            <p ng-if="$ctrl.isSubscribed" class="text-muted"><i class="fas fa-lg fa-envelope"></i>&nbsp;You are subscribed to our newsletter</p>
          </div>
          <div class="col-lg-4 d-flex align-items-center">
            <div class="d-flex flex-wrap py-3">
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/heather.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Heather Remacle</div>
                  <div class="staff-title">Director of Lab Operations</div>
                </div>
              </div>
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/diana.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Diana De Cotiis</div>
                  <div class="staff-title">Lab Administrator</div>
                </div>
              </div>
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/meaghan.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Meaghan Stewart</div>
                  <div class="staff-title">Scrum Master</div>
                </div>
              </div>
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/rumon.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Rumon Carter</div>
                  <div class="staff-title">Executive Director</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--BCDevExchange-->
      <div class="team-box" style="border-color: #368692">
        <div class="row">
          <div class="col-lg-8">
            <img src="/modules/core/client/img/logo/new-logo.svg" class="img-fluid my-3" style="max-width: 220px;">
            <p>In an effort to make it faster and easier for government and developers to work together, the <strong>BCDevExchange</strong> has created two new procurement processes:</p>
            <p><a href="/codewithus" target="_blank"><span class="font-italic">Code With Us</span></a> drives government to develop its digital products in the open and provides a simple way to acquire and pay developers for enhancements.</p>
            <p>So far, over $700,000 worth of small opportunities ranging from $1,000 - $70,000  have been awarded to developers, many of whom have never worked for government.</p>
            <p><a href="/sprintwithus" target="_blank"><span class="font-italic">Sprint With Us</span></a> enables government to acquire an entire software development team within 30 calendar days for contracts of up to two years or $2M.  Teams who apply get the opportunity to strut their stuff through a code challenge and, under a new <a href="/terms/serviceagreement"
              target="_blank" class="font-italic">Agile Software Development Agreement</a>, are freed to bring their innovation to shape the product rather than being locked into delivering on a pre-determined set of requirements.</p>
            <p>Come learn about <a href="/opportunities" target="_blank">these new opportunities</a> and how you can apply. If you’ve already applied, we'll be keen to hear about your experience and learn how we can improve.</p></div>
          <div class="col-lg-4 d-flex align-items-center">
            <div class="d-flex flex-wrap">
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/steve.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Steve Chapman</div>
                  <div class="staff-title">Scrum Master</div>
                </div>
              </div>
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/andrew.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Andrew Sutherland</div>
                  <div class="staff-title">Architect and Developer</div>
                </div>
              </div>
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/mark.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Mark Wilson</div>
                  <div class="staff-title">Researcher and Designer</div>
                </div>
              </div>
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/peter.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Peter Watkins</div>
                  <div class="staff-title">Founding Executive Sponsor</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--End BCDevExchange-->
      <!--DevHub-->
      <div class="team-box bg-light" style="border-color: #7848BE">
        <div class="row">
          <div class="col-lg-8">
            <img src="/modules/core/client/img/bc-tech-summit/devhub.jpg" class="img-fluid my-3" style="max-width: 276px;">
            <p><a href="https://developer.gov.bc.ca" target="_blank">https://developer.gov.bc.ca</a></p>
            <p>The new <strong>Developers Hub</strong> is the go-to place for government digital product teams to learn new skills, discover tools and resources, and connect with the developer community.</p>
            <p>One of the key elements of the DevHub is the <strong>Design System</strong>&mdash;a collection of digital resources and tools, including reusable UI components and design patterns, aimed to help developers and designers build custom B.C government products.</p>
            <p>The goal of the design system is to make it easier and faster to build B.C. government products while creating a consistent experience across services.</p>
            <p>All DevHub components are collectively contributed to from the government community. They are built to meet government standards and are open for input and improvement. Building in the open ensures this resource is always relevant and up to date with the latest needs from the community.</p>
          </div>
          <div class="col-lg-4 d-flex align-items-center">
            <div class="d-flex flex-wrap">
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/todd.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Todd Wilson</div>
                  <div class="staff-title">Director</div>
                </div>
              </div>
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/davis.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Davis Levine</div>
                  <div class="staff-title">Service Designer</div>
                </div>
              </div>
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/kelsey.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Kelsey Singbeil</div>
                  <div class="staff-title">Service Designer</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--End DevHub-->
      <!--DataBC section-->
      <div class="team-box">
        <div class="row">
          <div class="col-lg-8">
            <img src="/modules/core/client/img/bc-tech-summit/idd.png" class="img-fluid my-3" style="max-height: 130px;">
            <p><strong>Virtual Reality – Weather Real-time data demo</strong></p>
            <p>The <strong>Integrated Data Division</strong> has partnered with <a href="https://www.llamazoo.com/" target="_blank">LlamaZOO</a>, through a <a href="https://www.bcdevexchange.org/opportunities/cwu/opp-augmented-reality---virtual-reality-demonstration-of-weather-real-time-data-apis" target="_blank"><span class="font-italic">Code With Us</span> opportunity</a>, to develop a prototype real-time data API service lightning strike and wildfire simulated data and Virtual Reality demonstration of the use of the APIs.</p>
            <p>The project aims to help us understand the value of open data innovation in solving public sector challenges, increase awareness of new approaches to data visualization in the public sector and create new approaches to deliver real-time data through APIs for data visualization platforms.</p>
          </div>
          <div class="col-lg-4 d-flex align-items-center">
            <div class="d-flex flex-wrap py-3">
              <div class="d-flex align-items-center staff-member">
                <img src="/modules/core/client/img/bc-tech-summit/alex.jpg" class="staff-member">
                <div>  
                  <div class="staff-name">Alex Ritchie</div>
                  <div class="staff-title">Director of Data &amp; Services</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--End DataBC-->    
      <!--Other ` section-->
      <div class="team-box bg-light" style="border-color: #A18C48">
        <p>Check out these other excellent opportunities to engage with teams doing exciting things in the B.C. Government ecosystem:</p>
        <ul>
          <li><a href="https://www.eventbrite.ca/e/bootcampbc-hyperledger-indy-and-the-verifiable-organizations-network-tickets-56540289528" target="_blank">BootcampBC with Hyperledger Indy</a> Monday March 11, 9:00am-5:00pm</li>
          <li><a href="https://www.eventbrite.ca/e/bc-startup-in-residence-demo-day-tickets-57153750406" target="_blank">Startup In Residence (STIR) Demo day</a> Monday March 11, 2:00-3:30pm</li>
          <li><a href="http://www.bctechsummit.ca/page/1397340/digital-government-challenges" target="_blank">Digital Government & Procurement Concierge Challenges</a> Tuesday March 12, 1:15-2:15pm</li>
        </ul>
      </div>
    </div>
  </div>
  <!--Photo citation-->
  <div class="photo-citation float-right"><a href="https://www.flickr.com/photos/bcgovphotos/33312752211/in/photolist-SKJyCK-STRczW-SnbQ1o-STRihs-SX3WR4-SHuUUh-STR6nA-D9vV5X-DeAnKY-CHpA1z-Cjw4Ni-Cjw5aR-CHpApR-CHpAot-Cjw5Gn-CPMC8S-24rC4o3-TjDofy-SoX7Ts-CogCCd-27cgQAR-SLjLGB-REWqS1-RHjk7g-RGVaTo-SKJHLp-SnoAZu-SnoAyE-REWriG-REWtFh-RGVano-SLjM9Z-SMJ1Rr-RGw8CN-CK35TX-SMHZu8-SK31d5-266DuYC-RGwbYW-SMHYcP-CK36jg-266DuJj-24rC3JY-Cm9qUP-25PGpTZ-27cgQLR-REyHHj-RHjjE4-SX3RYt-RHGs6n">Photo</a> &copy; Province of British Columbia used under <a href=https://creativecommons.org/licenses/by-nc-nd/2.0/ target="_blank">CC BY-NC-ND 2.0</a></div>
    
</div><!--End container-->
</section>

