<!-- Main -->
<section class="bg-dark">  
  <div class="container">
    <div class="row text-center text-light">
      <div class="col">
        <h3>See what the Continuous Service Improvement Lab is up to at the 2019 BC Tech Summit!</h3>
      </div>
    </div>
  </div>
</section>

<!-- Visit Booth Section -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-flat h-100 align-items-center">
          Booth Info items here
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Stay Connected Section -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-flat h-100 align-items-center">
            Stay Connected items here
        </div>
      </div>
    </div>
  </div>
</section>

