
<section class="static-page">
<div class="container" role="main">
  <!-- <div ncy-breadcrumb></div> -->
  <form id="profileForm" warn-on-exit name="vm.form.profileForm" class="form" ng-submit="vm.save()" novalidate>
	<div class="row form-head">
	<div class="col-sm-7">
		<h2 ng-if="vm.editing">Editing: {{::vm.profile.user.displayName}}</h2>
		<h2 ng-if="!vm.editing">New Profile</h2>
	</div>
	<div class="col-sm-5 col-form-buttons text-right">
	<div class="btn-group">
	  	<a class="btn btn-primary" ng-click="vm.saveme()" title="Save">
			<i class="glyphicon glyphicon-save"></i> Save Me</a>
		<a class="btn btn-default" href="{{vm.previousState.url}}" title="Cancel">
			<i class="glyphicon glyphicon-fast-backward"></i> Cancel</a>
		<a ng-if="vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
			<i class="glyphicon glyphicon-trash"></i> Remove</a>
	</div>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-12">
			<fieldset>
<!-- 				<select-boolean
					ng-model="vm.profile.isapple"
					class="col-sm-12"
					x-form="profileForm"
					x-options='{
						"id":"isapple",
						"name":"isapple",
						"title":"is apple"
					}'>
				</select-boolean>
 -->
<!--  				<form-display
					class="col-sm-12"
					x-options='{
						"title":"Title",
						"id":"title",
						"name":"title"
					}'>
					What is this ?
				</form-display>
 -->
				<form-input
					ng-model="vm.profile.title"
					class="col-sm-6"
					x-form="profileForm"
					x-options='{
						"title":"Title",
						"id":"title",
						"name":"title",
						"placeholder":"Enter your title",
						"required":"A title is required"
					}'>
				</form-input>
				<form-input
					ng-model="vm.profile.organization"
					class="col-sm-6"
					x-form="profileForm"
					x-options='{
						"title":"Organization",
						"id":"organization",
						"name":"organization",
						"placeholder":"Organization"
					}'>
				</form-input>
				<form-display
					class="col-sm-6"
					x-options='{
						"title":"Location",
						"id":"location",
						"name":"location"
					}'>
					<select name="location" ng-model="vm.profile.location" id="location" class="form-control"  ng-options="v as v for v in vm.cities">
						<option value="">Select Location</option>
					</select>
				</form-display>

				<form-display
					class="col-sm-12"
					x-options='{
						"title":"Description",
						"id":"description",
						"name":"description"
					}'>
					<textarea
						name="description"
						id="description"
						class="form-control input-sm"
						ui-tinymce="vm.tinymceOptions"
						placeholder="A full description of the profile"
						ng-model="vm.profile.description">
					</textarea>
				</form-display>

				<form-input
					class="col-sm-6"
					ng-model="vm.profile.website"
					x-form="profileForm"
					x-options='{
						"title":"Website",
						"id":"website",
						"name":"website",
						"placeholder":"website"
					}'>
				</form-input>

				<form-input
					class="col-sm-6"
					ng-model="vm.profile.github"
					x-form="profileForm"
					x-options='{
						"title":"Github",
						"id":"github",
						"name":"github",
						"placeholder":"github"
					}'>
				</form-input>

				<form-input
					class="col-sm-6"
					ng-model="vm.profile.stackExchange"
					x-form="profileForm"
					x-options='{
						"title":"Stack Exchange",
						"id":"stackExchange",
						"name":"stackExchange",
						"placeholder":"stackExchange"
					}'>
				</form-input>

				<form-input
					class="col-sm-6"
					ng-model="vm.profile.stackOverflow"
					x-form="profileForm"
					x-options='{
						"title":"Stack Overflow",
						"id":"stackOverflow",
						"name":"stackOverflow",
						"placeholder":"stackOverflow"
					}'>
				</form-input>

				<form-input
					class="col-sm-12"
					ng-model="vm.profile.linkedIn"
					x-form="profileForm"
					x-options='{
						"title":"LinkedIn",
						"id":"linkedIn",
						"name":"linkedIn",
						"placeholder":"linkedIn"
					}'>
				</form-input>

				<select-list
					ng-model="vm.profile.capabilities"
					class="col-sm-6"
					x-type="arrayOfObjects"
					x-values="vm.capabilities"
					x-form="vm.form.profileForm"
					x-options='{
						"objectKeyAttribute":"id",
						"objectDisplayAttribute":"item.text",
						"title":"Capabilities",
						"id":"capabilities",
						"name":"capabilities",
						"primary":false,
						"single":false,
						"leaveOpen": true
					}'>
				</select-list>

<!-- 				<div class="form-group ">
					<label class="control-label" for="website">Website</label>

					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="swebsite = !swebsite"></i>
					<div class="input-help alert alert-info" ng-show="swebsite">
						Help Text
					</div>

					<input name="website" type="text" ng-model="vm.profile.website" id="website" class="form-control" placeholder="Website" >
				</div>
				<div class="form-group ">
					<label class="control-label" for="github">Github</label>
					<input name="github" type="text" ng-model="vm.profile.github" id="github" class="form-control" placeholder="Github profile url" >
				</div>
				<div class="form-group ">
					<label class="control-label" for="stackExchange">Stack Exchange</label>
					<input name="stackExchange" type="text" ng-model="vm.profile.stackExchange" id="stackExchange" class="form-control" placeholder="Stack Exchange profile url" >
				</div>
				<div class="form-group ">
					<label class="control-label" for="stackOverflow">Stack Overflow</label>
					<input name="stackOverflow" type="text" ng-model="vm.profile.stackOverflow" id="stackOverflow" class="form-control" placeholder="Stack Overflow profile url" >
				</div>
				<div class="form-group ">
					<label class="control-label" for="linkedIn">LinkedIn</label>
					<input name="linkedIn" type="text" ng-model="vm.profile.linkedIn" id="linkedIn" class="form-control" placeholder="LinkedIn profile url" >
				</div>
 --><!-- 				<div class="form-group ">
					<label class="control-label" for="skillist">Skills (comma delimited list)</label>
					<input type="text" name="skillist" ng-model="vm.profile.skillist" id="skillist" class="form-control" placeholder="Tag List"></input>
				</div>
 -->			</fieldset>
	</div>
	</div>
	<div class="row form-foot">
	<div class="col-sm-12 col-form-buttons text-right">
	<div class="btn-group">
	  <a class="btn btn-primary" ng-click="vm.saveme()" title="Save">
		<i class="glyphicon glyphicon-save"></i> Save
	  </a>
	  <a ng-if="vm.editing" class="btn btn-default"  id="profiles.view" ui-sref="profiles.view({profileId:vm.profile.code})" title="Cancel">
		<i class="glyphicon glyphicon-fast-backward"></i> Cancel
	  </a>
	  <a ng-if="!vm.editing" class="btn btn-default"  id="profiles.list" ui-sref="profiles.list" title="Cancel">
		<i class="glyphicon glyphicon-fast-backward"></i> Cancel
	  </a>
	  <a ng-if="vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
		<i class="glyphicon glyphicon-trash"></i> Remove
	  </a>
	</div>
	</div>
	</div>
  </form>
</div>
</section>

