<div class="row list-head">
	<div class="col-sm-7">
		<h2 class="list-page-hide">Government Partners</h2>
	</div>
	<div class="col-sm-5 col-form-buttons text-right">
		<button ng-if="vm.userCanAdd" class="btn btn-default " ui-sref="profileadmin.create()" title="New">
			<i class="glyphicon glyphicon-plus"></i> New Profile
		</button>
	</div>
</div>


<div class="card card-flat" ng-class="{'card-greyed': !profile.isPublished}" ng-repeat="profile in vm.profiles">

	<div class="card-block" style="padding: 10px;">
		<div class="row">
			<div class="col-xs-3 col-sm-2" style="text-align: center; padding: 5px;">
				<div avatar-display url="profile.user.profileImageURL"></div>
			</div>
			<div class="col-xs-9 col-sm-10" style="margin-left: 0px;">
				<h3 style="font-size: 17px; margin-top: 5px; font-family: Lato;">
					<a  id="profiles.view" ui-sref="profiles.view({ profileId: profile._id })" ng-bind="profile.user.displayName"></a>
				</h3>
			</div>
		</div>
		<!--<div class="row">
			<div class="label-list">
				<span class="label label-info" ng-repeat="code in profile.tags">{{code}}</span>
			</div>
		</div>-->
	</div>

</div>

