<section class="detail">
	<div class="container">
		<div class="row">
			<!--
				column of tombstone stuff
			-->
			<div class="col-xs-8 col-sm-8">
				<div class="row">
					<div class="col-xs-3 col-sm-3">
						<avatar-display url="vm.profile.user.profileImageURL"></avatar-display>
					</div>
					<div class="col-xs-9 col-sm-9">
						<h2>{{vm.profile.user.displayName}}</h2>
						<button type="button" class="btn btn-default" ng-if="vm.isOwner || vm.isAdmin" ui-sref="profileadmin.edit({profileId:vm.profile.user._id})" uib-tooltip="Edit your Profile">
							<i class="glyphicon glyphicon-edit"></i> Edit
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-xs-offset-3 col-sm-offset-3">
						<h4>{{vm.profile.title}}</h4>
						{{vm.profile.organization}}<br/>
						{{vm.profile.location}}<br/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-xs-offset-3 col-sm-offset-3" ng-bind-html="vm.description">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-xs-offset-3 col-sm-offset-3">
						<ul>
							<li ng-if="vm.profile.website"><a href="{{vm.profile.website}}" target="_blank"><i class="fa fa-laptop"></i> Website</a></li>
							<li ng-if="vm.profile.github"><a href="{{vm.profile.github}}" target="_blank"><i class="fa fa-github"></i> Github</a></li>
							<li ng-if="vm.profile.stackOverflow"><a href="{{vm.profile.stackOverflow}}" target="_blank"><i class="fa fa-stack-overflow"></i> Stack Overflow</a></li>
							<li ng-if="vm.profile.stackExchange"><a href="{{vm.profile.stackExchange}}" target="_blank"><i class="fa fa-stack-exchange"></i> Stack Exchange</a></li>
							<li ng-if="vm.profile.linkedIn"><a href="{{vm.profile.linkedIn}}" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-xs-offset-3 col-sm-offset-3">
						<badge-display badges="vm.profile.capabilities"></badge-display>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-xs-offset-3 col-sm-offset-3">
						<dl ng-if="vm.profile.skills.length">
							<dd class="label-list">
							<span class="label label-warning" ng-repeat="code in vm.profile.skills">{{code}}</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="row" ng-repeat="endorsement in vm.endorsements">
					<div class="col-xs-3 col-sm-3">
						<avatar-display url="endorsement.createdBy.profileImageURL"></avatar-display>
					</div>
					<div class="col-xs-9 col-sm-9">
						{{endorsement.createdBy.displayName}} | {{endorsement.created | date}} <br/>
						<p><small><i>"
						{{endorsement.content}}
						"</i></small></p>
						<a ng-if="endorsement.link" href="{{endorsement.link}}" target="_blank">{{endorsement.projectName}}</a>
					</div>
				</div>
			</div>
			<!--
				column of activity stuff
			-->
			<div class=:"col-xs-4 col-sm-4">
				<h3>Activity</h3>
			</div>
		</div>
	</div>

</section>
