<div class="row my-4">
  <div class="col px-0">
    <button ng-if="vm.userCanAdd" class="btn btn-primary mx-0 float-right" ui-sref="orgs.create()" data-automation-id="button-register-a-company"
      title="Register a Company">
      <i class="fas fa-plus"></i> Register a Company
    </button>
  </div>
</div>

<div class="card-deck">
  <div class="card my-3" ng-repeat="org in vm.orgs">
    <div class="card-body d-flex flex-row p-2" ui-sref="orgs.view({ orgId: org._id })">
      <div class="p-3">
        <img class="rounded" width="50" height="50" src="{{ org.orgImageURL }}" alt="Company Logo">
      </div>

      <div class="strong my-auto w-100">{{ org.name }}</div>
      <a class="btn btn-text-only float-right my-0 py-0" title="Edit" ng-if="vm.canUserEdit(org)" ui-sref="orgadmin({ orgId: org._id })"
        ng-click="$event.stopPropagation()">
        <i class="fas fa-cog"></i>
      </a>
    </div>
  </div>
</div>
