<div class="back-nav">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/orgs"><i class="fa fa-chevron-left"></i> All Companies</a>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container border">
    <div class="row" ng-if="vm.canEdit">
      <div class="col"></div>
      <button type="button" class="btn btn-text-only float-right" ui-sref="orgadmin.profile({orgId:vm.org._id})" title="Manage Company">
        <i class="fa fa-2x fa-gear"></i>
      </button>
    </div>
    <div class="row my-4">
      <div class="col text-center">
        <img class="rounded" src="/{{vm.org.orgImageURL}}" height="75" width="75">
      </div>
    </div>
    <div class="row my-4">
      <div class="col text-center">
        <h2 ng-bind="vm.org.name"></h2>
        <h4 class="my-4" ng-if="vm.org.website">
          <a href="{{vm.org.website}}" target="_blank" rel="nofollow">
            <i class="fa fa-external-link"></i>Company Website
          </a>
        </h4>
      </div>
    </div>
    <hr>
    <div class="row py-3">
      <div class="col text-center">

        <label-list>
          <label ng-repeat="capability in vm.org.capabilities" class="label label-cap-default {{capability.labelClass}}"><i
              class="fa fa-circle"></i> {{capability.name}}</label>
          <label ng-repeat="capabilitySkill in vm.org.capabilitySkills" class="label label-preferred-skill-selected">{{capabilitySkill.name}}</label>
        </label-list>
      </div>
    </div>
  </div>
</section>
