<section class="edit-form-background">

	<div class="edit-form" role="main">

		<div class="edit-form-header">
			{{::vm.org.name}}
			<a class="btn btn-text-only pull-right" ui-sref="orgs.view({ orgId: vm.org._id })" title="Close"><i class="fa fa-lg fa-times"></i></a>
		</div>

		<div class="edit-form-body">
			<!-- // Show this alert if all three conditions are met // -->
			<div class="alert alert-success" ng-if="vm.org.metRFQ">
				<i class="fa fa-lg fa-thumbs-o-up"></i> <strong>Bingo!</strong> &nbsp;Your company is now qualified to apply on <strong>Sprint With Us</strong> opportunities!
			</div>
			<!-- // Show this alert if just missing a 2nd team member OR 1 or more capabilities // -->
			<div class="alert alert-warning" ng-if="!(vm.org.isCapable && vm.org.members.length>=2) && vm.org.isAcceptedTerms">
				<i class="fa fa-lg fa-exclamation-circle"></i> To apply on <strong>Sprint With Us</strong> opportunities, you need to fill out your <strong>Team Members</strong> <i class="fa fa-group"></i>
			</div>
			<!-- // Show this alert if missing a 2nd team member OR 1 or more capabilities AND accepting the Terms // -->
			<div class="alert alert-warning" ng-if="!(vm.org.isCapable && vm.org.members.length>=2) && !vm.org.isAcceptedTerms">
				<i class="fa fa-lg fa-exclamation-circle"></i> To apply on <strong>Sprint With Us</strong> opportunities, you need to fill out your <strong>Team Members</strong> <i class="fa fa-group"></i> and accept the <strong>Terms</strong> <i class="fa fa-handshake-o"></i>
			</div>
			<!-- // Show this alert if only missing accepting the Terms // -->
			<div class="alert alert-warning" ng-if="(vm.org.isCapable && vm.org.members.length>=2) && !vm.org.isAcceptedTerms">
				<i class="fa fa-lg fa-exclamation-circle"></i> To apply on <strong>Sprint With Us</strong> opportunities, you need to accept the <strong>Terms</strong> <i class="fa fa-handshake-o"></i>
			</div>
		</div>

		<div class="edit-form-tabs">
			<ul class="nav nav-tabs">
				<li ui-sref-active="active">
					<a id="orgadmin.profile" ui-sref="orgadmin.profile">Business Info</a>
				</li>
	<!-- 			<li ui-sref-active="active" ng-if="0">
					<a id="orgadmin.skills" ui-sref="orgadmin.skills">Skills</a>
				</li>
	 -->
	 			<li ui-sref-active="active">
					<a id="orgadmin.members" ui-sref="orgadmin.members">Team Members <i class="fa fa-group"></i></a>
				</li>

				<!-- // Add logic to this tab and create a new Terms tab // -->
				<li ui-sref-active="active">
					<a id="orgadmin.terms" ui-sref="orgadmin.terms">Terms <i class="fa fa-handshake-o"></i></a>
				</li>

	<!-- 			<li ui-sref-active="active" ng-if="0">
					<a id="orgadmin.teams" ui-sref="orgadmin.teams">Teams</a>
				</li>
	 -->
	 			<!-- // Hide the Proposals tab until we can do something with it // -->
				<!--
				<li ui-sref-active="active">
					<a id="orgadmin.proposals" ui-sref="orgadmin.proposals">Proposals</a>
				</li>
				<li>
				-->
				</li>
			</ul>
		</div>

		<div ui-view></div>
	</div>
</section>
