
<section>

	<form name="vm.orgForm" id="vm.orgForm" ng-submit="vm.updateUserProfile(vm.orgForm.$valid)" novalidate autocomplete="off">
		<div class="row">
			<div class="col-cm-offset-1 col-sm-11">
			<fieldset>
				<div class="form-group col-sm-12">

					<uib-accordion close-others="true">

						<div uib-accordion-group class="panel-default" is-open="isc01open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c01_flag===true, 'glyphicon-unchecked':vm.org.c01_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c01'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c01_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc01"
									}'>
									{{vm.capabilities.bykey['c01'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc02open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c02_flag===true, 'glyphicon-unchecked':vm.org.c02_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c02'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c02_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc02"
									}'>
									{{vm.capabilities.bykey['c02'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc03open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c03_flag===true, 'glyphicon-unchecked':vm.org.c03_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c03'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c03_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc03"
									}'>
									{{vm.capabilities.bykey['c03'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc04open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c04_flag===true, 'glyphicon-unchecked':vm.org.c04_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c04'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c04_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc04"
									}'>
									{{vm.capabilities.bykey['c04'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc05open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c05_flag===true, 'glyphicon-unchecked':vm.org.c05_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c05'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c05_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc05"
									}'>
									{{vm.capabilities.bykey['c05'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc06open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c06_flag===true, 'glyphicon-unchecked':vm.org.c06_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c06'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c06_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc06"
									}'>
									{{vm.capabilities.bykey['c06'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc07open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c07_flag===true, 'glyphicon-unchecked':vm.org.c07_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c07'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c07_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc07"
									}'>
									{{vm.capabilities.bykey['c07'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc08open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c08_flag===true, 'glyphicon-unchecked':vm.org.c08_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c08'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c08_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc08"
									}'>
									{{vm.capabilities.bykey['c08'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc09open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c09_flag===true, 'glyphicon-unchecked':vm.org.c09_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c09'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c09_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc09"
									}'>
									{{vm.capabilities.bykey['c09'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc10open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c10_flag===true, 'glyphicon-unchecked':vm.org.c10_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c10'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c10_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc10"
									}'>
									{{vm.capabilities.bykey['c10'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc11open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c11_flag===true, 'glyphicon-unchecked':vm.org.c11_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c11'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c11_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc11"
									}'>
									{{vm.capabilities.bykey['c11'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc12open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.org.c12_flag===true, 'glyphicon-unchecked':vm.org.c12_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c12'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c12_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc12"
									}'>
									{{vm.capabilities.bykey['c12'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>

						<div uib-accordion-group class="panel-default" is-open="isc13open">
							<uib-accordion-heading>
								<small>
							<i class="pull-left glyphicon danger" ng-class="{'glyphicon-check':vm.org.c13_flag===true, 'glyphicon-unchecked':vm.org.c13_flag===false}"></i>
							&nbsp; &nbsp;
							{{vm.capabilities.bykey['c13'].text}}
							&nbsp; &nbsp;
								</small>
							</uib-accordion-heading>
								<div class="checkbox">
									<label>
									<input type="checkbox" ng-model="vm.org.c13_flag">
										The company posesses this capability
									</label>
								</div>
								<form-display
									class="col-sm-12"
									x-options='{
										"title":"Capability Description",
										"name":"expc13"
									}'>
									{{vm.capabilities.bykey['c13'].description}}
								</form-display>
							<br/>
							<div class="row">
							<div class="col-sm-12 form-group">
							</div>
							</div>
						</div>


					</uib-accordion>
				</div>
			</fieldset>
			</div>
		</div>
		<br/>
		<div class="row text-center">
			<div class="form-group">
				<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
			</div>
		</div>
	</form>

</section>
