<div class="bg-white rounded p-4">
  <form name="vm.orgForm" warn-on-exit id="vm.orgForm" novalidate autocomplete="off">
    <div class="row">
      <div class="col">
        <p>This is where you make your Statement of Qualifications which will comprise your Response to the RFQ.</p>
        <p>Make sure your team members have <strong>claimed their capabilities</strong> in their BCDevExchange profile.</p>

        <h5>Invite team members</h5>
        <div class="input-group">
          <input data-automation-id="inviteTeamMembers" class="input w-75" type="text" placeholder="name@example.com, name@example.com"
            ng-model="vm.emailList">
          <span class="input-group-btn">
            <button data-automation-id="btnSendInvitations" class="btn btn-primary" type="button" ng-click="vm.addMembers()">Send invitations</button>
          </span>
        </div>
        <span class="small text-black-50">Add multiple emails separated with a comma.</span>

        <div class="pl-0 col-10">
          <h6 class="pt-4">My Members:</h6>
          <div ng-if="!vm.loading">
            <!-- // Update logic about when this alert appears if necessary .... should appear until there are 2 members in the list, then disappear // -->
            <div class="alert alert-warning" ng-if="vm.org.members.length<2">
              <i class="fas fa-lg fa-exclamation-circle"></i> &nbsp;You need at least 2 team members
            </div>


            <div class="card p-2 my-3" ng-repeat="member in vm.org.members">
              <div class="row p-0 m-0">
                <div class="col p-0 m-0">
                  <avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
                  <button type="button" class="btn btn-text-only float-right" ng-click="vm.removeMember(member)" title="Remove member">
                    <i class="fas fa-lg fa-times"></i>
                  </button>
                </div>
              </div>

              <div class="card-body">
                <label-list>
                  <label ng-repeat="capability in member.capabilities" class="label label-cap-default {{capability.labelClass}}">
                    <i class="fas fa-circle"></i> {{capability.name}}
                  </label>
                  <label ng-repeat="capabilitySkill in member.capabilitySkills" class="label label-preferred-skill">
                    {{capabilitySkill.name}}
                  </label>
                </label-list>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="hidden-xs col-sm-1"></div>
      <div class="col-xs-12 col-sm-4">
        <h4>Team Capabilities</h4>
        <!-- // Update logic about when this alert appears if necessary .... should appear until all capabilities are covered, then disappear when they're covered // -->
        <div class="alert alert-warning" ng-if="!vm.org.isCapable">
          <i class="fas fa-lg fa-exclamation-circle"></i> &nbsp;Your team members must cover all these capabilities:
        </div>
        <table class="table capabilities-list">
          <tbody>
            <tr ng-cloak ng-repeat="capability in vm.capabilities">
              <th scope="row" ng-if="vm.orgHasCapability(capability)"><i class="fas fa-check-circle fa-2x text-success"></i></th>
              <th scope="row" ng-if="!vm.orgHasCapability(capability)"><i class="far fa-circle fa-2x text-dark"></i></th>
              <td><label class="label label-lg label-cap-default {{capability.labelClass}}">{{capability.name}}</label></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
