<form name="vm.orgForm" warn-on-exit id="vm.orgForm" class="signin" novalidate autocomplete="off">
	<div class="edit-form-tab-content">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<fieldset>
				<form-input
					ng-model="vm.org.name"
					class="col-sm-12"
					x-form="vm.orgForm"
					x-options='{
						"title":"Legal Name of Company",
						"id":"companyname",
						"name":"companyname",
						"placeholder":"Enter your company name"
					}'>
				</form-input>

				<form-input
					class="col-sm-12"
					ng-model="vm.org.dba"
					x-form="vm.orgForm"
					x-options='{
						"title":"Doing Business As",
						"id":"dba",
						"name":"dba",
						"placeholder":"e.g. Aurelius"
					}'>
				</form-input>

				<form-input
					class="col-sm-12"
					ng-model="vm.org.address"
					x-form="vm.orgForm"
					x-options='{
						"title":"Legal Address",
						"id":"address",
						"name":"address",
						"placeholder":"Address"
					}'>
				</form-input>

				<form-input
					class="col-sm-12"
					ng-model="vm.org.address2"
					x-form="vm.orgForm"
					x-options='{
						"id":"address2",
						"name":"address2",
						"placeholder":"Address 2"
					}'>
				</form-input>

				<form-input
					class="col-sm-12"
					ng-model="vm.org.city"
					x-form="vm.orgForm"
					x-options='{
						"title":"City",
						"id":"city",
						"name":"city"
					}'>
				</form-input>

				<form-input
					class="col-sm-6"
					ng-model="vm.org.province"
					x-form="vm.orgForm"
					x-options='{
						"title":"Province/State/Other",
						"id":"province",
						"name":"province",
						"placeholder":"e.g. BC"
					}'>
				</form-input>

				<form-input
					class="col-sm-6"
					ng-model="vm.org.postalcode"
					x-form="vm.orgForm"
					x-options='{
						"title":"Postal Code",
						"id":"postalcode",
						"name":"postalcode",
						"placeholder":"Postal Code"
					}'>
				</form-input>

				<form-input
					class="col-sm-6"
					ng-model="vm.org.businessNumber"
					x-form="vm.orgForm"
					x-options='{
						"title":"Business Registration Number",
						"id":"businessNumber",
						"name":"businessNumber",
						"placeholder":"Business Number"
					}'>
				</form-input>

				<form-input
					class="col-sm-6"
					ng-model="vm.org.businessJurisdiction"
					x-form="vm.orgForm"
					x-options='{
						"title":"Registration Jurisdiction",
						"id":"businessJurisdiction",
						"name":"businessJurisdiction",
						"placeholder":"Registered In"
					}'>
				</form-input>


				<form-input
					class="col-sm-12"
					ng-model="vm.org.website"
					x-form="vm.orgForm"
					x-options='{
						"title":"Website",
						"id":"website",
						"name":"website",
						"placeholder":"https://mycompany.com"
					}'>
				</form-input>

				</fieldset>
			</div>
			<div class="hidden-xs col-sm-1"></div>
			<div class="col-xs-12 col-sm-5">
				<fieldset>
				<h3><avatar-display url="vm.org.orgImageURL" text="vm.org.name" size="70"></avatar-display></h3>
				<div><edit-org-image org="vm.org"></edit-org-image></div>
				<br><br>
				<form-input
					class="col-sm-12"
					ng-model="vm.org.contactName"
					x-form="vm.orgForm"
					x-options='{
						"title":"Contact Name",
						"id":"contactName",
						"name":"contactName",
						"placeholder":"Jane Smith"
					}'>
				</form-input>

				<form-input
					class="col-sm-12"
					ng-model="vm.org.contactPhone"
					x-form="vm.orgForm"
					x-options='{
						"title":"Contact Phone",
						"id":"contactPhone",
						"name":"contactPhone",
						"placeholder":"e.g. 250-288-0999"
					}'>
				</form-input>

				<form-input
					class="col-sm-12"
					ng-model="vm.org.contactEmail"
					x-form="vm.orgForm"
					x-options='{
						"title":"Contact Email",
						"id":"contactEmail",
						"name":"contactEmail",
						"placeholder":"jane.smith@domain.com"
					}'>
				</form-input>
				</fieldset>
			</div>
		</div>
	<!-- // I'm thinking we hide this for now // -->
	<!--
		<div class="row">
			<div class="col-sm-12">
				<form-display
					class="col-sm-12"
					x-options='{
						"title":"A little Bit About Your Company",
						"id":"description",
						"name":"description"
					}'>
					<textarea
						name="description"
						id="description"
						class="form-control input-sm"
						ui-tinymce="vm.tinymceOptions"
						placeholder="A full description of the profile"
						ng-model="vm.org.description">
					</textarea>
				</form-display>
			</div>
		</div>
	-->
	</div>

	<div class="edit-form-footer">
		<div class="row">
			<div class="col-xs-12">
				<button ng-click="vm.save(vm.orgForm.$valid)" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save Changes</button>
				<button class="btn btn-text-only" ng-click="vm.remove()"><i class="fa fa-trash"></i> Delete Company Profile</button>
			</div>
		</div>
	</div>

</form>
