<form name="vm.orgForm" id="vm.orgForm">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Company Name</h5>
			<button type="button" class="close" ng-click="vm.close()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<fieldset>
				<form-input ng-model="vm.org.name" x-form="vm.orgForm" x-options='{
					"title":"Legal Name of Company",
					"id":"companyname",
					"name":"companyname",
					"placeholder":"Enter your company name"
				}'>
				</form-input>
				<form-display x-options='{
					"title":"Website",
					"id":"website",
					"name":"website"
				}'
					x-form="vm.orgForm">
					<div class="row mx-auto">
						<select class="form-control protocol-input col-4" ng-model="vm.org.websiteProtocol">
							<option>http://</option>
							<option>https://</option>
						</select>
						<input class="form-control website-input col-8" type="text" placeholder="www.mycompany.org" ng-model="vm.org.websiteAddress" />
					</div>
				</form-display>
			</fieldset>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-text-only" ng-click="vm.close()" aria-label="Close">Cancel</button>
			<button type="button" ng-click="vm.save()" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</form>