<form name="vm.orgForm" id="vm.orgForm">
  <div class="bg-white rounded p-4 container">

    <div class="row">
      <div class="col">
        <button type="button" class="close float-right" ng-click="vm.close()" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <fieldset>
          <div class="row">
            <div class="col-sm-6">
                <form-input ng-model="vm.org.address" x-form="vm.orgForm" x-options='{
                  "title":"Legal Address",
                  "id":"address",
                  "name":"address",
                  "placeholder":"Address"
                }'>
                </form-input>

                <form-input ng-model="vm.org.address2" x-form="vm.orgForm" x-options='{
                  "title": "Legal Address 2",
                  "id":"address2",
                  "name":"address2",
                  "placeholder":"Address 2"
                }'>
                </form-input>

                <form-input ng-model="vm.org.city" x-form="vm.orgForm" x-options='{
                  "title":"City",
                  "id":"city",
                  "name":"city"
                }'>
                </form-input>

                <form-input ng-model="vm.org.province" x-form="vm.orgForm" x-options='{
                  "title":"Province/State/Other",
                  "id":"province",
                  "name":"province",
                  "placeholder":"e.g. BC"
                }'>
                </form-input>

                <form-input ng-model="vm.org.postalcode" x-form="vm.orgForm" x-options='{
                  "title":"Postal Code",
                  "id":"postalcode",
                  "name":"postalcode",
                  "placeholder":"Postal Code"
                }'>
                </form-input>
            </div>

            <div class="col-sm-6">
                <form-input ng-model="vm.org.businessNumber" x-form="vm.orgForm" x-options='{
                  "title":"Business Registration No.",
                  "id":"businessNumber",
                  "name":"businessNumber",
                  "placeholder":"Business Number"
                }'>
                </form-input>

                <form-input ng-model="vm.org.businessJurisdiction" x-form="vm.orgForm" x-options='{
                  "title":"Registration Jurisdiction",
                  "id":"businessJurisdiction",
                  "name":"businessJurisdiction",
                  "placeholder":"Registered In"
                }'>
                </form-input>

                <form-input ng-model="vm.org.contactName" x-form="vm.orgForm" x-options='{
                  "title":"Contact Name",
                  "id":"contactName",
                  "name":"contactName",
                  "placeholder":"Jane Smith"
                }'>
                </form-input>

                <form-input ng-model="vm.org.contactPhone" x-form="vm.orgForm" x-options='{
                  "title":"Contact Phone",
                  "id":"contactPhone",
                  "name":"contactPhone",
                  "placeholder":"e.g. 250-288-0999"
                }'>
                </form-input>

                <form-input ng-model="vm.org.contactEmail" x-form="vm.orgForm" x-options='{
                  "title":"Contact Email",
                  "id":"contactEmail",
                  "name":"contactEmail",
                  "placeholder":"jane.smith@domain.com"
                }'>
                </form-input>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button data-automation-id="btnSaveCompanyOtherInformation" ng-click="vm.save()" class="btn btn-primary float-right">
          <i class="fas fa-save"></i>&nbsp;Save</button>
      </div>
    </div>
  </div>
</form>
