<section>
	<form name="vm.orgForm" warn-on-exit id="vm.orgForm" novalidate autocomplete="off">
		<div class="row">
			<div class="col-sm-6">
				<div ng-repeat="member in vm.org.members">
					<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
					<button class="btn btn-sm btn-text-only" ng-click="vm.removeMember(member)"><i class="fa fa-times"></i></button>
				</div>
				<br>
				<div class="well">
					<span class="strong">Add Members</span>
					<br>
					Add members to your company. (They need to have a personal user profile on the BCDevExchange before you can add them.)
					<br>
					<br>
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="robwilkins@gmail.com">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add</button>
				      </span>
					</div>
				</div>
			</div>

		    <div class="col-sm-6">
		    	<h4>Company Capabilities</h4>
		    	<p>Your team can qualify for the <i>Sprint With Us</i> RFQ once it can show it covers all these capabilites. </p>
		    	<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> Your company needs members with a few missing capabilities before it can apply on <i>Sprint With Us</i> opportunities.</div>
		    	<div class="alert alert-success"><i class="fa fa-check-circle-o"></i> <span class="strong">Bingo!</span> Your company has all of the capabilities needed to apply for <i>Sprint With Us</i> opportunities! <br><a href="/opportunities">Browse opportunities</a></div>
		    	<br>
		    	<table class="table capabilities-list">
					<tbody>
						<tr>
							<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
							<td><label class="label label-lg label-info capability">Agile Coaching</label></td>
						</tr>
						<tr>
							<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
							<td><label class="label label-lg label-info capability">Delivery Management</label></td>
						</tr>
						<tr>
							<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
							<td><label class="label label-lg label-danger capability">UX Research</label></td>
						</tr>
						<tr>
							<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
							<td><label class="label label-lg label-danger capability">UX Design</label></td>
						</tr>
						<tr>
							<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
							<td><label class="label label-lg label-success capability">Frontend Development</label></td>
						</tr>
						<tr>
							<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
							<td><label class="label label-lg label-success capability">Backend Development</label></td>
						</tr>
						<tr>
							<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
							<td><label class="label label-lg label-success capability">DevOps Engineering</label></td>
						</tr>
						<tr>
							<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
							<td><label class="label label-lg label-primary capability">Security Engineering</label></td>
						</tr>
						<tr>
							<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
							<td><label class="label label-lg label-default capability">Technical Architecture</label></td>
						</tr>
					</tbody>
				</table>
		    </div>

	    </div>


		<div class="row">
			<div class="col-sm-12">
				<uib-accordion close-others="true">
					<div uib-accordion-group class="panel-default" is-open="isc01open">
						<uib-accordion-heading>
							Add Members
						</uib-accordion-heading>
						<form-display
							class="col-sm-12"
							x-options='{
								"title":"Enter a list of email addresses seperated by commas or spaces. Each member will be invited to join your company profile."
							}'>
							<textarea
								name="memberemails"
								id="memberemails"
								class="form-control"
								placeholder="email list"
								ng-model="vm.emaillist">
							</textarea>
						</form-display>
						<form-display
							class="col-sm-12 text-right"
							x-options='{}'>
							<button ng-click="vm.addMembers()" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Add Members</button>
						</form-display>
					</div>
				</uib-accordion>
			</div>
		</div>
<!--
	<br/>
 	<div class="row text-center">
		<div class="form-group">
			<button ng-click="vm.save(vm.orgForm.$valid)" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
		</div>
	</div>
 -->
	</form>
</section>
