<section class="main-section bg-secondary">

  <form name="vm.orgForm" warn-on-exit id="vm.orgForm" novalidate autocomplete="off">
    <div class="form bg-light rounded p-0">

      <div class="bg-light rounded px-4 py-3 font-weight-bold">
        {{::vm.org.name}}
        <button type="button" class="close float-right" ui-sref="orgs.view({ orgId: vm.org._id })" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="px-3">
        <!-- // Show this alert if all three conditions are met // -->
        <div class="alert alert-success" ng-if="vm.org.metRFQ">
          <i class="far fa-lg fa-thumbs-up"></i> <strong>Bingo!</strong> &nbsp;Your company is now qualified to apply
          on
          <strong>Sprint With Us</strong> opportunities!
        </div>
        <!-- // Show this alert if just missing a 2nd team member OR 1 or more capabilities // -->
        <div class="alert alert-warning" ng-if="!(vm.org.isCapable && vm.org.members.length>=2) && vm.org.isAcceptedTerms">
          <i class="fas fa-lg fa-exclamation-circle"></i> To apply on <strong>Sprint With Us</strong> opportunities, you
          need to fill out your <strong>Team Members</strong> <i class="fas fa-users"></i>
        </div>
        <!-- // Show this alert if missing a 2nd team member OR 1 or more capabilities AND accepting the Terms // -->
        <div class="alert alert-warning" ng-if="!(vm.org.isCapable && vm.org.members.length>=2) && !vm.org.isAcceptedTerms">
          <i class="fas fa-lg fa-exclamation-circle"></i> To apply on <strong>Sprint With Us</strong> opportunities, you
          need to fill out your <strong>Team Members</strong> <i class="fas fa-users"></i> and accept the <strong>Terms</strong>
          <i class="far fa-handshake"></i>
        </div>
        <!-- // Show this alert if only missing accepting the Terms // -->
        <div class="alert alert-warning" ng-if="(vm.org.isCapable && vm.org.members.length>=2) && !vm.org.isAcceptedTerms">
          <i class="fas fa-lg fa-exclamation-circle"></i> To apply on <strong>Sprint With Us</strong> opportunities, you
          need to accept the <strong>Terms</strong> <i class="far fa-handshake"></i>
        </div>
      </div>

      <uib-tabset>
        <uib-tab index="0">
          <uib-tab-heading>
            Business Info
          </uib-tab-heading>
          <div ng-include="'/modules/orgs/client/views/org-main.html'"></div>
        </uib-tab>

        <uib-tab index="1">
          <uib-tab-heading>
            Team Members
          </uib-tab-heading>
          <div ng-include="'/modules/orgs/client/views/org-members.html'"></div>
        </uib-tab>

        <uib-tab index="2">
          <uib-tab-heading>
            Terms
          </uib-tab-heading>
          <div ng-include="'/modules/orgs/client/views/org-terms.html'"></div>
        </uib-tab>
      </uib-tabset>

      <div class="bg-light rounded px-3 py-2">
        <div class="row">
          <div class="col">
            <button ng-click="vm.save(vm.orgForm.$valid)" class="btn btn-primary float-right">
              <i class="fas fa-save"></i> Save Changes</button>
            <button class="btn btn-text-only float-left" ng-click="vm.remove()">
              <i class="fas fa-trash"></i> Delete Company Profile</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
