
<div class="row list-head">
	<div class="col-sm-7">
		<h3 ng-bind="vm.title" class="list-page-hide"></h3>
	</div>
	<div class="col-sm-5 col-form-buttons text-right" ng-if="vm.context != 'orgview'">
		<add-team org="vm.org"></add-team>
	</div>
</div>

<div class="row">
<div ng-class="'col-md-'+(12 / vm.columnCount)" ng-repeat="column in vm.teams | columnRanges:vm.columnCount">


<div class="card card-flat" ng-repeat="team in vm.teams | slice:column.start:column.end">

	<div class="card-header text-right" ng-if="vm.context != 'orgview'">
		<edit-team org="vm.org" team="team"></edit-team>
	</div>

	<div class="card-block">
		<div class="row">
			<div class="col-xs-6 col-sm-6">
				<h4>Team {{team.name}}</h4>{{team.description}}
			</div>
			<div class="col-xs-6 col-sm-6">
				<h4>Members</h4>
				<span ng-repeat="member in team.members">{{member.displayName}}<br/></span>
			</div>
		</div>
	</div>

</div>
