@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.social-account-container {
	display: inline-block;
	position: relative;
}
.btn-add-remove-account {
	pointer-events: none;
	position: absolute;
	right: 10px;
	top: 10px;
}
.user-profile-picture {
	max-height: 150px;
	min-height: 150px;
}
.cropArea {
	background: #e4e4e4;
	height: 300px;
	width: 300px;
}
.social-button {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.social-button:hover {
	opacity: 0.65;
}
.image-upload-table {
	margin: 0 auto;
}
.image-upload-child {
	margin: 0 2em;
}
.image-upload-button {
	margin: 2em 0.5em;
}
/* Set max-width of textarea to be same as .container to prevent it from being able to be expanded horizontally outside its container */
/* textarea {
  max-width: 1040px;
} */
.button-spacer {
	padding: 30px 0;
}
td.user-attribute {
	color: #ccc;
	width: 145px;
}
.settings-panel-title {
	margin-top: 10px;
}
table.company-affiliations-list {
	margin: 30px 0;
}
table.company-affiliations-list > tbody > tr > td {
	vertical-align: middle;
	padding: 15px 5px;
}
table.company-affiliations-list > tbody > tr > td.company-name {
	font-weight: 600;
}
table.company-affiliations-list > tbody > tr > td.joined-date {
	color: gray;
}
span.lighter {
	font-size: 80%;
}
