<div class="sub-nav">
  <div class="container">
    <div class="breadcrumb-nav">
      
    </div>
  </div>
</div>

<section class="fill-view">
  <div class="container" role="main">
    <div class="row">
      <div class="col-xs-12">
        <div class="profile-header">
          <avatar-display url="vm.user.profileImageURL" text="vm.user.displayName" size="50"></avatar-display>
        </div>
   
        <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group" show-errors>
              <label class="control-label" for="roles">Roles</label>
              <div class="controls">
                <textarea class="form-control" rows="4" type="text" name="roles" ng-model="vm.user.roles" id="roles" ng-list required></textarea>
                <div ng-messages="vm.userForm.roles.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">At least one role is required.</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>
              <input type="checkbox"  ng-model="vm.user.notifyOpportunities">
              Notify me when new Opportunities are posted
              </label>
            </div>

            <div class="button-spacer">
              <input type="submit" value="Save Changes" class="btn btn-success">
              <input type="button" ng-click="vm.cancel()" value="Cancel" class="btn btn-default">
            </div>
          </fieldset>
        </form>

      </div>
    </div>
  </div>
</section>
