<section class="list-page"><div class="container" role="main">

  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Manage Gov. Request</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <div ng-repeat="user in vm.pagedItems"  class="list-group-item" style="height:90px; ">
      <h4 class="list-group-item-heading" ng-bind="user.username" ui-sref="admin.user({userId: user._id})"></h4>
      <p style="float:right; "><input type="button" ng-click="vm.approve(1,user)" value="Approve" class="btn btn-primary" style="background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top, #b4e391 0%, #61c419 0%, #61c419 100%, #b4e391 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 0%,#61c419 100%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b4e391 0%,#61c419 0%,#61c419 100%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );border-color:#b4e391"/>&nbsp; <input type="button" ng-click="vm.approve(0,user)" value="Disapprove" class="btn btn-primary"  style="background: #cc0000; /* Old browsers */
background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #cc0000 0%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #cc0000 0%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 );;border-color:#b4e391"/></p>
      <p class="list-group-item-text" ng-bind="user.email" ui-sref="admin.user({userId: user._id})"></p>
    </div>

  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

</div></section>
