<section class="static-page">
<div class="container" role="main">
	<div class="row">
		<h2 ng-show="vm.editing">Editing {{vm.activity.title}}</h2>
		<h2 ng-show="!vm.editing">New Activity</h2>
	</div>
	<div class="row">
		<div class="pull-right">
			<div class="list-group list-group-horizontal">
				<a class="list-group-item active" ng-click="vm.saveme()" title="Save">
					<i class="glyphicon glyphicon-save"></i> Save
				</a>
				<a ng-show="vm.editing" class="list-group-item" ui-sref="activities.view({activityId:vm.activity._id})" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a ng-show="!vm.editing" class="list-group-item" ui-sref="activities.list" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a class="list-group-item" ng-show="vm.editing" ng-click="vm.remove()" title="Remove">
					<i class="glyphicon glyphicon-trash"></i> Remove
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form id="activityform" name="vm.form.activityForm" class="form-horizontal" ng-submit="vm.save(vm.form.activityForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" show-errors>
					<label class="control-label" for="title">Title</label>
					<input name="title" type="text" ng-model="vm.activity.title" id="title" class="form-control" placeholder="Title" required>
					<div ng-messages="vm.form.activityForm.title.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Activity title is required.</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="short">Short Description</label>
					<textarea name="short" data-ng-model="vm.activity.short" id="short" class="form-control" cols="30" rows="10" placeholder="A short description of the activity"></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<textarea name="description" data-ng-model="vm.activity.description" id="description" class="form-control" cols="30" rows="10" placeholder="A full description of the activity"></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="owner">Owner</label>
					<input name="owner" type="text" ng-model="vm.activity.owner" id="owner" class="form-control" placeholder="Activity owner (ministry, organization, etc)" required>
				</div>
				<div class="form-group">
					<label class="control-label" for="website">Website</label>
					<input name="website" type="text" ng-model="vm.activity.website" id="website" class="form-control" placeholder="Website" required>
				</div>
				<div class="form-group">
					<label class="control-label" for="logo">Logo URL</label>
					<input type="text" name="logo" ng-model="vm.activity.logo" id="logo" class="form-control" placeholder="Logo URL"></input>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="row">
		<div class="pull-right">
			<div class="list-group list-group-horizontal">
				<a class="list-group-item active" ng-click="vm.saveme(vm.form.activityForm.$valid)" title="Save">
					<i class="glyphicon glyphicon-save"></i> Save
				</a>
				<a ng-show="vm.editing" class="list-group-item" ui-sref="activities.view({activityId:vm.activity._id})" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a ng-show="!vm.editing" class="list-group-item" ui-sref="activities.list" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
				<a class="list-group-item" ng-show="vm.editing" ng-click="vm.remove()" title="Remove">
					<i class="glyphicon glyphicon-trash"></i> Remove
				</a>
			</div>
		</div>
	</div>
	<div><p>&nbsp;</p></div>
</div>
</section>

