<section class="static-page">
<div class="container" role="main">

	<div class="row">
		<div class="pull-right">
			<div class="list-group list-group-horizontal">
				<a class="list-group-item active" ui-sref="activities.list" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Back
				</a>
				<a ng-show="vm.activity.userIs.admin" class="list-group-item" ui-sref="activityadmin.edit({activityId:vm.activity._id})" title="Edit">
					<i class="glyphicon glyphicon-pencil"></i> Edit
				</a>
				<a ng-show="vm.showMember" class="list-group-item" ng-click="vm.request()" title="Request">
					<i class="glyphicon glyphicon-user"></i> Request Membership
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pull-left">
			<img class="img-responsive pull-left" src="{{vm.activity.logo}}" />
		</div>
		<div>
			<h2 ng-bind="vm.activity.title"></h2>
			<h4>Summary</h4>
			<p ng-bind="vm.activity.short"></p>
			<h4>Description</h4>
			<p ng-bind="vm.activity.description"></p>
		</div>
	</div>
	<div class="row">
		<small>
			<em class="text-muted">
				Created on
				<span ng-bind="vm.activity.created | date:'mediumDate'"></span>
				by
				<span ng-if="vm.activity.createdBy" ng-bind="vm.activity.createdBy.displayName"></span>
				<span ng-if="!vm.activity.createdBy">Deleted User</span>
			</em>
			<br/>
			<em class="text-muted">
				Updated on
				<span ng-bind="vm.activity.updated | date:'mediumDate'"></span>
				by
				<span ng-if="vm.activity.updatedBy" ng-bind="vm.activity.updatedBy.displayName"></span>
				<span ng-if="!vm.activity.updatedBy">Deleted User</span>
			</em>
		</small>
	</div>
	<div class="row">
		<p class="lead" ng-bind="vm.activity.content"></p>
	</div>
	<activity-member-list activity="vm.activity"></activity-member-list>
	<activity-member-requests activity="vm.activity" ng-if="vm.activity.userIs.admin"></activity-member-requests>
</div>
</section>
