<section class="static-page">
<div class="container" role="main">

	<div class="row">
		<div class="pull-right">
			<div class="list-group list-group-horizontal">
				<a class="list-group-item active" ui-sref="opportunities.list" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Back
				</a>
				<a ng-show="vm.opportunity.userIs.admin" class="list-group-item" ui-sref="opportunityadmin.edit({opportunityId:vm.opportunity._id})" title="Edit">
					<i class="glyphicon glyphicon-pencil"></i> Edit
				</a>
				<a ng-show="vm.showMember" class="list-group-item" ng-click="vm.request()" title="Request">
					<i class="glyphicon glyphicon-user"></i> Request Membership
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pull-left">
			<img class="img-responsive pull-left" src="{{vm.opportunity.logo}}" />
		</div>
		<div>
			<h2 ng-bind="vm.opportunity.title"></h2>
			<h4>Summary</h4>
			<p ng-bind="vm.opportunity.short"></p>
			<h4>Description</h4>
			<p ng-bind="vm.opportunity.description"></p>
		</div>
	</div>
	<div class="row">
		<small>
			<em class="text-muted">
				Created on
				<span ng-bind="vm.opportunity.created | date:'mediumDate'"></span>
				by
				<span ng-if="vm.opportunity.createdBy" ng-bind="vm.opportunity.createdBy.displayName"></span>
				<span ng-if="!vm.opportunity.createdBy">Deleted User</span>
			</em>
			<br/>
			<em class="text-muted">
				Updated on
				<span ng-bind="vm.opportunity.updated | date:'mediumDate'"></span>
				by
				<span ng-if="vm.opportunity.updatedBy" ng-bind="vm.opportunity.updatedBy.displayName"></span>
				<span ng-if="!vm.opportunity.updatedBy">Deleted User</span>
			</em>
		</small>
	</div>
	<div class="row">
		<p class="lead" ng-bind="vm.opportunity.content"></p>
	</div>
	<opportunity-member-list opportunity="vm.opportunity"></opportunity-member-list>
	<opportunity-member-requests opportunity="vm.opportunity" ng-if="vm.opportunity.userIs.admin"></opportunity-member-requests>
</div>
</section>
