<section class="edit-form-background" role="main">
	<div class="edit-form">
		<div class="row">
			<div class="proposal-form-container" ng-if="!vm.haveresult">
						<div class="card-title" ng-bind-html="vm.trust(vm.message.messageTitle)"></div>
						<div class="card-teaser" ng-bind-html="vm.trust(vm.message.messageShort)"></div>
						<div ng-bind-html="vm.trust(vm.message.messageBody)"></div>
						<div>
							This message was posted on {{vm.message.datePosted}}
						</div>
						<div>
							This message expires on {{vm.message.date2Archive}}
						</div>
						<div>
							This message was last viewed on {{vm.message.dateViewed}}
						</div>
						<br/>
						<div class="btn-group text-right">
							<button class="btn" ng-repeat="action in vm.message.actions" ng-class="{'btn-default': action.isDefault,'btn-primary': !action.isDefault}" ng-click="vm.takeAction(action)">{{vm.trust(action.linkTitle)}}</button>
						</div>
						<br/>
			</div>
			<div class="proposal-form-container" ng-if="vm.haveresult" ng-bind-html="vm.resultmsg"></div>
		</div>
		<div class="row"><br/><a ui-sref="settings.messages" class="btn btn-default pull-right"> &lt;&lt; Back to message list</a></div>
	</div>
</section>
