<section class="message-detail-background">
  <div class="container">
    <div class="row">
      <div class="col-centered col-sm-10 col-md-8">
        
        <div class="message" ng-if="!vm.haveresult">
		  <button class="close" ui-sref="settings.messages"><i class="fa fa-lg fa-times-thin"></i></button>
		  <div class="message-date-sent">{{vm.message.datePosted}}</div>
          <div ng-bind-html="vm.trust(vm.message.messageBody)"></div>
          <div class="message-actions">
              <button class="btn" ng-disabled="vm.message.isArchived" ng-repeat="action in vm.message.actions" ng-class="{'btn-default': action.isDefault,'btn-primary': !action.isDefault}" ng-click="vm.takeAction(action)">{{vm.trust(action.linkTitle)}}</button>
          </div>
        </div>
        
        <div class="message" ng-if="vm.haveresult">
          <button class="close" ui-sref="settings.messages"><i class="fa fa-lg fa-times-thin"></i></button>
          <div class="message-result" ng-if="vm.haveresult" ng-bind-html="vm.resultmsg"></div>
        </div>
        
      </div>
    </div>  
  </div>  
</section>