<h3 class="settings-panel-title">Messages</h3>

  <div class="message-list" ng-repeat="message in vm.messages | orderBy : 'datePosted' : true">

    <div class="p-3 border rounded my-3" ng-if="!message.actionTaken">
      <div class="font-weight-bold text-muted mb-3">{{message.datePosted | date : 'MMMM d'}}</div>
      <div class="message-list-item-body">
        <p ng-bind-html="message.messageBody"></p>
        <div class="message-actions">
            <button data-automation-id="btnMessage" class="btn" ng-repeat="action in message.actions | orderBy : 'isDefault' : false" ng-class="{'btn-default': action.isDefault,'btn-primary': !action.isDefault}" ng-click="vm.takeAction(message._id, action)">{{action.linkTitle}}</button>
        </div>
      </div>
    </div>

    <div class="message-confirmation" ng-if="message.actionTaken">
        <div class="message-result" ng-bind-html="vm.resultMsg"></div>
    </div>

  </div>

  <div class="list-empty-message" ng-if="!vm.messages.length"><emoji>☕</emoji> You're all caught up!</div>







































