<div class="row list-head">
	<div class="col-sm-7">
		<h3 ng-bind="vm.title" class="list-page-hide"></h3>
	</div>
	<div class="col-sm-5 col-form-buttons text-right" ng-if="vm.canAdd">
		<button class="btn btn-default-inverse" ui-sref="superbasicadmin.create()" title="New">
			<i class="fa fa-plus"></i> POST AN OPPORTUNITY
		</button>
	</div>
</div>

<div class="row" ng-if="!vm.superbasics.length">
	<div class="col-sm-12">
		<div class="panel panel-default panel-body">
			<span class="text-muted">No Superbasics right now. Check back soon!</span>
		</div>
	</div>
</div>

<div class="row" ng-if="vm.superbasics.length">
	<div class="panel panel-default" ng-repeat="superbasic in vm.superbasics">
		<div class="panel-heading" >
			<h3 class="panel-title" ng-bind="superbasic.name"></h3>
		</div>
		<div class="panel-body" id="superbasics.view" ui-sref="superbasics.view({superbasicId:superbasic.code})">
			<p ng-bind-html="vm.trust(superbasic.description)"></p>
		</div>
	</div>
</div>
