<div class="modal-header">
	<h3>Superbasic</h3>
</div>
<div class="modal-body">
	<form name="lll.superbasicForm" id="lll.superbasicForm" novalidate autocomplete="off">
	<div class="row">
		<div class="col-sm-12">
			<select-list
				ng-model="lll.removals"
				class="col-sm-12"
				x-type="arrayOfObjects"
				x-values="lll.superbasic.members"
				x-form="lll.superbasicForm"
				x-options='{
					"objectKeyAttribute":"_id",
					"objectDisplayAttribute":"item.displayName",
					"title":"Superbasic Members",
					"id":"members",
					"name":"members",
					"primary":false,
					"single":true,
					"leaveOpen": true
				}'>
			</select-list>
		</div>
	</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="lll.quitnow()">Cancel</button>
	<button class="btn btn-primary" ng-click="lll.savenow(lll.superbasicForm.$valid)"><i class="fa fa-thumbs-o-up"></i> Save</button>
</div>
