.opportunity-description {
	display: block;
	clear: both;
}

.opportunity-link {
	display: block;
	clear: both;
	margin: 4px 0 4px 0;
}

h4.list-group-item-heading.opportunities {
	float: left;
	margin-right: 10px;
}

span.edit-link {
	float: left;
	margin-right: 10px;
}

.list-group div.list-group-item, 
.list-group a.list-group-item {
	overflow: hidden;
}

tr.spaceUnder>td {
	padding-bottom: 1em;
}

input.scoreBox {
	width: 3.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}