div.opportunity-header {
	margin: 2em 0 4em;
}
.opportunity-title {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
}
.opportunity-description {
	display: block;
	clear: both;
}

.opportunity-link {
	display: block;
	clear: both;
	margin: 4px 0 4px 0;
}

td.opportunity-details {
	vertical-align: top;
	padding: 0 25px 15px 0;
	white-space: nowrap;
}
td.opportunity-details:last-child {
	white-space: revert;
	width: 99%;
}

h4.list-group-item-heading.opportunities {
	float: left;
	margin-right: 10px;
}

span.edit-link {
	float: left;
	margin-right: 10px;
}

.list-group div.list-group-item,
.list-group a.list-group-item {
	overflow: hidden;
}

tr.spaceUnder > td {
	padding-bottom: 1em;
}

input.scoreBox {
	width: 35px;
	height: 42px;
	margin-right: 1em;
	text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}

span.screened-in {
	color: green;
}

span.screened-out {
	color: red;
}

div.rejected {
	text-decoration: line-through;
	color: darkred;
}

.opportunity-count {
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 0.7em;
	background-color: #555;
	font-weight: normal;
	padding: 4px 9px;
}
.value-tally {
	font-size: 0.8em;
	margin-top: 1px;
}

.weight-entry-form {
	width: 100%;
	margin: 25px auto;
}
.weight-entry-label-cell {
	padding-right: 2em;
}
.weight-entry-input {
	width: 3em;
	margin-right: 1em;
	text-align: right;
}
.weight-total-text-valid {
	width: 2em;
	margin-right: 1em;
	font-weight: bold;
	color: green;
}
.weight-total-text-invalid {
	width: 2em;
	margin-right: 1em;
	font-weight: bold;
	color: red;
}
/* Opportunity addenda styling */
ol.addendum-list {
	-webkit-padding-start: 20px;
	max-height: 340px;
	overflow-y: auto;
}
li.addendum-list-item {
	padding: 1em 0;
	border-bottom: 1px dotted #f6f8fa;
}
span.addendum-item,
div.addendum-item {
	margin-left: 25px;
	padding-bottom: 1em;
	border-bottom: 1px solid gray;
}
div.addendum-item-editing {
	margin-left: 25px;
	padding-bottom: 1em;
}
div.addendum-created {
	margin-bottom: 0.5em;
	font-size: smaller;
	font-weight: 600;
	color: #b3b3b3;
}
div.add-button-wrapper {
	display: flex;
	align-items: center;
}
@media (min-width: 768px) {
	.sticky-sidebar {
		padding: 20px 0 20px 50px;
		position: -webkit-sticky;
		top: 40px;
		bottom: 40px;
	}
}
@media (max-width: 767px) {
	.sticky-sidebar {
		padding: 0;
		position: relative;
	}
}
div.overline {
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.015em;
	margin-bottom: 3px;
}
div.gov-contact {
	font-size: 1.1em;
	font-weight: 600;
}
