<div class="m-4">
  <div class="alert alert-info">Upload any supporting material here.</div>
  <div>
    <a href class="btn btn-default" id="button-cwu-proposal-upload-file"  data-automation-id="button-cwu-proposal-upload-file" ngf-select="ppp.upload($file)"><i class="fas fa-upload"></i> Upload a
      file</a> &nbsp; <span class="text-black-50">Max 3 MB per file</span>
  </div>
  <div style="padding: 20px 0;">
    <table class="table">
      <tr ng-repeat="file in ppp.proposal.attachments">
        <td class="text-left" width="32px">
          <i class="fas {{ppp.getIconName(file.type)}}"></i>
        </td>
        <td class="text-left">
          {{file.name}}
        </td>
        <td class="text-left">
          <span ng-click="ppp.deleteAttachment(file._id)"><i class="fas fa-trash btn-remove-attachment" title="remove"></i><span>
        </td>
      </tr>
    </table>
  </div>
</div>
