<section class="edit-form-background" role="main">

	<form id="proposalform" name="ppp.form.proposalform" class="form" ng-submit="ppp.save(ppp.form.proposalform.$valid)" novalidate>

		<div class="edit-form">

			<div class="edit-form-header">
				<div class="row">
					<div class="col-xs-12">
						
							<a class="btn btn-text-only pull-right" data-ng-click="ppp.close()" title="Close" aria-label="Close"><i class="fa fa-lg fa-times"></i></a>
							&nbsp; <span class="light small">PROPOSAL FROM:</span>
							<img class="img-avatar-flat img-avatar-sm" src="{{ppp.proposal.user.profileImageURL}}">
							&nbsp;
							{{ppp.proposal.user.displayName}}
					</div>
				</div>
			</div>

			<div class="edit-form-body">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<h4 class="edit-form-body">Applicant</h4>
						<span class="strong">{{ppp.user.firstName}} {{ppp.user.lastName}}</span><br>
						<span>{{ppp.user.email}}</span>
						<span ng-if="!ppp.proposal.isCompany"><br>{{ppp.user.address}}<br></span>
						<span><br>{{ppp.user.phone}}</span>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div ng-if="ppp.proposal.isCompany">
							<h4 class="edit-form-body">Company</h4>
							<span class="strong">{{ppp.proposal.businessName}}</span><br>
							<span>{{ppp.proposal.businessAddress}}</span><br>
							<span>Contact: &nbsp;{{ppp.proposal.businessContactName}}</span><br>
							<span>{{ppp.proposal.businessContactPhone}}</span><br>
							<span>{{ppp.proposal.businessContactEmail}}</span>
						</div>		
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<h4 class="edit-form-body">Proposal</h4>
						<p ng-bind-html="ppp.detail"></p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<h5 class="edit-form-body">Attachments</h5>
						<table class="table table-striped">
							<tr ng-repeat="file in ppp.proposal.attachments">
								<td class=" text-right">
									<i class="fa fa-file-{{ppp.type(file.type)}}-o"></i>
								</td>
								<td class="text-left">
									{{file.name}}
								</td>
								<td class=" text-left">
									<a href="/api/proposal/{{ppp.proposal._id}}/download/doc/{{file._id}}" target="_blank"><i class="fa fa-download"></i></a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!-- // Old UI - Tabbed view // -->
			<!--
			<div class="row">
				<uib-tabset active>
					<uib-tab index="0">
						<uib-tab-heading>
							<i class="fa fa-user"></i> Applicant
						</uib-tab-heading>
						<div class="proposal-form-container">
							<div class="form-group">
								<h4>Your Information</h4>
								<div class="form-group">
								<label>
									I am applying as a Company &nbsp; &nbsp;
									<input disabled="true" type="checkbox" name="isCompany" ng-model="ppp.proposal.isCompany" autofocus>
			 					</label>
			 					</div>
								<div class="form-group" show-errors>
									<label for="firstName">First Name</label>
									<input  disabled="true" type="text" id="firstName" name="firstName" class="form-control" ng-model="ppp.user.firstName" placeholder="First Name">
								</div>
								<div class="form-group" show-errors>
									<label for="lastName">Last Name</label>
									<input  disabled="true" type="text" id="lastName" name="lastName" class="form-control" ng-model="ppp.user.lastName" placeholder="Last Name">
								</div>
								<div class="form-group" show-errors>
									<label for="email">Email</label>
									<input  disabled="true" type="email" id="email" name="email" class="form-control" ng-model="ppp.user.email" placeholder="Email" lowercase>
									<div ng-messages="ppp.userForm.email.$error" role="alert">
										<p class="help-block error-text" ng-message="email">Email address is invalid.</p>
									</div>
								</div>
								<div class="form-group" show-errors ng-if="!ppp.proposal.isCompany">
									<label for="address">Address</label>
									<input  disabled="true" type="text" id="address" name="address" class="form-control" ng-model="ppp.user.address" placeholder="Address">
								</div>
								<div class="form-group" show-errors>
									<label for="phone">Phone</label>
									<input  disabled="true" type="text" id="phone" name="phone" class="form-control" ng-model="ppp.user.phone" placeholder="Phone">
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="1" disable="!ppp.proposal.isCompany">
						<uib-tab-heading>
							<i class="fa fa-group"></i> Company
						</uib-tab-heading>
						<div class="proposal-form-container">
							<h4>Company Information</h4>
							<div class="form-group" show-errors>
								<label for="businessName">Legal Name of Company</label>
								<input  disabled="true" type="text" id="businessName" name="businessName" class="form-control" ng-model="ppp.proposal.businessName" placeholder="Legal Name">
							</div>
							<div class="form-group" show-errors>
								<label for="businessAddress">Company Mailing Address</label>
								<input  disabled="true" type="text" id="businessAddress" name="businessAddress" class="form-control" ng-model="ppp.proposal.businessAddress" placeholder="Company Mailing Address">
							</div>
							<div class="form-group" show-errors>
								<label for="businessContactName">Contact Name</label>
								<input  disabled="true" type="text" id="businessContactName" name="businessContactName" class="form-control" ng-model="ppp.proposal.businessContactName" placeholder="Contact Name">
							</div>
							<div class="form-group" show-errors>
								<label for="businessContactPhone">Contact Phone</label>
								<input disabled="true"  type="text" id="businessContactPhone" name="businessContactPhone" class="form-control" ng-model="ppp.proposal.businessContactPhone" placeholder="Contact Phone">
							</div>
							<div class="form-group" show-errors>
								<label for="businessContactEmail">Contact Email</label>
								<input  disabled="true" type="businessContactEmail" id="businessContactEmail" name="businessContactEmail" class="form-control" ng-model="ppp.proposal.businessContactEmail" placeholder="Contact Email" lowercase>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="2">
						<uib-tab-heading>
							<i class="fa fa-pencil"></i> Proposal
						</uib-tab-heading>
						<div class="proposal-form-container">
							<div><p ng-bind-html="ppp.detail"></p></div>
						</div>
					</uib-tab>
					<uib-tab index="3" disable="!ppp.proposal._id">
						<uib-tab-heading>
							<i class="fa fa-file"></i> Attachments
						</uib-tab-heading>
						<div class="proposal-form-container text-right">
							<table class="table table-striped">
								<tr ng-repeat="file in ppp.proposal.attachments">
									<td class=" text-right">
										<i class="fa fa-file-{{ppp.type(file.type)}}-o"></i>
									</td>
									<td class="text-left">
										{{file.name}}
									</td>
									<td class=" text-left">
										<a href="/api/proposal/{{ppp.proposal._id}}/download/doc/{{file._id}}" target="_blank"><i class="fa fa-download"></i></a>
									</td>
								</tr>
							</table>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
			-->


			<div class="edit-form-footer">
				<div class="row">
					<div class="col-xs-12">
						<button type="button" class="btn btn-lg btn-success pull-right" data-ng-click="ppp.assign()"><i class="fa fa-trophy"></i> Assign this Applicant</button>
					</div>
				</div>
			</div>
		<!--
			<div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-primary" data-ng-click="ppp.assign()"><i class="fa fa-trophy"></i> ASSIGN THIS APPLICANT</button>
				</div>
			</div>
		-->
		</div>
	</form>

</section>
