<div class="m-4">
  <div class="alert alert-info">
    To submit a Proposal, you must agree to the Terms.
  </div>
  <div><a class="btn btn-primary" href="/terms/cwu1" target="_blank"><i class="fas fa-download"></i>
      Download Terms</a></div>
  <div>
    <label class="checkbox-inline checkbox-alone">
      <input type="checkbox" data-automation-id="checkbox-cwu-proposal-terms" name="isInception" ng-disabled="ppp.proposal.isAcceptedTerms" ng-model="ppp.proposal.isAcceptedTerms">
      I acknowledge that I have read, fully understand, and agree to these terms.
    </label>
  </div>
</div>
