<form id="proposalform" name="ppp.proposalForm" ng-submit="ppp.submit()"
  novalidate warn-on-exit>

  <div class="modal-header">
    <h5 class="modal-title">
      My proposal
      <span class="badge badge-warning ml-2" ng-if="!ppp.isclosed && ppp.proposal.status === 'Draft'">DRAFT</span>
      <span class="badge badge-success ml-2" ng-if="ppp.proposal.status === 'Submitted'">SUBMITTED</span>
    </h5>
    <button type="button" class="close" data-ng-click="ppp.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <!--If proposal is in draft-->
    <div class="mb-5 small text-muted" ng-if="!ppp.isclosed && ppp.proposal.status === 'Draft'">
      Your proposal hasn't been submitted yet. <a href="" ng-if="ppp.proposal.status === 'Draft' || ppp.proposal.status === 'Submitted'" data-automation-id="button-cwu-proposal-delete" data-ng-click="ppp.delete()">Delete this proposal</a> 
    </div>

    <!--If proposal has been submitted and closing deadline hasn't passed-->
    <div class="mb-5 small text-muted" ng-if="!ppp.isclosed && ppp.proposal.status === 'Submitted'">
      Your proposal has been submitted! Until the closing deadline, you can <a href="" ng-if="ppp.proposal.status === 'Draft' || ppp.proposal.status === 'Submitted'" data-automation-id="button-cwu-proposal-delete" data-ng-click="ppp.delete()">delete</a> your proposal or make changes (add or remove files). Any changes you make will autosave when you close this modal.
    </div>

    <!--If proposal has been submitted and closing deadline has passed-->
    <div class="mb-5 small text-muted" ng-if="ppp.isclosed && ppp.proposal.status === 'Submitted'">
      Your proposal was submitted! 
    </div>

    <div class="mb-5" ng-include="'/modules/proposals/client/views/cwu-proposal-edit-attachments.html'"></div>
    <div ng-include="'/modules/proposals/client/views/cwu-proposal-edit-terms.html'"></div>
  </div>
  
  <div class="modal-footer" ng-if="ppp.proposal.status !== 'Submitted' && ppp.proposal.isAcceptedTerms && ppp.hasAttachments">
    <button type="submit" data-automation-id="button-cwu-proposal-submit"  class="btn btn-primary">Submit proposal</button>
  </div>

</form>