<section class="bg-secondary">

  <form id="proposalform" name="ppp.form.proposalform" class="form">

    <div class="bg-light rounded p-0">

      <div class="bg-light rounded px-4 py-3 font-weight-bold">
        <button class="close" data-ng-click="ppp.close()" title="Close" aria-label="Close"><i class="fas fa-times"></i></button>
        <span class="text-black-50">Proposal from:</span>
        &nbsp;
        <strong>{{ppp.proposal.user.displayName}}</strong>
      </div>

        <div class="row px-3">
          <div class="col">
            <h4>Applicant</h4>
            <span class="strong">{{ppp.proposal.user.firstName}} {{ppp.proposal.user.lastName}}</span><br>
            <span>{{ppp.proposal.user.email}}</span>
            <span ng-if="!ppp.proposal.isCompany"><br>{{ppp.proposal.user.address}}<br></span>
            <span><br>{{ppp.proposal.user.phone}}</span>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div ng-if="ppp.proposal.isCompany">
              <h4>Company</h4>
              <span class="strong">{{ppp.proposal.businessName}}</span><br>
              <span>{{ppp.proposal.businessAddress}}</span><br>
              <span>Contact: &nbsp;{{ppp.proposal.businessContactName}}</span><br>
              <span>{{ppp.proposal.businessContactPhone}}</span><br>
              <span>{{ppp.proposal.businessContactEmail}}</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row px-3">
          <div class="col">
            <h4>Proposal</h4>
            <p ng-bind-html="ppp.proposal.detail"></p>
          </div>
        </div>
        <hr>
        <div class="row px-3 w-25">
          <div class="col">
            <h5>Attachments</h5>
            <table class="table table-striped">
              <tr ng-repeat="file in ppp.proposal.attachments">
                <td class=" text-right">
                  <i class="fas {{ppp.getIconName(file.type)}}"></i>
                </td>
                <td class="text-left">
                  {{file.name}}
                </td>
                <td class=" text-left">
                  <a href="/api/proposals/{{ppp.proposal._id}}/documents/{{file._id}}" target="_blank"><i class="fas fa-download"></i></a>
                </td>
              </tr>
            </table>
          </div>
        </div>

      <div class="bg-light rounded px-3 py-2">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-success float-right ml-3" data-ng-click="ppp.assign()"><i class="fas fa-trophy"></i>
              Assign this Applicant</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</section>
