<form id="proposalform" name="ppp.proposalForm" ng-submit="ppp.submit()"
  novalidate warn-on-exit>

  <div class="modal-header">
    <h5 class="modal-title" ng-if="!ppp.isclosed && ppp.proposal.status !== 'Submitted'">Submit a proposal</h5>
    <h5 class="modal-title" ng-if="ppp.proposal.status === 'Submitted'">My proposal</h5>
    <button type="button" class="close" data-ng-click="ppp.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    
    <!--If proposal is in draft-->
    <div class="alert alert-warning small mb-3" ng-if="!ppp.isclosed && ppp.proposal.status === 'Draft'">This proposal hasn't been submitted yet. <a href="" ng-if="ppp.proposal.status === 'Draft' || ppp.proposal.status === 'Submitted'" data-automation-id="button-cwu-proposal-delete" data-ng-click="ppp.delete()">Delete this proposal</a> 
    </div>
    
    <!--If proposal has been submitted and closing deadline hasn't passed-->
    <div class="alert alert-success small mb-3" ng-if="!ppp.isclosed && ppp.proposal.status === 'Submitted'"><i class="fa-lg far fa-check-circle"></i> This proposal has been submitted. You can make changes or <a href="" ng-if="ppp.proposal.status === 'Draft' || ppp.proposal.status === 'Submitted'" data-automation-id="button-cwu-proposal-delete" data-ng-click="ppp.delete()">withdraw</a> this proposal until the closing deadline (your changes will autosave when you close the modal). 
    </div>

    <!--If proposal has been submitted and closing deadline has passed-->
    <div class="alert alert-success small mb-3" ng-if="ppp.isclosed && ppp.proposal.status === 'Submitted'"><i class="fa-lg far fa-check-circle"></i> This proposal was submitted. 
    </div>


    <div class="mb-5" ng-include="'/modules/proposals/client/views/cwu-proposal-edit-attachments.html'"></div>
    <hr>
    <div ng-include="'/modules/proposals/client/views/cwu-proposal-edit-terms.html'"></div>
  </div>
  
  <div class="modal-footer" ng-if="ppp.proposal.status !== 'Submitted'">
    <button type="submit" data-automation-id="button-cwu-proposal-submit"  class="btn btn-block btn-primary" ng-if="ppp.proposal.status !== 'Submitted'" ng-disabled="!ppp.proposal.isAcceptedTerms || !ppp.hasAttachments">Submit proposal</button>
  </div>
</form>