
<!-- // Banner if proposal is Submitted // -->
<div class="banner banner-success" ng-if="ppp.proposal.status === 'Submitted'">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p><span class="strong"><i class="fa fa-check-circle"></i> Your proposal has been submitted!</span> &nbsp;&nbsp; You can make updates until <span class="strong" ng-bind="ppp.opportunity.deadline | date:'mediumDate'"></span>.</p>
			</div>
		</div>
	</div>
</div>

<!-- // Banner if proposal is in Draft // -->
<div class="banner banner-important" ng-if="ppp.proposal.status === 'Draft'">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p><span class="strong"><i class="fa fa-file"></i> Your proposal is in DRAFT.</span>&nbsp;&nbsp; Submit before <span class="strong" ng-bind="ppp.opportunity.deadline | date:'mediumDate'"></span> to be considered for this opportunity!</p>
				<p ng-if="!ppp.proposal.isAcceptedTerms">Before you can submit your proposal, you must agree to the Terms.</p>
			</div>
		</div>
	</div>
</div>

<section class="edit-form-background" role="main">

	<form id="proposalform" name="ppp.form.proposalform" class="form" ng-submit="ppp.save(ppp.form.proposalform.$valid)" novalidate warn-on-exit>

		<div class="container container-edit-form">

			<div class="edit-form-header">
				<div class="row">
					<div class="col-xs-8">
						<h4 class="edit-form-header"><span class="small light">MY PROPOSAL TO WORK ON:</span> {{ppp.opportunity.name}}</h4>
					</div>
					<div class="col-xs-4">
						<a class="btn btn-text-only pull-right" data-ng-click="ppp.close()" title="Close Proposal" aria-label="Close"><i class="fa fa-times"></i> CLOSE</a>
					</div>
				</div>
			</div>
			<br>
			<div ng-if="!ppp.isSprintWithUs" ng-include="'/modules/proposals/client/views/edit-proposal.cwu.view.html'"></div>
			<div ng-if="ppp.isSprintWithUs" ng-include="'/modules/proposals/client/views/edit-proposal.swu.view.html'"></div>

		</div>

	</form>

</section>
