<div class="row list-head">
	<div class="col-sm-7">
		<h3 class="list-page-hide">Proposals and Followers</h3>
	</div>
</div>
<div class="row">
				<div class="col-sm-4 text-center">Following : {{vm.stats.following}}</div>
				<div class="col-sm-4 text-center">Drafts : {{vm.stats.draft}}</div>
				<div class="col-sm-4 text-center">Submitted : {{vm.stats.submitted}}</div>
</div>
<div class="row list-head" ng-if="vm.isclosed">
	<div class="col-sm-7">
		<h3 ng-bind="vm.title" class="list-page-hide"></h3>
	</div>
</div>
<div class="row" ng-if="vm.isclosed">
	<div class="col-md-6" ng-if="! vm.proposals.length">
		<div class="panel panel-default panel-body">
			<span class="text-muted">No Submitted Proposals Found.</span>
		</div>
	</div>
		<div class="row" ng-repeat="proposal in vm.proposals | slice:column.start:column.end">
			<div class="col-md-3">
			<div >
				<img class="card-img-left" style="margin-right:0; margin-left:20px" src="{{((proposal.user.profileImageURL.substr(0,1) == '/' || proposal.user.profileImageURL.substr(0,4) == 'http') ? '' : '/') + proposal.user.profileImageURL}}"/>
			</div>
			</div>
			<div class="col-md-5">
				<h4 class="card-title" style="font-size: 17px; padding-top: 6px; margin-bottom: 4px;">{{proposal.user.firstName}} {{proposal.user.lastName}}</h4>
				<p>Attachments: {{proposal.attachments.length}}</p>
			</div>
			<div class="col-md-2">
				<a ng-if="proposal.user.email" href="mailto:{{proposal.user.email}}">Email Proponent</a></p>
			</div>
			<div class="col-md-2">
				<a ui-sref="proposals.view({ proposalId: proposal._id })">View Proposal</a><br/>
			</div>
		</div>
</div>

