<div class="row">
  <div class="col m-4">
    <uib-accordion>
      <div uib-accordion-group is-open="!ppp.questionsAccordianCollapsed" ng-click="ppp.questionsAccordianCollapsed=!ppp.questionsAccordianCollapsed">
        <uib-accordion-heading>
          <i class="fas fa-lg fa-info-circle"></i> Compose your responses to team-based questions <i>(<span ng-if="!ppp.questionsAccordianCollapsed">click
              to hide details</span><span ng-if="ppp.questionsAccordianCollapsed">click to show details</span>)</i>
        </uib-accordion-heading>
        <div class="row">
          <p>The Proponent should provide responses to the Team-based questions contained in this tab. The
            Team-based questions are specific to the Opportunity and are intended to demonstrate the Team's: (i)
            experience working as a team; (ii) experience with Agile software development; and (iii) experience
            working on a similar Product, with a similar scope and technical background.</p>
          <p>The Proponent’s responses should not reference organization name, Resource name, or specific company
            software. No points will be awarded for any Proponent answer to any question in this step that
            references the Proponent’s organization name, Resource name, or specific company software.</p>
        </div>
      </div>
    </uib-accordion>

    <br>
    <div class="alert alert-danger">
      <i class="fas fa-lg fa-exclamation-triangle"></i> <strong>Important!</strong> Do not include anything in
      your responses that would reveal the Organization name, Resource name, or specific company software!
    </div>
    <h6>
      Please note the word limit for each response, as responses exceeding that limit will receive a score of 0.
      The Response Guidelines are not intended to be comprehensive.  Proponents should use their own judgement in
      determining what information to provide.
    </h6>
    <br>
    <div ng-repeat="question in ppp.opportunity.teamQuestions">
      <strong>Question {{$index + 1}} &nbsp;&nbsp;</strong><em>({{question.wordLimit}}
        word limit, worth {{question.questionScore}} points):</em><br>
      <div class="alert alert-success" ng-bind-html="question.question"></div>

      <div class="alert alert-info" ng-show="question.guideline" ng-bind-html="question.guideline"></div>
      <textarea name="teamQuestion" id="teamQuestion" class="form-control" ui-tinymce="ppp.TinyMceConfiguration" ng-model="ppp.proposal.teamQuestionResponses[$index].response"></textarea>
    </div>
  </div>
</div>
