<div class="row">
  <div class="col m-4">
    <uib-accordion>
      <div uib-accordion-group is-open="!ppp.referencesAccordianCollapsed" ng-click="ppp.referencesAccordianCollapsed=!ppp.referencesAccordianCollapsed">
        <uib-accordion-heading>
          <i class="fas fa-lg fa-info-circle"></i> Things to know about your proposed references <i>(<span ng-if="!ppp.referencesAccordianCollapsed">click
              to hide details</span><span ng-if="ppp.referencesAccordianCollapsed">click to show details</span>)</i>
        </uib-accordion-heading>
        <div class="row">
          <p>The Province will require Proponents to support their claims of over-all experience by supplying
            references who can verify the quality of work provided specific to the relevant experience of the
            Proponent. Using the upload function below, the Proponent must submit three references setting forth
            company name, contact name, phone number and email address for each reference. References from the
            Proponent’s own organization or Team are not acceptable for the Proponent.</p>
          <p>The Province may in its sole discretion, but is under no obligation to, check Proponent references
            without first notifying the Proponent. The Province reserves the right to seek additional references
            independent of those supplied by the Proponent, including internal references in relation to the
            Proponent’s performance under any past or current contracts with the Province or other verifications
            as are deemed necessary by it to verify the information contained in the Proposal and to confirm the
            suitability of the Proponent.</p>
          <p>Further to the Province’s reservation of rights under section 1.21 of the terms and conditions set
            out on the Terms tab, if the Proponent is deemed unsuitable by the Province in its sole discretion
            due to any unsatisfactory reference, or if the Proposal is found to contain material errors,
            omissions or misrepresentations, the Proponent’s proposal will receive no further consideration and
            the Proponent will be eliminated from the competition.</p>
          <p>The Province may only check the lead Shortlisted Proponent’s references but reserves the right to
            check the references of other Shortlisted Proponents in the event the lead Shortlisted Proponent is
            deemed unsatisfactory.</p>
        </div>
      </div>
    </uib-accordion>
    <div class="row">
      <div class="col">
        <br><br>
        <a href class="btn btn-primary" ngf-select="ppp.upload($file)" ng-disabled="!ppp.proposal._id"><i class="fas fa-upload"></i>
          Upload your references document (max size 3MB per file)</a>
        <br><br>
        <p>You must save your Proposal before uploading references.</p>
        <table class="table table-striped">
          <tr ng-repeat="file in ppp.proposal.attachments">
            <td class="text-right">
              <i class="fas {{ ppp.getIconName(file.type) }}"></i>
            </td>
            <td class="text-left">
              {{file.name}}
            </td>
            <td class="text-left">
              <span ng-click="ppp.deletefile(file._id)"><i class="fas fa-trash" title="remove"></i></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
