<div class="row">
  <div class="col m-4">

    <uib-accordion>
      <div uib-accordion-group is-open="!ppp.priceAccordianCollapsed" ng-click="ppp.priceAccordianCollapsed=!ppp.priceAccordianCollapsed">
        <uib-accordion-heading>
          <i class="fas fa-lg fa-info-circle"></i> Things you should know about proposing pricing <i>(<span ng-if="!ppp.priceAccordianCollapsed">click
              to hide details</span><span ng-if="ppp.priceAccordianCollapsed">click to show details</span>)</i>
        </uib-accordion-heading>
        <div class="row">
          <p>In this tab, Proponents are asked to propose a Total Phase Cost for the following indicated Phases.
             If a maximum budget amount is identified in this tab for any Phase(s), the Total Phase Cost must not
            exceed the maximum amount for that Phase.  The automated system will add the Total Phase Costs and
            calculate the Total Proponent Cost displayed on this tab.  The Total Proponent Cost must also be
            within the total maximum budget amount specified on this tab.</p>
          <p>The Proponent is free to nominate a Team with as many of its Resources as it believes appropriate
            for the Opportunity, provided that the Proponent stays within the maximum budget amounts specified in
            this tab.</p>
          <p>The RFP system will not permit a Proponent to submit a Proposal unless this mandatory requirement is
            satisfied.</p>
        </div>
      </div>
    </uib-accordion>

    <div class="row mx-2 my-3">
      <div class="col text-center">
        <h5><i class="fas fa-map"></i> Inception Phase</h5>

        <!-- If Phase not included -->
        <div ng-if="!ppp.opportunity.phases.inception.isInception" class="small">
          This phase is not required
        </div>

        <!-- If Phase is included -->
        <div class="small mb-2" ng-if="ppp.opportunity.phases.inception.isInception">
          Phase Window: &nbsp;&nbsp;<i class="fas fa-calendar"></i>
          {{ppp.formatDate(ppp.opportunity.phases.inception.startDate)}} &#8212;
          {{ppp.formatDate(ppp.opportunity.phases.inception.endDate)}}
        </div>

        <div ng-if="ppp.opportunity.phases.inception.isInception">
          <div class="border border-primary rounded">
            <div class="bg-primary text-white rounded-top small">
              Enter Your Total Cost for this Phase:
            </div>
            <div>
              <p class="small mt-2">Phase Cost for Inception must not exceed
                {{ppp.opportunity.phases.inception.maxCost | currency : "$" : 0}}</p>
              <div class="mb-2">
                <div class="d-inline">$</div>
                <input type="text" ng-model="ppp.proposal.phases.inception.cost" model-format="currency" id="budget-inception"
                  class="form-control d-inline w-75 text-right" aria-label="Amount (to the nearest dollar)" placeholder=0.00
                  onclick="this.select()">
              </div>
              <div class="alert alert-danger px-2" ng-if="!ppp.validatePhaseAmount(ppp.proposal.phases.inception.cost, ppp.opportunity.phases.inception.maxCost)">
                <i class="fas fa-exclamation-triangle"></i> Your price for this phase must be valid and not exceed
                <strong>
                  {{ppp.opportunity.phases.inception.maxCost | currency : "$" : 0}}
                </strong>
              </div>
            </div>
          </div>
          <div class="p-2 text-left" ng-repeat="member in ppp.proposal.phases.inception.team">
            <avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
          </div>
        </div>
      </div>

      <div class="col text-center">
        <h5><i class="fas fa-rocket"></i> Proof of Concept Phase</h5>
        <!-- If Phase not included -->
        <div class="small" ng-if="!ppp.opportunity.phases.proto.isPrototype">This phase is not required
        </div>
        <!-- If Phase is included -->
        <div ng-if="ppp.opportunity.phases.proto.isPrototype" class="small mb-2">Phase Window: &nbsp;&nbsp;<i class="fas fa-calendar"></i>
          {{ppp.formatDate(ppp.opportunity.phases.proto.startDate)}} &#8212;
          {{ppp.formatDate(ppp.opportunity.phases.proto.endDate)}}</div>
        <!-- If Phase is included -->
        <div ng-if="ppp.opportunity.phases.proto.isPrototype">
          <div class="border border-primary rounded">
            <div class="bg-primary text-white rounded-top small">
              Enter Your Total Cost for this Phase:
            </div>
            <div>
              <p class="small mt-2">Phase Cost for Proof of Concept must not exceed
                {{ppp.opportunity.phases.proto.maxCost | currency : "$" : 0}}</p>
              <div class="mb-2">
                <div class="d-inline">$</div>
                <input type="text" ng-model="ppp.proposal.phases.proto.cost" model-format="currency" id="budget-poc"
                  class="form-control d-inline w-75 text-right" aria-label="Amount (to the nearest dollar)"
                  placeholder=0.00 onclick="this.select()">
              </div>
              <div class="alert alert-danger px-2" ng-if="!ppp.validatePhaseAmount(ppp.proposal.phases.proto.cost, ppp.opportunity.phases.proto.maxCost)">
                <i class="fas fa-exclamation-triangle"></i> Your price for this phase must not exceed
                <strong>
                  {{ppp.opportunity.phases.proto.maxCost | currency : "$" : 0}}
                </strong>
              </div>
            </div>
          </div>
          <div class="p-2 text-left" ng-repeat="member in ppp.proposal.phases.proto.team">
            <avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
          </div>
        </div>
      </div>

      <div class="col text-center">
        <h5><i class="fas fa-cogs"></i> Implementation Phase</h5>
        <!-- If Phase not included -->
        <div class="small" ng-if="!ppp.opportunity.phases.implementation.isImplementation">This phase is not required</div>
        <!-- If Phase is included -->
        <div class="small mb-2" ng-if="ppp.opportunity.phases.implementation.isImplementation">Phase Window: &nbsp;&nbsp;<i class="fas fa-calendar"></i>
          {{ppp.formatDate(ppp.opportunity.phases.implementation.startDate)}} &#8212;
          {{ppp.formatDate(ppp.opportunity.phases.implementation.endDate)}}</div>
        <!-- If Phase is included -->
        <div ng-if="ppp.opportunity.phases.implementation.isImplementation">
          <div class="border border-primary rounded">
            <div class="bg-primary text-white rounded-top small">
              Enter Your Total Cost for this Phase:
            </div>
            <div>
              <p class="small mt-2">Phase Cost for Implementation must not exceed
                {{ppp.opportunity.phases.implementation.maxCost | currency : "$" : 0}}</p>
              <div class="mb-2">
                <span class="d-inline">$</span>
                <input type="text" ng-model="ppp.proposal.phases.implementation.cost" model-format="currency" id="budget-imp"
                  class="form-control d-inline w-75 text-right" aria-label="Amount (to the nearest dollar)" placeholder=0.00
                  onclick="this.select()">
              </div>
              <div class="alert alert-danger px-2" ng-if="!ppp.validatePhaseAmount(ppp.proposal.phases.implementation.cost, ppp.opportunity.phases.implementation.maxCost)">
                <i class="fas fa-exclamation-triangle"></i> Your price for this phase must not exceed
                <strong>
                  {{ppp.opportunity.phases.implementation.maxCost | currency : "$" : 0}}
                </strong>
              </div>
            </div>
          </div>
          <div class="avatar-user" ng-repeat="member in ppp.proposal.phases.implementation.team">
            <avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <h4><span class="text-black-50">Total Proponent Cost:</span> {{ppp.proposal.phases.inception.cost +
          ppp.proposal.phases.proto.cost + ppp.proposal.phases.implementation.cost | currency}}</h4>
        <div>
          <span class="alert alert-danger" ng-if="!ppp.validateEntireAmount()"><i class="fas fa-exclamation-triangle"></i>
            Your total price must not exceed the total budget of <strong>{{ppp.opportunity.budget | currency :
              "$" : 0}}</strong></span>
        </div>
      </div>
    </div>
  </div>
</div>
