
<!-- // Banner if proposal is Submitted // -->
<div class="banner banner-success" ng-if="ppp.proposal.status === 'Submitted'">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<span class="strong"><i class="fa fa-check-circle"></i> This proposal has been submitted!</span> &nbsp;&nbsp; You can make updates or withdraw your proposal until <strong>16:00 Pacific Time</strong> on <span class="strong" ng-bind="ppp.opportunity.deadline | date:'mediumDate'"></span>.
			</div>
		</div>
	</div>
</div>

<!-- // Banner if proposal is in Draft // -->
<div class="banner banner-important" ng-if="ppp.proposal.status === 'Draft'">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<span class="strong"><i class="fa fa-file"></i> Your proposal is in DRAFT.</span>&nbsp;&nbsp; Submit before <span class="strong">16:00 Pacific Time on <span ng-bind="ppp.opportunity.deadline | date:'mediumDate'"></span></span> to be considered for this opportunity!
				<span ng-if="!ppp.proposal.isAcceptedTerms"><br>Before you can submit your proposal, you must agree to the Terms.</span>
			</div>
		</div>
	</div>
</div>

<section class="edit-form-background" role="main">

	<form id="proposalform" name="ppp.form.proposalform" class="form" ng-submit="ppp.save(ppp.form.proposalform.$valid)" novalidate>

		<div class="edit-form">

			<div class="edit-form-header">
				<span class="gray">Proposal from:</span> {{ppp.org.name}}
				<a class="btn btn-text-only pull-right" data-ng-click="ppp.close()" title="Close Proposal" aria-label="Close"><i class="fa fa-lg fa-times"></i></a>
			</div>
		
			<uib-tabset active class="edit-form-tabs">

				<uib-tab index="0">
					<uib-tab-heading>
						1. Accept Terms <i class="fa fa-handshake-o"></i> 
					</uib-tab-heading>

					<div class="alert alert-info">
						To submit a proposal, you must agree that if your company is chosen, you will enter into a contract that looks like this:
					</div>
					<iframe class="row" style="height: 400px;" src="/sprint-with-us-terms-2018-01-23.pdf" ng-if="!ppp.proposal.isAcceptedTerms"></iframe>
					<br>
					<a class="btn btn-sm btn-primary" href="/api/proposals/download/terms/swu1" target="_blank"><i class="fa fa-download"></i> Download Terms</a>
					<div class="alert alert-warning">
						<label class="checkbox-inline checkbox-alone">
							<input type="checkbox" name="isInception" ng-disabled="ppp.proposal.isAcceptedTerms" ng-model="ppp.proposal.isAcceptedTerms"> I acknowledge that I have read, fully understand, and agree to these terms.
						</label>
					</div>

						<!-- // No point showing business info here if user can't edit it from here // -->
						<!--
						<div class="form-group" show-errors>
							<label for="businessName">Legal Name of Company</label>
							<input disabled type="text" id="businessName" name="businessName" class="form-control" ng-model="ppp.org.name" placeholder="Legal Name">
						</div>
						<div class="form-group" show-errors>
							<label for="businessAddress">Company Mailing Address</label>
							<input disabled type="text" id="businessAddress" name="businessAddress" class="form-control" ng-model="ppp.org.fullAddress" placeholder="Company Mailing Address">
						</div>
						<div class="form-group" show-errors>
							<label for="businessContactName">Contact Name</label>
							<input disabled type="text" id="businessContactName" name="businessContactName" class="form-control" ng-model="ppp.org.contactName" placeholder="Contact Name">
						</div>
						<div class="form-group" show-errors>
							<label for="businessContactPhone">Contact Phone</label>
							<input disabled type="text" id="businessContactPhone" name="businessContactPhone" class="form-control" ng-model="ppp.org.contactPhone" placeholder="Contact Phone">
						</div>
						<div class="form-group" show-errors>
							<label for="businessContactEmail">Contact Email</label>
							<input disabled type="businessContactEmail" id="businessContactEmail" name="businessContactEmail" class="form-control" ng-model="ppp.org.contactEmail" placeholder="Contact Email" lowercase>
						</div>
						-->

				</uib-tab>

				<uib-tab index="1">
					<uib-tab-heading>
						2. Select Team <i class="fa fa-group"></i>
					</uib-tab-heading>
					<div class="alert alert-info">
						<strong>Select the team members</strong> you want to put forward for each phase.
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<h5 class="text-center gray-light"><i class="fa fa-map"></i> Inception</h5>

							<div ng-if="!ppp.oinp.isInception" class="gray-light text-center">
								This phase is not required
							</div>

							<div ng-if="ppp.oinp.isInception" class="text-center gray-light">
								<i class="fa fa-calendar"></i> &nbsp;
								{{ppp.oinp.f_startDate}} to {{ppp.oinp.f_endDate}}
							</div>
							<br>
							<div class="panel panel-primary" ng-if="ppp.oinp.isInception">

								<div class="panel-heading">
									Click on member(s) to add them to team:
								</div>

								<div class="panel-body">

									<div class="team-selection-list" >
										<div ng-repeat="member in ppp.members.inception" class="team-member" ng-class="{'selected':ppp.inTeam[member.email]}" ng-click="ppp.clickMember(member, ppp.inTeam)">
											<avatar-display url="member.profileImageURL"></avatar-display>
											<name>{{member.displayName}}</name>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default" ng-if="ppp.oinp.isInception">
								<div class="panel-body">
									<div class="text-center gray-light">Required Capabilities</div>
									<table class="table capabilities-list">
										<tbody>
											<tr ng-repeat="capability in ppp.inp.capabilities" ng-if="ppp.inp.iOppCapabilities[capability.code]">
												<th scope="row" ng-if="ppp.p_inp.iPropCapabilities[capability.code]" ><i class="fa fa-check-circle-o fa-2x success"></i></th>
												<th scope="row" ng-if="!ppp.p_inp.iPropCapabilities[capability.code]"><i class="fa fa-question-circle fa-2x gray-light"></i></th>
												<td><label class="label label-lg label-cap-default {{capability.labelClass}}"></i> {{capability.name}}</label></td>
												<td ng-if="ppp.inp.iOppCapabilitiesCore[capability.code]"><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
										</tbody>
									</table>
									<div class="text-center gray-light">Preferred Skills</div>
									<table class="table capabilities-list">
										<tbody>
											<tr ng-repeat="capabilitySkill in ppp.inp.capabilitySkills" ng-if="ppp.inp.iOppCapabilitySkills[capabilitySkill.code]">
												<th scope="row" ng-if="ppp.p_inp.iPropCapabilitySkills[capabilitySkill.code]"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<th scope="row" ng-if="!ppp.p_inp.iPropCapabilitySkills[capabilitySkill.code]"></th>
												<td><label class="label label-skill">{{capabilitySkill.name}}</label></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h5 class="text-center gray-light"><i class="fa fa-rocket"></i> Proof of Concept</h5>

							<div ng-if="!ppp.oprp.isPrototype" class="gray-light text-center">
								This phase is not required
							</div>

							<div ng-if="ppp.oprp.isPrototype" class="text-center gray-light">
								<i class="fa fa-calendar"></i> {{ppp.oprp.f_startDate}} to {{ppp.oprp.f_endDate}}
							</div>

							<br>

							<div class="panel panel-primary" ng-if="ppp.oprp.isPrototype">
								<div class="panel-heading">
									Click on member(s) to add them to team:
								</div>

								<div class="panel-body">
									<div class="team-selection-list">
										<div ng-repeat="member in ppp.members.proto" class="team-member" class="team-member" ng-class="{'selected':ppp.prTeam[member.email]}" ng-click="ppp.clickMember(member, ppp.prTeam)">
											<avatar-display url="member.profileImageURL"></avatar-display>
											<name>{{member.displayName}}</name>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default" ng-if="ppp.oprp.isPrototype">
								<div class="panel-body">
									<div class="text-center gray-light">Required Capabilities</div>
									<table class="table capabilities-list">
										<tbody>
											<tr ng-repeat="capability in ppp.prp.capabilities" ng-if="ppp.prp.iOppCapabilities[capability.code]">
												<th scope="row" ng-if="ppp.p_prp.iPropCapabilities[capability.code]" ><i class="fa fa-check-circle-o fa-2x success"></i></th>
												<th scope="row" ng-if="!ppp.p_prp.iPropCapabilities[capability.code]"><i class="fa fa-question-circle fa-2x gray-light"></i></th>
												<td><label class="label label-lg label-cap-default {{capability.labelClass}}">{{capability.name}}</label></td>
												<td ng-if="ppp.prp.iOppCapabilitiesCore[capability.code]"><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
										</tbody>
									</table>
									<div class="text-center gray-light">Preferred Skills</div>
									<table class="table capabilities-list">
										<tbody>
											<tr ng-repeat="capabilitySkill in ppp.prp.capabilitySkills" ng-if="ppp.prp.iOppCapabilitySkills[capabilitySkill.code]">
												<th scope="row" ng-if="ppp.p_prp.iPropCapabilitySkills[capabilitySkill.code]"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<th scope="row" ng-if="!ppp.p_prp.iPropCapabilitySkills[capabilitySkill.code]"></th>
												<td><label class="label label-skill">{{capabilitySkill.name}}</label></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h5 class="text-center gray-light"><i class="fa fa-gears"></i> Implementation</h5>

							<div ng-if="!ppp.oimp.isImplementation" class="gray-light text-center">
								This phase is not required
							</div>

							<div ng-if="ppp.oimp.isImplementation" class="text-center gray-light">
								<i class="fa fa-calendar"></i> {{ppp.oimp.f_startDate}} to {{ppp.oimp.f_endDate}}
							</div>

							<br>

							<div class="panel panel-primary" ng-if="ppp.oimp.isImplementation">
								<div class="panel-heading">
									Click on member(s) to add them to team:
								</div>
								<div class="panel-body">
									<div class="team-selection-list">
										<div ng-repeat="member in ppp.members.implementation" class="team-member" class="team-member" ng-class="{'selected':ppp.imTeam[member.email]}" ng-click="ppp.clickMember(member, ppp.imTeam)">
											<avatar-display url="member.profileImageURL"></avatar-display>
											<name>{{member.displayName}}</name>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default" ng-if="ppp.oimp.isImplementation">
								<div class="panel-body">
									<div class="text-center gray-light">Required Capabilities</div>
									<table class="table capabilities-list">
										<tbody>
											<tr ng-repeat="capability in ppp.imp.capabilities" ng-if="ppp.imp.iOppCapabilities[capability.code]">
												<th scope="row" ng-if="ppp.p_imp.iPropCapabilities[capability.code]" ><i class="fa fa-check-circle-o fa-2x success"></i></th>
												<th scope="row" ng-if="!ppp.p_imp.iPropCapabilities[capability.code]"><i class="fa fa-question-circle fa-2x gray-light"></i></th>
												<td><label class="label label-lg label-cap-default {{capability.labelClass}}">{{capability.name}}</label></td>
												<td ng-if="ppp.imp.iOppCapabilitiesCore[capability.code]"><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
										</tbody>
									</table>
									<div class="text-center gray-light">Preferred Skills</div>
									<table class="table capabilities-list">
										<tbody>
											<tr ng-repeat="capabilitySkill in ppp.imp.capabilitySkills" ng-if="ppp.imp.iOppCapabilitySkills[capabilitySkill.code]">
												<th scope="row" ng-if="ppp.p_imp.iPropCapabilitySkills[capabilitySkill.code]"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<th scope="row" ng-if="!ppp.p_imp.iPropCapabilitySkills[capabilitySkill.code]"></th>
												<td><label class="label label-skill">{{capabilitySkill.name}}</label></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="alert alert-info">
						Your team must cover off all the <span class="strong">Required Capabilities</span>. Capabilities labelled &nbsp;<label class="label label-fulltime-selected">F/T</label>&nbsp; are expected to be available full-time for the duration of the phase. <span class="strong">Preferred Skills</span> are not required, but the more of them your team members have, the higher they'll score.
					</div>

				</uib-tab>

				<uib-tab index="2">
					<uib-tab-heading>
						3. Questionnaire <i class="fa fa-pencil"></i>
					</uib-tab-heading>
					<div class="alert alert-info">
						Provide a response to each of the following questions. Your answers will be anonymized and ranked against the responses from other companies and may be used to screen out.<br><br>
						Please be thorough but concise. Each response should be no more than about <strong>1000 words.</strong>.
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[0].question}}</label>
						<textarea
							name="q1"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[0].response">
						</textarea>
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[1].question}}</label>
						<textarea
							name="q2"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[1].response">
						</textarea>
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[2].question}}</label>
						<textarea
							name="q3"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[2].response">
						</textarea>
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[3].question}}</label>
						<textarea
							name="q4"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[3].response">
						</textarea>
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[4].question}}</label>
						<textarea
							name="q5"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[4].response">
						</textarea>
					</div>
				</uib-tab>


				<uib-tab index="3" disable="!ppp.proposal._id" ng-hide="!ppp.proposal._id">
					<uib-tab-heading>
						4. Attachments <i class="fa fa-file"></i>
					</uib-tab-heading>
					<div class="alert alert-info">
						You can upload any supporting material here as an attachment.
					</div>
					<div class="col-xs-12">
						<a href class="btn btn-sm btn-primary" ngf-select="ppp.upload($file)"><i class="fa fa-upload"></i> Upload a file</a>
					</div>
					<table class="table table-striped">
						<tr ng-repeat="file in ppp.proposal.attachments">
							<td class=" text-right">
								<i class="fa fa-file-{{ppp.type(file.type)}}-o"></i>
							</td>
							<td class="text-left">
								{{file.name}}
							</td>
							<td class=" text-left">
								<i class="fa fa-trash" ng-click="ppp.deletefile(file._id)"></i>
							</td>
						</tr>
					</table>
				</uib-tab>
				<uib-tab>
					<uib-tab-heading>
						5. Pricing <i class="fa fa-usd"></i>
					</uib-tab-heading>
					<div class="alert alert-info">
						Here's the team you're putting forward. Please enter a <strong>fixed price</strong> for which you can supply the team members for the dates stated.
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 text-center">
							<div class="panel panel-default">
								<div class="panel-body">
									<p><i class="fa fa-map"></i> &nbsp;Inception</p>
									<!-- If Phase not included -->
									<div class="gray-light" ng-if="!ppp.oinp.isInception">This phase is not required
									</div>
									<!-- If Phase is included -->
									<p class="strong" ng-if="ppp.oinp.isInception"><i class="fa fa-calendar"></i> &nbsp; {{ppp.oinp.f_startDate}} to {{ppp.oinp.f_endDate}}</p>
								</div>

								<!-- If Phase is included -->
								<div class="panel-body" ng-if="ppp.oinp.isInception">
									<div class="avatar-user" ng-repeat="member in ppp.members.inception" ng-if="ppp.inTeam[member.email]">
										<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
									</div>
									<div class="alert alert-important">
										<label class="label-input" for="budget-inception"><strong>Price:</strong></label>
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" ng-model="ppp.proposal.phases.inception.cost" model-format="currency" id="budget-inception" class="form-control text-right" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 text-center">
							<div class="panel panel-default">
								<div class="panel-body">
									<p><i class="fa fa-rocket"></i> &nbsp;Proof of Concept Phase</p>
									<!-- If Phase not included -->
									<div class="gray-light" ng-if="!ppp.oprp.isPrototype">This phase is not required
									</div>
									<!-- If Phase is included -->
									<p class="strong" ng-if="ppp.oprp.isPrototype"><i class="fa fa-calendar"></i> &nbsp;
									{{ppp.oprp.f_startDate}} to {{ppp.oprp.f_endDate}}</p>
								</div>
								<!-- If Phase is included -->
								<div class="panel-body" ng-if="ppp.oprp.isPrototype">
									<div class="avatar-user" ng-repeat="member in ppp.members.proto" ng-if="ppp.prTeam[member.email]">
										<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
									</div>
									<div class="alert alert-important">
										<label class="label-input" for="budget-poc"><strong>Price:</strong></label>
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" ng-model="ppp.proposal.phases.proto.cost" model-format="currency" id="budget-poc" class="form-control text-right" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 text-center">
							<div class="panel panel-default">
								<div class="panel-body">
									<p><i class="fa fa-gears"></i> &nbsp;Implementation Phase
									</p>
									<!-- If Phase not included -->
									<div class="gray-light" ng-if="!ppp.oimp.isImplementation">This phase is not required</div>
									<!-- If Phase is included -->
									<p class="strong" ng-if="ppp.oimp.isImplementation"><i class="fa fa-calendar"></i> &nbsp; {{ppp.oimp.f_startDate}} to {{ppp.oimp.f_endDate}}</p>
								</div>

								<!-- If Phase is included -->
								<div class="panel-body" ng-if="ppp.oimp.isImplementation">
									<div class="avatar-user" ng-repeat="member in ppp.members.implementation" ng-if="ppp.imTeam[member.email]">
										<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
									</div>
									<div class="alert alert-important">
										<label class="label-input" for="budget-imp"><strong>Price:</strong></label>
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" ng-model="ppp.proposal.phases.implementation.cost" model-format="currency"  id="budget-imp" class="form-control text-right" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 pull-right">
							<h4 style="text-align: center;"><span class="light">Total Price:</span> {{ppp.proposal.phases.inception.cost + ppp.proposal.phases.proto.cost + ppp.proposal.phases.implementation.cost | currency}}</h4>
						</div>
					</div>

				</uib-tab>

				<!-- // New Review & Submit tab // -->
				<uib-tab>
					<uib-tab-heading>
						6. Review &amp; Submit <i class="fa fa-paper-plane"></i>
					</uib-tab-heading>
					<div class="alert alert-warning">
						Here's your complete proposal. Make sure it all looks right before submitting. Good luck!
					</div>
					<div class="row">
						<div class="panel panel-primary">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12">
										<h4>Company &nbsp;&nbsp;&nbsp;&nbsp; <span class="small light">If this info is incorrect, update it in your <a href="/orgs">company profile</a>.</span></h4>
										<p><strong>{{ppp.org.name}}</strong><br>
										{{ppp.org.fullAddress}}<br>
										Contact: {{ppp.org.contactName}}<br>
										{{ppp.org.contactPhone}}<br>
										{{ppp.org.contactEmail}}</p>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-xs-12">
										<h4>Team</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-4 text-center">
										<div class="panel panel-default">
											<div class="panel-body">
												<p><i class="fa fa-map"></i> &nbsp;Inception Phase</p>
												<p class="strong"><i class="fa fa-calendar"></i> &nbsp;{{ppp.oinp.f_startDate}} to {{ppp.oinp.f_endDate}}</p>
												<hr>
												<div class="avatar-user" ng-repeat="member in ppp.members.inception" ng-if="ppp.inTeam[member.email]">
														<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
												</div>
											</div>
											<div class="panel-footer">
												Price: <span class="strong">{{ppp.proposal.phases.inception.cost | currency}}</span>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-4 text-center">
										<div class="panel panel-default">
											<div class="panel-body">
												<p><i class="fa fa-rocket"></i> &nbsp;Proof of Concept Phase</p>
												<p class="strong"><i class="fa fa-calendar"></i> &nbsp;
												{{ppp.oprp.f_startDate}} to {{ppp.oprp.f_endDate}}</p>
												<hr>
												<div class="avatar-user" ng-repeat="member in ppp.members.proto" ng-if="ppp.prTeam[member.email]">
														<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
												</div>
											</div>
											<div class="panel-footer">
												Price: <span class="strong">{{ppp.proposal.phases.proto.cost | currency}}</span>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-4 text-center">
										<div class="panel panel-default">
											<div class="panel-body">
												<p><i class="fa fa-gears"></i> &nbsp;Implementation Phase</p>
												<p class="strong"><i class="fa fa-calendar"></i> &nbsp;
												{{ppp.oimp.f_startDate}} to {{ppp.oimp.f_endDate}}</p>
												<hr>
												<div class="avatar-user" ng-repeat="member in ppp.members.implementation" ng-if="ppp.imTeam[member.email]">
														<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
												</div>
											</div>
											<div class="panel-footer">
												Price: <span class="strong">{{ppp.proposal.phases.implementation.cost | currency}}</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4 pull-right">
										<h4 style="text-align: center;"><span class="light">Total Price:</span> {{ppp.proposal.phases.inception.cost + ppp.proposal.phases.proto.cost + ppp.proposal.phases.implementation.cost | currency}}</h4>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-xs-12">
										<h4>Questionnaire Responses</h4>
										<p><strong>{{ppp.proposal.questions[0].question}}</strong><br>
										{{ppp.proposal.questions[0].response}}
										</p>
										<hr>
										<p><strong>{{ppp.proposal.questions[1].question}}</strong><br>
										{{ppp.proposal.questions[1].response}}
										</p>
										<hr>
										<p><strong>{{ppp.proposal.questions[2].question}}</strong><br>
										{{ppp.proposal.questions[2].response}}
										</p>
										<hr>
										<p><strong>{{ppp.proposal.questions[3].question}}</strong><br>
										{{ppp.proposal.questions[3].response}}
										</p>
										<hr>
										<p><strong>{{ppp.proposal.questions[4].question}}</strong><br>
										{{ppp.proposal.questions[4].response}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 pull-right">
										<button type="button" class="btn btn-lg btn-success pull-right" data-ng-click="ppp.submit()" ng-if="ppp.proposal.status === 'Draft' && ppp.proposal.isAcceptedTerms && ppp.isMetAllCapabilities"><i class="fa fa-paper-plane"></i> Submit Proposal</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</uib-tab>

			</uib-tabset>

			<!-- // This is where the Terms originally sat at the bottom of the page // -->
			<!--
				<div class="row">
					<div class="well well-lg well-info well-left-align pre-scrollable">
						<h4>Sprint With Us Terms and Conditions</h4>
						<p>To submit a proposal to work on this opportunity you must agree to the Terms.</p>
						<iframe class="col-sm-12" src="/sprint-with-us-terms-2018-01-23.pdf" ng-if="!ppp.proposal.isAcceptedTerms"></iframe>
						<div class="col-sm-12">
							<br/>
							<label class="checkbox-inline">
								<input type="checkbox" name="isInception" ng-disabled="ppp.proposal.isAcceptedTerms" ng-model="ppp.proposal.isAcceptedTerms"> I acknowledge that I have read and fully understand and agree to the terms and conditions.
							</label>
							<a class="btn btn-default pull-right" href="/api/proposals/download/terms/swu1" target="_blank"><i class="fa fa-download"></i> Download Terms</a>
						</div>
					</div>
				</div>
			-->

				<div class="edit-form-footer">
					<div class="row">
						<div class="col-xs-12">
							<!-- <button type="button" class="btn btn-success pull-right" data-ng-click="ppp.submit()" ng-if="ppp.proposal.status === 'Draft' && ppp.proposal.isAcceptedTerms && ppp.isMetAllCapabilities"><i class="fa fa-paper-plane"></i> Submit Proposal</button> -->
							<button type="submit" class="btn btn-primary pull-right" ng-if="ppp.proposal.status === 'Submitted'"><i class="fa fa-save"></i> Save Updates</button>
							<button type="submit" class="btn btn-primary pull-right" ng-if="ppp.proposal.status === 'New' || ppp.proposal.status === 'Draft'"><i class="fa fa-save"></i> Save Changes</button>
							<button ng-if="ppp.proposal.status === 'Draft' || ppp.proposal.status === 'Submitted'" type="button" class="btn btn-text-only" data-ng-click="ppp.delete()" "><i class="fa fa-trash"></i> Delete This Proposal</button>
							<button ng-if="ppp.proposal.status === 'Submitted'" type="button" class="btn btn-text-only" data-ng-click="ppp.withdraw()" "><i class="fa fa-ban"></i> Withdraw Proposal</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</form>

</section>
