
<!-- // Banner if proposal is Submitted // -->
<div class="banner banner-success" ng-if="ppp.proposal.status === 'Submitted'">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<span class="strong"><i class="fa fa-check-circle"></i> This proposal has been submitted!</span> &nbsp;&nbsp; You can make updates or withdraw your proposal until <strong>16:00 Pacific Time</strong> on <span class="strong" ng-bind="ppp.opportunity.deadline | date:'mediumDate'"></span>.
			</div>
		</div>
	</div>
</div>

<!-- // Banner if proposal is in Draft // -->
<div class="banner banner-important" ng-if="ppp.proposal.status === 'Draft'">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<span class="strong"><i class="fa fa-file"></i> Your proposal is in DRAFT.</span>&nbsp;&nbsp; Submit before <span class="strong">16:00 Pacific Time on <span ng-bind="ppp.opportunity.deadline | date:'mediumDate'"></span></span> to be considered for this opportunity!
				<span ng-if="!ppp.proposal.isAcceptedTerms"><br>Before you can submit your proposal, you must agree to the Terms.</span>
			</div>
		</div>
	</div>
</div>

<section class="edit-form-background" style="min-height: 750px" role="main">

	<form id="proposalform" name="ppp.form.proposalform" class="form swu-proposal" ng-submit="ppp.save(ppp.form.proposalform.$valid)" novalidate>

		<div class="edit-form swu-proposal">

			<div class="edit-form-header">
				<span class="gray">Proposal from:</span> {{ppp.org.name}}
				<a class="btn btn-text-only pull-right" data-ng-click="ppp.close()" title="Close Proposal" aria-label="Close"><i class="fa fa-lg fa-times"></i></a>
			</div>

			<uib-tabset active class="edit-form-tabs">

				<uib-tab index="1">
					<uib-tab-heading>
						1. Accept Terms <i class="fa fa-handshake-o"></i>
					</uib-tab-heading>

					<div class="row">
						<h5>To submit a proposal on this opportunity, you must agree to the terms contained in this Request for Proposals.</h5>
					</div>
					<!--
					<iframe class="row" style="height: 400px;" src="/sprint-with-us-terms-2018-01-23.pdf" ng-if="!ppp.proposal.isAcceptedTerms"></iframe>
					-->
					<br>

					<a class="btn btn-primary" href="/api/proposals/download/terms/swu1" target="_blank"><i class="fa fa-download"></i> Download the Request for Proposals</a>
					<br><br>
					<label class="checkbox-inline checkbox-alone">
						<input type="checkbox" name="isInception" ng-disabled="ppp.proposal.isAcceptedTerms" ng-model="ppp.proposal.isAcceptedTerms"> I acknowledge that I have read, fully understand, and agree to the terms of the Request for Proposals.
					</label>
					<br><br>

						<!-- // No point showing business info here if user can't edit it from here // -->
						<!--
						<div class="form-group" show-errors>
							<label for="businessName">Legal Name of Company</label>
							<input disabled type="text" id="businessName" name="businessName" class="form-control" ng-model="ppp.org.name" placeholder="Legal Name">
						</div>
						<div class="form-group" show-errors>
							<label for="businessAddress">Company Mailing Address</label>
							<input disabled type="text" id="businessAddress" name="businessAddress" class="form-control" ng-model="ppp.org.fullAddress" placeholder="Company Mailing Address">
						</div>
						<div class="form-group" show-errors>
							<label for="businessContactName">Contact Name</label>
							<input disabled type="text" id="businessContactName" name="businessContactName" class="form-control" ng-model="ppp.org.contactName" placeholder="Contact Name">
						</div>
						<div class="form-group" show-errors>
							<label for="businessContactPhone">Contact Phone</label>
							<input disabled type="text" id="businessContactPhone" name="businessContactPhone" class="form-control" ng-model="ppp.org.contactPhone" placeholder="Contact Phone">
						</div>
						<div class="form-group" show-errors>
							<label for="businessContactEmail">Contact Email</label>
							<input disabled type="businessContactEmail" id="businessContactEmail" name="businessContactEmail" class="form-control" ng-model="ppp.org.contactEmail" placeholder="Contact Email" lowercase>
						</div>
						-->

				</uib-tab>

				<uib-tab index="2">
					<uib-tab-heading>
						2. Select Team <i class="fa fa-group"></i>
					</uib-tab-heading>
					<uib-accordion>
						<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
							<uib-accordion-heading>
								<i class="fa fa-lg fa-info-circle"></i> How your team will be evaluated
							</uib-accordion-heading>
							<div class="row">
								<p>The team members you put forward must collectively possess all the <span class="strong">required capabilities</span> and be available for the time periods stated for each phase.</p>
								<p>You may also see a list of <span class="strong">preferred skills</span>. The more of these your team has, the higher they'll score.</p>
								<hr>
								<div style="font-size: .85em;">
									<span class="gray-light"><i class="fa fa-file-o"></i> From the RFP:</span><br><br>
									<strong>First Gate: Technical skills screening</strong><br><br>
									The Province will evaluate and rank proposals based on the technical skills of Resources claimed by Proponents against the requirements set forth in tab @@@.
									<br><br>
									The BC Developers’ Exchange automated system will link the technical skills identified in the identified Resource profiles to the technical skills requested in the Opportunity. It is the responsibility of the Proponent to ensure that the Resource profiles included in their RFP proposal are fully accurate and up-to-date.
								</div>
							</div>
						</div>
					</uib-accordion>
					<div class="row">
						<div class="col-xs-12 col-sm-4" ng-if="ppp.oinp.isInception">
							<h5 class="text-center"><i class="fa fa-map"></i> Inception</h5>

							

							<div class="strong text-center">
								<i class="fa fa-calendar"></i> &nbsp;
								{{ppp.oinp.f_startDate}} to {{ppp.oinp.f_endDate}}
							</div>
							<br>
							<div class="panel panel-primary">

								<div class="panel-heading">
									Click on member(s) to add them to team:
								</div>

								<div class="panel-body">

									<div class="team-selection-list" >
										<div ng-repeat="member in ppp.members.inception" class="team-member" ng-class="{'selected':ppp.inTeam[member.email]}" ng-click="ppp.clickMember(member, ppp.inTeam)">
											<avatar-display url="member.profileImageURL"></avatar-display>
											<name>{{member.displayName}}</name>
										</div>
									</div>
								</div>
							</div>

							<div >
								<h5>Required Capabilities</h5>
								<table class="table capabilities-list">
									<tbody>
										<tr ng-repeat="capability in ppp.inp.capabilities" ng-if="ppp.inp.iOppCapabilities[capability.code]">
											<th scope="row" ng-if="ppp.p_inp.iPropCapabilities[capability.code]" ><i class="fa fa-check-circle-o fa-2x success"></i></th>
											<th scope="row" ng-if="!ppp.p_inp.iPropCapabilities[capability.code]"><i class="fa fa-circle-o fa-2x gray-light"></i></th>
											<td><label class="label label-lg label-cap-default {{capability.labelClass}}"></i> {{capability.name}}</label></td>
											<td ng-if="ppp.inp.iOppCapabilitiesCore[capability.code]"><label class="label label-fulltime-selected">F/T</label></td>
										</tr>
									</tbody>
								</table>
								
								<h5>Preferred Skills</h5>
								<table class="table capabilities-list">
									<tbody>
										<tr ng-repeat="capabilitySkill in ppp.inp.capabilitySkills" ng-if="ppp.inp.iOppCapabilitySkills[capabilitySkill.code]">
											<th scope="row" ng-if="ppp.p_inp.iPropCapabilitySkills[capabilitySkill.code]"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<th scope="row" ng-if="!ppp.p_inp.iPropCapabilitySkills[capabilitySkill.code]"></th>
											<td><label class="label label-skill">{{capabilitySkill.name}}</label></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4" ng-if="ppp.oprp.isPrototype">
							<h5 class="text-center"><i class="fa fa-rocket"></i> Proof of Concept</h5>

							
							<div class="strong text-center">
								<i class="fa fa-calendar"></i> {{ppp.oprp.f_startDate}} to {{ppp.oprp.f_endDate}}
							</div>

							<br>

							<div class="panel panel-primary">
								<div class="panel-heading">
									Click on member(s) to add them to team:
								</div>

								<div class="panel-body">
									<div class="team-selection-list">
										<div ng-repeat="member in ppp.members.proto" class="team-member" class="team-member" ng-class="{'selected':ppp.prTeam[member.email]}" ng-click="ppp.clickMember(member, ppp.prTeam)">
											<avatar-display url="member.profileImageURL"></avatar-display>
											<name>{{member.displayName}}</name>
										</div>
									</div>
								</div>
							</div>

							<div>
								<h5>Required Capabilities</h5>
								<table class="table capabilities-list">
									<tbody>
										<tr ng-repeat="capability in ppp.prp.capabilities" ng-if="ppp.prp.iOppCapabilities[capability.code]">
											<th scope="row" ng-if="ppp.p_prp.iPropCapabilities[capability.code]" ><i class="fa fa-check-circle-o fa-2x success"></i></th>
											<th scope="row" ng-if="!ppp.p_prp.iPropCapabilities[capability.code]"><i class="fa fa-circle-o fa-2x gray-light"></i></th>
											<td><label class="label label-lg label-cap-default {{capability.labelClass}}">{{capability.name}}</label></td>
											<td ng-if="ppp.prp.iOppCapabilitiesCore[capability.code]"><label class="label label-fulltime-selected">F/T</label></td>
										</tr>
									</tbody>
								</table>
								
								<h5>Preferred Skills</h5>
								<table class="table capabilities-list">
									<tbody>
										<tr ng-repeat="capabilitySkill in ppp.prp.capabilitySkills" ng-if="ppp.prp.iOppCapabilitySkills[capabilitySkill.code]">
											<th scope="row" ng-if="ppp.p_prp.iPropCapabilitySkills[capabilitySkill.code]"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<th scope="row" ng-if="!ppp.p_prp.iPropCapabilitySkills[capabilitySkill.code]"></th>
											<td><label class="label label-skill">{{capabilitySkill.name}}</label></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4" ng-if="ppp.oimp.isImplementation">
							<h5 class="text-center"><i class="fa fa-gears"></i> Implementation</h5>

							

							<div class="strong text-center">
								<i class="fa fa-calendar"></i> {{ppp.oimp.f_startDate}} to {{ppp.oimp.f_endDate}}
							</div>

							<br>

							<div class="panel panel-primary">
								<div class="panel-heading">
									Click on member(s) to add them to team:
								</div>
								<div class="panel-body">
									<div class="team-selection-list">
										<div ng-repeat="member in ppp.members.implementation" class="team-member" class="team-member" ng-class="{'selected':ppp.imTeam[member.email]}" ng-click="ppp.clickMember(member, ppp.imTeam)">
											<avatar-display url="member.profileImageURL"></avatar-display>
											<name>{{member.displayName}}</name>
										</div>
									</div>
								</div>
							</div>

							<div>
								<h5>Required Capabilities</h5>
								<table class="table capabilities-list">
									<tbody>
										<tr ng-repeat="capability in ppp.imp.capabilities" ng-if="ppp.imp.iOppCapabilities[capability.code]">
											<th scope="row" ng-if="ppp.p_imp.iPropCapabilities[capability.code]" ><i class="fa fa-check-circle-o fa-2x success"></i></th>
											<th scope="row" ng-if="!ppp.p_imp.iPropCapabilities[capability.code]"><i class="fa fa-circle-o fa-2x gray-light"></i></th>
											<td><label class="label label-lg label-cap-default {{capability.labelClass}}">{{capability.name}}</label></td>
											<td ng-if="ppp.imp.iOppCapabilitiesCore[capability.code]"><label class="label label-fulltime-selected">F/T</label></td>
										</tr>
									</tbody>
								</table>

								<h5>Preferred Skills</h5>
								<table class="table capabilities-list">
									<tbody>
										<tr ng-repeat="capabilitySkill in ppp.imp.capabilitySkills" ng-if="ppp.imp.iOppCapabilitySkills[capabilitySkill.code]">
											<th scope="row" ng-if="ppp.p_imp.iPropCapabilitySkills[capabilitySkill.code]"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<th scope="row" ng-if="!ppp.p_imp.iPropCapabilitySkills[capabilitySkill.code]"></th>
											<td><label class="label label-skill">{{capabilitySkill.name}}</label></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</uib-tab>

				<uib-tab index="3">
					<uib-tab-heading>
						3. Pricing <i class="fa fa-usd"></i>
					</uib-tab-heading>
					<uib-accordion>
						<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
							<uib-accordion-heading>
								<i class="fa fa-lg fa-info-circle"></i> How pricing will be evaluated
							</uib-accordion-heading>
							<div class="row">
								<p>In your proposal, for each phase submit a fixed price for your team to meet the deliverables in the time period. Depending upon the capabilities and phase, some of your team members will be needed full-time. </p>
								<p>There are incentives in the contract to deliver early for a phase.</p>
								<p>Your pricing will be evaluated based on a formula that compares your bid in relation to the lowest and highest bids.</p>
								<hr>
								<div style="font-size: .85em;">
									<span class="gray-light"><i class="fa fa-file-o"></i> From the RFP:</span><br><br>
									<strong>Fourth Gate: Price</strong><br><br>
									Prices quoted will be taken to mean and deemed to be:
									<ol type="i">
										<li> in Canadian dollars;</li>
										<li>inclusive of duty, FOB destination, all expenses and delivery charges where applicable;</li>
										<li>exclusive of any applicable taxes; and</li>
										<li>firm for the entire term of the Contract.</li>
									</ol>
									<br>
									To score the Proponent’s prices for Resources, the Proponent’s price will be evaluated using a Fixed Price model.
									The Proponents price will be evaluated based on the sum of the total price proposed for all phases. The Proponent will provide, in the Pricing tab, a Total Cost that reflects the assumed overall Resource costs that would be incurred by the Proponent across the Opportunity Phases.  Finally, the Total Cost will be competed against all valid proposals to determine the Proponent’s score for pricing.
									<br><br>
									The explanation of the Total Cost calculation is below.
									<br><br>
									Step 1: The Proponent will calculate a Total Phase Cost for each Phase<br>
									Step 2: The Province will sum the Total Resource Costs to determine the Total Proponent Cost<br>
									Step 3: The Province will calculate the number of points to award based on the following formula:<br><br>
									Lowest Total Proponent Cost / This Proponent’s Total Proponent Cost * Maximum Number of Points allocated to this section.
								</div>
							</div>
						</div>
					</uib-accordion>

					<div class="row">
						<div class="col-xs-12 col-sm-4 text-center">
							<h5><i class="fa fa-map"></i> Inception</h5>
							<!-- If Phase not included -->
							<div ng-if="!ppp.oinp.isInception">This phase is not required
							</div>
							<!-- If Phase is included -->
							<p class="strong" ng-if="ppp.oinp.isInception"><i class="fa fa-calendar"></i> {{ppp.oinp.f_startDate}} to {{ppp.oinp.f_endDate}}</p>

							<!-- If Phase is included -->
							<div ng-if="ppp.oinp.isInception">
								<div class="avatar-user" ng-repeat="member in ppp.members.inception" ng-if="ppp.inTeam[member.email]">
									<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
								</div>
								<div class="panel panel-primary">
									<div class="panel-heading">
										Enter a fixed-price for your team for this phase:
									</div>
									<div class="panel-body">
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" ng-model="ppp.proposal.phases.inception.cost" model-format="currency" id="budget-inception" class="form-control text-right" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 text-center">
							<h5><i class="fa fa-rocket"></i> Proof of Concept</h5>
							<!-- If Phase not included -->
							<div ng-if="!ppp.oprp.isPrototype">This phase is not required
							</div>
							<!-- If Phase is included -->
							<p class="strong" ng-if="ppp.oprp.isPrototype"><i class="fa fa-calendar"></i> {{ppp.oprp.f_startDate}} to {{ppp.oprp.f_endDate}}</p>

							<!-- If Phase is included -->
							<div ng-if="ppp.oprp.isPrototype">
								<div class="avatar-user" ng-repeat="member in ppp.members.proto" ng-if="ppp.prTeam[member.email]">
									<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
								</div>
								<div class="panel panel-primary">
									<div class="panel-heading">
										Enter a fixed-price for your team for this phase:
									</div>
									<div class="panel-body">
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" ng-model="ppp.proposal.phases.proto.cost" model-format="currency" id="budget-poc" class="form-control text-right" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 text-center">
							<h5><i class="fa fa-gears"></i> Implementation</h5>
							<!-- If Phase not included -->
							<div ng-if="!ppp.oimp.isImplementation">This phase is not required</div>
							<!-- If Phase is included -->
							<p class="strong" ng-if="ppp.oimp.isImplementation"><i class="fa fa-calendar"></i> {{ppp.oimp.f_startDate}} to {{ppp.oimp.f_endDate}}</p>

							<!-- If Phase is included -->
							<div ng-if="ppp.oimp.isImplementation">
								<div class="avatar-user" ng-repeat="member in ppp.members.implementation" ng-if="ppp.imTeam[member.email]">
									<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
								</div>
								<div class="panel panel-primary">
									<div class="panel-heading">
										Enter a fixed-price for your team for this phase:
									</div>
									<div class="panel-body">
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" ng-model="ppp.proposal.phases.implementation.cost" model-format="currency"  id="budget-imp" class="form-control text-right" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 pull-right">
							<h4 style="text-align: center;"><span class="light">Total Price:</span> {{ppp.proposal.phases.inception.cost + ppp.proposal.phases.proto.cost + ppp.proposal.phases.implementation.cost | currency}}</h4>
						</div>
					</div>

				</uib-tab>

				<uib-tab index="4">
					<uib-tab-heading>
						4. Questionnaire <i class="fa fa-pencil"></i>
					</uib-tab-heading>
					<uib-accordion>
						<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
							<uib-accordion-heading>
								<i class="fa fa-lg fa-info-circle"></i> How your responses to the questionnaire will be evaluated
							</uib-accordion-heading>
							<div class="row">
								<p>The evaluation committee will rank companies' responses to the questionnaire from strongest to weakest, <strong>without being able to see the identity of the company</strong>.</p>
								<hr>
								<div style="font-size: .85em;">
									<span class="gray-light"><i class="fa fa-file-o"></i> From the RFP:</span><br><br>
									<strong>Second Gate: Team-based questions</strong><br><br>
									The Province will then rank the Proponent responses to the Team-based questions contained in tab @@@ that are specific to the Opportunity and are intended to (i) demonstrate a Proponent’s Resource experience working as a team; (ii) a Proponent’s experience with Agile software development; and (iii) demonstrate a Proponent’s experience working on a similar Product, with a similar scope and technical background.  The top four ranked Proponents (the “Shortlisted Proponents”) will then proceed to the Third Gate of the RFP process.
								</div>
							</div>
						</div>
					</uib-accordion>
					<br>
					<div class="form-group">
						<label>{{ppp.proposal.questions[0].question}}</label>
						&nbsp;&nbsp;
						<span class="input-help-source" ng-click="sq0 = !sq0"><i class="fa fa-lg fa-info-circle"></i> How to answer this question</span> 
						<div class="input-help alert alert-info" ng-show="sq0">Here's what we want you to cover in your answer to this question...</div>
						<textarea
							name="q1"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[0].response">
						</textarea>
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[1].question}}</label>
						&nbsp;&nbsp;
						<span class="input-help-source" ng-click="sq1 = !sq1"><i class="fa fa-lg fa-info-circle"></i> How to answer this question</span> 
						<div class="input-help alert alert-info" ng-show="sq1">Here's what we want you to cover in your answer to this question...</div>
						<textarea
							name="q2"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[1].response">
						</textarea>
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[2].question}}</label>
						&nbsp;&nbsp;
						<span class="input-help-source" ng-click="sq2 = !sq2"><i class="fa fa-lg fa-info-circle"></i> How to answer this question</span> 
						<div class="input-help alert alert-info" ng-show="sq2">Here's what we want you to cover in your answer to this question...</div>
						<textarea
							name="q3"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[2].response">
						</textarea>
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[3].question}}</label>
						&nbsp;&nbsp;
						<span class="input-help-source" ng-click="sq3 = !sq3"><i class="fa fa-lg fa-info-circle"></i> How to answer this question</span> 
						<div class="input-help alert alert-info" ng-show="sq3">Here's what we want you to cover in your answer to this question...</div>
						<textarea
							name="q4"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[3].response">
						</textarea>
					</div>
					<div class="form-group">
						<label>{{ppp.proposal.questions[4].question}}</label>
						&nbsp;&nbsp;
						<span class="input-help-source" ng-click="sq4 = !sq4"><i class="fa fa-lg fa-info-circle"></i> How to answer this question</span> 
						<div class="input-help alert alert-info" ng-show="sq4">Here's what we want you to cover in your answer to this question...</div>
						<textarea
							name="q5"
							id="q1"
							class="form-control"
							ng-model="ppp.proposal.questions[4].response">
						</textarea>
					</div>
				</uib-tab>

				<!-- // This originally was the Attachments tab. For 1st SWU opportunity, we're going to ask proponents to upload their references on this tab. // -->
				<uib-tab index="5" disable="!ppp.proposal._id" ng-hide="!ppp.proposal._id">
					<uib-tab-heading>
						5. References
					</uib-tab-heading>
					<uib-accordion>
						<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
							<uib-accordion-heading>
								<i class="fa fa-lg fa-info-circle"></i> How your references will be evaluated
							</uib-accordion-heading>
							<div class="row">
								<hr>
								<div style="font-size: .85em;">
									<span class="gray-light"><i class="fa fa-file-o"></i> From the RFP:</span><br><br>
									The Province may require Proponents to support their claims of over-all experience by supplying references who can verify the quality of work provided specific to the relevant experience of the Proponent.  References from the Proponent’s own organization or from named subcontractors are not acceptable for the Proponent.<br><br>
									The Province may in its sole discretion, but is under no obligation to, check Proponent references without first notifying the Proponent.  The Province reserves the right to seek additional references independent of those supplied by the Proponent, including internal references in relation to the Proponent’s performance under any past or current contracts with the Province or other verifications as are deemed necessary by it to verify the information contained in the proposal and to confirm the suitability of the Proponent.
									<br><br>
									If the Proponent is deemed unsuitable by the Province in its sole discretion due to unsatisfactory references, or if the proposal is found to contain material errors, omissions or misrepresentations, the Proponent’s proposal may be rejected.
								</div>
							</div>
						</div>
					</uib-accordion>
					<div class="row">
						<div class="col-xs-12">
							<h5>Please upload a document with 3 references. Include name, position, and contact information.</h5>
							<br><br>
							<a href class="btn btn-sm btn-primary" ngf-select="ppp.upload($file)"><i class="fa fa-upload"></i> Upload your references document</a>
						
							<table class="table table-striped">
								<tr ng-repeat="file in ppp.proposal.attachments">
									<td class=" text-right">
										<i class="fa fa-file-{{ppp.type(file.type)}}-o"></i>
									</td>
									<td class="text-left">
										{{file.name}}
									</td>
									<td class=" text-left">
										<i class="fa fa-trash" ng-click="ppp.deletefile(file._id)"></i>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</uib-tab>
				

				<uib-tab index="6">
					<uib-tab-heading>
						6. Code Challenge &amp; Team Scenario
					</uib-tab-heading>
					<uib-accordion>
						<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
							<uib-accordion-heading>
								<i class="fa fa-lg fa-info-circle"></i> About the Code Challenge &amp; Team Scenario
							</uib-accordion-heading>
							<div class="row">
								<h5 class="opp-detail">Code Challenge</h5>
								<p>Depending upon your proposal score, your team may be screened in for a Code Challenge.</p>
								<p>A maximum of 4 teams will be invited to complete the Code Challenge. Teams will be given 5 (five) business days to complete the Code Challenge in GitHub.</p>
								<p>The challenge will be evaluated by two independent evaluators and a static code evaluator. Those who complete the Code Challenge and meet the evaluation requirements will then proceed to the Team Scenario.</p>
								<h5 class="opp-detail">Team Scenario</h5>
								<p>Teams that successfully complete the Code Challenge will be invited to participate in a 3-hour Team Scenario.</p>
								<p>At the start of the meeting, your team will be presented with a scenario where they can demonstrate their capabilities and how they work as a team under pressure.</p>
								<p>This will be followed by questions of your team from the evaluation panel, including follow up questions on both the Scenario and Code Challenge.</p>
								<p>Your entire team should participate in the Team Scenario. This can be arranged either in person or by video conference.</p>
								<hr>
								<div style="font-size: .85em;">
									<span class="gray-light"><i class="fa fa-file-o"></i> From the RFP:</span><br><br>
									<strong>Third Gate: Code Challenge and Team Scenario</strong><br>
									Following the initial evaluation in the First and Second Gate, the Product Manager for the Opportunity will select and notify Proponents, based on the top four scores ‌from the First and Second Gate, to move forward to the Code Challenge and Team Scenario. Proponents will be provided a Code Challenge with a deadline provided for submission of the completed work. The Code Challenge will be made available on GitHub and remain open for 5 business days. The submitted code will be reviewed by two independent evaluators and a static code evaluator, in accordance with the Contract included here.
									<br><br>
									Following the Code Challenge, an Team Scenario will be held where the Proponents Team will demonstrate their approach to a Scenario which will be provided at the start of the session.
								</div>
							</div>
						</div>
					</uib-accordion>
					<div class="row">
						<div class="col-xs-12">
							<h5>After your submit your proposal and the closing deadline passes, your team and questionnaire responses will be evaluated. Depending upon your score, your team may be screened in to proceed to the next phases of the procurement process.</h5>
						</div>
					</div>
					<br><br><br><br>
				</uib-tab>

				<!-- // New Review & Submit tab // -->
				<uib-tab index="7">
					<uib-tab-heading>
						7. Review &amp; Submit <i class="fa fa-paper-plane"></i>
					</uib-tab-heading>
					<uib-accordion>
						<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
							<uib-accordion-heading>
								<i class="fa fa-lg fa-info-circle"></i> How your proposal will be evaluated
							</uib-accordion-heading>
							<div class="row">
								<hr>
								<div style="font-size: .85em;">
									<span class="gray-light"><i class="fa fa-file-o"></i> From the RFP:</span><br><br>
									<strong>Evaluation – General Terms</strong><br>
									<ol type="a">
										<li>Evaluation of proposals will be by a committee formed by the Province and may include the Product Manager, employees and contractors of the Province and other appropriate participants and stakeholders.</li>
										<li>Proposals will be assessed in accordance with the evaluation criteria.  The Province will be under no obligation to receive further information, whether written or oral, from any Proponent.  The Province is under no obligation to perform any investigations or to otherwise verify any statements or representations made in a proposal.  Proposals from not-for-profit agencies or entities will be evaluated against the same criteria as those received from any other Proponents.</li>
										<li>The Province may consider and evaluate any proposals from other jurisdictions on the same basis that the government purchasing authorities in those jurisdictions would treat a similar proposal from a British Columbia supplier.</li>
										<li>Proposals will not be reviewed unless the Proponent meets the mandatory criteria for the RFP referenced below.</li>
										<li>The Province’s intent is to enter into a Contract with the Proponent who has met all minimum scores (if any) and who has the highest overall ranking.</li>
									</ol>
									<strong>Mandatory Criteria</strong><br>
									The Mandatory Criteria for this RFP is divided into (i) procedural; and (ii) Team requirements, as per the following table.  Proposals not clearly demonstrating that they meet the following mandatory criteria will be excluded from further consideration during the evaluation process.
									<br><br>
									<strong>Mandatory Criteria</strong>
									<ul>
										<li>The proposal must be received at the Closing Location before the Closing Time.</li>
										<li>The proposal must be in English.</li>
										<li>The proposal must be submitted using the submission method described in section 1.3 of the RFP Terms and Conditions in tab 2@@@.</li>
										<li>For each the Phases and Phase Windows specified in tab @@@, the Proponent must identify each of its proposed Resources, in accordance with the specifications set forth in tab @@@ as to required number of personnel, their required Capabilities and, if applicable, whether the Resource can fulfill a Full-Time commitment.</li>
										<li>The Proponent must meet the requirements for each Phase indicated in tabs 3, 4, and 5@@@. Proponents must also indicate that they will provide the required Resources within the time frames indicated for each of the Inception, Prototype and Implementation Phases of the Opportunity.</li>
									</ul>
								</div>
							</div>
						</div>
					</uib-accordion>
					<h5>
						Here's a summary of your complete proposal. Make sure it all looks right before you submit. Good luck!
					</h5>
					
					<div class="row">
						<div class="panel panel-primary">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<h3 class="opp-detail">Company &nbsp;&nbsp;&nbsp;&nbsp; <span class="small light">If this info is incorrect, update it in your <a ui-sref="orgadmin.profile({orgId:ppp.org._id})">company profile</a>.</span></h3>
										<p><strong>{{ppp.org.name}}</strong><br>
										{{ppp.org.fullAddress}}<br>
										Contact: {{ppp.org.contactName}}<br>
										{{ppp.org.contactPhone}}<br>
										{{ppp.org.contactEmail}}</p>
									</div>
									<div class="col-xs-12 col-sm-6" ng-if="ppp.proposal.status === 'Draft' && !(ppp.proposal.isAcceptedTerms && ppp.isMetAllCapabilities && ppp.orgHasMetRFQ)">
										<div class="alert alert-danger">
											<i class="fa fa-exclamation-triangle"></i> &nbsp; <strong>Hold up!</strong>
											You won't be able to submit this proposal until you:
											<ul>
												<li ng-if="!ppp.proposal.isAcceptedTerms">Accept the Terms</li>
												<li ng-if="!ppp.isMetAllCapabilities">Select Team members who cover all of the required capabilities in each phase</li>
												<li ng-if="!ppp.orgHasMetRFQ">Ensure that your company meets the RFQ requirements to apply on Sprint With Us opportunities (see your <a ui-sref="orgadmin.profile({orgId:ppp.org._id})">company profile</a>)</li>
											</ul>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-xs-12">
										<h3 class="opp-detail">Team &amp; Price</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-4 text-center" ng-if="ppp.oinp.isInception">
										<div class="panel panel-default">
											<div class="panel-body">
												<p class="strong"><i class="fa fa-map"></i> &nbsp;Inception Phase</p>
												<p class="strong"><i class="fa fa-calendar"></i> &nbsp;{{ppp.oinp.f_startDate}} to {{ppp.oinp.f_endDate}}</p>
												<hr>
												<div class="avatar-user" ng-repeat="member in ppp.members.inception" ng-if="ppp.inTeam[member.email]">
														<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
												</div>
											</div>
											<div class="panel-footer">
												Fixed price for phase: <span class="strong">{{ppp.proposal.phases.inception.cost | currency}}</span>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-4 text-center" ng-if="ppp.oprp.isPrototype">
										<div class="panel panel-default">
											<div class="panel-body">
												<p class="strong"><i class="fa fa-rocket"></i> &nbsp;Proof of Concept Phase</p>
												<p class="strong"><i class="fa fa-calendar"></i> &nbsp;
												{{ppp.oprp.f_startDate}} to {{ppp.oprp.f_endDate}}</p>
												<hr>
												<div class="avatar-user" ng-repeat="member in ppp.members.proto" ng-if="ppp.prTeam[member.email]">
														<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
												</div>
											</div>
											<div class="panel-footer">
												Fixed price for phase: <span class="strong">{{ppp.proposal.phases.proto.cost | currency}}</span>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-4 text-center" ng-if="ppp.oimp.isImplementation">
										<div class="panel panel-default">
											<div class="panel-body">
												<p class="strong"><i class="fa fa-gears"></i> &nbsp;Implementation Phase</p>
												<p class="strong"><i class="fa fa-calendar"></i> &nbsp;
												{{ppp.oimp.f_startDate}} to {{ppp.oimp.f_endDate}}</p>
												<hr>
												<div class="avatar-user" ng-repeat="member in ppp.members.implementation" ng-if="ppp.imTeam[member.email]">
														<avatar-display url="member.profileImageURL" text="member.displayName"></avatar-display>
												</div>
											</div>
											<div class="panel-footer">
												Fixed price for phase: <span class="strong">{{ppp.proposal.phases.implementation.cost | currency}}</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<h4><span class="light">Total Price:</span> {{ppp.proposal.phases.inception.cost + ppp.proposal.phases.proto.cost + ppp.proposal.phases.implementation.cost | currency}}</h4>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-xs-12">
										<h3 class="opp-detail">Questionnaire Responses</h3>	
										<uib-accordion>
											<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
												<uib-accordion-heading>
													1. {{ppp.proposal.questions[0].question}}
												</uib-accordion-heading>
												<div class="row">
													<p>{{ppp.proposal.questions[0].response}}</p>
												</div>
											</div>
										</uib-accordion>
										<uib-accordion>
											<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
												<uib-accordion-heading>
													2. {{ppp.proposal.questions[1].question}}
												</uib-accordion-heading>
												<div class="row">{{ppp.proposal.questions[1].response}}
												</div>
											</div>
										</uib-accordion>
										<uib-accordion>
											<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
												<uib-accordion-heading>
													3. {{ppp.proposal.questions[2].question}}
												</uib-accordion-heading>
												<div class="row">{{ppp.proposal.questions[2].response}}
												</div>
											</div>
										</uib-accordion>
										<uib-accordion>
											<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
												<uib-accordion-heading>
													4. {{ppp.proposal.questions[3].question}}
												</uib-accordion-heading>
												<div class="row">{{ppp.proposal.questions[3].response}}
												</div>
											</div>
										</uib-accordion>
										<uib-accordion>
											<div uib-accordion-group class="panel-default" style="border: none; box-shadow: none;">
												<uib-accordion-heading>
													5. {{ppp.proposal.questions[4].question}}
												</uib-accordion-heading>
												<div class="row">{{ppp.proposal.questions[4].response}}
												</div>
											</div>
										</uib-accordion>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-12 col-sm-4 pull-right" ng-if="ppp.proposal.status === 'Draft' && ppp.proposal.isAcceptedTerms && ppp.isMetAllCapabilities && ppp.orgHasMetRFQ">
										<div class="panel panel-success">
											<div class="panel-body">
												<p class="small">Submission of a proposal indicates your company's acceptance of all the terms and conditions set out in the RFP, its appendices and its addenda. These terms and conditions also include any terms and conditions included on the Opportunity's webpage and the tabs of your Proposal.</p>
												<p class="small">After you submit, you can still make updates to your proposal until the closing deadline.</p>
												<button type="button" class="btn btn-block btn-lg btn-success pull-right" data-ng-click="ppp.submit()"><i class="fa fa-paper-plane"></i> Submit Proposal</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</uib-tab>

			</uib-tabset>

			<!-- // This is where the Terms originally sat at the bottom of the page // -->
			<!--
				<div class="row">
					<div class="well well-lg well-info well-left-align pre-scrollable">
						<h4>Sprint With Us Terms and Conditions</h4>
						<p>To submit a proposal to work on this opportunity you must agree to the Terms.</p>
						<iframe class="col-sm-12" src="/sprint-with-us-terms-2018-01-23.pdf" ng-if="!ppp.proposal.isAcceptedTerms"></iframe>
						<div class="col-sm-12">
							<br/>
							<label class="checkbox-inline">
								<input type="checkbox" name="isInception" ng-disabled="ppp.proposal.isAcceptedTerms" ng-model="ppp.proposal.isAcceptedTerms"> I acknowledge that I have read and fully understand and agree to the terms and conditions.
							</label>
							<a class="btn btn-default pull-right" href="/api/proposals/download/terms/swu1" target="_blank"><i class="fa fa-download"></i> Download Terms</a>
						</div>
					</div>
				</div>
			-->

				<div class="edit-form-footer">
					<div class="row">
						<div class="col-xs-12">
							<!-- <button type="button" class="btn btn-success pull-right" data-ng-click="ppp.submit()" ng-if="ppp.proposal.status === 'Draft' && ppp.proposal.isAcceptedTerms && ppp.isMetAllCapabilities"><i class="fa fa-paper-plane"></i> Submit Proposal</button> -->
							<button type="submit" class="btn btn-primary pull-right" ng-if="ppp.proposal.status === 'Submitted'"><i class="fa fa-save"></i> Save Updates</button>
							<button type="submit" class="btn btn-primary pull-right" ng-if="ppp.proposal.status === 'New' || ppp.proposal.status === 'Draft'"><i class="fa fa-save"></i> Save Changes</button>
							<button ng-if="ppp.proposal.status === 'Draft' || ppp.proposal.status === 'Submitted'" type="button" class="btn btn-text-only" data-ng-click="ppp.delete()" "><i class="fa fa-trash"></i> Delete This Proposal</button>
							<button ng-if="ppp.proposal.status === 'Submitted'" type="button" class="btn btn-text-only" data-ng-click="ppp.withdraw()" "><i class="fa fa-ban"></i> Withdraw Proposal</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</form>

</section>
