<form id="proposalform" name="ppp.form.proposalform" class="form" ng-submit="ppp.save(ppp.form.proposalform.$valid)" novalidate>
<div class="modal-header">
	<h3>Proposal for {{ppp.opportunity.name}}</h3>
</div>
<div class="modal-body">
	<!-- <section class="static-page"><div class="container" role="main"> -->
	<uib-tabset active>
		<uib-tab index="0">
			<uib-tab-heading>
				<i class="fa fa-user"></i> Proponent
			</uib-tab-heading>
			<div class="proposal-form-container">
				<div class="form-group">
					<h4>Your Information</h4>
					<div class="form-group">
					<label>
						I am applying as a Company &nbsp; &nbsp;
						<input disabled="true" type="checkbox" name="isCompany" ng-model="ppp.proposal.isCompany" autofocus>
<!-- 						I am applying as
						<label class="radio-inline">
							<input type="radio" ng-model="ppp.proposal.isCompany" value={{true}}>a Company
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="ppp.proposal.isCompany" value={{false}}>an Individual
						</label>
 -->
 					</label>
 					</div>
					<div class="form-group" show-errors>
						<label for="firstName">First Name</label>
						<input  disabled="true" type="text" id="firstName" name="firstName" class="form-control" ng-model="ppp.user.firstName" placeholder="First Name">
					</div>
					<div class="form-group" show-errors>
						<label for="lastName">Last Name</label>
						<input  disabled="true" type="text" id="lastName" name="lastName" class="form-control" ng-model="ppp.user.lastName" placeholder="Last Name">
					</div>
					<div class="form-group" show-errors>
						<label for="email">Email</label>
						<input  disabled="true" type="email" id="email" name="email" class="form-control" ng-model="ppp.user.email" placeholder="Email" lowercase>
						<div ng-messages="ppp.userForm.email.$error" role="alert">
							<p class="help-block error-text" ng-message="email">Email address is invalid.</p>
						</div>
					</div>
					<div class="form-group" show-errors ng-if="!ppp.proposal.isCompany">
						<label for="address">Address</label>
						<input  disabled="true" type="text" id="address" name="address" class="form-control" ng-model="ppp.user.address" placeholder="Address">
					</div>
					<div class="form-group" show-errors>
						<label for="phone">Phone</label>
						<input  disabled="true" type="text" id="phone" name="phone" class="form-control" ng-model="ppp.user.phone" placeholder="Phone">
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1" disable="!ppp.proposal.isCompany">
			<uib-tab-heading>
				<i class="fa fa-group"></i> Company
			</uib-tab-heading>
			<div class="proposal-form-container">
				<h4>Company Information</h4>
				<div class="form-group" show-errors>
					<label for="businessName">Legal Name of Company</label>
					<input  disabled="true" type="text" id="businessName" name="businessName" class="form-control" ng-model="ppp.user.businessName" placeholder="Legal Name">
				</div>
				<div class="form-group" show-errors>
					<label for="businessAddress">Company Mailing Address</label>
					<input  disabled="true" type="text" id="businessAddress" name="businessAddress" class="form-control" ng-model="ppp.user.businessAddress" placeholder="Company Mailing Address">
				</div>
				<div class="form-group" show-errors>
					<label for="businessContactName">Contact Name</label>
					<input  disabled="true" type="text" id="businessContactName" name="businessContactName" class="form-control" ng-model="ppp.user.businessContactName" placeholder="Contact Name">
				</div>
				<div class="form-group" show-errors>
					<label for="businessContactPhone">Contact Phone</label>
					<input disabled="true"  type="text" id="businessContactPhone" name="businessContactPhone" class="form-control" ng-model="ppp.user.businessContactPhone" placeholder="Contact Phone">
				</div>
				<div class="form-group" show-errors>
					<label for="businessContactEmail">Contact Email</label>
					<input  disabled="true" type="businessContactEmail" id="businessContactEmail" name="businessContactEmail" class="form-control" ng-model="ppp.user.businessContactEmail" placeholder="Contact Email" lowercase>
					<div ng-messages="ppp.userForm.businessContactEmail.$error" role="alert">
						<p class="help-block error-text" ng-message="businessContactEmail">Email address is invalid.</p>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading>
				<i class="fa fa-pencil"></i> Proposal
			</uib-tab-heading>
			<div class="proposal-form-container">
				<div><p ng-bind-html="ppp.detail"></p></div>
			</div>
		</uib-tab>
		<uib-tab index="3" disable="!ppp.proposal._id">
			<uib-tab-heading>
				<i class="fa fa-file"></i> Attachments
			</uib-tab-heading>
			<div class="proposal-form-container text-right">
				<table class="table table-striped">
					<tr ng-repeat="file in ppp.proposal.attachments">
						<td class=" text-right">
							<i class="fa fa-file-{{ppp.type(file.type)}}-o"></i>
						</td>
						<td class="text-left">
							{{file.name}}
						</td>
						<td class=" text-left">
							<a href="/api/proposal/{{ppp.proposal._id}}/download/doc/{{file._id}}" target="_blank"><i class="fa fa-download"></i></a>
						</td>
					</tr>
				</table>
				<!-- <div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
				Drop File:
				<div ngf-drop="uploadFiles($files)" class="drop-box"
				ngf-drag-over-class="'dragover'" ngf-multiple="true"
				ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div> -->
			</div>
		</uib-tab>
	</uib-tabset>
	<!-- </div></section> -->
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success" data-ng-click="ppp.assign()">Assign</button>
	<span>&nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;</span>
	<button type="button" class="btn" data-ng-click="ppp.close()">Close</button>
</div>
</form>
