<form id="proposalform" name="ppp.form.proposalform" class="form" ng-submit="ppp.save(ppp.form.proposalform.$valid)" novalidate>
<div class="modal-header">
	<h3>Proposal for {{ppp.opportunity.name}}</h3>
</div>
<div class="modal-header" style="background-color: #ffefcc;">
	<div ng-if="ppp.proposal.status === 'Submitted'">
		<h4 style="color: #5cb85c;"><i class="glyphicon glyphicon-ok-sign"></i> Your proposal has been submitted!</label></h4>
		<p>You can make updates until <b><span ng-bind="ppp.opportunity.deadline | date:'mediumDate'"></span></b>.</p>
	<!--<h4><span class="label {{ppp.statusColour(ppp.proposal.status)}}">{{ppp.proposal.status}}</span></h4>
	<span ng-if="ppp.proposal.status === 'Submitted'">Your proposal has been submitted! It won't be reviewed until <b>closing time</b>, and you can update it as much as you want until then!</span>-->
	</div>
	<div ng-if="ppp.proposal.status === 'Draft'">
		<h4 style="color: #d9534f;"><i class="fa fa-exclamation-triangle"></i> Your proposal is in DRAFT</h4>
		<p>Submit before <b><span ng-bind="ppp.opportunity.deadline | date:'mediumDate'"></span></b>!</p>
	</div>
</div>

<div class="modal-body">
	<!-- <section class="static-page"><div class="container" role="main"> -->
	<uib-tabset active>
		<uib-tab index="0">
			<uib-tab-heading>
				<i class="fa fa-user"></i> Proponent
			</uib-tab-heading>
			<div class="proposal-form-container">
				<div class="form-group">
					<h4>Your Information</h4>
					<div class="form-group">
					<label>
						I am applying as a Company &nbsp; &nbsp;
						<input type="checkbox" name="isCompany" ng-model="ppp.proposal.isCompany" autofocus>
<!-- 						I am applying as
						<label class="radio-inline">
							<input type="radio" ng-model="ppp.proposal.isCompany" value={{true}}>a Company
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="ppp.proposal.isCompany" value={{false}}>an Individual
						</label>
 -->
 					</label>
 					</div>
					<div class="form-group" show-errors>
						<label for="firstName">First Name</label>
						<input  type="text" id="firstName" name="firstName" class="form-control" ng-model="ppp.user.firstName" placeholder="First Name">
					</div>
					<div class="form-group" show-errors>
						<label for="lastName">Last Name</label>
						<input  type="text" id="lastName" name="lastName" class="form-control" ng-model="ppp.user.lastName" placeholder="Last Name">
					</div>
					<div class="form-group" show-errors>
						<label for="email">Email</label>
						<input  type="email" id="email" name="email" class="form-control" ng-model="ppp.user.email" placeholder="Email" lowercase>
						<div ng-messages="ppp.userForm.email.$error" role="alert">
							<p class="help-block error-text" ng-message="email">Email address is invalid.</p>
						</div>
					</div>
					<div class="form-group" show-errors ng-if="!ppp.proposal.isCompany">
						<label for="address">Address</label>
						<input  type="text" id="address" name="address" class="form-control" ng-model="ppp.user.address" placeholder="Address">
					</div>
					<div class="form-group" show-errors>
						<label for="phone">Phone</label>
						<input  type="text" id="phone" name="phone" class="form-control" ng-model="ppp.user.phone" placeholder="Phone">
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1" disable="!ppp.proposal.isCompany">
			<uib-tab-heading>
				<i class="fa fa-group"></i> Company
			</uib-tab-heading>
			<div class="proposal-form-container">
				<h4>Company Information</h4>
				<div class="form-group" show-errors>
					<label for="businessName">Legal Name of Company</label>
					<input  type="text" id="businessName" name="businessName" class="form-control" ng-model="ppp.user.businessName" placeholder="Legal Name">
				</div>
				<div class="form-group" show-errors>
					<label for="businessAddress">Company Mailing Address</label>
					<input  type="text" id="businessAddress" name="businessAddress" class="form-control" ng-model="ppp.user.businessAddress" placeholder="Company Mailing Address">
				</div>
				<div class="form-group" show-errors>
					<label for="businessContactName">Contact Name</label>
					<input  type="text" id="businessContactName" name="businessContactName" class="form-control" ng-model="ppp.user.businessContactName" placeholder="Contact Name">
				</div>
				<div class="form-group" show-errors>
					<label for="businessContactPhone">Contact Phone</label>
					<input  type="text" id="businessContactPhone" name="businessContactPhone" class="form-control" ng-model="ppp.user.businessContactPhone" placeholder="Contact Phone">
				</div>
				<div class="form-group" show-errors>
					<label for="businessContactEmail">Contact Email</label>
					<input  type="businessContactEmail" id="businessContactEmail" name="businessContactEmail" class="form-control" ng-model="ppp.user.businessContactEmail" placeholder="Contact Email" lowercase>
					<div ng-messages="ppp.userForm.businessContactEmail.$error" role="alert">
						<p class="help-block error-text" ng-message="businessContactEmail">Email address is invalid.</p>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading>
				<i class="fa fa-pencil"></i> Proposal
			</uib-tab-heading>
			<div class="proposal-form-container">
				<h4>Evaluation Criteria &nbsp; <a href ng-click="ppp.showEvaluation = !ppp.showEvaluation"><i class="fa fa-angle-double-up" ng-if="ppp.showEvaluation"></i><i class="fa fa-angle-double-down" ng-if="!ppp.showEvaluation"></i></a></h4>
				<div class="alert alert-info" ng-show="ppp.showEvaluation"><p ng-bind-html="ppp.display.evaluation"></p></div>
				<div class="form-group" ng-if="0">
					<label class="control-label" for="summary">Summary</label>
					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="ppp.helpsummary=!ppp.helpsummary"></i>
					<div class="input-help alert alert-info" data-field="summary" ng-show="ppp.helpsummary">
						A Summary of your proposal if you wish to include it.
					</div>
					<textarea
						name="summary"
						id="summary"
						class="form-control input-sm"
						ui-tinymce="ppp.tinymceOptions"
						placeholder="Proposal Summary"
						ng-model="ppp.proposal.summary">
					</textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="detail">Proposal</label>
					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="ppp.helpdetail=!ppp.helpdetail"></i>
					<div class="input-help alert alert-info" data-field="detail" ng-show="ppp.helpdetail">
						Your Proposal Detail.
					</div>
					<textarea
						name="detail"
						id="detail"
						class="form-control input-sm"
						ui-tinymce="ppp.tinymceOptions"
						placeholder="Proposal Detail"
						ng-model="ppp.proposal.detail">
					</textarea>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="3" disable="!ppp.proposal._id">
			<uib-tab-heading>
				<i class="fa fa-file"></i> Attachments
			</uib-tab-heading>
			<div class="proposal-form-container text-right">
				<div class="row">
					<a href class="button" ngf-select="ppp.upload($file)">+ Upload File</a><br/>&nbsp;
				</div>
				<table class="table table-striped">
					<tr ng-repeat="file in ppp.proposal.attachments">
						<td class=" text-right">
							<i class="fa fa-file-{{ppp.type(file.type)}}-o"></i>
						</td>
						<td class="text-left">
							{{file.name}}
						</td>
						<td class=" text-left">
							<i class="fa fa-trash" ng-click="ppp.deletefile(file._id)"></i>
						</td>
					</tr>
				</table>
				<!-- <div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
				Drop File:
				<div ngf-drop="uploadFiles($files)" class="drop-box"
				ngf-drag-over-class="'dragover'" ngf-multiple="true"
				ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div> -->
			</div>
		</uib-tab>
	</uib-tabset>
	<!-- </div></section> -->
</div>
<div class="modal-footer">
	<button ng-if="ppp.proposal.status === 'Submitted'" type="button" class="btn btn-danger" data-ng-click="ppp.withdraw()" ">Withdraw</button>
	<button ng-if="ppp.proposal.status === 'Draft' || ppp.proposal.status === 'Submitted'" type="button" class="btn btn-danger" data-ng-click="ppp.delete()" ">Delete</button>
	<span ng-if="ppp.proposal.status === 'Submitted' || ppp.proposal.status === 'Draft'"> &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; </span>
	<button type="submit" class="btn btn-primary" ng-if="ppp.proposal.status === 'New' || ppp.proposal.status === 'Draft'">Save</button>
	<button type="button" class="btn btn-success" data-ng-click="ppp.submit()" ng-if="ppp.proposal.status === 'Draft'">Submit</button>
	<button type="submit" class="btn btn-primary" ng-if="ppp.proposal.status === 'Submitted'">Update Proposal</button>
	<button type="button" class="btn" data-ng-click="ppp.close()">Close</button>
</div>
</form>
