// Variables

// Gray and Brand Colors for use across theme

@theme-primary:   rgb(0,154,207);
@theme-success:   rgb(118,185,80);
@theme-info:      rgb(165,217,236);
@theme-warning:   rgb(251,176,52);
@theme-danger:    rgb(210,73,42);

@gray-base:        #000;
@gray-darker:      lighten(@gray-base, 13.5%); // #222
@gray-dark:        lighten(@gray-base, 20%);   // #333
@gray:             lighten(@gray-base, 33.5%); // #555
@gray-light:       lighten(@gray-base, 46.7%); // #777
@gray-lighter:     lighten(@gray-base, 93.5%); // #eee

@theme-light-blue:  rgb(83,202,235 );
@theme-dark-blue:   rgb(0,97,170);
@theme-red:         rgb(238,50,36);
@theme-pink:        rgb(207,0,114);
@theme-purple:      rgb(79,45,127);
@theme-light-green: rgb(18,173,43);
@theme-dark-green:  rgb(0,104,82);
@theme-yellow:      #ffeb3b;
@theme-orange:      #ff9800;
@theme-deeporange:  #ff5722;

@brand-twitter:		#1da1f2;
@brand-facebook:	#3b5998;
@brand-google-plus:	#dd4b39;
