<section class="edit-form-background" role="main">
	<form name="qqq.capabilityForm" id="qqq.capabilityForm" warn-on-exit novalidate autocomplete="off">
		<div class="container edit-form">
			
			<div class="edit-form-body">
				<div class="row">
					<div class="col-sm-8">
						<form-input
							class="col-sm-12"
							ng-model="qqq.capability.name"
							x-form="qqq.capabilityForm"
							x-options='{
								"title":"Capability Name",
								"id":"name",
								"name":"name",
								"placeholder":"name",
								"required":"Must supply a capability name"
							}'>
						</form-input>
						<form-input
							class="col-sm-4"
							ng-model="qqq.capability.labelClass"
							x-form="qqq.capabilityForm"
							x-options='{
								"title":"Label Class for Display",
								"id":"name",
								"name":"name",
								"placeholder":"name",
								"required":"Must supply a capability name"
							}'>
						</form-input>
						<form-display
							class="col-sm-8"
							x-options='{
								"id":"flags",
								"name":"flags"
							}'>
							<label class="label label-lg label-cap-default {{qqq.capability.labelClass}}" ng-class={>{{qqq.capability.name}}</label>
							<label class="label">{{qqq.capability.name}}</label>
						</form-display>
						
						<!-- Commenting this checkbox out now that we've decided to allow the issuer of the opportunity to select which capabilities they want in each phase. -->
						<!--
						<form-display
							class="col-sm-12"
							x-options='{
								"id":"flags",
								"name":"flags"
							}'>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="qqq.capability.isRequired" />
										This capability is required for companies to participate in the RFQ process
								</label>
								<br/>
								<label>
									<input type="checkbox" ng-model="qqq.capability.isInception" />
										This capability is part of the inception phase
								</label>
								<br/>
								<label>
									<input type="checkbox" ng-model="qqq.capability.isPrototype" />
										This capability is part of the prototype phase
								</label>
								<br/>
								<label>
									<input type="checkbox" ng-model="qqq.capability.isImplementation" />
										This capability is part of the implementation phase
								</label>
							</div>
						</form-display>
						-->
						<form-display
							class="col-sm-12"
							x-options='{
								"title":"Capability Description",
								"id":"description",
								"name":"description"
							}'>
							<textarea
								name="description"
								id="description"
								class="form-control input-sm"
								ui-tinymce="qqq.tinymceOptions"
								placeholder="A brief description of the capability"
								ng-model="qqq.capability.description">
							</textarea>
						</form-display>
					</div>
					<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong>Preferred Skills</strong>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<div class="input-group" ng-cloak ng-if="!qqq.editingskill">
										<input type="text" class="form-control" placeholder="Add new specific skill..." ng-model="qqq.newskill"\>
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="qqq.addSkill()"  ng-cloak ng-if="!qqq.editingskill">Add</button>
										</span>
									</div>
									<div class="input-group" ng-cloak ng-if="qqq.editingskill">
										<input type="text" class="form-control" placeholder="Add new specific skill..." ng-model="qqq.newskill"\>
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="qqq.updateSkill()">Save</button>
										</span>
									</div>
								</li>
								<li class="list-group-item" ng-repeat="skill in qqq.capability.skills">
									{{skill.name}}
									<button title="Delete Skill" class="btn-link pull-right" ng-click="qqq.deleteSkill(skill)"><i class="fa fa-minus-square"></i></button>
									<button title="Edit Skill" class="btn-link pull-right" ng-click="qqq.editSkill(skill)"><i class="fa fa-edit"></i></button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="edit-form-footer">
				<div class="row form-foot text-right">
					<button class="btn btn-text-only" ui-sref="capabilities.view({capabilityId:qqq.capability.code})"> Cancel</button>
				<!--
					<button class="btn btn-primary" ng-click="qqq.savenow(qqq.capabilityForm.$valid)"><i class="fa fa-thumbs-o-up"></i> Save</button>
				-->
					<button class="btn btn-primary" ng-click="qqq.savenow(qqq.capabilityForm.$valid, true)"><i class="fa fa-save"></i> Save &amp; Close</button>
				</div>
			</div>
		</div>
	</form>
</section>