<section class="form-page"><div class="container" role="main"><form name="qqq.capabilityForm" id="qqq.capabilityForm" warn-on-exit novalidate autocomplete="off">
	<div class="row">
		<form-input
			class="col-sm-12"
			ng-model="qqq.capability.name"
			x-form="qqq.capabilityForm"
			x-options='{
				"title":"Capability Name",
				"id":"name",
				"name":"name",
				"placeholder":"name",
				"required":"Must supply a capability name"
			}'>
		</form-input>
		<form-display
			class="col-sm-12"
			x-options='{
				"id":"flags",
				"name":"flags"
			}'>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="qqq.capability.isRequired" />
						This capability is required for companies to participate in the RFQ process
				</label>
				<br/>
				<label>
					<input type="checkbox" ng-model="qqq.capability.isInception" />
						This capability is part of the inception phase
				</label>
				<br/>
				<label>
					<input type="checkbox" ng-model="qqq.capability.isPrototype" />
						This capability is part of the prototype phase
				</label>
				<br/>
				<label>
					<input type="checkbox" ng-model="qqq.capability.isImplementation" />
						This capability is part of the implementation phase
				</label>
			</div>
		</form-display>
		<form-display
			class="col-sm-12"
			x-options='{
				"title":"Capability Description",
				"id":"description",
				"name":"description"
			}'>
			<textarea
				name="description"
				id="description"
				class="form-control input-sm"
				ui-tinymce="qqq.tinymceOptions"
				placeholder="A brief description of the capability"
				ng-model="qqq.capability.description">
			</textarea>
		</form-display>
	</div>
	<div class="row form-foot text-right">
		<button class="btn btn-danger" ui-sref="capabilities.view({capabilityId:qqq.capability.code})"> Cancel</button>
		<button class="btn btn-primary" ng-click="qqq.savenow(qqq.capabilityForm.$valid)"><i class="fa fa-thumbs-o-up"></i> Save</button>
		<button class="btn btn-primary" ng-click="qqq.savenow(qqq.capabilityForm.$valid, true)"><i class="fa fa-thumbs-o-up"></i> Save and Exit</button>
	</div>

</form></div></section>
