<div class="back-nav">
  <div class="container">
    <div class="row">
      <div class="col">
        <a ui-sref="capabilities.list()"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;All Capabilities</a>
      </div>
    </div>
  </div>
</div>

<section class="detail-page-background">

  <div class="container detail-view">
    <div class="row" ng-if="vm.canEdit">
      <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-text-only" ui-sref="capabilityadmin.edit({capabilityId:vm.capability.code})"
          title="Edit capability"><i class="fas fa-lg fa-pencil-alt"></i></button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h1 class="capability-detail" ng-bind="vm.capability.name"></h1>
        <div ng-bind-html="vm.trust(vm.capability.description)"></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Preferred Technical Skills</strong>
          </div>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="skill in vm.capability.skills">{{skill.name}}</li>
          </ul>
        </div>
        <br>
        <div class="alert alert-warning">
          <h4>Got this capability?</h4>
          Claim it in your <a href="/settings/skills">personal profile</a>.
        </div>
      </div>
    </div>
  </div>
</section>
