<section>
  <div class="page-header">
    <h1>
      Projects
      <a class="btn btn-primary pull-right" data-ui-sref="admin.projects.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="project in vm.projects" data-ui-sref="admin.projects.edit({projectId: project._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="project.created | date:'mediumDate'"></span>
        by
        <span ng-if="project.user" ng-bind="project.user.displayName"></span>
        <span ng-if="!project.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="project.title"></h4>
      <p class="list-group-item-text" data-ng-bind="project.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="projects.$resolved && !projects.length">
    No projects yet, why don't you <a data-ui-sref="admin.projects.create">create one</a>?
  </div>
</section>
