<div class="banner banner-info">
	<div class="container">
		<p>Yo! This is a <span class="strong">div</span> with a class of <span class="strong">.banner .banner-info</span>. Use this type of banner for information that should persist, but that is not super critical whether the user reads or not.</p>
	</div>
</div>

<div class="banner banner-important">
	<div class="container">
		<p>This is a <span class="strong">div</span> with a class of <span class="strong">.banner .banner-important</span>. Use this kind of banner when it's a bit more important that the user's attention be drawn.</p>
	</div>
</div>


<div class="banner banner-gray">
	<div class="container">
		<p>This is a <span class="strong">div</span> with a class of <span class="strong">.banner .banner-gray</span>.</p>
	</div>
</div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Use of Banners</h2>
				<p>Banners should ONLY be placed directly above or below the navbar.</p> 
				<p>In any page's html, banners should sit OUTSIDE of sections; but they need to have a <span class="strong">div</span> with a class of <span>.container</span> within them to ensure the text doesn't extend to the outer margins of the page.</p>
			</div>
		</div>
		</div>
</section>