<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Wells</h1>
				<h2>Regular</h2>
				<div class="well">This is a <span class="strong">div</span> with a class of <span>.well</span></div>
				<div class="well well-left-align"><p>This is a <span class="strong">div</span> with a class of <span>.well .well-left-align</span></p></div>
				<div class="well well-lg">This is a <span class="strong">div</span> with a class of <span>.well .well-lg</span></div>
				<div class="well well-full-width">This is a <span class="strong">div</span> with a class of <span>.well .well-full-width</span></div>
				<div class="well .well-info">This is a <span class="strong">div</span> with a class of <span>.well .well-info</span></div>
				<div class="well well-important">This is a <span class="strong">div</span> with a class of <span>.well .well-important</span></div>
				<div class="well well-gray">This is a <span class="strong">div</span> with a class of <span>.well .well-gray</span></div>
				<div class="well well-danger">This is a <span class="strong">div</span> with a class of <span>.well .well-danger</span></div>
				<div class="well well-success">This is a <span class="strong">div</span> with a class of <span>.well .well-success</span></div>
				<div class="well well-primary">This is a <span class="strong">div</span> with a class of <span>.well .well-primary</span></div>
			</div>
		</div>
		
	</div>


</section>