<section class="form-page">
	<div class="container">
		<div class="form">
			<div class="form-header">
				<button class="btn btn-text-only pull-right"><i class="glyphicon glyphicon-times"></i></button>
				<form-title>This is the form title</form-title>
			</div>
			<div class="form-body">
				<p>This is the body</p>
			</div>
			<div class="form-footer">
				<button class="btn btn-primary pull-right">Save & Close</button>
				<button class="btn btn-default">Delete this</button>
			</div>
		</form>
	</div>
</section>
