<div class=container>
	<div class="row">
		<div class="col-xs-12">
			<h1>Labels</h1>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h2>Basics</h2>
			<p>Something about when to use them....</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h2>Classes</h2>
			<label class="label label-default">.label .label-default</label>
			<label class="label label-primary">.label .label-primary</label>
			<label class="label label-info">.label .label-info</label>
			<label class="label label-success">.label .label-success</label>
			<label class="label label-warning">.label .label-warning</label>
			<label class="label label-danger">.label .label-danger</label>




		</div>
		<div class="col-xs-12 col-sm-4">
			<h2>Examples we use</h2>
			<button class="btn btn-success"><i class="fa fa-save"></i> SAVE CHANGES</button>
			<button class="btn btn-success"><i class="fa fa-save"></i> SAVE UPDATES</button>
			<button class="btn btn-default"><i class="fa fa-trash"></i> DELETE</button>
			<button class="btn btn-default"><i class="fa fa-ban"></i> WITHDRAW</button>
			<button class="btn btn-primary"><i class="fa fa-plus"></i> POST AN OPPORTUNITY</button>
			<button class="btn btn-primary"><i class="fa fa-plus"></i> LIST YOUR PROJECT</button>
			<button class="btn btn-primary"><i class="fa fa-plus"></i> LIST YOUR PROGRAM</button>
			<button class="btn btn-default-inverse"><i class="fa fa-file-archive-o"></i> Download .zip of all proposals</button>

		</div>
	</div>

	<div class="row">	
		<div class="col-xs-12 col-sm-4">
			<h2>Basics</h2>
			<button>(no class applied)</button>
			<button class="btn">.btn</button>
			<button class="btn-default">.btn-default</button>
			<button class="btn btn-default">btn .btn-default</button>
			<button class="btn btn-primary">btn .btn-primary</button>
			<button class="btn btn-secondary">btn .btn-secondary</button>
			<button class="btn btn-success">btn .btn-success</button>
			<button class="btn btn-warning">btn .btn-warning</button>
			<button class="btn btn-danger">btn .btn-danger</button>
		</div>
	</div>
</div>

