<section class="list-page">
	<div class="container">
		
		<div class="card">
		  <div class="card-header">
		    Featured
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Special title treatment</h5>
		    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		  <div class="card-footer">
		  	This is the footer
		  </div>
		</div>

		<div class="card card-company">
		  <div class="card-body">
		  	<img class="card-img-left" src="..." alt="Card image cap">
		    <div class="card-title">Card title</div>
		    <div class="card-teaser">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</div>
		  </div>
		</div>

		<div class="card card-company">
			<img class="card-img-left" src="/img/Zeb_avatar.png">		  
			<div class="card-body">
		    	<div class="card-title">Sierra Systems</div>
		    	<div class="card-teaser">With supporting text below as a natural lead-in to additional content.</div>
		  	</div>
		</div>

		<div class="card card-user">
			<img class="card-img-left" src="/img/Zeb_avatar.png">
			<div class="card-body">
				<div class="card-title">Mark Wilson</div>
				<label-list>
					<label class="label label-uxresearch">UX Research</label>
					<label class="label label-uxdesign">UX Design</label>
					<label class="label label-skill">Bootstrap</label>
					<label class="label label-skill">HTML</label>
				</label-list>
			</div>
		</div>

	</div>
</section>