<section class="gray-lighter">

<div class="container">
	<h1>Capabilities</h1>
	

	<h4>List of capabilities</h4>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Agile Coaching</h3>
			  </div>
		  	</div>
		  	
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Delivery Management</h3>
			  </div>
		  	</div>
		  	
		  	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">UX Research</h3>
			  </div>
		  	</div>
		  	
		  	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">UX Design</h3>
			  </div>
		  	</div>
	  	</div>

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">  	
			  <div class="panel-heading">
			    <h3 class="panel-title">Frontend Web Development</h3>
			  </div>
		  	</div>

		  	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Backend Web Development</h3>
			  </div>
			</div>

			<div class="panel panel-default">		  	
			  <div class="panel-heading">
			    <h3 class="panel-title">Technical Architecture</h3>
			  </div>
		  	</div>
		  	
		  	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">DevOps Engineering</h3>
			  </div>
		  	</div>
		  	
		  	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Security Engineering</h3>
			  </div>
		  	</div>
	  	</div>
  	</div>

  	<hr>
  	<br>

  	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h4>One capability, expanded (when clicked on panel-heading)</h4>
			<br>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Agile Coaching</h3>
			  </div>
			  <div class="panel-body">
			    <p>Experience transforming initiatives to deliver lasting change within agencies that focus on delivering value for citizens. Coaches are primarily responsible for:</p>
			    <ul>
			    	<li>Embed an agile culture using techniques from a wide range or agile and lean methodologies and frameworks, but be methodology agnostic</li>
			    	<li>Help to create an open and trust-based environment, which enables a focus on delivery and facilitates continuous improvement</li>
			    	<li>Assess the culture of a team and delivery processes in place to identify improvements and facilitate these improvements with the right type of support</li>
			    	<li>Showcase relevant tools and techniques such as coaching, advising, workshops, and mentoring</li>
			    	<li>Engage with stakeholders at all levels of an organization</li>
			    	<li>Develop clear lines of escalation, in agreement with senior managers</li>
			    	<li>Ensure any stakeholder can easily find out an accurate and current project or program status, without disruption to delivery</li>
			    	<li>Apply best tools and techniques to: team roles, behaviors, structure and culture, agile ceremonies and practices, knowledge transfer and sharing, program management, cross-team coordination, and overall governance of digital service delivery</li>
			    	<li>Ensure key metrics and requirements that support the team and delivery are well defined and maintained</li>
			    	<li>Equip staff with the ability to coach others</li>
			    	<li>Provide executive coaching on the fundamental considerations of digital service delivery design</li>
			    </ul>
			    <button class="btn btn-default-inverse btn-block"><i class="fa fa-hand-stop-o"></i> CLAIM THIS CAPABILITY</button>
			  </div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
		<h4>After 'CLAIM THIS CAPABILITY' button has been clicked, it looks like this...</h4>
		<br>
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">Agile Coaching <span class="pull-right"><i class="fa fa-check-circle-o"></i> CLAIMED</span>
		    </h3>
		  </div>
		  <div class="panel-body">
		    <p>Experience transforming initiatives to deliver lasting change within agencies that focus on delivering value for citizens. Coaches are primarily responsible for:</p>
		    <ul>
		    	<li>Embed an agile culture using techniques from a wide range or agile and lean methodologies and frameworks, but be methodology agnostic</li>
		    	<li>Help to create an open and trust-based environment, which enables a focus on delivery and facilitates continuous improvement</li>
		    	<li>Assess the culture of a team and delivery processes in place to identify improvements and facilitate these improvements with the right type of support</li>
		    	<li>Showcase relevant tools and techniques such as coaching, advising, workshops, and mentoring</li>
		    	<li>Engage with stakeholders at all levels of an organization</li>
		    	<li>Develop clear lines of escalation, in agreement with senior managers</li>
		    	<li>Ensure any stakeholder can easily find out an accurate and current project or program status, without disruption to delivery</li>
		    	<li>Apply best tools and techniques to: team roles, behaviors, structure and culture, agile ceremonies and practices, knowledge transfer and sharing, program management, cross-team coordination, and overall governance of digital service delivery</li>
		    	<li>Ensure key metrics and requirements that support the team and delivery are well defined and maintained</li>
		    	<li>Equip staff with the ability to coach others</li>
		    	<li>Provide executive coaching on the fundamental considerations of digital service delivery design</li>
		    </ul>
		    <button class="btn btn-default btn-block"><i class="fa fa-ban"></i> REMOVE THIS FROM MY PROFILE</button>
		  </div>
		</div>
	</div>

	<hr>
	<br>

	<h4>Someone's completed list, collapsed, might look like this...</h4>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Agile Coaching</h3>
			  </div>
		  	</div>
		  	
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">Delivery Management <span class="pull-right"><i class="fa fa-check-circle-o"></i> CLAIMED</span></h3>
			  </div>
		  	</div>
		  	
		  	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">UX Research</h3>
			  </div>
		  	</div>
		  	
		  	<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">UX Design <span class="pull-right"><i class="fa fa-check-circle-o"></i> CLAIMED</span></h3>
			  </div>
		  	</div>
	  	</div>

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-success">  	
			  <div class="panel-heading">
			    <h3 class="panel-title">Frontend Web Development <span class="pull-right"><i class="fa fa-check-circle-o"></i> CLAIMED</span></h3>
			  </div>
		  	</div>

		  	<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">Backend Web Development <span class="pull-right"><i class="fa fa-check-circle-o"></i> CLAIMED</span></h3>
			  </div>
			</div>

			<div class="panel panel-default">		  	
			  <div class="panel-heading">
			    <h3 class="panel-title">Technical Architecture</h3>
			  </div>
		  	</div>
		  	
		  	<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">DevOps Engineering <span class="pull-right"><i class="fa fa-check-circle-o"></i> CLAIMED</span></h3>
			  </div>
		  	</div>
		  	
		  	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Security Engineering</h3>
			  </div>
		  	</div>
	  	</div>
  	</div>

</div>

</section>
