<section class="edit-form-background">
	<form>
		<div class="container container-edit-form">
			<div class="edit-form-header">
				<div class="row">
					<div class="col-xs-8">
						<h4 class="edit-form-header"><span class="light small">EDITING:</span> Sprint With Us Opportunity Title</h4>
					</div>
					<div class="col-xs-4">
						<a class="btn btn-text-only pull-right"><i class="fa fa-times"></i> CLOSE</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<uib-tabset active>
						<uib-tab index="0">
							<uib-tab-heading>
								Team &amp; Cost
							</uib-tab-heading>
							<div class="row">
								<div class="col-xs-12 col-sm-4" style="border-right: 1px dotted #e3e3e3">
							    	<h4 style="text-align: center"><i class="fa fa-map"></i> Inception</h4>
							    	<hr>
							    	<h4>Required Capabilities</h4>
									<table class="table capabilities-list">
										<tbody>
											<tr>
												<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<td><label class="label label-lg label-deliverymgmt">Delivery Management</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-uxresearch">UX Research</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-uxdesign">UX Design</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-frontend">Frontend Development</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
										</tbody>								
									</table>
									<h5>Preferred Skills</h5>
									<table class="table capabilities-list">
										<tbody>
											<tr>
												<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<td><label class="label label-skill">Agile Scrum</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">Angular</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">NodeJS</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">Bootstrap</label></td>
											</tr>
										</tbody>								
									</table>
									<hr>
									<h4>Select Your Team</h4>
									<div class="alert alert-definitions">
										Your team must cover off all <span class="strong">Required Capabilities</span>. Capabilities marked <label class="label label-fulltime-selected">F/T</label> are expected to be available full-time for the duration of the phase.<br><br>
										<span class="strong">Preferred Skills</span> are not required, but the more of them your team members have, the higher they'll score.
									</div>
									<div class="team-selection-list">
										<div class="team-member selected">
											<img src="/img/Zeb_avatar.png">
											<name>Bruce Le Robert</name>
											<div class="label-list">
												<label class="label label-deliverymgmt">Delivery Management</label>
												<label class="label label-skill">Agile Scrum</label>
												<label class="label label-skill">Certified Scrum Master</label>
											</div>
										</div>
										<div class="team-member">
											<img src="/img/billy_avatar.png">
											<name>Billy Hauldeigh</name>
											<div class="label-list">
												<label class="label label-uxresearch">UX Research</label>
												<label class="label label-uxdesign">UX Design</label>
												<label class="label label-skill">Bootstrap</label>
											</div>
										</div>
										<div class="team-member">
											<img src="/img/sad_avatar.png">
											<name>Sad Lee Mistaken</name>
											<div class="label-list">
												<label class="label label-uxdesign">UX Design</label>
												<label class="label label-frontend">Frontend Development</label>
												<label class="label label-backend">Backend Development</label>
												<label class="label label-skill">Bootstrap</label>
												<label class="label label-skill">Angular</label>
												<label class="label label-skill">NodeJS</label>
												<label class="label label-skill">React</label>
											</div>
										</div>

									</div>
									<br>
									<div class="alert alert-important" style="text-align: center;">
						  	  			<i class="fa fa-calendar"></i> &nbsp;
						  	  			<span class="strong">May 4, 2018</span> to <span class="strong">May 30, 2018</span>
							    	</div>
							  	  	<div class="alert alert-important">
							  	  		<label class="label-input" for="budget-inception">Please enter a <span class="strong">fixed-price</span> for which you can supply selected team members for this phase.</label>
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" id="budget-inception" class="form-control" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
						    	</div>
						    	<div class="col-xs-12 col-sm-4" style="border-right: 1px dotted #e3e3e3">
							    	<h4 style="text-align: center"><i class="fa fa-rocket"></i> Proof of Concept</h4>
							    	<hr>
							    	<h4>Required Capabilities</h4>
									<table class="table capabilities-list">
										<tbody>
											<tr>
												<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<td><label class="label label-lg label-deliverymgmt">Delivery Management</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-uxresearch">UX Research</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-uxdesign">UX Design</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-frontend">Frontend Development</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
										</tbody>								
									</table>
									<h5>Preferred Skills</h5>
									<table class="table capabilities-list">
										<tbody>
											<tr>
												<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<td><label class="label label-skill">Agile Scrum</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">Angular</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">NodeJS</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">Bootstrap</label></td>
											</tr>
										</tbody>								
									</table>
							    	<hr>
									<h4>Select Your Team</h4>
									<div class="alert alert-definitions">
										Your team must cover off all <span class="strong">Required Capabilities</span>. Capabilities marked <label class="label label-fulltime-selected">F/T</label> are expected to be available full-time for the duration of the phase.<br><br>
										<span class="strong">Preferred Skills</span> are not required, but the more of them your team members have, the higher they'll score.
									</div>
									<div class="team-selection-list">
										<div class="team-member selected">
											<img src="/img/Zeb_avatar.png">
											<name>Bruce Le Robert</name>
											<div class="label-list">
												<label class="label label-deliverymgmt">Delivery Management</label>
												<label class="label label-skill">Agile Scrum</label>
												<label class="label label-skill">Certified Scrum Master</label>
											</div>
										</div>
										<div class="team-member">
											<img src="/img/billy_avatar.png">
											<name>Billy Hauldeigh</name>
											<div class="label-list">
												<label class="label label-uxresearch">UX Research</label>
												<label class="label label-uxdesign">UX Design</label>
												<label class="label label-skill">Bootstrap</label>
											</div>
										</div>
										<div class="team-member">
											<img src="/img/sad_avatar.png">
											<name>Sad Lee Mistaken</name>
											<div class="label-list">
												<label class="label label-uxdesign">UX Design</label>
												<label class="label label-frontend">Frontend Development</label>
												<label class="label label-backend">Backend Development</label>
												<label class="label label-skill">Bootstrap</label>
												<label class="label label-skill">Angular</label>
												<label class="label label-skill">NodeJS</label>
												<label class="label label-skill">React</label>
											</div>
										</div>
									</div>
									<br>
									<div class="alert alert-important" style="text-align: center;">
						  	  			<i class="fa fa-calendar"></i> &nbsp;
						  	  			<span class="strong">June 1, 2018</span> to <span class="strong">Aug 31, 2018</span>
							    	</div>
							  	  	<div class="alert alert-important">
							  	  		<label class="label-input" for="budget-poc">Please enter a <span class="strong">fixed-price</span> for which you can supply selected team members for this phase.</label>
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" id="budget-poc" class="form-control" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
						    	</div>
						    	<div class="col-xs-12 col-sm-4">
							    	<h4 style="text-align: center"><i class="fa fa-gears"></i> Implementation</h4>
							    	<hr>
							    	<h4>Required Capabilities</h4>
									<table class="table capabilities-list">
										<tbody>
											<tr>
												<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<td><label class="label label-lg label-deliverymgmt">Delivery Management</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-uxresearch">UX Research</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-uxdesign">UX Design</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
											<tr>
												<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
												<td><label class="label label-lg label-frontend">Frontend Development</label></td>
												<td><label class="label label-fulltime-selected">F/T</label></td>
											</tr>
										</tbody>								
									</table>
									<h5>Preferred Skills</h5>
									<table class="table capabilities-list">
										<tbody>
											<tr>
												<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
												<td><label class="label label-skill">Agile Scrum</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">Angular</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">NodeJS</label></td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td><label class="label label-skill">Bootstrap</label></td>
											</tr>
										</tbody>								
									</table>
									<hr>
									<h4>Select Your Team</h4>
									<div class="alert alert-definitions">
										Your team must cover off all <span class="strong">Required Capabilities</span>. Capabilities marked <label class="label label-fulltime-selected">F/T</label> are expected to be available full-time for the duration of the phase.<br><br>
										<span class="strong">Preferred Skills</span> are not required, but the more of them your team members have, the higher they'll score.
									</div>
									<div class="team-selection-list">
										<div class="team-member selected">
											<img src="/img/Zeb_avatar.png">
											<name>Bruce Le Robert</name>
											<div class="label-list">
												<label class="label label-deliverymgmt">Delivery Management</label>
												<label class="label label-skill">Agile Scrum</label>
												<label class="label label-skill">Certified Scrum Master</label>
											</div>
										</div>
										<div class="team-member">
											<img src="/img/billy_avatar.png">
											<name>Billy Hauldeigh</name>
											<div class="label-list">
												<label class="label label-uxresearch">UX Research</label>
												<label class="label label-uxdesign">UX Design</label>
												<label class="label label-skill">Bootstrap</label>
											</div>
										</div>
										<div class="team-member">
											<img src="/img/sad_avatar.png">
											<name>Sad Lee Mistaken</name>
											<div class="label-list">
												<label class="label label-uxdesign">UX Design</label>
												<label class="label label-frontend">Frontend Development</label>
												<label class="label label-backend">Backend Development</label>
												<label class="label label-skill">Bootstrap</label>
												<label class="label label-skill">Angular</label>
												<label class="label label-skill">NodeJS</label>
												<label class="label label-skill">React</label>
											</div>
										</div>
									</div>
									<br>
									<div class="alert alert-important"  style="text-align: center;">
						  	  			<i class="fa fa-calendar"></i> &nbsp;
						  	  			<span class="strong">Sep 1, 2018</span> to <span class="strong">March 31, 2019</span>
							    	</div>
							  	  	<div class="alert alert-important">
							  	  		<label class="label-input" for="budget-imp">Please enter a <span class="strong">fixed-price</span> for which you can supply selected team members for this phase.</label>
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" id="budget-imp" class="form-control" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
						    	</div>
							</div>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
			<br>
			<div class="edit-form-footer">
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" href="javascript:void(0);" class="btn btn-primary pull-right"><i class="fa fa-save"></i> SAVE CHANGES</button>
						<a class="btn btn-text-only"><i class="fa fa-trash"></i> DELETE</a>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- Delete this container -->
	<div class="container">
		<div class="well instructions-for-dev">
			<ul>
				<li>I'm thinking the Select Your Team list might need to be contained within an iframe for scrolling??!! <i class="fa fa-lg fa-frown-o"></i></li>
			</ul>
		</div>
	</div>

</section>