<section class="edit-form-background">
	
	<!-- Delete this container -->
	<div class="container">
		<div class="well instructions-for-dev">
			<p>Budget will be stated by the Government Actor simply to signify to applicants: "This is how much money your company could potentially earn if awarded this opportunity".</p>
			<p>In their submission, companies will bid a fixed-price per phases based on:
				<ul>
					<li>(Time) The start and end dates of the phases</li>
					<li>The hourly rates for the resources they are putting forward to be available during those dates (F/T capabilities full-time; other capabilities NOT marked F/T, for the amount of hours estimated by the company that they will be needed.</li>
				</ul>
			</p>
		</div>
	</div>

	<form>
		<div class="container container-edit-form">
			<div class="edit-form-header">
				<div class="row">
					<div class="col-xs-8">
						<h4 class="edit-form-header"><span class="light small">EDITING:</span> Sprint With Us Opportunity Title</h4>
					</div>
					<div class="col-xs-4">
						<a class="btn btn-text-only pull-right"><i class="fa fa-times"></i> CLOSE</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<uib-tabset active>
						<uib-tab index="0">
							<uib-tab-heading>
								Budget
							</uib-tab-heading>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="well">
										<label for="budget">What's your total max budget for this team?</label>
										<div class="input-group">
										  <span class="input-group-addon">$</span>
										  <input type="text" id="budget" class="form-control" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="well">This is your signal to companies about the total amount of money they could potentially earn by working with you. This is the budget you are planning to use up if everything goes right....getting as far as you can with the team into the Implementation phase....
									</div>
								</div>
							</div>
							
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
			
			<div class="edit-form-footer">
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" href="javascript:void(0);" class="btn btn-primary pull-right"><i class="fa fa-save"></i> SAVE CHANGES</button>
						<a class="btn btn-text-only"><i class="fa fa-trash"></i> DELETE</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>