<section class="list-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 style="border-bottom: 1px dotted #e3e3e3; text-transform: uppercase;">Open Opportunities</h3>
				<div class="alert alert-default">
					<i class="fa fa-lg fa-frown-o"></i>&nbsp; No open opportunities right now - check back soon, or make sure you're signed up for notifications (in your profile)
				</div>
			</div>
		</div>
		<br><br><br>
		<div class="row">
			<div class="col-xs-12">
				<h3 style="border-bottom: 1px dotted #e3e3e3; text-transform: uppercase;">Closed Opportunities &nbsp; <span class="badge" style="margin-bottom: 6px; font-size: 15px;">38</span><span class="pull-right" style="font-size: 15px; font-weight: 400;">Total value: $2,456,009</span></h3>
				<div class="alert alert-default">
					Cards for opportunities that are closed stack here; most recently closed on top
				</div>
			</div>
		</div>
	</div>
</section>