<section class="list-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>User Displays</h1>
				Templates for how to display users around the site			
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h3>User Cards</h3>
				Use a user card when the view should enable the user to remove the card from view, for example: 
				<ul>
					<li>In Admin view on a project page, when the user should have the ability to remove a user card from the project</li>
					<li>In Admin view on a company members list, when the user should have the ability to remove a member from the company</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h4>User card in a Company profile members list (Admin view)</h4>
				The card should contain
				<ul>
					<li>User profile image</li>
					<li>Username</li>
					<li>A label list of the user's self-claimed capabilties, followed by skills.</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6">  
				<div class="alert alert-warning">
					This is a 
					<code>&lt;div class="card card-user"&gt;</code>
				</div>
				<div class="card card-user">
					<img class="card-img-left" src="/img/Zeb_avatar.png">
					<div class="card-body">
						<button class="btn btn-text-only pull-right btn-remove" ng-click="vm.removeMember(member)"><i class="fa fa-lg fa-times"></i></button>
						<div class="card-title">Mark Wilson</div>
						<label-list>
							<label class="label label-uxresearch"><i class="fa fa-circle"></i> UX Research</label>
							<label class="label label-uxdesign"><i class="fa fa-circle"></i> UX Design</label>
							<label class="label label-skill">Bootstrap</label>
							<label class="label label-skill">HTML</label>
						</label-list>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h4>User card on a Program or Project page members list (Admin view)</h4>
				The card should contain:
				<ul>
					<li>User profile image</li>
					<li>Username</li>
					<li>Email link</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6">  
				<div class="alert alert-warning">
					This is a 
					<code>&lt;div class="card card-user"&gt;</code>
				</div>
				<div class="card card-user">
					<img class="card-img-left" src="/img/Zeb_avatar.png">
					<div class="card-body">
						<button class="btn btn-text-only pull-right btn-remove" ng-click="vm.removeMember(member)"><i class="fa fa-lg fa-times"></i></button>	
						<div class="card-title">Mark Wilson</div>
						<a href="/">Email</a>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h3>User Avatars</h3>
				Use a user avatar when the view should not have any options to remove the user avatar. <br>
				These should look just like user cards, except they don't have a background or a button, because you can't do anything with them! They're just there for information, for example: 
				<ul>
					<li>On an opportunity page, to show the user who has been assigned to the opportunity</li>
					<li>On a project or program page in non-admin view, to simply see the people who are members of the company</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h4>User avatar in a members list on a program or project page (Members list)</h4>
				The card should contain
				<ul>
					<li>User profile image</li>
					<li>Username</li>
					<li>Email link</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6">  
				<div class="alert alert-warning">
					This is a 
					<code>&lt;div class="avatar-user-with-email"&gt;</code>
				</div>
				<h4>Program Members</h4>
				<div class="avatar-user-with-email">
					<img src="/img/Zeb_avatar.png">
					<div class="avatar-body">
						<div class="avatar-name">Mark Wilson</div>
						<a href="">Email</a>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h4>User avatar on an opportunity page (Assignee)</h4>
				The card should contain
				<ul>
					<li>User profile image</li>
					<li>Username</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6">  
				<div class="alert alert-warning">
					This is a 
					<code>&lt;div class="avatar-user"&gt;</code>
				</div>
				<p>Opportunity assigned to:</p>
				<div class="avatar-user">
					<img src="/img/Zeb_avatar.png">
					<div class="avatar-body">
						<div class="avatar-name">Mark Wilson</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h3>List Groups</h3>
				These are for within a company response on a SWU opportunity. The list shows them all of the team members they can select from, with their capability and skill labels, so they can select/deselect members to add them to the Proposal.
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="row">
					<div class="alert alert-warning">
						This is a <code>&lt;div class="team-selection-list"&gt;</code><br>
						It will typically be used within a <code>&lt;div class="col-sm-4"&gt;</code>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="team-selection-list">
							<div class="team-member selected">
								<img src="/img/Zeb_avatar.png">
								<name>Steve Chapman</name>
								<div class="label-list">
									<label class="label label-deliverymgmt">Delivery Management</label>
									<label class="label label-skill">Agile Scrum</label>
									<label class="label label-skill">Certified Scrum Master</label>
								</div>
							</div>
							<div class="team-member">
								<img src="/img/billy_avatar.png">
								<name>Mark Wilson</name>
								<div class="label-list">
									<label class="label label-uxresearch">UX Research</label>
									<label class="label label-uxdesign">UX Design</label>
									<label class="label label-skill">Bootstrap</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		

	</div>
</section>