<!--
<div class="banner banner-info">
	<div class="container">
		<p>To apply on this opportunity, you need to <a href="">Sign In</a>.</p>
	</div>
</div>
-->

<div class="page-controls">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
					<button class="btn btn-sm btn-text-only-inverse"><i class="fa fa-pencil"></i> EDIT</button>
					<button class="btn btn-sm btn-text-only-inverse"><i class="fa fa-ban"></i> UNPUBLISH</button>
				</div>
			</div>
		</div>
	</div>
</div>



<section style="background: #444; padding: 0px;">
	<div class="container" style="background: #fff">
		<!--
		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-success"><i class="fa fa-check-circle-o fa-lg"></i> <span class="strong">Proposal submitted!</span> You can make updates until <span class="strong">4:00pm Pacific Time</span> on <span class="strong">January 31</span>.&nbsp;&nbsp; <a href=""><i class="fa fa-pencil"></i> Update my proposal</a></div>	
			</div>
		</div>
		-->
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Siege the Castle!</h1>
				<p>Dungeon Siege is an action role-playing game developed by Gas Powered Games and published by Microsoft for Windows (2002) and by Destineer for MacOS (2003). Set in the pseudo-medieval kingdom of Ehb, the high fantasy game follows a young farmer and his companions as they journey to defeat an invading force.</p>
			</div>
		</div>
	</div>
</section>