<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Alerts & Wells</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2>Alerts</h2>
				<p>Alert should be used for: 
					<ul>
						<li>Alerting the user to an action they need to take on the page, or</li>
						<li>Giving the user confirmation or feedback on an action they've just taken</li>
					</ul>
				</p>
				<h4>Classes</h4>
				<div class="alert alert-success"><span class="strong">Nice one!</span> Use an <span class="strong">.alert .alert-success</span> for messages to confirm success of some action a user took</div>
				<div class="alert alert-info"><span class="strong">Learn something!</span> This is an <span class="strong">.alert .alert-info</span></div>
				<div class="alert alert-warning"><span class="strong">Wait a minute!</span> This is an <span class="strong">.alert .alert-warning</span></div>
				<div class="alert alert-danger"><span class="strong">Wait!!!</span> This is an <span class="strong">.alert .alert-danger</span></div>
				<h4>Examples</h4>
				<div class="alert alert-success"><span class="strong">Proposal submitted!</span> You can make updates until <span class="strong">4:00pm Pacific Time</span> on <span class="strong">January 31</span>.</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h2>Wells</h2>
				<p>Wells are like alerts, just fatter. Use wells sparingly to: 
					<ul>
						<li>Separate out standalone bits of content that don't require any specific action by the user, and</li>
						<li>Are not for the purpose of providing immediate feedback on an action just taken.</li>
					</ul>
				</p>
				<h4>Classes</h4>
				<p>Just two kinds of wells:</p>
				<div class="well">This is a <span class="strong">div</span> with a class of <span class="strong">.well</span></div>
				<div class="well well-important">This is a <span class="strong">div</span> with a class of <span class="strong">.well .well-important</span></div>
				<h4>Examples</h4>
				<div class="well"><i class="fa fa-usd fa-lg"></i> This is a fixed-price opportunity governed by the <a href="">terms</a> of our lightweight procurement process, <span class="strong">Code With Us</span>.</div>
				<div class="well well-important"><i class="fa fa-comments fa-lg"></i> <span class="strong">Questions?</span> &nbsp;<a href="">Visit the GitHub Issue for this opportunity</a> and post a comment.</div>
			</div>
		</div>
		
	</div>


</section>