<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Sprint With Us</h1>
				<p>A new way to hire teams.</p>
				<br><br><br>
				<h2>Apply in 3 easy steps!</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>1. Sign Up</h4>
						<p>Get your people to sign up and mark the capabilities they have in their personal profile. It just takes a minute.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>2. Register</h4>
						<p>Create a profile for your company and add team members.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>3. Submit a proposal</h4>
						<p>Responding is simple!</p>
						<ol>
							<li>Tell us the team members you're putting forward</li>
							<li>Give us a fixed price to supply those team members for the dates requested</li>
							<li>Answer a brief questionnaire</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-center">
				<h4><a href="">Read more about how the competition works..</a></h4>
			</div>
		</div>

	</div>
</section>