<section>
<div class=container>
	<div class="row">
		<div class="col-xs-12">
			<h1>Buttons</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h2>Basic buttons</h2>
			<p>Something about when to use them....</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3>Classes</h3>
			<button>(no class applied)</button>
			<button class="btn">.btn</button>
			<button class="btn btn-default">.btn .btn-default</button>
			<button class="btn btn-default-inverse">.btn .btn-default-inverse</button>
			<button class="btn btn-default">.btn .btn-default</button>
			<button class="btn btn-default-inverse">.btn .btn-default-inverse</button>
			<button class="btn btn-primary">.btn .btn-primary</button>
			<button class="btn btn-secondary">.btn .btn-secondary</button>
			<button class="btn btn-success">.btn .btn-success</button>
			<button class="btn btn-warning">.btn .btn-warning</button>
			<button class="btn btn-danger">.btn .btn-danger</button>
			<button class="btn btn-default-inverse"><i class="fa fa-plus"></i></button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3>Examples we use</h3>
			<button class="btn btn-success"><i class="fa fa-save"></i> SAVE CHANGES</button>
			<button class="btn btn-success"><i class="fa fa-save"></i> SAVE UPDATES</button>
			<button class="btn btn-default"><i class="fa fa-trash"></i> DELETE</button>
			<button class="btn btn-default"><i class="fa fa-ban"></i> WITHDRAW</button>
			<button class="btn btn-primary"><i class="fa fa-plus"></i> POST AN OPPORTUNITY</button>
			<button class="btn btn-primary"><i class="fa fa-plus"></i> LIST YOUR PROJECT</button>
			<button class="btn btn-primary"><i class="fa fa-plus"></i> LIST YOUR PROGRAM</button>
			<button class="btn btn-default-inverse"><i class="fa fa-file-archive-o"></i> Download .zip of all Proposals</button>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h2>Small buttons</h2>
			<p>Something about when to use them....</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3>Classes</h3>
			<button>(no class applied)</button>
			<button class="btn btn-sm">.btn .btn-sm</button>
			<button class="btn btn-sm btn-default">.btn .btn-sm .btn-default</button>
			<button class="btn btn-sm btn-default-inverse">.btn .btn-sm .btn-default-inverse</button>
			<button class="btn btn-sm btn-default">.btn .btn-sm .btn-default</button>
			<button class="btn btn-sm btn-default-inverse">.btn .btn-sm .btn-default-inverse</button>
			<button class="btn btn-sm btn-primary">.btn .btn-sm .btn-primary</button>
			<button class="btn btn-sm btn-secondary">.btn .btn-sm .btn-secondary</button>
			<button class="btn btn-sm btn-success">.btn .btn-sm .btn-success</button>
			<button class="btn btn-sm btn-warning">.btn .btn-sm .btn-warning</button>
			<button class="btn btn-sm btn-danger">.btn .btn-sm .btn-danger</button>
			
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3>Examples we use</h3>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Button groups</h2>
			<p>Use button groups for page controls</p>
		</div>
		<div class="col-xs-12">
			<h3>Classes</h3>
			<div class="btn-group">
				<button class="btn btn-sm btn-default">.btn .btn-sm .btn-default</button>
				<button class="btn btn-sm btn-default">.btn .btn-sm .btn-default</button>
				<button class="btn btn-sm btn-default">.btn .btn-sm .btn-default</button>					
			</div>			
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3>Examples we use</h3>
			<div class="btn-group">
				<button class="btn btn-sm btn-default"><i class="fa fa-pencil"></i> EDIT</button>
				<button class="btn btn-sm btn-default"><i class="fa fa-ban"></i> UNPUBLISH</button>					
			</div>
			<div class="btn-group">
				<button class="btn btn-sm btn-default"><i class="fa fa-pencil"></i> EDIT</button>
				<button class="btn btn-sm btn-primary"><i class="fa fa-bullhorn"></i> PUBLISH</button>					
			</div>
		</div>
	</div>

</div>
</section>
