<div class="profile-header">
	<div class="narrow-container">
		<div class="profile-header-content">
			<div class="profile-title">Messages</div>
		</div>
	</div>
</div>
<div class="profile-body">
	<div class="narrow-container">
		<div class="message-list">
			<div class="message-list-header">New</div>
			<list>
				<div class="message-card">
					<img src="/img/money-sack.png" class="img-circle message-image">
					<div class="message-card-body">
						<div class="message-date">2018-05-20</div>
						<div class="message-title">You've been invited to join Company X</div>
						<div class="message-subtitle">This is the message subtitle where there's a bit more indication of the implication or importance of the message.</div>
					</div>
				</div>
				<div class="message-card">
					<img src="/img/money-sack.png" class="img-circle message-image">
					<div class="message-card-body">
						<div class="message-date">2018-05-19</div>
						<div class="message-title">We've added a new Capability! Do you have it?!</div>
						<div class="message-subtitle">We've added <strong>Mobile App Development</strong> to our list of sought-after capabilities for Sprint With Us opportunities...</div>
					</div>
				</div>
			</list>
		</div>
		<div class="message-list message-archives">
			<div class="message-list-header">Archive</div>
			<div class="message-archives">
				<!-- This list should be a simple sorted list of messages that have been resolved/actioned; most recent at top -->
				<table class="table archived-messages">
					<tr>
						<td class="date">2018-06-05</td>
						<td>You accepted <strong>Inviter Inviterer's</strong> invitation to join <strong>Company X</strong></td>
					</tr>
					<tr class="archived-message">
						<td class="date">2018-06-05</td>
						<td>You accepted <strong>Inviter Inviterer's</strong> invitation to join <strong>Company X</strong></td>
					</tr>
					<tr>
						<td class="date">2018-06-05</td>
						<td>You accepted <strong>Inviter Inviterer's</strong> invitation to join <strong>Company X</strong></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>