<section class="list-page">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<h2>Company List Page</h2>
				<p>I'd like the cards to be like this....</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="card card-company">
					<div class="card-header">
						<button class="btn btn-text-only pull-right"><i class="fa fa-lg fa-gear"></i></button>
					</div>
					<img class="card-img-left" src="/modules/core/client/img/logo/avatar-2.png" alt="Company Logo">
					<div class="card-body">
						<div class="card-title">This is the name of the Company that might</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="card card-company">
				  	<div class="card-header">
						<button class="btn btn-text-only pull-right"><i class="fa fa-lg fa-gear"></i></button>
					</div>
				  	<img class="card-img-left" src="/modules/core/client/img/logo/avatar-2.png" alt="Company Logo">
				  	<div class="card-body">
				    	<div class="card-title">Be a short one</div>
				  	</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="card card-company">
					<div class="card-header">
						<button class="btn btn-text-only pull-right"><i class="fa fa-lg fa-gear"></i></button>
					</div>
				  	<img class="card-img-left" src="/modules/core/client/img/logo/avatar-2.png" alt="Company Logo">
				  	<div class="card-body">
				    	<div class="card-title">Or perhaps a super long one</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</section>