<section class="edit-form-background">
	<form>
		<div class="container container-edit-form">
			<div class="edit-form-header">
				<div class="row">
					<div class="col-xs-8">
						<h4 class="edit-form-header"><span class="light small">PROPOSAL FOR:</span> Sprint With Us Opportunity Title</h4>
					</div>
					<div class="col-xs-4">
						<a class="btn btn-text-only pull-right"><i class="fa fa-times"></i> CLOSE</a>
					</div>
				</div>
			</div>

			<div class="row">
				<uib-tabset active>
					<uib-tab index="0">
						<uib-tab-heading>
							Team
						</uib-tab-heading>
						<div class="proposal-form-container">
							<div class="col-sm-7">
								<div class="alert">Select the individuals you're putting forward on this team opportunity. If your team doesn't cover all the mandatory capabilities, you'll need to <a href="">add members to your company</a> with the missing capabilities. 
								</div>
								<h4>Proposed Team Members</h4>
								<ul class="list-group">
									<div class="list-group-item selected">
										<div class="col-xs-6 team-member-divider">
											<img class="img-avatar img-avatar-sm" src="/img/Zeb_avatar.png"> 
											<span class="username">Mark Wilson</span>
										</div>
										<div class="col-xs-6 team-member-divider">
											<label class="label label-danger">UX Design</label>
											<label class="label label-danger">UX Research</label>
										</div>
									</div>
									<div class="list-group-item selected">
										<div class="col-xs-6 team-member-divider">
											<img class="img-avatar img-avatar-sm" src="/img/andrew_avatar.png"> 
											<span class="username">Steve Chapman</span>
										</div>
										<div class="col-xs-6 team-member-divider">
											<label class="label label-info">Agile Coaching</label>
											<label class="label label-info">Delivery Management</label>
										</div>
									</div>
									<div class="list-group-item selected">
										<div class="col-xs-6 team-member-divider">
											<img class="img-avatar img-avatar-sm" src="/img/billy_avatar.png">
											<span class="username">Chris Coldwell</span>
										</div>
										<div class="col-xs-6 team-member-divider"> 
											<label class="label label-danger">UX Design</label>
											<label class="label label-success">Frontend Development</label>
											<label class="label label-success">Backend Development</label>
											<label class="label label-warning">JavaScript</label>
											<label class="label label-warning">AngularJS</label>
											<label class="label label-warning">MongoDB</label>
											<label class="label label-success">DevOps</label>
										</div>
									</div>
									<div class="list-group-item">
										<div class="col-xs-6 team-member-divider">
											<img class="img-avatar img-avatar-sm" src="/img/ted_avatar.png">
											<span class="username">Roland Guerin</span>
										</div>
										<div class="col-xs-6 team-member-divider">
											<label class="label label-primary">Security Engineering</label>
											<label class="label label-success">Frontend Development</label>
											<label class="label label-success">Backend Development</label>
										</div>
									</div>
									<div class="list-group-item">
										<div class="col-xs-6 team-member-divider">
											<img class="img-avatar img-avatar-sm" src="/img/karen-avatar.png">
											<span class="username">Katie Kaplan</span>
										</div>
										<div class="col-xs-6 team-member-divider">
											<label class="label label-success">Frontend Development</label>
											<label class="label label-success">Backend Development</label>
										</div>
									</div>
									<div class="list-group-item selected">
										<div class="col-xs-6 team-member-divider">
											<img class="img-avatar img-avatar-sm" src="/img/bob_avatar.png">
											<span class="username">Peter Parker</span>
										</div>
										<div class="col-xs-6 team-member-divider">
											<label class="label label-danger">UX Design</label>
											<label class="label label-success">Frontend Development</label>
											<label class="label label-warning">Bootstrap</label>
										</div>
									</div>
								</ul>
							</div>
							<div class="col-sm-5" style="border-left: 1px solid #f8f8f8">
								<h4>Mandatory Capabilities</h4>
								<div class="alert alert-important"><i class="fa fa-exclamation-circle"></i> You won't be able to submit a proposal until your team has covered all of the mandatory capabilities.</div>
								<table class="table capabilities-list">
									<tbody>
										<tr>
											<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<td><label class="label label-lg label-info capability">Agile Coaching</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<td><label class="label label-lg label-info capability">Delivery Management</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<td><label class="label label-lg label-danger capability">UX Research</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<td><label class="label label-lg label-danger capability">UX Design</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<td><label class="label label-lg label-success capability">Frontend Development</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<td><label class="label label-lg label-success capability">Backend Development</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-check-circle-o fa-lg success"></i></th>
											<td><label class="label label-lg label-success capability">DevOps Engineering</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
											<td><label class="label label-lg label-primary capability">Security Engineering</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-exclamation-circle fa-lg"></i></th>
											<td><label class="label label-lg label-default capability">Technical Architecture</label></td>
										</tr>
									</tbody>
								</table>
								<hr>
								<h4>Preferred Skills</h4>
								<div class="alert"><i class="fa fa-wrench"></i> These skills aren't required to qualify for the opportunity, but the more of them your team has, the higher they'll score during evaluation.</div>
								<table class="table capabilities-list">
									<tbody>
										<tr>
											<th scope="row"></th>
											<td><label class="label label-skill">Certified Scrum Master</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-lg fa-check-circle-o success"></i></th>
											<td><label class="label label-skill">JavaScript</label></td>
										</tr>
										<tr>
											<th scope="row"></th>
											<td><label class="label label-skill">NodeJS</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-lg fa-check-circle-o success"></i></th>
											<td><label class="label label-skill">Bootstrap</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-lg fa-check-circle-o success"></i></th>
											<td><label class="label label-skill">AngularJS</label></td>
										</tr>
										<tr>
											<th scope="row"><i class="fa fa-lg fa-check-circle-o success"></i></th>
											<td><label class="label label-skill">MongoDB</label></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
			
			<div class="edit-form-footer">
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" href="javascript:void(0);" class="btn btn-primary pull-right"><i class="fa fa-save"></i> SAVE CHANGES</button>
						<a class="btn btn-text-only"><i class="fa fa-trash"></i> DELETE</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>