<section class="edit-form-background">
	<form>
		<div class="container edit-form">
			<div class="edit-form-header">
				<div class="row">
					<div class="col-xs-12">
						<div class="edit-form-title">
							<span class="light small">PROPOSAL FOR:</span> Team for Energy and Mines
							<button class="btn btn-text-only pull-right"><i class="fa fa-times"></i> CLOSE</button>
						</div>
						
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<uib-tabset active>
						<uib-tab index="0">
							<uib-tab-heading>
								Summary
							</uib-tab-heading>
							<div class="row">
								<div class="col-xs-12">
									<div class="alert alert-info">Here's the team you're putting forward. If you want to change team members or price, go back to the <span class="strong">Team &amp; Cost</span> tab.</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-sm-4 text-center">
									<div class="panel panel-default">
										<div class="panel-heading">
											<i class="fa fa-map"></i> Inception
											<br><br>
											<i class="fa fa-calendar"></i> &nbsp;
								  	  		<span class="strong">May 4, 2018</span> to <span class="strong">May 30, 2018</span>
										</div>
										<div class="panel-body">
									    	<ul>
									    		<li class="avatar-user">
													<img src="/img/Zeb_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Zeb Ward</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/karen-avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Rae Aufleight</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/billy_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Billy Halladay</div>
													</div>
												</li>
									    	</ul>
						    			</div>
						    			<div class="panel-footer">
									    	Price: <span class="strong">$17,880</span>
						    			</div>
						    		</div>
						    	</div>

						    	<div class="col-xs-12 col-sm-4 text-center">
						    		<div class="panel panel-default">
										<div class="panel-heading">
											<i class="fa fa-rocket"></i> Proof of Concept Phase
											<br><br>								  	  		<i class="fa fa-calendar"></i> &nbsp;
								  	  		<span class="strong">June 1, 2018</span> to <span class="strong">Aug 31, 2018</span>
										</div>
										<div class="panel-body">
												
									    	<ul>
									    		<li class="avatar-user">
													<img src="/img/Zeb_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Zeb Ward</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/karen-avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Rae Aufleight</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/billy_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Billy Halladay</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/xiao_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Xiaomi Ling</div>
													</div>
												</li>
									    	</ul>
								    	</div>
								    	<div class="panel-footer">
									    	Price: <span class="strong">$217,000</span>
								    	</div>
							    	</div>
						    	</div>

						    	<div class="col-xs-12 col-sm-4 text-center">
									<div class="panel panel-default">
										<div class="panel-heading">
											<i class="fa fa-gears"></i> Implementation Phase
											<br><br>
											<i class="fa fa-calendar"></i> &nbsp;
								  	  		<span class="strong">Sep 1, 2018</span> to <span class="strong">March 31, 2019</span>
										</div>
										<div class="panel-body">
									    	<ul>
									    		<li class="avatar-user">
													<img src="/img/andrew_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Andrew Green</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/karen-avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Rae Aufleight</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/billy_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Billy Halladay</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/ted_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Ted Williams</div>
													</div>
												</li>
												<li class="avatar-user">
													<img src="/img/xiao_avatar.png">
													<div class="avatar-body">
														<div class="avatar-name">Xiaomi Ling</div>
													</div>
												</li>
									    	</ul>
								    	</div>
								    	<div class="panel-footer">
								    		Price: <span class="strong">$560,000</span>
								    	</div>
								    </div>
						    	</div>
					    	</div>
							
							<div class="row">
								<div class="col-sm-4 pull-right">
									<h4 style="text-align: center;"><span class="light">Total Price:</span> $784,880</h4> 
								</div>
							</div>

						</uib-tab>
					</uib-tabset>
				</div>
			</div> 
							  	  	
			<div class="edit-form-footer">
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" href="javascript:void(0);" class="btn btn-warning pull-right"><i class="fa fa-paper-plane"></i> SUBMIT</button>
						<a class="btn btn-text-only"><i class="fa fa-trash"></i> DELETE</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>