
<section class="list-page">
	<div class="container">
		
		<div class="card">
		  <div class="card-header">
		    Featured
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Special title treatment</h5>
		    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		  <div class="card-footer">
		  	This is the footer
		  </div>
		</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Company List Page</h2>
			<p>I'd like the cards to be like this....</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="card card-company">
				<div class="card-header">
					<button class="btn btn-text-only pull-right"><i class="fa fa-lg fa-gear"></i></button>
				</div>
				<img class="card-img-left" src="/modules/core/client/img/logo/avatar-2.png" alt="Company Logo">
				<div class="card-body">
					<div class="card-title">This is the name of the Company that might</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="card card-company">
			  	<div class="card-header">
					<button class="btn btn-text-only pull-right"><i class="fa fa-lg fa-gear"></i></button>
				</div>
			  	<img class="card-img-left" src="/modules/core/client/img/logo/avatar-2.png" alt="Company Logo">
			  	<div class="card-body">
			    	<div class="card-title">Be a short one</div>
			  	</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="card card-company">
				<div class="card-header">
					<button class="btn btn-text-only pull-right"><i class="fa fa-lg fa-gear"></i></button>
				</div>
			  	<img class="card-img-left" src="/modules/core/client/img/logo/avatar-2.png" alt="Company Logo">
			  	<div class="card-body">
			    	<div class="card-title">Or perhaps a super long one</div>
			  	</div>
			</div>
		</div>
	</div>

		<div class="card card-company">
			<div class="card-header">
				<button class="btn btn-text-only pull-right"><i class="fa fa-lg fa-gear"></i></button>
			</div>
			<img class="card-img-left" src="/img/Zeb_avatar.png">		  
			<div class="card-body">
		    	<div class="card-title">Sierra Systems</div>
		    	<div class="card-teaser">With supporting text below as a natural lead-in to additional content.</div>
		  	</div>
		</div>

		<div class="card card-user">
			<img class="card-img-left" src="/img/Zeb_avatar.png">
			<div class="card-body">
				<div class="card-title">Mark Wilson</div>
				<label-list>
					<label class="label label-uxresearch">UX Research</label>
					<label class="label label-uxdesign">UX Design</label>
					<label class="label label-skill">Bootstrap</label>
					<label class="label label-skill">HTML</label>
				</label-list>
			</div>
		</div>

		<div class="card">
		  <div class="card-header">
		    Featured
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Special title treatment</h5>
		    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		  <div class="card-footer">
		  	This is the footer
		  </div>
		</div>

		<div class="card card-flat" style="width: 18rem;">
		  <img class="card-img-top" src="/img/billy_avatar.png" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Sprint With Us</h5>
		    <p class="subtitle">Supply an <span class="strong">Agile product team</span> to work with a government product manager.</p>
			<p class="subtitle">Opportunities up to <strong>$2 million</strong></p>
		    <a href="/sprintwithus" class="btn btn-primary">Learn More</a>
		  </div>
		</div>

	</div>
</section>