<section>
	<div class=container>
		<div class="row">
			<div class="col-xs-12">
				<h1>Labels</h1>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h2>Basics</h2>
				<p>Something about when to use them....</p>
			</div>
			
			<div class="col-xs-12 col-sm-4">
				<h2>Classes</h2>
				<div class="label-list">
					<label class="label label-default">.label .label-default</label>
					<label class="label label-primary">.label .label-primary</label>
					<label class="label label-info">.label .label-info</label>
					<label class="label label-text-only">.label .label-text-only</label>
					<label class="label label-success">.label .label-success</label>
					<label class="label label-warning">.label .label-warning</label>
					<label class="label label-lg label-danger">.label .label-lg .label-danger</label>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-4">
				<h2>Examples we use</h2>
				<div class="label-list">
					<label class="label label-skill">.label .label-skill</label>
					<label class="label label-skill">Node js</label>
					
					<label class="label label-price">.label .label-price</label>
					<label class="label label-price"><i class="fa fa-tag"></i> $4,000</label>
					
					<label class="label label-location">.label .label-location</label>
					<label class="label label-location"><i class="fa fa-building"></i> In-person work required</label>

					<label class="label label-lg label-success">.label .label-lg .label-success</label>
					<label class="label label-lg label-success">OPEN</label>

					<label class="label label-lg label-danger">.label .label-lg .label-danger</label>
					<label class="label label-lg label-danger">CLOSED</label>
					<label class="label label-lg label-deadline"><i class="fa fa-hourglass"></i> Closing in: <span class="strong
						danger">4 days</span></label>
				</div>
			</div>
		</div>

		
	</div>
</section>

