
<section class="row">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-9">

		<form name="vm.userPayment" ng-submit="vm.updateUserProfile(vm.userPayment.$valid)" class="signin" novalidate autocomplete="off">
		<h2>Payment Details</h2>
		<p>In the event you are assigned opportunities and complete the work how would you like to be paid?
			<fieldset>
				<div class="form-group" show-errors>
					<label for="firstName">Payment Method </label><br/>
					<label class="radio-inline">
					<input type="radio" name="paymentMethod" ng-model="vm.user.paymentMethod" value="Cheque">Cheque
					</label>
					<label class="radio-inline">
					<input type="radio" name="paymentMethod" ng-model="vm.user.paymentMethod" value="Direct Deposit">Direct Deposit
					</label>
					<label class="radio-inline">
					<input type="radio" name="paymentMethod" ng-model="vm.user.paymentMethod" value="PayPal">PayPal
					</label>
				</div>
				<div class="form-group" show-errors>
					<label for="businessName">Business Legal Name</label>
					<input type="text" id="businessName" name="businessName" class="form-control" ng-model="vm.user.businessName" placeholder="Business Legal Name">
				</div>
				<div class="form-group" show-errors>
					<label for="businessAddress">Business Address</label>
					<input type="text" id="businessAddress" name="businessAddress" class="form-control" ng-model="vm.user.businessAddress" placeholder="Address">
				</div>
				<div class="form-group" show-errors>
					<label for="businessAddress2">Business Address (line 2)</label>
					<input type="text" id="businessAddress2" name="businessAddress2" class="form-control" ng-model="vm.user.businessAddress2" placeholder="Address">
				</div>
				<div class="form-group" show-errors>
					<label for="businessCity">City</label>
					<input type="text" id="businessCity" name="businessCity" class="form-control" ng-model="vm.user.businessCity" placeholder="City">
				</div>
				<div class="form-group" show-errors>
					<label for="businessProvince">Province</label>
					<select id="businessProvince" name="businessProvince" class="form-control" ng-model="vm.user.businessProvince">
					<option value="BC">BC</option>
					<option value="AB">AB</option>
					<option value="MB">MB</option>
					<option value="NB">NB</option>
					<option value="NL">NL</option>
					<option value="NT">NT</option>
					<option value="NS">NS</option>
					<option value="NU">NU</option>
					<option value="ON">ON</option>
					<option value="PE">PE</option>
					<option value="QC">QC</option>
					<option value="SK">SK</option>
					<option value="YT">YT</option>
					</select>
				</div>
				<div class="form-group" show-errors>
					<label for="businessCode">Postal Code</label>
					<input type="text" id="businessCode" name="businessCode" class="form-control" ng-model="vm.user.businessCode" placeholder="Postal Code">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>

			</fieldset>
		</form>
	</div>
</section>
