<form name="vm.userForm" id="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
	<div class="row">
		<div class="col-sm-7">
			<fieldset>
				<form-input
					ng-model="vm.user.firstName"
					class="col-sm-12"
					x-form="vm.userForm"
					x-options='{
						"title":"First Name",
						"id":"firstName",
						"name":"firstName",
						"placeholder":"First Name",
						"required":"First Name is required"
					}'>
				</form-input>
				<form-input
					ng-model="vm.user.lastName"
					class="col-sm-12"
					x-form="vm.userForm"
					x-options='{
						"title":"Last Name",
						"id":"lastName",
						"name":"lastName",
						"placeholder":"Last Name",
						"required":"Last Name is required"
					}'>
				</form-input>
				<!-- // Seeing if I can move the email field to the Notifications tab where I think it has more context // -->
				<!--
				<form-input
					ng-model="vm.user.email"
					class="col-sm-12"
					x-form="vm.userForm"
					x-options='{
						"title":"Email Address",
						"id":"email",
						"name":"email",
						"placeholder":"Email Address",
						"required":"Email Address is required"
					}'>
				</form-input>
				-->
				<!-- Hiding this field as user testing showed it was confusing. Don't think we've determined its use yet, either. -->
				<!--
				<form-input
					ng-model="vm.user.userTitle"
					class="col-sm-12"
					x-form="vm.userForm"
					x-options='{
						"title":"Title",
						"id":"userTitle",
						"name":"userTitle",
						"placeholder":"Title"
					}'> -->
				</form-input>
				<form-display
					class="col-sm-12"
					x-options='{
						"title":"Location",
						"id":"location",
						"name":"location"
					}'>
					<select name="location" ng-model="vm.user.location" id="location" class="form-control"  ng-options="v as v for v in vm.cities">
						<option value="">Select Location</option>
					</select>
				</form-display>
				<form-input
				class="col-sm-6"
				ng-model="vm.user.website"
				x-form="vm.userForm"
				x-options='{
					"title":"Website",
					"id":"website",
					"name":"website",
					"placeholder":"https://yourgreatsite.com"
				}'>
			</form-input>

			<form-input
				class="col-sm-6"
				ng-model="vm.user.github"
				x-form="vm.userForm"
				x-options='{
					"title":"GitHub",
					"id":"github",
					"name":"github",
					"placeholder":"https://github.com/your-github-handle"
				}'>
			</form-input>

			<form-input
				class="col-sm-6"
				ng-model="vm.user.stackExchange"
				x-form="vm.userForm"
				x-options='{
					"title":"Stack Exchange",
					"id":"stackExchange",
					"name":"stackExchange",
					"placeholder":"https://superuser.com/users/1557/magicandrew181"
				}'>
			</form-input>

			<form-input
				class="col-sm-6"
				ng-model="vm.user.stackOverflow"
				x-form="vm.userForm"
				x-options='{
					"title":"Stack Overflow",
					"id":"stackOverflow",
					"name":"stackOverflow",
					"placeholder":"https://stackoverflow.com/users/219302/jezabel"
				}'>
			</form-input>

			<form-input
				class="col-sm-12"
				ng-model="vm.user.linkedIn"
				x-form="vm.userForm"
				x-options='{
					"title":"LinkedIn",
					"id":"linkedIn",
					"name":"linkedIn",
					"placeholder":"https://www.linkedin.com/in/your-name-69b46146/"
				}'>
			</form-input>

			</fieldset>
		</div>
		<div class="col-sm-5">
			<h3><avatar-display url="vm.user.profileImageURL" text="vm.user.displayName" size="120"></avatar-display></h3>
			<div><edit-profile-image></edit-profile-image></div>
			<br>
			<div class="alert alert-info"><i class="fa fa-building"></i> <span class="strong">Work for government?</span>
			<br> 
			If you're a public sector employee in British Columbia, you can use this site to pay for code and hire Agile product teams through our lightweight procurement processes, <i>Code With Us</i> and <i>Sprint With Us</i>.</div>
			<div class="checkbox">
				<label>
				<input ng-if="!vm.goveditable" type="checkbox"  ng-model="vm.isgov" disabled>
				<input ng-if="vm.goveditable" type="checkbox"  ng-model="vm.isgov" ng-disabled='vm.user.email === "" || vm.user.email == null'>
				Verify me as a B.C. public sector employee so I can post opportunities!
				</label>
			</div>
		</div>
	</div>
<!-- // Hiding "About You" // -->
<!--
	<div class="row">
		<div class="col-sm-6" ng-if="vm.features.swu">
			<form-display
				class="col-sm-12"
				x-options='{
					"title":"A little bit about you",
					"id":"description",
					"name":"description"
				}'>
				<textarea
					name="description"
					id="description"
					class="form-control"
					placeholder="A full description of the profile"
					ng-model="vm.user.description">
				</textarea>
			</form-display>
		</div>
	</div>
-->

	<div class="edit-form-footer">
		<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save Changes</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<h4>Delete my profile</h4>
				<p>Deleting your profile will erase your record as a contributor on projects and opportunities. There is no undo - make sure you're sure!</p>
				<button class="btn btn-sm btn-danger" ng-click="vm.delete()"><i class="fa fa-trash"></i> Delete my profile</button>
			</div>
		</div>
	</div>
</form>
