<form name="vm.userForm" id="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" novalidate autocomplete="off">
	<div class="edit-form-tab-content">
		<div class="alert alert-warning">
			<p><strong>Let us know what you can do!</strong> &nbsp;<i class="fa fa-group"></i> <strong>Sprint With Us</strong> opportunities call for teams with these capabilities and skills. <strong>Claim the ones you have</strong>, and let the companies you trust know.</p>
		</div>
		
		<fieldset>
			<div class="form-group">
				<uib-accordion close-others="true">
					<div uib-accordion-group class="panel-default" ng-repeat="capability in vm.capabilities">
						<uib-accordion-heading>
							<i class="pull-left fa fa-lg" ng-class="{'fa-check-circle success':vm.iOppCapabilities[capability.code], 'fa-question-circle inverse':!vm.iOppCapabilities[capability.code]}"></i>
							&nbsp; 
							{{capability.name}}
						</uib-accordion-heading>
						<div class="row">
							
							<div class="col-xs-12 col-sm-7">
								<h5>Definition:</h5>
								<p ng-bind-html="vm.trust(capability.description)"></p>
							</div>

							<div class="hidden-xs col-sm-1"></div>

							<div class="col-xs-12 col-sm-4">
								<div class="alert alert-warning">
									<div class="checkbox">
									
									<label>
										<input type="checkbox" ng-model="vm.iOppCapabilities[capability.code]" />
											<strong>Claim this capability</strong>
									</label>
									</div>
								</div>

								<div class="well well-warning" ng-if="capability.skills.length > 0">
									<p>Select all the <strong>preferred technical skills</strong> you possess:</p>
									<div class="label-list">
										<label class="label label-preferred-skill" ng-repeat="skill in capability.skills" ng-class="{'label-preferred-skill-selected':vm.iOppCapabilitySkills[skill.code]}" ng-click="vm.iOppCapabilitySkills[skill.code]=!vm.iOppCapabilitySkills[skill.code]">
											<span ng-bind="skill.name"></span>
										</label>
									</div>
								</div>
							</div>

						</div>
					</div>
				</uib-accordion>
			</div>
		</fieldset>
	</div>
			
	<div class="edit-form-footer">
		<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save Changes</button>
			</div>
		</div>
	</div>
</form>
<!--

					<uib-accordion close-others="true">

						<div uib-accordion-group class="panel-default" ng-repeat="idnum in ['c01','c02','c03','c04','c05','c06','c07','c08','c09','c10','c11','c12','c13']" >
							{{experienceField=idnum+'_experience';""}}
							{{ratingField=idnum+'_years';""}}
							{{userTagField=idnum+'_tags';""}}
							{{capability=vm.capabilities.bykey[idnum];""}}
							<uib-accordion-heading>
								<small>
									<i class="pull-left glyphicon" ng-class="{'glyphicon-check':vm.user[ratingField]>0, 'glyphicon-unchecked':vm.user[ratingField]===0}"></i>
									&nbsp; &nbsp;
									{{capability.text}}
									&nbsp; &nbsp;
									<span class="pull-right" ng-if="vm.user[ratingField]>0">{{vm.user[ratingField]}}{{vm.user[ratingField]>4?'+ years':' years'}}</span>
								</small>
							</uib-accordion-heading>
							<form-display
								class="col-sm-12"
								x-options='{
									"title":"Capability Description"
								}'>
								{{vm.capabilities.bykey[idnum].description}}
							</form-display>
							<br/>
							<div class="row">
								<div class="col-sm-12 form-group">
									<form-display
										class="col-sm-12"
										x-options='{
											"title":"Years Experience (1 to 5+)",
											"name":"{{ratingField}}"
										}'>
										<div class="btn-group">
											<label class="btn btn-success" ng-model="vm.user[ratingField]" uib-btn-radio="0">No Experience</label>
											<label class="btn btn-success" ng-model="vm.user[ratingField]" uib-btn-radio="1">One</label>
											<label class="btn btn-success" ng-model="vm.user[ratingField]" uib-btn-radio="2">Two</label>
											<label class="btn btn-success" ng-model="vm.user[ratingField]" uib-btn-radio="3">Three</label>
											<label class="btn btn-success" ng-model="vm.user[ratingField]" uib-btn-radio="4">Four</label>
											<label class="btn btn-success" ng-model="vm.user[ratingField]" uib-btn-radio="5">Five or More</label>
										</div>
									</form-display>
									<form-display
										class="col-sm-12"
										x-options='{
											"title":"Experience Description"
										}'>
										<textarea
											name="{{experienceField}}"
											id="{{experienceField}}"
											class="form-control"
											placeholder="Your experience demonstrating this capability"
											ng-model="vm.user[experienceField]">
										</textarea>
									</form-display>
									<select-list
										ng-model="vm.user[userTagField]"
										class="col-sm-12"
										x-type="arrayOfStrings"
										x-values="capability.tags"
										x-form="vm.userForm"
										x-options='{
											"title":"Specific Skills",
											"id":"lkjasd",
											"name":"lkjasd",
											"single":false,
											"listStyle":"list-inline"
										}'>
									</select-list>
								</div>
							</div>
						</div>

					</uib-accordion>

-->
