<form name="vm.userForm" id="vm.userForm" novalidate autocomplete="off">

	<fieldset>
		<h3 class="settings-panel-title">Notifications</h3>
		<div class="checkbox">
			<label>
			<input type="checkbox" ng-model="vm.user.notifyOpportunities" ng-disabled='vm.user.email === "" || vm.user.email == null'>
			Tell me about new opportunities
			</label>
			<span class="checkbox-subtext">We'll send an email to <span class="strong">{{vm.user.email}}</span> whenever a new opportunity is published. You can change your email address on the <a ui-sref="settings.profile">About Me</a> tab.</span>
		</div>
	</fieldset>

	<div class="button-spacer">
		<button ng-click="vm.savePrivacy(vm.userForm.$valid)" class="btn btn-primary">Save Changes</button>
	</div>

</form>

<hr>

<h5>Privacy</h5>
<p class="small">
	Your personal information is being collected by the Ministry of Citizens’ Services under s.26(c) of the Freedom of Information and Protection of Privacy Act (FOIPPA). The collection, use and disclosure of your personal information is for the purpose of notifying, applying and awarding opportunities on the BCDevExchange. If you have any questions, please contact: Peter Watkins, Executive Director, BC Developers’ Exchange and DevOps, Ministry of Citizens’ Services, 250-514-2739.
</p>
<p><a href="/terms/user1" target="_blank"><i class="fas fa-download"></i> Terms of Use</a></p>
