<form name="vm.userForm" id="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin"
  novalidate autocomplete="off">
  <div class="d-flex">
    <edit-avatar></edit-avatar>
    <h3>{{vm.user.displayName}}</h3>
  </div>
  <div class="mt-3">
    <fieldset>
      <form-input ng-model="vm.user.firstName" class="col-sm-12" x-form="vm.userForm" x-options='{
					"title":"First Name",
					"id":"firstName",
					"name":"firstName",
					"placeholder":"First Name",
					"required":"First Name is required"
				}'>
      </form-input>
      <form-input ng-model="vm.user.lastName" class="col-sm-12" x-form="vm.userForm" x-options='{
					"title":"Last Name",
					"id":"lastName",
					"name":"lastName",
					"placeholder":"Last Name",
					"required":"Last Name is required"
				}'>
      </form-input>
      <form-input ng-model="vm.user.email" class="col-sm-12" x-form="vm.userForm" x-options='{
					"title":"Email Address",
					"id":"email",
					"name":"email",
					"placeholder":"Email Address",
					"required":"Email Address is required"
						}'>
      </form-input>

      <form-input class="col-sm-12" ng-model="vm.user.location" x-form="vm.userForm" x-options='{
					"title":"Location",
					"id":"city",
					"name":"city"
				}'>
      </form-input>
    </fieldset>
  </div>

  <div>
    <button type="submit" class="btn btn-primary"  data-automation-id="btnSaveChangesProfile">Save Changes</button>
  </div>

  <hr>

  <div>
    <label ng-if="!vm.isGov">
      <i class="fas fa-question-circle" uib-tooltip="If you're a public sector employee in British Columbia, you can use the BCDevExchange to pay for code and hire Agile product teams."></i>
      <span class="lighter">Verify me as a BC public sector employee so I can post opportunities!</span>

      <button type="button" class="btn btn-sm btn-default" ng-if="!vm.pendingGovRequest" ng-disabled="vm.creatingRequest" ng-click="vm.addGovtRequest()">Send
        Request</button>
      <button type="button" class="btn btn-sm btn-warning" ng-if="vm.pendingGovRequest" disabled>Request Pending</button>
    </label>

    <label ng-if="vm.isGov">
      <i class="fas fa-check-circle"></i>
      <span class="lighter">You are verified as a public sector employee and can post opportunities!</span>
    </label>
  </div>

  <hr>

  <h5>Delete My Profile</h5>
  <p>Deleting your profile will erase your record as a contributor on projects and opportunities. There is no undo -
    make sure you're sure!</p>
  <button data-automation-id="btnDeleteProfile" type="button" class="btn btn-danger" ng-click="vm.delete()">Delete my profile</button>

</form>
