<form name="vm.userForm" id="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" novalidate autocomplete="off">

  <h3 class="settings-panel-title">Capabilities &amp; Skills</h3>
  <p>Let us know what you can do! <i>Sprint With Us</i> opportunities call for teams with these capabilities and
    skills.</p>

  <fieldset>
    <div class="form-group">
      <uib-accordion close-others="false">
        <div uib-accordion-group ng-repeat="capability in vm.capabilities">
          <uib-accordion-heading>
            <div data-automation-id="ListCapabilitiesSection-{{capability.name}}" class="w-100 h-100 py-0 my-0">
              <span ng-if="vm.userHasCapability(capability)"><i class="fas fa-check-circle text-success"></i></span>
              <span ng-if="!vm.userHasCapability(capability)"><i class="far fa-circle text-dark"></i></span>
              {{capability.name}}
            </div>
          </uib-accordion-heading>
          <div class="row">

            <div class="col py-3">
              <div>Definition:</div>
              <p ng-bind-html="capability.description"></p>
            </div>

            <div class="hidden-xs col-sm-1 py-3"></div>

            <div class="col-xs-12 col-sm-4 py-3">

              <div class="checkbox">

                <label>
                  <input data-automation-id="ckbClaimCapability-{{capability.name}}" type="checkbox" ng-init="bool = vm.userHasCapability(capability)" ng-change="vm.toggleCapability(bool, capability)" ng-model="bool" />
                  <strong>Claim this capability</strong>
                </label>
              </div>

              <div ng-if="capability.skills.length > 0 && vm.userHasCapability(capability)">
                <p>Select all the <strong>preferred technical skills</strong> you possess:</p>
                <div class="label-list">
                  <label data-automation-id="preferredTechSkill-{{skill.name}}" class="label label-preferred-skill" ng-repeat="skill in capability.skills" ng-class="{'label-preferred-skill-selected': vm.userHasSkill(skill)}"
                    ng-click="vm.toggleSkill(skill)">
                    <span ng-bind="skill.name"></span>
                  </label>
                </div>
              </div>
            </div>

          </div>
        </div>
      </uib-accordion>
    </div>
  </fieldset>

  <div class="button-spacer">
    <button data-automation-id="btnSaveChangesSkills" type="submit" class="btn btn-primary">Save Changes</button>
  </div>

</form>
