<form name="vm.userForm" id="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" novalidate autocomplete="off">
	<div class="row">
		<div class="col-cm-offset-1 col-sm-11">
		<fieldset>
			<form-input
				class="col-sm-6"
				ng-model="vm.user.website"
				x-form="vm.userForm"
				x-options='{
					"title":"Website",
					"id":"website",
					"name":"website",
					"placeholder":"website"
				}'>
			</form-input>

			<form-input
				class="col-sm-6"
				ng-model="vm.user.github"
				x-form="vm.userForm"
				x-options='{
					"title":"Github",
					"id":"github",
					"name":"github",
					"placeholder":"github"
				}'>
			</form-input>

			<form-input
				class="col-sm-6"
				ng-model="vm.user.stackExchange"
				x-form="vm.userForm"
				x-options='{
					"title":"Stack Exchange",
					"id":"stackExchange",
					"name":"stackExchange",
					"placeholder":"stackExchange"
				}'>
			</form-input>

			<form-input
				class="col-sm-6"
				ng-model="vm.user.stackOverflow"
				x-form="vm.userForm"
				x-options='{
					"title":"Stack Overflow",
					"id":"stackOverflow",
					"name":"stackOverflow",
					"placeholder":"stackOverflow"
				}'>
			</form-input>

			<form-input
				class="col-sm-12"
				ng-model="vm.user.linkedIn"
				x-form="vm.userForm"
				x-options='{
					"title":"LinkedIn",
					"id":"linkedIn",
					"name":"linkedIn",
					"placeholder":"linkedIn"
				}'>
			</form-input>

			<select-list
				ng-model="vm.user.capabilities"
				class="col-sm-6"
				x-type="arrayOfObjects"
				x-values="vm.capabilities"
				x-form="vm.userForm"
				x-options='{
					"objectKeyAttribute":"id",
					"objectDisplayAttribute":"item.text",
					"title":"Capabilities",
					"id":"capabilities",
					"name":"capabilities",
					"primary":false,
					"single":false,
					"leaveOpen": true
				}'>
			</select-list>

		</fieldset>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-success">Update capabilities</button>
		</div>		
	</div>
</form>