<h3 class="settings-panel-title">Company Affiliations</h3>

<table class="table company-affiliations-list">
	<tbody>
		<!-- Repeat for each company that the user has joined -->
		<tr>
			<!-- Company Name should populate and be linked to the company profile page -->
			<td class="company-name"><a href="">Company Name</a></td>
			<!-- Show the date (ideally in this format: March 3, 2017) that the user accepted the invitation to join the company -->
			<td class="joined-date">Joined {{Date the invitation message was accepted}}</td>
			<!-- Upon clicking the 'Leave' button, can we make a small modal pop up, with action buttons to 'Leave' or 'Cancel'? We'll have to discuss what will happen in the app when a user disassociates and write some content in the body of the modal to explain the implications of disassociating oneself from a company -->
			<td><button class="btn btn-sm btn-default">Leave</button></td>
		</tr>
		<tr>
			<!-- Company Name should populate and be linked to the company profile page -->
			<td class="company-name"><a href="">Company Name</a></td>
			<!-- Show the date (ideally in this format: March 3, 2017) that the user accepted the invitation to join the company -->
			<td class="joined-date">Joined {{Date the invitation message was accepted}}</td>
			<!-- Upon clicking the 'Leave' button, can we make a small modal pop up, with action buttons to 'Leave' or 'Cancel'? We'll have to discuss what will happen in the app when a user disassociates and write some content in the body of the modal to explain the implications of disassociating oneself from a company -->
			<td><button class="btn btn-sm btn-default">Leave</button></td>
		</tr>
		<tr>
			<!-- Company Name should populate and be linked to the company profile page -->
			<td class="company-name"><a href="">Company Name</a></td>
			<!-- Show the date (ideally in this format: March 3, 2017) that the user accepted the invitation to join the company -->
			<td class="joined-date">Joined {{Date the invitation message was accepted}}</td>
			<!-- Upon clicking the 'Leave' button, can we make a small modal pop up, with action buttons to 'Leave' or 'Cancel'? We'll have to discuss what will happen in the app when a user disassociates and write some content in the body of the modal to explain the implications of disassociating oneself from a company -->
			<td><button class="btn btn-sm btn-default">Leave</button></td>
		</tr>
	</tbody>
</table>
