
<section class="static">
	<div class="container" role="main">
		<div class="row">
			<nav class="col-xs-12">
				<ul class="nav nav-pills">
					<li ui-sref-active="active">
						<a  id="settings.profile" ui-sref="settings.profile">Edit Profile</a>
					</li>
					<li ui-sref-active="active">
						<a  id="settings.privacy" ui-sref="settings.privacy">Privacy</a>
					</li>
					<li ui-sref-active="active" ng-if="window.features.swu">
						<a  id="settings.skills" ui-sref="settings.skills">Skills</a>
					</li>
					<li ui-sref-active="active" ng-if="window.features.swu">
						<a  id="settings.messages" ui-sref="settings.messages">Messages <span class="badge">42</span></a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="panel">
			<div class="panel-body">
				<div ui-view></div>
			</div>
		</div>
		<div class="alert alert-grey">
			<p style="font-size: 11px;"><b>Collection Notice</b></p>
			<p style="font-size: 11px;"><i>This personal information is collected by the Ministry of Technology, Innovation and Citizens’ Services under s.26(c) of the Freedom of Information and Protection of Privacy Act (FOIPPA) for the purposes of communications with registered users. Should you have any questions about the collection of this personal information please contact: Peter Watkins, Executive Director, BC Developers’ Exchange and DevOps, Ministry of Technology, Innovation and Citizens’ Services, 250-514-2739.<i></p>
		</div>
	</div>
</section>
