<section class="bg-dark main-section">
  <div class="container">

    <div class="row py-5 justify-content-center">
      <div class="col-sm-8 text-light text-center">
        <h2 class="mb-3"><i class="fab fa-github fa-2x"></i></h2>
        <h3>You need a GitHub account to Sign In</h3>

        <div class="btn btn-lg btn-primary my-5" ng-click="vm.callOauthProvider('/api/auth/github')">Sign in with <span class="d-none d-sm-inline-block">your</span>
          GitHub <span class="d-none d-sm-inline-block">account</span></div>
        
        <p>Don't have a GitHub account? <a href="https://github.com">Creating one</a> only takes a minute.</p>
      </div>

    </div>
  </div>
</section>

<div ui-view></div>
