<section class="bg-dark main-section">
  <div class="container">

    <div class="row py-5 justify-content-center">
      <div class="col-sm-6 text-light text-center">
        <h2 class="mb-3"><i class="fab fa-github fa-3x"></i></h2>
        <h3 class="mb-5">You need a GitHub account to Sign In</h3>

        <div class="btn btn-lg btn-primary" ng-click="vm.callOauthProvider('/api/auth/github')">Sign in with your
          GitHub account</div>
        <br><br>
        <p>Don't have a GitHub account? <a href="https://github.com">Creating one</a> only takes a minute.</p>
      </div>

    </div>
  </div>
</section>

<div ui-view></div>
