
<section class="static-page">
<div class="container" role="main">
  <!-- <div ncy-breadcrumb></div> -->
  <form id="programForm" warn-on-exit name="vm.form.programForm" class="form" ng-submit="vm.save(vm.form.programForm.$valid)" novalidate>
	<div class="row form-head">
	<div class="col-sm-7">
		<h2 ng-if="vm.editing">Editing: {{::vm.program.title}}</h2>
		<h2 ng-if="!vm.editing">New Program</h2>
	</div>
	<div class="col-sm-5 col-form-buttons text-right">
	<div class="btn-group">
	  <button class="btn btn-primary" type="submit" uib-tooltip="Save your work anytime. You can always come back later.">
		<i class="glyphicon glyphicon-save"></i> Save
	  </button>
				<a class="btn btn-default" href="{{vm.previousState.url}}" title="Cancel">
					<i class="glyphicon glyphicon-fast-backward"></i> Cancel
				</a>
	  <a ng-if="vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
		<i class="glyphicon glyphicon-trash"></i> Remove
	  </a>
	</div>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-12">
			<fieldset>
				<div class="form-group" show-errors>
					<label class="control-label" for="title">Title</label>

					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="stitle = !stitle"></i>
					<div class="input-help alert alert-info" ng-show="stitle">
						Help Text
					</div>

					<input name="title" type="text" ng-model="vm.program.title" id="title" class="form-control" placeholder="Title" required>
					<div ng-messages="vm.form.programForm.title.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Program title is required.</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<label class="control-label" for="short">Short Description</label>

					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="ssdesc = !ssdesc"></i>
					<div class="input-help alert alert-info" ng-show="ssdesc">
						Help Text
					</div>

					<textarea name="short" data-ng-model="vm.program.short" id="short" class="form-control" cols="30" rows="3" placeholder="A short description of the program" required></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>

					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="sdesc = !sdesc"></i>
					<div class="input-help alert alert-info" ng-show="sdesc">
						Help Text
					</div>

					<!-- <textarea name="description" data-ng-model="vm.program.description" id="description" class="form-control" cols="30" rows="10" placeholder="A full description of the program"></textarea> -->
					<textarea
						name="description"
						id="description"
						class="form-control input-sm"
						ui-tinymce="vm.tinymceOptions"
						placeholder="A full description of the program"
						ng-model="vm.program.description">
					</textarea>
				</div>
<!--
				<div class="form-group">
					<label class="control-label" for="owner">Owner</label>
					<input name="owner" type="text" ng-model="vm.program.owner" id="owner" class="form-control" placeholder="Program owner (ministry, organization, etc)" required>
				</div>
				<div class="form-group">
					<label class="control-label" for="taglist">Tags (comma delimited list)</label>
					<input type="text" name="taglist" ng-model="vm.program.taglist" id="taglist" class="form-control" placeholder="Tag List"></input>
				</div>
-->
				<div class="form-group">
					<label class="control-label" for="website">Website</label>

					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="swebsite = !swebsite"></i>
					<div class="input-help alert alert-info" ng-show="swebsite">
						Help Text
					</div>

					<input name="website" type="text" ng-model="vm.program.website" id="website" class="form-control" placeholder="Website" required>
				</div>
				<div class="form-group">
					<label class="control-label" for="logo">Logo</label>

					<i class="glyphicon glyphicon-question-sign input-help-source" ng-click="slogo = !slogo"></i>
					<div class="input-help alert alert-info" ng-show="slogo">
						Help Text
					</div>

				</div>
				<div class="form-group">
					<fieldset>
						<div ng-show="vm.fileSelected" class="text-center form-group">
							<p>Crop your picture then press save</p>
							<div ngf-drop ng-model="vm.picFile" ngf-pattern="image/*" class="text-center cropArea">
								<img-crop image="vm.picFile | ngfDataUrl" result-image="vm.croppedDataUrl" ng-init="vm.croppedDataUrl=''"></img-crop>
							</div>
						</div>
						<div class="form-group text-center">
							<img ng-src="{{vm.fileSelected ? vm.croppedDataUrl : '/' + vm.program.logo}}" alt="Program Logo" class="img-thumbnail user-profile-picture" ngf-drop>
						</div>
						<div ng-show="!vm.fileSelected" class="text-center form-group">
							<button type="button" class="btn btn-default btn-file" ngf-select="vm.fileSelected = true" ng-model="vm.picFile" accept="image/*">Select Picture</button>
						</div>
						<div ng-show="0 && vm.fileSelected" class="text-center form-group">
							<button  type="button" class="btn btn-primary" ng-click="vm.upload(vm.croppedDataUrl, vm.picFile.name)">Upload</button>
							<button  type="button" class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
						</div>
						<div ng-show="vm.fileSelected" class="progress text-center">
							<div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
								<span class="sr-only">{{vm.progress}}% Complete</span>
							</div>
						</div>
					</fieldset>
				</div>
			</fieldset>
	</div>
	</div>
	<div class="row form-foot">
	<div class="col-sm-12 col-form-buttons text-right">
	<div class="btn-group">
	  <a class="btn btn-primary" ng-click="vm.saveme(vm.form.programForm.$valid)" title="Save">
		<i class="glyphicon glyphicon-save"></i> Save
	  </a>
	  <a ng-if="vm.editing" class="btn btn-default" ui-sref="programs.view({programId:vm.program.code})" title="Cancel">
		<i class="glyphicon glyphicon-fast-backward"></i> Cancel
	  </a>
	  <a ng-if="!vm.editing" class="btn btn-default" ui-sref="programs.list" title="Cancel">
		<i class="glyphicon glyphicon-fast-backward"></i> Cancel
	  </a>
	  <a ng-if="vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
		<i class="glyphicon glyphicon-trash"></i> Remove
	  </a>
	</div>
	</div>
	</div>
  </form>
</div>
</section>

