<section class="static-page">
<div class="container" role="main">
  <div ncy-breadcrumb></div>
  <form id="programForm" name="vm.form.programForm" class="form" ng-submit="vm.save(vm.form.programForm.$valid)" novalidate>
	<div class="row form-head">
	<div class="col-sm-7">
		<h2 ng-if="vm.editing">Editing: {{::vm.program.title}}</h2>
		<h2 ng-if="!vm.editing">New Program</h2>
	</div>
	<div class="col-sm-5 col-form-buttons text-right">
    <div class="btn-group">
      <button class="btn btn-primary" type="submit" title="Save">
        <i class="glyphicon glyphicon-save"></i> Save
      </button>
      <a ng-if="vm.editing" class="btn btn-default" ui-sref="programs.view({programId:vm.program._id})" title="Cancel">
        <i class="glyphicon glyphicon-fast-backward"></i> Cancel
      </a>
      <a ng-if="!vm.editing" class="btn btn-default" ui-sref="programs.list" title="Cancel">
        <i class="glyphicon glyphicon-fast-backward"></i> Cancel
      </a>
      <a ng-if="vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
        <i class="glyphicon glyphicon-trash"></i> Remove
      </a>
    </div>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-12">
			<fieldset>
				<div class="form-group" show-errors>
					<label class="control-label" for="title">Title</label>
					<input name="title" type="text" ng-model="vm.program.title" id="title" class="form-control" placeholder="Title" required>
					<div ng-messages="vm.form.programForm.title.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Program title is required.</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<label class="control-label" for="short">Short Description</label>
					<textarea name="short" data-ng-model="vm.program.short" id="short" class="form-control" cols="30" rows="3" placeholder="A short description of the program" required></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<textarea name="description" data-ng-model="vm.program.description" id="description" class="form-control" cols="30" rows="10" placeholder="A full description of the program"></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="owner">Owner</label>
					<input name="owner" type="text" ng-model="vm.program.owner" id="owner" class="form-control" placeholder="Program owner (ministry, organization, etc)" required>
				</div>
				<div class="form-group">
					<label class="control-label" for="website">Website</label>
					<input name="website" type="text" ng-model="vm.program.website" id="website" class="form-control" placeholder="Website" required>
				</div>
				<div class="form-group">
					<label class="control-label" for="logo">Logo URL</label>
					<input type="text" name="logo" ng-model="vm.program.logo" id="logo" class="form-control" placeholder="Logo URL"></input>
				</div>
				<div class="form-group">
					<label class="control-label" for="logo">Logo</label>
					<input type="text" name="logo" ng-model="vm.program.logo" id="logo" class="form-control" placeholder="Logo URL"></input>
					<!-- <button ng-show="!vm.fileSelected" class="btn btn-default btn-file" ngf-select="vm.fileSelected = true" ng-model="vm.pictureFile" accept="image/*">Select Picture</button> -->
<!-- 		<div class="fb-upload-target"
			ngf-drop
			ngf-select
			ng-model="vm.filename"
			ngf-drag-over-class="fb-upload-target-hover"
			ngf-multiple="false"
			ngf-allow-dir="true">
			{{vm.filename | json}}
			<div class="fb-upload-target-content">
				<span class="glyphicon glyphicon-open icon-default"></span>
				<span class="fb-upload-target-msg"><b>Drag &amp; Drop</b> or <b>browse files</b> to upload.</span>
			</div>
			<div class="fb-upload-target-border"></div>
		</div>
 -->					<div class="button" ngf-select ng-model="vm.filename" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 300, height: 300}">Select {{vm.filename}}</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="taglist">Tags (comma delimited list)</label>
					<input type="text" name="taglist" ng-model="vm.program.taglist" id="taglist" class="form-control" placeholder="Tag List"></input>
				</div>
			</fieldset>
	</div>
	</div>
	<div class="row form-foot">
	<div class="col-sm-12 col-form-buttons text-right">
    <div class="btn-group">
      <a class="btn btn-primary" ng-click="vm.saveme(vm.form.programForm.$valid)" title="Save">
        <i class="glyphicon glyphicon-save"></i> Save
      </a>
      <a ng-if="vm.editing" class="btn btn-default" ui-sref="programs.view({programId:vm.program._id})" title="Cancel">
        <i class="glyphicon glyphicon-fast-backward"></i> Cancel
      </a>
      <a ng-if="!vm.editing" class="btn btn-default" ui-sref="programs.list" title="Cancel">
        <i class="glyphicon glyphicon-fast-backward"></i> Cancel
      </a>
      <a ng-if="vm.editing" class="btn btn-default" ng-click="vm.remove()" title="Remove">
        <i class="glyphicon glyphicon-trash"></i> Remove
      </a>
    </div>
	</div>
	</div>
  </form>
</div>
</section>

