<div class="row list-head">
<div class="col-sm-7">
  <h2 class="list-page-hide">Government Partners</h2>
</div>
<div class="col-sm-5 col-form-buttons text-right">
  <button ng-if="vm.userCanAdd" class="btn btn-default btn-lg" ui-sref="programadmin.create()" title="New">
    <i class="glyphicon glyphicon-plus"></i> New Program
  </button>
</div>
</div>


<div class="panel panel-info card-panel" ng-repeat="program in vm.programs">
  <div class="panel-body list-img-outer" ng-class="{'card-greyed': !program.isPublished}">
    <div class="list-img">
      <img src="/modules/core/client/img/logo/avatar-2.png"/>
    </div>
    <div class="list-img-body">

      <div class="card-flags">
        <span ng-if="program.userIs.admin"   class="label label-primary">Admin</span>
        <span ng-if="program.userIs.member && !program.userIs.admin"  class="label label-primary">Member</span>
        <span ng-if="program.userIs.request" class="label label-primary">Pending Member</span>
        <span ng-if="!program.isPublished"   class="label label-warning">Not Published</span>
      </div>
      <div class="card-tools" >
        <a ng-if="program.userIs.admin" href="javascript:void(0);" ui-sref="programadmin.edit({ programId: program._id })" ng-click="$event.stopPropagation()" title="Edit" uib-tooltip="Edit">
          <i class="glyphicon glyphicon-pencil"></i>
          &nbsp;
        </a>
        <a ng-cloak ng-if="program.userIs.admin && program.isPublished" href="javascript:void(0);" ng-click="vm.publish(program, false)" ng-click="$event.stopPropagation()" title="UnPublish" uib-tooltip="UnPublish">
          <i class="glyphicon glyphicon-ban-circle"></i>
          &nbsp;
        </a>
        <a ng-cloak ng-if="program.userIs.admin && !program.isPublished" href="javascript:void(0);" ng-click="vm.publish(program, true)" ng-click="$event.stopPropagation()" title="Publish" uib-tooltip="Publish">
          <i class="glyphicon glyphicon-ok-circle"></i>
          &nbsp;
        </a>
        <a ng-cloak ng-if="!program.userIs.member && !program.userIs.request" href="javascript:void(0);" ng-click="vm.request(program)" ng-click="$event.stopPropagation()" title="Request Membership" uib-tooltip="Request Membership">
          <i class="glyphicon glyphicon-user"></i>
          &nbsp;
        </a>
      </div>

      <h3 class="card-title"><a ui-sref="programs.view({ programId: program._id })" ng-bind="program.title"></a></h3>
      <p ng-bind="program.short"></p>
      <div class="label-list">
        <span class="label label-info" ng-repeat="code in program.tags">{{code}}</span>
      </div>
    </div>
  </div>
</div>
