<div class="row list-head">
  <div class="col-sm-8">
    <h3 class="list-page-title list-page-hide">Government Partners</h3>
  </div>
  <div class="col-sm-4">
    <button ng-if="vm.userCanAdd" class="btn btn-primary pull-right" ui-sref="programadmin.create()" title="New">
      <i class="fa fa-plus"></i> LIST YOUR PROGRAM
    </button>
  </div>
</div>


<div class="card card-flat" ng-class="{'card-greyed': !program.isPublished}" ng-repeat="program in vm.programs">

  <div class="card-header" ng-if="vm.isAdmin || program.userIs.admin" style="text-align: right">
    <span ng-if="!program.isPublished" class="label label-danger" ><i class="fa fa-exclamation-triangle"></i> UNPUBLISHED</span>
    &nbsp;
    <span ng-if="vm.isAdmin || program.userIs.admin" class="label label-primary">Admin</span>
    &nbsp;
    <span ng-if="program.userIs.member && !program.userIs.admin" class="label label-primary">Member</span>
    &nbsp;
    <span ng-if="program.userIs.request" class="label label-primary" uib-tooltip="Your membership request is pending approval">Pending Member</span>
    &nbsp;
    <a ng-if="(vm.isAdmin || program.userIs.admin) && program.isPublished" href="javascript:void(0);" ng-click="vm.publish(program, false)" ng-click="$event.stopPropagation()" uib-tooltip="Unpublish"><i class="glyphicon glyphicon-ban-circle"></i></a>
    &nbsp;
    <a ng-if="(vm.isAdmin || program.userIs.admin) && !program.isPublished" href="javascript:void(0);" ng-click="vm.publish(program, true)" ng-click="$event.stopPropagation()" uib-tooltip="Publish"><i class="glyphicon glyphicon-check"></i></a>
    &nbsp;
    <a ng-if="vm.isGov && !program.userIs.member && !program.userIs.request" href="javascript:void(0);" ng-click="vm.request(program)" ng-click="$event.stopPropagation()" uib-tooltip="Request Membership"><i class="glyphicon glyphicon-user"></i></a>
    &nbsp;
    <a ng-if="vm.isAdmin || program.userIs.admin" href="javascript:void(0);"  id="programadmin.edit" ui-sref="programadmin.edit({ programId: program.code })" ng-click="$event.stopPropagation()" uib-tooltip="Edit"><i class="glyphicon glyphicon-edit"></i></a>
  </div>

  <div class="card-block" id="programs.view" ui-sref="programs.view({ programId: program.code })">
    <div class="row">
      <div class="col-xs-3 col-sm-2" style="text-align: center; padding: 5px;">
        <div class="card-img">
          <img class="img-rounded" style="height: 60px;" src="/{{program.logo}}"/>
        </div>
      </div>
      <div class="col-xs-9 col-sm-10" style="margin-left: 0px;">
        <div class="card-title" ng-bind="program.title"></div>
        <p ng-bind="program.short"></p>
      </div>
    </div>
    <!--<div class="row">
      <div class="label-list">
        <span class="label label-info" ng-repeat="code in program.tags">{{code}}</span>
      </div>
    </div>-->
  </div>

</div>

