<div class="container">
  <section>
    <div class="page-header">
      <h1>Programs</h1>
    </div>
    <div class="list-group">
      <a ng-repeat="program in vm.programs"
         ui-sref="programs.view({ programId: program._id })"
         class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span ng-bind="program.created | date:'mediumDate'"></span>
          by
          <span ng-if="program.user" ng-bind="program.user.displayName"></span>
          <span ng-if="!program.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" ng-bind="program.name"></h4>
      </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.programs.$resolved && !vm.programs.length">
      No Programs yet, why don't you <a ui-sref="programs.create">create one</a>?
    </div>
  </section>
</div>
