.content {
	margin-top: 50px;
}
.col-centered {
	float: none;
	margin: 0 auto;
}


.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

.user-primary-account {
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.error-text {
	display: none;
}
.has-error .help-block.error-text {
	display: block;
}
.has-error .help-inline.error-text {
	display: inline;
}

section.about {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: #ddd url('/modules/core/client/img/photos/facilitation.jpg') no-repeat center;
  background-size: cover;
  color: white;
}
section.about h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.6em;
}
section.about h5 {
	font-weight: 200;
	font-size: 19px;
	line-height: 1.7em;
	padding-bottom: 20px;
}

section.intro {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url('/modules/core/client/img/headers/homepage-banner.jpg') no-repeat center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
}
section.intro h2 {
  font-size: 24px;
  line-height: 1.6em;
  color: #fff;
}
section.intro h5 {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.7em;
	padding-bottom: 30px;
	color: #fff;
}

section.audience {
	padding-top: 0px;
	padding-bottom: 10px;
	color: black;
}

section.audience h3 {
	color: black;
	line-height: 1.6em;
}
section.audience h4 {
  	color: black;
  	font-size: 16px;
  	text-transform: uppercase;
}
section.audience h5 {
	color: black;
  	font-weight: 300;
  	font-size: 20px;
  	text-transform: uppercase;
}
section.audience blockquote {
	padding-bottom: 10px;
}
section.audience footer {
	font-size: 13px;
	font-weight: 100;
	color: #595959;
}

section.events {
	position: relative;
	width: 100%;
	min-height: auto;
	overflow-y: hidden;
	background: url('/modules/core/client/img/photos/laughing-blue.jpg') no-repeat center;
	background-size: cover;
	padding-top: 0px;
	padding-bottom: 40px;
	color: #bbe4f7;
}
section.events p {
	font-size: 15px;
  	line-height: 1.5em;
  	font-weight: 500;
  	padding-bottom: 10px;
}
section.events h2 {
	margin: 6px 0px 15px 0px;
}
section.events h4 {
  	color: black;
  	font-family: Lato;
  	font-size: 16px;
  	text-transform: uppercase;
}
section.events h5 {
	color: white;
	font-family: Lato;
	font-size: 18px;
	font-weight: 600;
	margin: 2px 0px;
}
section.events .panel-default, .panel-body {
	background-color: transparent;
}
section.footer {
	background-color: #1a1a1a;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

section.detail {
	padding: 0;
}
p.warning {
    font-weight: 500;
    color: #ff0000;
    font-size: 14px;
}

section.detail h2 {
	font-size: 23px;
	color: #0a4d8d;
}
section.detail h3 {
	font-size: 18px;
}
section.detail h4 {
	padding-top: 15px;
	font-weight: 600;
}
section.detail h5 {
	padding-top: 0px;
	font-size: 18px;
	font-family: Lato;
	text-transform: uppercase;
}
section.detail p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.6em;
	padding-bottom: 10px;
	padding-top: 10px;
}
section.detail li {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.6em;
	padding-top: 0px;
	padding-bottom: 0px;
}
section.detail ol {
	line-height: 1.6em;
	padding-top: 0px;
	padding-bottom: 0px;
}
section.detail dt {
	font-size: 13px;
	font-weight: 100;
	color: #a6a6a6;
}

section.signup {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background-color: #0a4d8d;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
}
section.signup p {
	font-size: 14px;
}
section.signup h2 {
  font-size: 24px;
  line-height: 1.6em;
  color: #fff;
}
section.signup h5 {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.7em;
	padding-bottom: 30px;
	color: #fff;
}

@media (max-width: 767px) {
	.img-responsive {
		max-width: 70px;
		min-height: 50px;
	}
}
@media (min-width: 768px) {
	.img-responsive {
		max-width: 50%;
	}
}
.card-header {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.card-header h1, h2, h3, h4, h5 {
	padding-top: 2px;
	padding-bottom: 2px;
}
.card-header h4 {
	font-size: 15px;
	font-weight: 100;
	padding-top: 5px;
	margin: 0;
}
.card-header h5 {
	font-size: 13px;
	font-weight: 100;
}
.card-header h3 {
	font-size: 22px;
}


.vcenter {
	display: inline-block;
    vertical-align: middle;
    float: none;
}
.custombuttonbackground {
	background-color: #555;
	border-color: #555;
	color: #fff;
}
.cbg-light-steel-blue {
	background-color: #b0c4de;
}
.cbg-light-blue {
	background-color: #add8e6;
}
.cbg-powder-blue {
	background-color: #b0e0e6;
}
.cbg-light-grey-blue {
	background-color: #EBF5FB;
}
.ctc-green {
	color: green;
}
