.content {
	margin-top: 50px;
}
.col-centered {
	float: none;
	margin: 0 auto;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

.user-primary-account {
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.error-text {
	display: none;
}
.has-error .help-block.error-text {
	display: block;
}
.has-error .help-inline.error-text {
	display: inline;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.custombuttonbackground {
	background-color: #555;
	border-color: #555;
	color: #fff;
}
.cbg-light-steel-blue {
	background-color: #b0c4de;
}
.cbg-light-blue {
	background-color: #add8e6;
}
.cbg-powder-blue {
	background-color: #b0e0e6;
}
.cbg-light-grey-blue {
	background-color: #ebf5fb;
}
.ctc-green {
	color: green;
}
.modal-backdrop {
	color: #ffffff;
	opacity: 0.5 !important;
}
.message-view-container {
	width: 50%;
	margin: 2em auto;
}
.collapsing {
	-webkit-transition: none;
	transition: none;
	display: none;
}
/* New classes for Messages icon on main navbar */
.messages-icon {
	font-size: 1.5em;
	margin-right: 0.75em;
}
.unread-badge {
	background: #f26925;
	color: #fff;
	font-weight: bold;
	position: relative;
	top: -20px;
	right: 10px;
	font-size: 10px;
	font-family: sans-serif;
	display: inline;
	padding: 0.3em 0.6em;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 1em;
}
