.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}
.header-profile-image {
	border-radius: 50%;
	height: 28px;
	margin-right: 5px;
	opacity: 0.8;
	width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}
.user-header-dropdown-toggle {
	padding-bottom: 11px !important;
	padding-top: 11px !important;
}
.user-primary-account {
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.error-text {
	display: none;
}
.has-error .help-block.error-text {
	display: block;
}
.has-error .help-inline.error-text {
	display: inline;
}
section.intro {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  padding-top: 20px;
  padding-bottom: 40px;
  background: #ddd url('/modules/core/client/img/headers/co-design-darkened.png') no-repeat center;
  background-size: cover;
  color: white;
}
section.intro p {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.8em;
  padding-bottom: 25px;
}
section.audience {
	padding-top: 40px;
	padding-bottom: 40px;
}
section.audience p {
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 300;
  padding-bottom: 10px;
}
section.audience h5 {
	font-weight: 300;
	font-size: 19px;
	line-height: 1.7em;
	padding-bottom: 30px;
}
section.audience footer {
	font-size: 16px;
	font-weight: 300;
}
section.events {
	padding-top: 40px;
	padding-bottom: 40px;
}
section.footer {
	background-color: #1a1a1a;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
section.static {
	padding-top: 10px;
	padding-bottom: 40px;
	color: #595959;
}
section.static h1 {
	padding-bottom: 20px;
}
section.static h2,h3,h4,h5 {
	padding-top: 25px;
}
section.static p {
	font-size: 16px;
	line-height: 1.8em;
	padding-bottom: 10px;
}
section.static li {
	font-size: 16px;
	line-height: 1.8em;
}
@media (max-width: 767px) {
	.img-responsive {
		max-width: 80px;
		min-height: 60px;
	}
}
@media (min-width: 768px) {
	.img-responsive {
		max-width: 50%;
	}
}
